{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to view loan information like ownership, roles, balances, due amounts, payment history, collateral details, limit, etc,.",
    "version" : "v1.0.0",
    "title" : "US Model Bank Loan details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/us/loan/{accountId}/loanOverview" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Loan Overview",
        "description" : "API to view loan information like ownership, roles, balances, due amounts, payment history, collateral details, limit, etc,.",
        "operationId" : "getUsLoanOverview",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsLoanOverviewResponse",
            "schema" : {
              "$ref" : "#/definitions/UsLoanOverviewResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/loans/consumerLoan" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "New consumer loan creation API",
        "description" : "New consumer loan creation API",
        "operationId" : "createUsConsumerLoan",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsConsumerLoan"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createUsConsumerLoanResponse",
            "schema" : {
              "$ref" : "#/definitions/UsConsumerLoanResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/loans/{accountId}/consumerLoan" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Renegotiate existing consumer loan conditions",
        "description" : "Renegotiate existing consumer loan conditions",
        "operationId" : "updateUsConsumerLoan",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsConsumerLoan1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateUsConsumerLoanResponse",
            "schema" : {
              "$ref" : "#/definitions/UsConsumerLoanResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/us/loans/lineofcredits/consumers/creditLine" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Book a new consumer line of credit",
        "description" : "Book a new consumer line of credit",
        "operationId" : "createUsConsumerLoC",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsConsumerLoC"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createUsConsumerLoCResponse",
            "schema" : {
              "$ref" : "#/definitions/UsConsumerLoCResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/loans/lineofcredits/consumers/{accountId}/creditLine" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Renegotiate consumer line of credit conditions",
        "description" : "Renegotiate consumer line of credit conditions",
        "operationId" : "updateUsConsumerLoC",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsConsumerLoC1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateUsConsumerLoCResponse",
            "schema" : {
              "$ref" : "#/definitions/UsConsumerLoCResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UsLoanOverviewResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsLoanOverviewResponseBody"
        }
      },
      "description" : "UsLoanOverviewResponse"
    },
    "UsLoanOverviewResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 15
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account",
            "maxLength" : 15
          },
          "alternateAccountId" : {
            "type" : "string",
            "description" : "Alternate identification for an account",
            "maxLength" : 55
          },
          "alternateAccountType" : {
            "type" : "string",
            "description" : "Specifies the Account type of the alternate account given.",
            "maxLength" : 55
          },
          "accountStatus" : {
            "type" : "string",
            "description" : "Specifies the current status of the account, which is either active, inactive or closed.",
            "maxLength" : 20
          },
          "branchId" : {
            "type" : "string",
            "description" : "Unique and unambiguous identification of a branch of a financial institution.",
            "maxLength" : 20
          },
          "accountCompany" : {
            "type" : "string",
            "description" : "Company of the account to be created",
            "maxLength" : 20
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 35
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product",
            "maxLength" : 55
          },
          "categoryId" : {
            "type" : "string",
            "description" : "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
            "maxLength" : 20
          },
          "openingDate" : {
            "type" : "string",
            "description" : "The date the account is opened.",
            "maxLength" : 20
          },
          "maturityDate" : {
            "type" : "string",
            "description" : "Indicates maturity date of the contract",
            "maxLength" : 20
          },
          "daysToMaturity" : {
            "type" : "string",
            "description" : "Indicates number of days remaining for maturity",
            "maxLength" : 5
          },
          "dormancyDate" : {
            "type" : "string",
            "description" : "Date since when the account became dormant",
            "maxLength" : 20
          },
          "dormancyStatus" : {
            "type" : "string",
            "description" : "Indicates the Dormancy status",
            "maxLength" : 20
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 20
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 35
          },
          "customerRole" : {
            "type" : "string",
            "description" : "Indicates role of a customer for an arrangement.",
            "maxLength" : 65
          },
          "accountTitle1" : {
            "type" : "string",
            "description" : "Title line 1 that will appear in notice and statements",
            "maxLength" : 35
          },
          "accountTitle2" : {
            "type" : "string",
            "description" : "Title line 2 that will appear in notice and statements",
            "maxLength" : 35
          },
          "accountTitle3" : {
            "type" : "string",
            "description" : "Title line 3 that will appear in notice and statements",
            "maxLength" : 35
          },
          "accountTitle4" : {
            "type" : "string",
            "description" : "Title line 4 that will appear in notice and statements",
            "maxLength" : 35
          },
          "accountType" : {
            "type" : "string",
            "description" : "Groups the products based on their type, eg, Checking, Savings, CD etc,.",
            "maxLength" : 35
          },
          "ownershipCode" : {
            "type" : "string",
            "description" : "Captures the ownership classification of the account as per FDIC rules",
            "maxLength" : 20
          },
          "purposeCode" : {
            "type" : "string",
            "description" : "Specifies the purpose of account, deposit or loan",
            "maxLength" : 20
          },
          "loanCurrency" : {
            "type" : "string",
            "description" : "Indicates the currency of the loan",
            "maxLength" : 20
          },
          "currentBalance" : {
            "type" : "string",
            "description" : "An accounts availableBalance plus any authorized credit and debit movements for the day, plus forward movements, minus funds in hold.",
            "maxLength" : 20
          },
          "overdueBalance" : {
            "type" : "string",
            "description" : "Sum of overdue balances",
            "maxLength" : 20
          },
          "overdueCount" : {
            "type" : "string",
            "description" : "Number of overdue bills",
            "maxLength" : 6
          },
          "balanceCurrency" : {
            "type" : "string",
            "description" : "Currency in which balance is displayed",
            "maxLength" : 10
          },
          "effectiveRate" : {
            "type" : "string",
            "description" : "Indicates the actual interest rate applied for the account after adjustment/tier calculation/based on basic or Periodic index value",
            "maxLength" : 10
          },
          "paymentFrequency" : {
            "type" : "string",
            "description" : "The frequency at which a payment is required to be generated",
            "maxLength" : 35
          },
          "nextPaymentDate" : {
            "type" : "string",
            "description" : "Indicates next payment date for the contract",
            "maxLength" : 20
          },
          "nextPaymentAmount" : {
            "type" : "string",
            "description" : "Indicates the payment amount to be settled in the next schedule",
            "maxLength" : 20
          },
          "lastPaymentDate" : {
            "type" : "string",
            "description" : "Date last payment was made",
            "maxLength" : 20
          },
          "lastPaymentAmount" : {
            "type" : "string",
            "description" : "last transaction amount",
            "maxLength" : 20
          },
          "collateralValue" : {
            "type" : "string",
            "description" : "Value of the collateral considered by internal evaluation by the Financial Institution",
            "maxLength" : 20
          },
          "collateralTypeId" : {
            "type" : "string",
            "description" : "Collateral classification Id defined in the system.",
            "maxLength" : 20
          },
          "collateralId" : {
            "type" : "string",
            "description" : "The identifier of the collateral item",
            "maxLength" : 20
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "UsConsumerLoan" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsConsumerLoanBody"
        }
      },
      "description" : "UsConsumerLoan"
    },
    "UsConsumerLoanBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              },
              "customerRole" : {
                "type" : "string",
                "description" : "Indicates role of a customer for an arrangement.",
                "minLength" : 0,
                "maxLength" : 12
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the valid field name for the metrics evaluation of alerts",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "description" : "Name of the role or sub contract that is displayed, for eg: Payments Inputter, Administrator, Clerk and etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format"
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "minimum" : 0,
          "maximum" : 17
        },
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "minLength" : 0,
          "maxLength" : 9
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity",
          "minLength" : 0,
          "maxLength" : 6
        },
        "account" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "restriction" : {
                "type" : "array",
                "description" : "The user can flag this field to indicate that the activity is to be restricted and can further specify whether the transaction is completely blocked or allowed with a warning. If yes then restriction type has to be specified as error or warning",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "postingRestrictId" : {
                      "type" : "number",
                      "description" : "Identifies any restrictions for posting entries that are imposed on a Customer",
                      "minimum" : 0,
                      "maximum" : 22
                    },
                    "restrictionStartdate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "Start date for applying the restriction on an account"
                    },
                    "restrictionReason" : {
                      "type" : "string",
                      "description" : "Sets restrictions on the actions that can be performed on an account. Allowed values can be retrieved through method getEbLookup, virtualTableName BLOCK.REASON.CODES. ",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "restrictionExpirydate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "Specifies the expirydate of the posting restriction on the account"
                    },
                    "unrestrictionReason" : {
                      "type" : "string",
                      "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "textBlocking" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "restrictionText" : {
                            "type" : "string",
                            "description" : "Free text information to capture the reason for restriction applied on an account",
                            "minLength" : 0,
                            "maxLength" : 22
                          }
                        }
                      }
                    },
                    "textUnblocking" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "unrestrictionText" : {
                            "type" : "string",
                            "description" : "Reason for unblocking the restriction set on an account",
                            "minLength" : 0,
                            "maxLength" : 22
                          }
                        }
                      }
                    }
                  }
                }
              },
              "alternateIds" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "alternateIdType" : {
                      "type" : "string",
                      "description" : "Contains the alternate account system identifier used for defining the alternate account Id",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "alternateId" : {
                      "type" : "string",
                      "description" : "An Alternate Identification for the Deal. This can be used to retrieve the Deal for amendment.",
                      "minLength" : 0,
                      "maxLength" : 22
                    }
                  }
                }
              },
              "holidayCalendar" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "businessDayCentres" : {
                      "type" : "string",
                      "description" : "The country or region code to be considered for determining the holidays and used while calculating the schedule dates.",
                      "minLength" : 0,
                      "maxLength" : 22
                    }
                  }
                }
              },
              "accountTitle" : {
                "type" : "string",
                "description" : "Short title on an account",
                "minLength" : 0,
                "maxLength" : 22
              },
              "shortTitle" : {
                "type" : "string",
                "description" : "Short title given to the name of the arrangement",
                "minLength" : 0,
                "maxLength" : 22
              },
              "currency" : {
                "type" : "string",
                "description" : "Identifies the currency. E.g. USD, GBP etc",
                "minLength" : 0,
                "maxLength" : 22
              },
              "productCategoryId" : {
                "type" : "number",
                "description" : "The identifier of the product category",
                "minimum" : 0,
                "maximum" : 22
              },
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                "minLength" : 0,
                "maxLength" : 22
              },
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account",
                "minLength" : 0,
                "maxLength" : 22
              },
              "baseDateType" : {
                "type" : "string",
                "description" : "Defines if anniversaryDate or start date is based on account creation or once disbursement is done. Allowed values are ARRANGEMENT and DISBURSEMENT. ARRANGEMENT indicates that account start period is considered as arrangement creation time. If set as DISBURSEMENT the account start period is based on disbursement activity date",
                "minLength" : 0,
                "maxLength" : 22,
                "enum" : [ "AGREEMENT", "START" ]
              },
              "anniversary" : {
                "type" : "string",
                "description" : "The start or end period defined in MMDD format to indicate the period when charge rules has to be applied",
                "minLength" : 0,
                "maxLength" : 22
              },
              "originationReference" : {
                "type" : "string",
                "description" : "Identifier of the account in source system, eg, a origination system.",
                "minLength" : 0,
                "maxLength" : 22
              },
              "dateConvention" : {
                "type" : "string",
                "description" : "Indicates how the schedule date has to be adjusted when the schedule falls on a holiday. Allowed values are BACKWARD, FORWARD, FORWARD SAME MONTH or CALENDAR.",
                "minLength" : 0,
                "maxLength" : 22,
                "enum" : [ "CALENDAR", "BACKWARD", "FORWARD", "FORWARD SAME MONTH" ]
              },
              "dateAdjustment" : {
                "type" : "string",
                "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
                "minLength" : 0,
                "maxLength" : 22
              },
              "ffiecCode" : {
                "type" : "string",
                "description" : "Call report code for the account, deposit or loans per FFIEC. The values can be from FFIEC (RAID, RCON) or the values defined by Financial institution",
                "minLength" : 0,
                "maxLength" : 9
              },
              "holdTypeId" : {
                "type" : "string",
                "description" : "Purpose or the type of hold placed on the account  The available list of hold types can be retrieved through getHoldTypes",
                "minLength" : 0,
                "maxLength" : 10
              },
              "repeatOd" : {
                "type" : "string",
                "description" : "It denotes if an account has been overdrawn repeatedly based on the repeated overdraft conditions set for the account.",
                "minLength" : 0,
                "maxLength" : 8,
                "enum" : [ "YES", "NO", "EXCLUDE" ]
              },
              "fdicDepositClassCode" : {
                "type" : "string",
                "description" : "Classification codes define an account or deposits specific sub-classification within the fdic deposit classification type as to the nature of the account such as Payable on death, living trust, business escrow, business trust, city, state and federal.",
                "minLength" : 0,
                "maxLength" : 20,
                "enum" : [ "@ref:reference-fdicDepositClassCode-service-v1.0.0" ]
              },
              "fdicDepositClassType" : {
                "type" : "string",
                "description" : "Classification type categorizes the fdicclasscode based upton the general purpose of the deposit such as Retail, Commerical, state and federal government etc,.",
                "minLength" : 0,
                "maxLength" : 20
              },
              "fdicOwnershipCode" : {
                "type" : "string",
                "description" : "Ownership codes defines an account or deposits specific to type of ownership for an account such as single, joint, partnership, trust and government.",
                "minLength" : 0,
                "maxLength" : 17
              },
              "reserveSweepReference" : {
                "type" : "string",
                "description" : "Savings account participating in Retail sweep program, Financial institution monitors credit and debit movements and it can adjust the reserve requirements. Dependening on the agreement on the balance that will be maintained in the savings deposit, the Financial institution can link different sweep definitions to reduce account reserve. The type of reserve sweep definition linked to an account is indicated here.",
                "minLength" : 0,
                "maxLength" : 21
              },
              "purposeCode" : {
                "type" : "string",
                "description" : "Specifies the purpose of account, deposit or loan",
                "minLength" : 0,
                "maxLength" : 12
              },
              "accountType" : {
                "type" : "string",
                "description" : "Groups the products based on their type, eg, Checking, Savings, CD etc,.",
                "minLength" : 0,
                "maxLength" : 11,
                "enum" : [ "CHECKING", " SAVINGS", "IRA", "CD" ]
              }
            }
          }
        },
        "usLenActCharges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "activities" : {
                "type" : "array",
                "description" : "Defines the charges collected for a transaction",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "charges" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "appplicationPeriod" : {
                            "type" : "string",
                            "description" : "Denotes the application period for the given rule break charges which will be applied at the end of the period.If the value defined is zero, then the charges are applied immediately",
                            "minLength" : 0,
                            "maxLength" : 18
                          },
                          "applicationMethod" : {
                            "type" : "string",
                            "description" : "Denotes the method that needs to be applied to the rule break charges. Allowed values are Due, Defer, Capitalise. If it is set to Due then the Rule break charges are made due. If it is set to Capitalise then the Rule break charges are capitalised. If it is set to Defer then the Rule break charges are calculated but not applied immediately, charge are deferred and are collected over a period of time",
                            "minLength" : 0,
                            "maxLength" : 17,
                            "enum" : [ "DUE", "CAPITALISE", "DEFER" ]
                          },
                          "chargeAutoSettle" : {
                            "type" : "string",
                            "description" : "This field aids turning off the automatic settlement for the corresponding charge. If set to yes settlement processing for the associated chage will be done based on the settlement configuration for the charge",
                            "minLength" : 0,
                            "maxLength" : 16
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "messaging" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "advices" : {
                "type" : "array",
                "description" : "Determines the output formart of delivery messages and deal slips. The user can also provide their own mapping records to include customized business requirements",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "advice" : {
                      "type" : "string",
                      "description" : "Determines the output formart of delivery messages and deal slips. The user can also provide their own mapping records to include customized business requirements",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "activityClassId" : {
                      "type" : "string",
                      "description" : "Id of an activity class, e.g. ACCOUNTS-ACCRUE-CHARGE or LENDING-CAPITALISE-INTEREST.",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "activityId" : {
                      "type" : "string",
                      "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                      "minLength" : 0,
                      "maxLength" : 10
                    },
                    "messageContent" : {
                      "type" : "string",
                      "description" : "It indicates whether only the current information or previous and current information needs to be passed to form the message.",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "sendAdvice" : {
                      "type" : "string",
                      "description" : "This field allows the user to determine whether the given advice or message needs to be sent for the given activity.",
                      "minLength" : 0,
                      "maxLength" : 10
                    }
                  }
                }
              }
            }
          }
        },
        "arrangementRules" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "rules" : {
                "type" : "array",
                "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "ruleName" : {
                      "type" : "string",
                      "description" : "Name of the validation rule to be checked against an online or periodic activity.",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "periodicAttribute" : {
                      "type" : "string",
                      "description" : "Contains the user defined rule definition which is evaluated during the transaction based on the defined period",
                      "minLength" : 0,
                      "maxLength" : 17
                    },
                    "balanceType" : {
                      "type" : "string",
                      "description" : "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
                      "minLength" : 0,
                      "maxLength" : 11
                    },
                    "periodicValue" : {
                      "type" : "string",
                      "description" : "Contains the periodic value for a specific product condition",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "activities" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "activityClassId" : {
                            "type" : "string",
                            "description" : "Id of an activity class, e.g. ACCOUNTS-ACCRUE-CHARGE or LENDING-CAPITALISE-INTEREST.",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "activityId" : {
                            "type" : "string",
                            "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                            "minLength" : 0,
                            "maxLength" : 10
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "balanceMaintenance" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "adjustmentDisplayname" : {
                "type" : "string",
                "description" : "Denotes the description for the adjustment",
                "minLength" : 0,
                "maxLength" : 21
              },
              "netAdjustmentAmount" : {
                "type" : "string",
                "description" : "The net adjustment for non-contingent balance types would be calculated and stored in this field by the system during Balance Adjustment, Write off activities of Balance maintenance.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "adjustmentDifferenceAccount" : {
                "type" : "string",
                "description" : "Represents the account number to be used while adjusting balance amounts",
                "minLength" : 0,
                "maxLength" : 27
              }
            }
          }
        },
        "usadhocfee" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "charge" : {
                      "type" : "string",
                      "description" : "Indicates the charge property.",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount" : {
                      "type" : "string",
                      "description" : "Based on the calculation type (flat or unit) the charge amount specified here will be set",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "tier" : {
                      "type" : "string",
                      "description" : "If the charge calculated for this tier is less than the amount defined in this field then minimum amount will be the charge amount for this tier.",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge" : {
                      "type" : "string",
                      "description" : "Indicates the maximum monetary amount that can be specified for the tier. Applies for Charge with Level/Band Types",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "The monetary amount for the tier",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierCount" : {
                      "type" : "string",
                      "description" : "When charges are to be calculated based on activity count, this attribute acts as threshold for the number of times an activity is performed",
                      "minLength" : 0,
                      "maxLength" : 9
                    }
                  }
                }
              },
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 8
              },
              "fixedAmount" : {
                "type" : "string",
                "description" : "Indicates the monetary amount that is fixed during the associated account's effective period",
                "minLength" : 0,
                "maxLength" : 11
              },
              "chargeRoutine" : {
                "type" : "string",
                "description" : "This field enables the user to define a routine to apply complex conditions to calculate the charge amount as required by the user",
                "minLength" : 0,
                "maxLength" : 13
              },
              "tierGroups" : {
                "type" : "string",
                "description" : "This field defines the method of calculation of charge amount for the currency.This field will accept two values BANDS or LEVELS. If BANDS then separate calculations are to be made for each band till the base amount is reached.If LEVELS then only one is calculated and this is dependent on the level of the base Amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "relationshipProduct" : {
                "type" : "string",
                "description" : "Indicates the relationship pricing plan(if any) that has influenced the rate on this arrangement.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "relationshipPercentage" : {
                "type" : "string",
                "description" : "Rate of margin(discount or uplift) due to the relationship of the customer with the bank",
                "minLength" : 0,
                "maxLength" : 22
              },
              "relationshipAmount" : {
                "type" : "string",
                "description" : "Flat amount as evaluated by the relationship of the customer with the bank. Would be evaluated based on the RELATIONSHIP arrangements held by the customer and also the definitions in PREFERENTIAL.PRICING as well as the rules in PRICING.RULES of this arrangement product.",
                "minLength" : 0,
                "maxLength" : 18
              },
              "relationshipVariation" : {
                "type" : "string",
                "description" : "It denotes the special considerations for the arrangement based on the customer relationship with the bank",
                "minLength" : 0,
                "maxLength" : 21
              },
              "penaltyDays" : {
                "type" : "string",
                "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
                "minLength" : 0,
                "maxLength" : 11
              },
              "rentReturn" : {
                "type" : "string",
                "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "latefee" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "charge" : {
                      "type" : "string",
                      "description" : "Indicates the charge property.",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount" : {
                      "type" : "string",
                      "description" : "Based on the calculation type (flat or unit) the charge amount specified here will be set",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "tier" : {
                      "type" : "string",
                      "description" : "If the charge calculated for this tier is less than the amount defined in this field then minimum amount will be the charge amount for this tier.",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge" : {
                      "type" : "string",
                      "description" : "Indicates the maximum monetary amount that can be specified for the tier. Applies for Charge with Level/Band Types",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "The monetary amount for the tier",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierCount" : {
                      "type" : "string",
                      "description" : "When charges are to be calculated based on activity count, this attribute acts as threshold for the number of times an activity is performed",
                      "minLength" : 0,
                      "maxLength" : 9
                    }
                  }
                }
              },
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 8
              },
              "fixedAmount" : {
                "type" : "string",
                "description" : "Indicates the monetary amount that is fixed during the associated account's effective period",
                "minLength" : 0,
                "maxLength" : 11
              },
              "chargeRoutine" : {
                "type" : "string",
                "description" : "This field enables the user to define a routine to apply complex conditions to calculate the charge amount as required by the user",
                "minLength" : 0,
                "maxLength" : 13
              },
              "tierGroups" : {
                "type" : "string",
                "description" : "This field defines the method of calculation of charge amount for the currency.This field will accept two values BANDS or LEVELS. If BANDS then separate calculations are to be made for each band till the base amount is reached.If LEVELS then only one is calculated and this is dependent on the level of the base Amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "relationshipProduct" : {
                "type" : "string",
                "description" : "Indicates the relationship pricing plan(if any) that has influenced the rate on this arrangement.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "relationshipPercentage" : {
                "type" : "string",
                "description" : "Rate of margin(discount or uplift) due to the relationship of the customer with the bank",
                "minLength" : 0,
                "maxLength" : 22
              },
              "relationshipAmount" : {
                "type" : "string",
                "description" : "Flat amount as evaluated by the relationship of the customer with the bank. Would be evaluated based on the RELATIONSHIP arrangements held by the customer and also the definitions in PREFERENTIAL.PRICING as well as the rules in PRICING.RULES of this arrangement product.",
                "minLength" : 0,
                "maxLength" : 18
              },
              "relationshipVariation" : {
                "type" : "string",
                "description" : "It denotes the special considerations for the arrangement based on the customer relationship with the bank",
                "minLength" : 0,
                "maxLength" : 21
              },
              "penaltyDays" : {
                "type" : "string",
                "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
                "minLength" : 0,
                "maxLength" : 11
              },
              "rentReturn" : {
                "type" : "string",
                "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "usorigfee" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "charge" : {
                      "type" : "string",
                      "description" : "Indicates the charge property.",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount" : {
                      "type" : "string",
                      "description" : "Based on the calculation type (flat or unit) the charge amount specified here will be set",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "tier" : {
                      "type" : "string",
                      "description" : "If the charge calculated for this tier is less than the amount defined in this field then minimum amount will be the charge amount for this tier.",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge" : {
                      "type" : "string",
                      "description" : "Indicates the maximum monetary amount that can be specified for the tier. Applies for Charge with Level/Band Types",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "The monetary amount for the tier",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierCount" : {
                      "type" : "string",
                      "description" : "When charges are to be calculated based on activity count, this attribute acts as threshold for the number of times an activity is performed",
                      "minLength" : 0,
                      "maxLength" : 9
                    }
                  }
                }
              },
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 8
              },
              "fixedAmount" : {
                "type" : "string",
                "description" : "Indicates the monetary amount that is fixed during the associated account's effective period",
                "minLength" : 0,
                "maxLength" : 11
              },
              "chargeRoutine" : {
                "type" : "string",
                "description" : "This field enables the user to define a routine to apply complex conditions to calculate the charge amount as required by the user",
                "minLength" : 0,
                "maxLength" : 13
              },
              "tierGroups" : {
                "type" : "string",
                "description" : "This field defines the method of calculation of charge amount for the currency.This field will accept two values BANDS or LEVELS. If BANDS then separate calculations are to be made for each band till the base amount is reached.If LEVELS then only one is calculated and this is dependent on the level of the base Amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "relationshipProduct" : {
                "type" : "string",
                "description" : "Indicates the relationship pricing plan(if any) that has influenced the rate on this arrangement.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "relationshipPercentage" : {
                "type" : "string",
                "description" : "Rate of margin(discount or uplift) due to the relationship of the customer with the bank",
                "minLength" : 0,
                "maxLength" : 22
              },
              "relationshipAmount" : {
                "type" : "string",
                "description" : "Flat amount as evaluated by the relationship of the customer with the bank. Would be evaluated based on the RELATIONSHIP arrangements held by the customer and also the definitions in PREFERENTIAL.PRICING as well as the rules in PRICING.RULES of this arrangement product.",
                "minLength" : 0,
                "maxLength" : 18
              },
              "relationshipVariation" : {
                "type" : "string",
                "description" : "It denotes the special considerations for the arrangement based on the customer relationship with the bank",
                "minLength" : 0,
                "maxLength" : 21
              },
              "penaltyDays" : {
                "type" : "string",
                "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
                "minLength" : 0,
                "maxLength" : 11
              },
              "rentReturn" : {
                "type" : "string",
                "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "payofffee" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "charge" : {
                      "type" : "string",
                      "description" : "Indicates the charge property.",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount" : {
                      "type" : "string",
                      "description" : "Based on the calculation type (flat or unit) the charge amount specified here will be set",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "tier" : {
                      "type" : "string",
                      "description" : "If the charge calculated for this tier is less than the amount defined in this field then minimum amount will be the charge amount for this tier.",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge" : {
                      "type" : "string",
                      "description" : "Indicates the maximum monetary amount that can be specified for the tier. Applies for Charge with Level/Band Types",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "The monetary amount for the tier",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierCount" : {
                      "type" : "string",
                      "description" : "When charges are to be calculated based on activity count, this attribute acts as threshold for the number of times an activity is performed",
                      "minLength" : 0,
                      "maxLength" : 9
                    }
                  }
                }
              },
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 8
              },
              "fixedAmount" : {
                "type" : "string",
                "description" : "Indicates the monetary amount that is fixed during the associated account's effective period",
                "minLength" : 0,
                "maxLength" : 11
              },
              "chargeRoutine" : {
                "type" : "string",
                "description" : "This field enables the user to define a routine to apply complex conditions to calculate the charge amount as required by the user",
                "minLength" : 0,
                "maxLength" : 13
              },
              "tierGroups" : {
                "type" : "string",
                "description" : "This field defines the method of calculation of charge amount for the currency.This field will accept two values BANDS or LEVELS. If BANDS then separate calculations are to be made for each band till the base amount is reached.If LEVELS then only one is calculated and this is dependent on the level of the base Amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "relationshipProduct" : {
                "type" : "string",
                "description" : "Indicates the relationship pricing plan(if any) that has influenced the rate on this arrangement.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "relationshipPercentage" : {
                "type" : "string",
                "description" : "Rate of margin(discount or uplift) due to the relationship of the customer with the bank",
                "minLength" : 0,
                "maxLength" : 22
              },
              "relationshipAmount" : {
                "type" : "string",
                "description" : "Flat amount as evaluated by the relationship of the customer with the bank. Would be evaluated based on the RELATIONSHIP arrangements held by the customer and also the definitions in PREFERENTIAL.PRICING as well as the rules in PRICING.RULES of this arrangement product.",
                "minLength" : 0,
                "maxLength" : 18
              },
              "relationshipVariation" : {
                "type" : "string",
                "description" : "It denotes the special considerations for the arrangement based on the customer relationship with the bank",
                "minLength" : 0,
                "maxLength" : 21
              },
              "penaltyDays" : {
                "type" : "string",
                "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
                "minLength" : 0,
                "maxLength" : 11
              },
              "rentReturn" : {
                "type" : "string",
                "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "insusmbahd" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "charge" : {
                      "type" : "string",
                      "description" : "Indicates the charge property.",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount" : {
                      "type" : "string",
                      "description" : "Based on the calculation type (flat or unit) the charge amount specified here will be set",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "tier" : {
                      "type" : "string",
                      "description" : "If the charge calculated for this tier is less than the amount defined in this field then minimum amount will be the charge amount for this tier.",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge" : {
                      "type" : "string",
                      "description" : "Indicates the maximum monetary amount that can be specified for the tier. Applies for Charge with Level/Band Types",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "The monetary amount for the tier",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierCount" : {
                      "type" : "string",
                      "description" : "When charges are to be calculated based on activity count, this attribute acts as threshold for the number of times an activity is performed",
                      "minLength" : 0,
                      "maxLength" : 9
                    }
                  }
                }
              },
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 8
              },
              "fixedAmount" : {
                "type" : "string",
                "description" : "Indicates the monetary amount that is fixed during the associated account's effective period",
                "minLength" : 0,
                "maxLength" : 11
              },
              "chargeRoutine" : {
                "type" : "string",
                "description" : "This field enables the user to define a routine to apply complex conditions to calculate the charge amount as required by the user",
                "minLength" : 0,
                "maxLength" : 13
              },
              "tierGroups" : {
                "type" : "string",
                "description" : "This field defines the method of calculation of charge amount for the currency.This field will accept two values BANDS or LEVELS. If BANDS then separate calculations are to be made for each band till the base amount is reached.If LEVELS then only one is calculated and this is dependent on the level of the base Amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "relationshipProduct" : {
                "type" : "string",
                "description" : "Indicates the relationship pricing plan(if any) that has influenced the rate on this arrangement.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "relationshipPercentage" : {
                "type" : "string",
                "description" : "Rate of margin(discount or uplift) due to the relationship of the customer with the bank",
                "minLength" : 0,
                "maxLength" : 22
              },
              "relationshipAmount" : {
                "type" : "string",
                "description" : "Flat amount as evaluated by the relationship of the customer with the bank. Would be evaluated based on the RELATIONSHIP arrangements held by the customer and also the definitions in PREFERENTIAL.PRICING as well as the rules in PRICING.RULES of this arrangement product.",
                "minLength" : 0,
                "maxLength" : 18
              },
              "relationshipVariation" : {
                "type" : "string",
                "description" : "It denotes the special considerations for the arrangement based on the customer relationship with the bank",
                "minLength" : 0,
                "maxLength" : 21
              },
              "penaltyDays" : {
                "type" : "string",
                "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
                "minLength" : 0,
                "maxLength" : 11
              },
              "rentReturn" : {
                "type" : "string",
                "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "insusmbahm" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "charge" : {
                      "type" : "string",
                      "description" : "Indicates the charge property.",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount" : {
                      "type" : "string",
                      "description" : "Based on the calculation type (flat or unit) the charge amount specified here will be set",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "tier" : {
                      "type" : "string",
                      "description" : "If the charge calculated for this tier is less than the amount defined in this field then minimum amount will be the charge amount for this tier.",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge" : {
                      "type" : "string",
                      "description" : "Indicates the maximum monetary amount that can be specified for the tier. Applies for Charge with Level/Band Types",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "The monetary amount for the tier",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierCount" : {
                      "type" : "string",
                      "description" : "When charges are to be calculated based on activity count, this attribute acts as threshold for the number of times an activity is performed",
                      "minLength" : 0,
                      "maxLength" : 9
                    }
                  }
                }
              },
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 8
              },
              "fixedAmount" : {
                "type" : "string",
                "description" : "Indicates the monetary amount that is fixed during the associated account's effective period",
                "minLength" : 0,
                "maxLength" : 11
              },
              "chargeRoutine" : {
                "type" : "string",
                "description" : "This field enables the user to define a routine to apply complex conditions to calculate the charge amount as required by the user",
                "minLength" : 0,
                "maxLength" : 13
              },
              "tierGroups" : {
                "type" : "string",
                "description" : "This field defines the method of calculation of charge amount for the currency.This field will accept two values BANDS or LEVELS. If BANDS then separate calculations are to be made for each band till the base amount is reached.If LEVELS then only one is calculated and this is dependent on the level of the base Amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "relationshipProduct" : {
                "type" : "string",
                "description" : "Indicates the relationship pricing plan(if any) that has influenced the rate on this arrangement.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "relationshipPercentage" : {
                "type" : "string",
                "description" : "Rate of margin(discount or uplift) due to the relationship of the customer with the bank",
                "minLength" : 0,
                "maxLength" : 22
              },
              "relationshipAmount" : {
                "type" : "string",
                "description" : "Flat amount as evaluated by the relationship of the customer with the bank. Would be evaluated based on the RELATIONSHIP arrangements held by the customer and also the definitions in PREFERENTIAL.PRICING as well as the rules in PRICING.RULES of this arrangement product.",
                "minLength" : 0,
                "maxLength" : 18
              },
              "relationshipVariation" : {
                "type" : "string",
                "description" : "It denotes the special considerations for the arrangement based on the customer relationship with the bank",
                "minLength" : 0,
                "maxLength" : 21
              },
              "penaltyDays" : {
                "type" : "string",
                "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
                "minLength" : 0,
                "maxLength" : 11
              },
              "rentReturn" : {
                "type" : "string",
                "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "insusmbdcd" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "charge" : {
                      "type" : "string",
                      "description" : "Indicates the charge property.",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount" : {
                      "type" : "string",
                      "description" : "Based on the calculation type (flat or unit) the charge amount specified here will be set",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "tier" : {
                      "type" : "string",
                      "description" : "If the charge calculated for this tier is less than the amount defined in this field then minimum amount will be the charge amount for this tier.",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge" : {
                      "type" : "string",
                      "description" : "Indicates the maximum monetary amount that can be specified for the tier. Applies for Charge with Level/Band Types",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "The monetary amount for the tier",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierCount" : {
                      "type" : "string",
                      "description" : "When charges are to be calculated based on activity count, this attribute acts as threshold for the number of times an activity is performed",
                      "minLength" : 0,
                      "maxLength" : 9
                    }
                  }
                }
              },
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 8
              },
              "fixedAmount" : {
                "type" : "string",
                "description" : "Indicates the monetary amount that is fixed during the associated account's effective period",
                "minLength" : 0,
                "maxLength" : 11
              },
              "chargeRoutine" : {
                "type" : "string",
                "description" : "This field enables the user to define a routine to apply complex conditions to calculate the charge amount as required by the user",
                "minLength" : 0,
                "maxLength" : 13
              },
              "tierGroups" : {
                "type" : "string",
                "description" : "This field defines the method of calculation of charge amount for the currency.This field will accept two values BANDS or LEVELS. If BANDS then separate calculations are to be made for each band till the base amount is reached.If LEVELS then only one is calculated and this is dependent on the level of the base Amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "relationshipProduct" : {
                "type" : "string",
                "description" : "Indicates the relationship pricing plan(if any) that has influenced the rate on this arrangement.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "relationshipPercentage" : {
                "type" : "string",
                "description" : "Rate of margin(discount or uplift) due to the relationship of the customer with the bank",
                "minLength" : 0,
                "maxLength" : 22
              },
              "relationshipAmount" : {
                "type" : "string",
                "description" : "Flat amount as evaluated by the relationship of the customer with the bank. Would be evaluated based on the RELATIONSHIP arrangements held by the customer and also the definitions in PREFERENTIAL.PRICING as well as the rules in PRICING.RULES of this arrangement product.",
                "minLength" : 0,
                "maxLength" : 18
              },
              "relationshipVariation" : {
                "type" : "string",
                "description" : "It denotes the special considerations for the arrangement based on the customer relationship with the bank",
                "minLength" : 0,
                "maxLength" : 21
              },
              "penaltyDays" : {
                "type" : "string",
                "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
                "minLength" : 0,
                "maxLength" : 11
              },
              "rentReturn" : {
                "type" : "string",
                "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "insusmbdcm" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
[...]
