{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve position information from different transactions affecting cash flows, interest rate mismatches, foreign exchange positions along with mark to market revaluation, profit/loss resulting from changes in the market value of the currency and arranges them into different time buckets as configured by the institution.",
    "version" : "v2.0.0",
    "title" : "Treasury positions"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/treasury/positions/cash" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves cash inflow and outflow positions",
        "description" : "Retrieves information from different transactions affecting the cash inflow/outflow, along with the projected cashflow data and arranges them into different time buckets as configured by the institution.",
        "operationId" : "getTreasuryCashPosition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dealerDesk",
          "in" : "query",
          "description" : "The dealer/desk responsible for monitoring and managing the currency positions.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currencyMarket",
          "in" : "query",
          "description" : "Identifies the currency market to be used to get the correct exchange and revaluation rates to be applied to each currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "calendar",
          "in" : "query",
          "description" : "Identifies the calendar to be used for the spreading of different position data into different time buckets. Ex: CAL-Standard calendar and DE1-Deutsche calendar",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "TreasuryCashPositionResponse",
            "schema" : {
              "$ref" : "#/definitions/TreasuryCashPositionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/positions/gap" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves interest rate mismatch position",
        "description" : "Retrieves interest rate mismatch resulting from different transactions across all the applications, it arranges them into different time buckets as configured by the respective institution and also provides a breakeven interest rate to close the gap",
        "operationId" : "getTreasuryGapPosition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dealerDesk",
          "in" : "query",
          "description" : "The dealer/desk responsible for monitoring and managing the currency positions.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currencyMarket",
          "in" : "query",
          "description" : "Identifies the currency market to be used to get the correct exchange and revaluation rates to be applied to each currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "calendar",
          "in" : "query",
          "description" : "Identifies the calendar to be used for the spreading of different position data into different time buckets. Ex: CAL-Standard calendar and DE1-Deutsche calendar",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "TreasuryGapPositionResponse",
            "schema" : {
              "$ref" : "#/definitions/TreasuryGapPositionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/positions/forexRevaluations" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the mark to market revaluation of foreign exchange positions.",
        "description" : "Retrieves mark to market foreign currency positions(arranged into time buckets) detailing the daily unrealised profit/loss resulting from changes in the market value of the currency from spot date to settlement date.",
        "operationId" : "getForexRevaluationPositions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currencyMarket",
          "in" : "query",
          "description" : "Identifies the currency market to be used to get the correct exchange and revaluation rates to be applied to each currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerDesk",
          "in" : "query",
          "description" : "The dealer/desk responsible for monitoring and managing the currency positions.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ForexRevaluationPositionsResponse",
            "schema" : {
              "$ref" : "#/definitions/ForexRevaluationPositionsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/transactions/{transactionId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves transaction details resulting daily cash flow, interest rate mismatch and foreign currency positions.",
        "description" : "Retrieves transaction details responsible for daily cash flow, interest rate mismatch and foreign currency positions. This also calculates the daily total of all the transaction amounts, which represents the aggregate of the daily activities.",
        "operationId" : "getTreasuryTransactionDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionId",
          "in" : "path",
          "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "TreasuryTransactionDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/TreasuryTransactionDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "TreasuryCashPositionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TreasuryCashPositionResponseBody"
        }
      },
      "description" : "TreasuryCashPositionResponse"
    },
    "TreasuryCashPositionResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "string",
            "description" : "Indicates the date on which activity was performed",
            "maxLength" : 12
          },
          "amountIn" : {
            "type" : "number",
            "description" : "The amount of cash inflow."
          },
          "amountOut" : {
            "type" : "number",
            "description" : "The amount of cash outflow. "
          },
          "netAmount" : {
            "type" : "number",
            "description" : "Holds the total amount"
          },
          "amountCarryForward" : {
            "type" : "number",
            "description" : "The balance amount carried forward for the next period."
          },
          "transactionIds" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "TreasuryGapPositionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TreasuryGapPositionResponseBody"
        }
      },
      "description" : "TreasuryGapPositionResponse"
    },
    "TreasuryGapPositionResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "period" : {
            "type" : "string",
            "description" : "Indicates spread of time buckets.Ex: 3M,6M,9M,10Y etc.",
            "maxLength" : 8
          },
          "assetAmount" : {
            "type" : "number",
            "description" : "The asset amount.",
            "maximum" : 35
          },
          "assetRate" : {
            "type" : "number",
            "description" : "Weighted average rate for the asset balance amount.",
            "maximum" : 15
          },
          "liabilityAmount" : {
            "type" : "number",
            "description" : "This is a system populated field that indicates the total liability amount in respect of each issued or confirmed letters of credit",
            "maximum" : 35
          },
          "liabilityRate" : {
            "type" : "number",
            "description" : "Weighted average rate for the liability balance amount.",
            "maximum" : 15
          },
          "netAmount" : {
            "type" : "number",
            "description" : "Holds the total amount",
            "maximum" : 35
          },
          "breakEvenAmount" : {
            "type" : "number",
            "description" : "Rate at which there is no loss or profit.",
            "maximum" : 15
          },
          "transactionIds" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 35
          }
        }
      }
    },
    "ForexRevaluationPositionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ForexRevaluationPositionsResponseBody"
        }
      },
      "description" : "ForexRevaluationPositionsResponse"
    },
    "ForexRevaluationPositionsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "period" : {
            "type" : "string",
            "description" : "Indicates spread of time buckets.Ex: 3M,6M,9M,10Y etc.",
            "maxLength" : 11
          },
          "netPosition" : {
            "type" : "number",
            "description" : "Net of buy and sell positions.",
            "maximum" : 35
          },
          "effectiveRate" : {
            "type" : "string",
            "description" : "Indicates the actual interest rate applied for the account after adjustment/tier calculation/based on basic or Periodic index value",
            "maxLength" : 15
          },
          "revaluationRate" : {
            "type" : "string",
            "description" : "The rate used to revalue the currency positions.",
            "maxLength" : 15
          },
          "unrealProfitLoss" : {
            "type" : "number",
            "description" : "The unrealised profit or loss i.e. Profit or loss arising out of revaluation of open positions.",
            "maximum" : 35
          }
        }
      }
    },
    "TreasuryTransactionDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TreasuryTransactionDetailsResponseBody"
        }
      },
      "description" : "TreasuryTransactionDetailsResponse"
    },
    "TreasuryTransactionDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the date on which activity was performed"
          },
          "transactionId" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 16
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 3
          },
          "transactionAmount" : {
            "type" : "number",
            "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency"
          },
          "transactionTotal" : {
            "type" : "number",
            "description" : "The total amount of the transaction",
            "maximum" : 20
          },
          "totalTransactionAmount" : {
            "type" : "number",
            "description" : "Total of transaction amount.",
            "maximum" : 20
          },
          "totalConversionAmount" : {
            "type" : "number",
            "description" : "Total of conversion amounts.",
            "maximum" : 20
          },
          "dailyTotal" : {
            "type" : "number",
            "description" : "Total for the day.",
            "maximum" : 34
          }
        }
      }
    }
  }
}