{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to manage Credit Limit related information such as retrieving Limit Utilisation or Outstandings, Limit Cashflow, Overdrawn Limits, Limits Review & Expiry, SubLimit details and manage Limit Sharing Group details of Master and Sub Groups. ",
    "version" : "v1.0.0",
    "title" : "Limit liabilities and Forex limits"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/limits/{arrangementId}/limitCashflow" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Limit cashflow details of contract",
        "description" : "Retrieves the facility cashflow against the Limit, commitment and drawing schedules utilized",
        "operationId" : "getLimitCashflow",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitCashflowResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitCashflowResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/customerGroupLimits" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Limit details of Customer group",
        "description" : "Retrieves all of the customer group limit exposures such as limit allocations, Outstanding, Product, Expiry along with details of related Customers in the Group, related Sub groups",
        "operationId" : "getCustomerGroupLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerLimitId",
          "in" : "query",
          "description" : "Limit reference of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "riskGroupId",
          "in" : "query",
          "description" : "Identifier of the CUSTOMER.GROUP that constitutes one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "liabilityNumber",
          "in" : "query",
          "description" : "Identifier of the Liability Customer to the credit limit",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limitId",
          "in" : "query",
          "description" : "The identifier of credit limit",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditLineNumber",
          "in" : "query",
          "description" : "Details of the top most parent credit line plus the limit product in the hierarchy. Eg : 300/LI1701101987 where 300 is the limit product of the topmost parent and second part is the respective creditline",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordParent",
          "in" : "query",
          "description" : "Identifier of the immediate parent limit",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limitProduct",
          "in" : "query",
          "description" : "Identifier of the credit limit product",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "serialNumber",
          "in" : "query",
          "description" : "A sequence reference for the limit, which when used together with other fields such as Liability Number and/or Limit Reference, provides a unique identifier for a credit line",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limitCurrency",
          "in" : "query",
          "description" : "Currency in which the credit limit is granted",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "buisnessUnit",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "expiryDate",
          "in" : "query",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "timeBandName",
          "in" : "query",
          "description" : "Description of the individual time code under a credit facility",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "internalAmount",
          "in" : "query",
          "description" : "Indicates the amount allocated to the Credit Limit by the Bank",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "advisedAmount",
          "in" : "query",
          "description" : "Indicates the amount advised to the Credit Limit by the bank",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "outstandingAmount",
          "in" : "query",
          "description" : "Contains the aggregate outstanding principal amount thereof after giving effect to any borrowings and prepayments or repayments of Committed Loans",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "availableAmount",
          "in" : "query",
          "description" : "The credit limit available to the customer for use",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "availableOrExcess",
          "in" : "query",
          "description" : "The available amount for the corresponding liability number and limit reference. This amount is always expressed in the currency of the limit. Calculated as the sum of the online limit, the available balance and any sub allocation taken, less any sub allocation given, any commission available, the total outstanding.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "totalCommitment",
          "in" : "query",
          "description" : "Specifies the total available commitment amounts  specific to a credit facility",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "totalCredit",
          "in" : "query",
          "description" : "Indicates the total credit balance of the customer's account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "totalDebit",
          "in" : "query",
          "description" : "Indicates the total debit balance of the customer's account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requestedCurrency",
          "in" : "query",
          "description" : "The currency the amount is requested in.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "exchangeRate",
          "in" : "query",
          "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idlType",
          "in" : "query",
          "description" : "The INTRA.DAY.LIMIT type that is applicable for a specific credit facility of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idlApprovedAmount",
          "in" : "query",
          "description" : "The approved amount by the bank as INTRA.DAY.LIMIT on a credit facility within a specific period of the day",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idlAdvisedAmount",
          "in" : "query",
          "description" : "The advised amount by the bank to the customer as INTRA.DAY.LIMIT on a credit facility within a specific period of the day",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limitType",
          "in" : "query",
          "description" : "Defines the limit type for the trade",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relatedCustomer",
          "in" : "query",
          "description" : "Indicates the related customers of multi customer and joint limits",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sharedLimit",
          "in" : "query",
          "description" : "Indicates whether the credit line is of shared limit structure",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "adjustAvailableAmount",
          "in" : "query",
          "description" : "Indicates to adjust the available funds to respective time bands.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rebuildData",
          "in" : "query",
          "description" : "Indicates to rebuild the customer exposure when enquired by user.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "aggregateCustomerId",
          "in" : "query",
          "description" : "List of customer/person entity that are aggregated under a main customer on risk exposure view",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "aggregateCustomerRelation",
          "in" : "query",
          "description" : "Relation code that exists between the main customer and the aggregated customers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limitNote",
          "in" : "query",
          "description" : "Relation code that exists between the main customer and the aggregated customers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sessionId",
          "in" : "query",
          "description" : "Id of the T24 session where the risk exposure view executed",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subGroup",
          "in" : "query",
          "description" : "Identifier of the sub group within a CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "originalInternalAmount",
          "in" : "query",
          "description" : "Specifies the orignal amount actually approved or authorised on a credit line by Management or the Credit Committee before any repayment made",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "originalAdvisedAmount",
          "in" : "query",
          "description" : "Specifies the original amount advised to the customer holding the credit facility before any repayment made",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "repaidAmount",
          "in" : "query",
          "description" : "Indicates the amount which was repaid from the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "totalRepaidAmount",
          "in" : "query",
          "description" : "Total of the repaid amount under a credit facility",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excessFlag",
          "in" : "query",
          "description" : "Flag to indicate the credit line has been over utilised",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fixedOrVariable",
          "in" : "query",
          "description" : "Indicates the secured nature of limit that has been covered by a customer collateral. When FIXED the limit amount sanctioned will not have impact on changing value of collateral whereas when VARIABLE limit amount will change based on the collateral amount changes",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "securedAmount",
          "in" : "query",
          "description" : "The total amount that has been covered by the collateral underlying the credit facility",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "multiCustomerLimit",
          "in" : "query",
          "description" : "Specifies if a credit facility shall be used by multiple customers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "groupClass",
          "in" : "query",
          "description" : "Classify the type of group, whether it is a CUSTOMER.GROUP or SUB.GROUP",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isAggregationExists",
          "in" : "query",
          "description" : "Indicates if there exists aggregation of one or many customer exposure under a primary customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mainGroupId",
          "in" : "query",
          "description" : "Identifier of the main group under which the sub group has been defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditLineProduct",
          "in" : "query",
          "description" : "Identifier of the limit product of the topmost credit facility in the hierarchy",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "gvIndicator",
          "in" : "query",
          "description" : "Indicator which specifies the graphical view of risk exposure report requested",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "onlineLimit",
          "in" : "query",
          "description" : "The Limit amount that is actually available for use.The system limit checks are performed against the online limit",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "amountInUnits",
          "in" : "query",
          "description" : "Indicates the Units of the Amounts",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerGroupLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerGroupLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/relationships/{customerGroupId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves relations among customers",
        "description" : "Retrieves all of the customer relation details such as party or customer id, type, name and aggregate customer details under a customer group.",
        "operationId" : "getCustomerGroupRelations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerGroupId",
          "in" : "path",
          "description" : "Identifier of the CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subGroup",
          "in" : "query",
          "description" : "Identifier of the sub group within a CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "showReverseRelation",
          "in" : "query",
          "description" : "Indicates whether reverse relations among customer or entity are required",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerGroupRelationsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerGroupRelationsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/{customerId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Customer Credit Limits",
        "description" : "Retrieves a list of credit lines that the institution has sanctioned to any specific customer.",
        "operationId" : "getCustomerLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/expiringLimits" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of Credit Lines that are due for Expiry",
        "description" : "Retrieves the list of Credit Lines with details such as the Available and the Outstanding Limit Balances that are due for Expiry for a specific date",
        "operationId" : "getExpiringLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "expiryDate",
          "in" : "query",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExpiringLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/ExpiringLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/forex/limits/{liabilityNumber}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves summary of customer's Forex Liability",
        "description" : "Retrieves the summary of Limit details such as Currency, Advised, Available and Utilised Limit Balance by Forex Contracts",
        "operationId" : "getLimitsForexTradeSummary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "liabilityNumber",
          "in" : "path",
          "description" : "Identifier of the Liability Customer to the credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitsForexTradeSummaryResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitsForexTradeSummaryResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/customers/groups" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Limit Sharing group of the customer",
        "description" : "Retrieves the list of Customer under a Limit Sharing group or list of groups the specified customer is part of.",
        "operationId" : "getCustomerLimitGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "description" : "Unique ID of the group",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerLimitGroupsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerLimitGroupsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/groups/{groupId}/allocations" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Limit group alloction details",
        "description" : "Retrieves the list of Limit group alloction details such as Group Limit Reference, Contract Reference, total commitment, Utilised & remaining commitment balance of the Limits under the Limit Sharing Group",
        "operationId" : "getLimitGroupAllocations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Unique ID of the group",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitGroupAllocationsResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitGroupAllocationsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/customers/masterGroups" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Limit Sharing Master Group details",
        "description" : "Retrieves the Limit Sharing Master Group details such as list of customer in the group &  the sharing priority defined for the Customers",
        "operationId" : "getCustomerLimitMasterGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "description" : "Unique ID of the group",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerLimitMasterGroupsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerLimitMasterGroupsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/{limitId}/forexDeals" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves List of FOREX contract details available to the Limit",
        "description" : "Retrieves the details of Forex Contract Reference, buy & sell Currency, Amount associated with the Limit",
        "operationId" : "getLimitForexDeals",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
          "description" : "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitForexDealsResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitForexDealsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/{limitId}/liabilities" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves risk Excess details of the Limits untilised by Forex contracts",
        "description" : "Retrieves the risk excess details of Forex contracts associated to a limit along with the Contract amount and limit balance",
        "operationId" : "getLimitForexLiabilities",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
          "description" : "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limitReferenceId",
          "in" : "query",
          "description" : "Limit reference identifier for the limit order.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "serialNumber",
          "in" : "query",
          "description" : "A sequence reference for the limit, which when used together with other fields such as Liability Number and/or Limit Reference, provides a unique identifier for a credit line",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerNumber",
          "in" : "query",
          "description" : "Identifier of the Customer Number",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitForexLiabilitiesResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitForexLiabilitiesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/sharedLimits" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Limit Sharing group details",
        "description" : "Retrieves the Master and Sub Group available in Limit Sharing Group details along with Limit Product and list of customer linked to the group",
        "operationId" : "getSharedLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "description" : "Unique ID of the group",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "SharedLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/SharedLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/customers/{customerId}/sharingPriorities" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Limit sharing Priority",
        "description" : "Retrieves the Limit sharing Priority of the Master group for the specified group or Customer",
        "operationId" : "getCustomerLimitSharingPriorities",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerLimitSharingPrioritiesResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerLimitSharingPrioritiesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/masterGroups/{masterGroupId}/subGroups" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves details of limit sub groups",
        "description" : "Retrieves the list of Sub Groups available under a Master Group in Limit Sharing Group along with Limit Product & Customer linked to the Group",
        "operationId" : "getLimitSubGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "masterGroupId",
          "in" : "path",
          "description" : "Identifier of the Limit Sharing Master Group",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitSubGroupsResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitSubGroupsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/limits/{limitId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves summary of Customer outstanding details",
        "description" : "Retrieves the Limit details such as Advised, Available & Utilised, Outstanding balances for a specific Customer",
        "operationId" : "getLimitSummary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
          "description" : "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitSummaryResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitSummaryResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/{liabilityNumber}/overdrawnLimits" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of overdrawn Credit Limits",
        "description" : "Retrieves the list of credit Lines that are overdrawn or in excess of utilisation",
        "operationId" : "getCustomerOverdrawnLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "liabilityNumber",
          "in" : "path",
          "description" : "Identifier of the Liability Customer to the credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerOverdrawnLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerOverdrawnLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/reviewLimits" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the Credit Lines that are due for review",
        "description" : "Retrieves the list of Credit Limit details such as Advised, Available and the Outstanding Limit Balances that are due for Review for a specific date",
        "operationId" : "getLimitsToReviewToday",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "liabilityNumber",
          "in" : "query",
          "description" : "Identifier of the Liability Customer to the credit limit",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitsToReviewTodayResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitsToReviewTodayResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/{customerId}/subCategoryLimits/{customerGroupId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Customer Sub Category Limits",
        "description" : "Retrieves Category, SubCategory Limit Products and Timebands from the Credit Limit for the specified CustomerGroup and CustomerId Combination",
        "operationId" : "getSubCategoryLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerGroupId",
          "in" : "path",
          "description" : "Identifier of the CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subGroup",
          "in" : "query",
          "description" : "Identifier of the sub group within a CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "SubCategoryLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/SubCategoryLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/{customerGroupId}/subGroups" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of Sub groups",
        "description" : "Retrieves list of Sub Group details such as sub group name, list of related customers Ids, Party Type under specific customer group",
        "operationId" : "getSubGroupList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerGroupId",
          "in" : "path",
          "description" : "Identifier of the CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "SubGroupListResponse",
            "schema" : {
              "$ref" : "#/definitions/SubGroupListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/{limitId}/subLimits" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of sublimits applicable for a credit line.",
        "description" : "Provides list of sub limits applicable for a credit line created based on risk elements of the contract.",
        "operationId" : "getSubLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
          "description" : "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "SubLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/SubLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/collaterals" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of secured credit limits",
        "description" : "Retrieves all secured credit lines or one that has been sanctioned to a specific customer",
        "operationId" : "getLimitCollaterals",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "liabilityNumber",
          "in" : "query",
          "description" : "Identifier of the Liability Customer to the credit limit",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitCollateralsResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitCollateralsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/creditLimits" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Creates a credit limit",
        "description" : "Allows creation of credit limit for customer with information such as limit product, sanctioned amount, currency, expiry date and review frequency of limit",
        "operationId" : "createCreditLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreditLimits"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CreditLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/CreditLimitsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/{limitId}/creditLimits" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves details of the limits",
        "description" : "Retrieves the details such as currency,expiry date, limit amount, available marker & limit type for the requested limit id.",
        "operationId" : "getLimitDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
		  "description": "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Updates a credit limit",
        "description" : "Allows update of credit limit for customer with information such as sanctioned amount, expiry date, review frequency of limit",
        "operationId" : "updateCreditLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
          "description" : "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreditLimits"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CreditLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/CreditLimitsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Deletes a credit limit",
        "description" : "Allows deletion of credit limit that are either no more available for utilisation or not being utilized",
        "operationId" : "deleteCreditLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
          "description" : "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreditLimitsDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CreditLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/CreditLimitsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "LimitCashflowResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LimitCashflowResponseBody"
        }
      },
      "description" : "LimitCashflowResponse"
    },
    "LimitCashflowResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementEffectiveDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "It is a date on/upon which an account is considered to take effect"
          },
          "limitSchedule" : {
            "type" : "number",
            "description" : "Contains the limit schedule amount of the given arrangement  upto the dates specified"
          },
          "consolDrawingsCashflow" : {
            "type" : "number",
            "description" : "Contains the consolidated drawings cashflow amount of the given arrangement with all respective drawings."
          },
          "consolLimitCashflow" : {
            "type" : "number",
            "description" : "Contains the consolidated limit cashflow amount of the given facility arrangement upto the dates specified"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
[...]
