{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the cash management bundle arrangements and associated details such as bundle balances, bundle hierarchy, status events, etc",
    "version" : "v2.0.0",
    "title" : "Cash management Bundle arrangement details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "tags" : [ ],
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/cashManagement/bundles/{bundleId}/exceptions" : {
      "get" : {
        "tags" : [ ],
        "summary" : "List of account Exceptional in Bundle Hierarchy",
        "description" : "List of account Exceptional in Bundle Hierarchy",
        "operationId" : "getCashPoolExceptionLog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "description" : "Indicates an arrangement reference which acts as a master for the sub arrangements being created",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CashPoolExceptionLogResponse",
            "schema" : {
              "$ref" : "#/definitions/CashPoolExceptionLogResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/accounts" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the account details of a Bundle arrangement",
        "description" : "Retrieves the account details of a Bundle arrangement",
        "operationId" : "getBundleAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "description" : "Indicates an arrangement reference which acts as a master for the sub arrangements being created",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "BundleAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleAccountsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/status" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the History of Bundle hierarchy",
        "description" : "Retrieves the History of Bundle hierarchy",
        "operationId" : "getBundleHistoryDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "description" : "Indicates an arrangement reference which acts as a master for the sub arrangements being created",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "BundleHistoryDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleHistoryDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/customers/{customerId}/bundles" : {
      "get" : {
        "tags" : [ ],
        "summary" : "To list the bundle arrangement details and status, events, Go-live dates, etc",
        "description" : "To list the bundle arrangement details and status, events, Go-live dates, etc",
        "operationId" : "getBundleArrangements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "BundleArrangementsResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleArrangementsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/balances" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the balances of Master/Bundle Arrangement",
        "description" : "Retrieves the balances of Master/Bundle Arrangement",
        "operationId" : "getBundleBalances",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "description" : "Indicates an arrangement reference which acts as a master for the sub arrangements being created",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "BundleBalancesResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleBalancesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/customers/{customerId}/accounts" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the List of Bundle arrangements of a customer",
        "description" : "Retrieves the List of Bundle arrangements of a customer",
        "operationId" : "getCustomerBundleAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyCode",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerBundleAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerBundleAccountsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/{customerId}/bundles/drafts" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the List of Draft Bundles available for a Customer",
        "description" : "Retrieves the List of Draft Bundles available for a Customer",
        "operationId" : "getDraftArrangements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DraftArrangementsResponse",
            "schema" : {
              "$ref" : "#/definitions/DraftArrangementsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/drafts" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the details of the Draft Bundle Account",
        "description" : "Retrieves the details of the Draft Bundle Account",
        "operationId" : "getDraftBundleList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "description" : "Indicates an arrangement reference which acts as a master for the sub arrangements being created",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DraftBundleListResponse",
            "schema" : {
              "$ref" : "#/definitions/DraftBundleListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/currentAccounts" : {
      "get" : {
        "tags" : [ ],
        "summary" : "To list all the standalone account in relation with the Bundle arrangement customer.List of Non-BN Account list",
        "description" : "To list all the standalone account in relation with the Bundle arrangement customer.List of Non-BN Account list",
        "operationId" : "getNonBalanceNettingAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "description" : "Indicates an arrangement reference which acts as a master for the sub arrangements being created",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "NonBalanceNettingAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/NonBalanceNettingAccountsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/accounts/{accountId}/balances" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the balances of a TR Account",
        "description" : "Retrieves the balances of a TR Account",
        "operationId" : "getBundleAccountBalances",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "BundleAccountBalancesResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleAccountBalancesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/currencies/{currencyId}/balances" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Balances in preferred currency",
        "description" : "Simulated Balances",
        "operationId" : "getBalanceInPreferredCurrency",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "description" : "Indicates an arrangement reference which acts as a master for the sub arrangements being created",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "currencyId",
          "in" : "path",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "bundleArrangement",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "simulatedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "BalanceInPreferredCurrencyResponse",
            "schema" : {
              "$ref" : "#/definitions/BalanceInPreferredCurrencyResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request"
        }
      }
    },
    "CashPoolExceptionLogResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CashPoolExceptionLogResponseBody"
        }
      },
      "description" : "CashPoolExceptionLogResponse"
    },
    "CashPoolExceptionLogResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "bundleArrangement" : {
            "type" : "string",
            "description" : "The field is to specify an arrangement reference which can act as a Master for the arrangement being created. Eventually, the new arrangement becomes a Sub-Arrangement of the Master.",
            "maxLength" : 35
          },
          "accountAlias" : {
            "type" : "string",
            "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events",
            "maxLength" : 35
          },
          "accountReference" : {
            "type" : "string",
            "description" : "Account Reference of the error account",
            "maxLength" : 35
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition.",
            "maxLength" : 35
          },
          "accountCompany" : {
            "type" : "string",
            "description" : "Company of the account to be created",
            "maxLength" : 11
          },
          "accountCountry" : {
            "type" : "string",
            "description" : "Country of the account to be created",
            "maxLength" : 35
          },
          "accountCurrency" : {
            "type" : "string",
            "description" : "Currency of the account. For example: USD, GBP.",
            "maxLength" : 3
          },
          "accountLevel" : {
            "type" : "string",
            "description" : "Captured for information purpose to render the placeholders in GUI",
            "maxLength" : 15
          },
          "accountProduct" : {
            "type" : "string",
            "description" : "Product of the Account to be created or in the case of an existing standalone Account being added to the Hierarchy, then this is the Product to which that Account will be changed into.",
            "maxLength" : 30
          },
          "accountSequence" : {
            "type" : "string",
            "description" : "The sequence in which this account record is created",
            "maxLength" : 3
          },
          "activityReference" : {
            "type" : "string",
            "description" : "Activity reference of the account",
            "maxLength" : 40
          },
          "alternateReference" : {
            "type" : "string",
            "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24).",
            "maxLength" : 30
          },
          "cancelRestructure" : {
            "type" : "string",
            "description" : "Indicates a flag to cancel a restructure event",
            "maxLength" : 3
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "errorMessage" : {
            "type" : "string",
            "description" : "Contains the description of the error.",
            "maxLength" : 100
          },
          "errorSource" : {
            "type" : "string",
            "description" : "Error source of the Bundle account",
            "maxLength" : 35
          },
          "errorType" : {
            "type" : "string",
            "description" : "Error types of the Bundle account",
            "maxLength" : 35
          },
          "keepBalance" : {
            "type" : "string",
            "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account.",
            "maxLength" : 3
          },
          "linkType" : {
            "type" : "string",
            "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row.",
            "maxLength" : 20
          },
          "liveDate" : {
            "type" : "string",
            "description" : "Denotes the date on which the Account is expected to go live in cash pool structure.",
            "maxLength" : 11
          },
          "newBundle" : {
            "type" : "string",
            "description" : "The new bundle reference is specified in this field when a account moves from the current pool to another pool.",
            "maxLength" : 17
          },
          "parentAccount" : {
            "type" : "string",
            "description" : "Parent account of the account to be added to the Bundle Hierarchy.",
            "maxLength" : 35
          },
          "shortName" : {
            "type" : "string",
            "description" : "Contains the name of the account, basically the short title of the account.",
            "maxLength" : 35
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED.",
            "maxLength" : 5
          },
          "overallStatus" : {
            "type" : "string",
            "description" : "Contains the overall status",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "BundleAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleAccountsResponseBody"
        }
      },
      "description" : "BundleAccountsResponse"
    },
    "BundleAccountsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition."
          },
          "arrangementStartDate" : {
            "type" : "string",
            "description" : "Indicates the date on which the arrangement was created"
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes"
          },
          "customerId" : {
            "type" : "number",
            "description" : "Identifier of the customer"
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 3
          },
          "parentAccount" : {
            "type" : "string",
            "description" : "Parent account of the account to be added to the Bundle Hierarchy.",
            "maxLength" : 19
          },
          "workingBalance" : {
            "type" : "string",
            "description" : "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries."
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. ",
            "maxLength" : 11
          },
          "companyCode" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 11
          },
          "limitReference" : {
            "type" : "string",
            "description" : "Identifies the credit limit reference for the underlying account."
          },
          "limitSerialNumber" : {
            "type" : "number",
            "description" : "Sequence number of the Limits."
          },
          "internalCreditFacility" : {
            "type" : "string",
            "description" : "To define Secondary Limit Amount to be used for the purpose of Secondary Limit Check.The Secondary Limit Amount defined in this field will be represented in respective account currency",
            "maxLength" : 19
          },
          "creditCheckTransactionType" : {
            "type" : "string",
            "description" : "To define credit checking conditions in conjunction with the field CREDIT.CHK.CONDITION.",
            "maxLength" : 8
          },
          "isCreditCheckCondition" : {
            "type" : "boolean",
            "description" : "To decide if credit check processing to be performed for the account based on the conditions defined in the field CREDIT.CHK.TXN.TYPE."
          },
          "ledgerBalance" : {
            "type" : "string",
            "description" : "Contains the ledger balance of the account which is the total of all entries posted against the account excluding any entries with the processing date in the future."
          },
          "clearedBalance" : {
            "type" : "string",
            "description" : "Balance taking into consideration all cleared funds booked against the account, including credit and reversed debit entries with a future exposure date."
          },
          "lockedAmount" : {
            "type" : "string",
            "description" : "Shows reserved amount for the underlying account for a given balance reservation event."
          },
          "availableBalance" : {
            "type" : "string",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          },
          "alias" : {
            "type" : "string",
            "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events."
          },
          "alternateReference" : {
            "type" : "string",
            "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24)."
          },
          "level" : {
            "type" : "string",
            "description" : "Captured for information purpose to render the placeholders in GUI"
          },
          "goLiveDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated."
          },
          "linkType" : {
            "type" : "string",
            "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row."
          },
          "keepBalance" : {
            "type" : "number",
            "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account."
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED."
          },
          "newMaster" : {
            "type" : "string",
            "description" : "The new bundle reference is specified in this field when a account moves from the current pool to another pool. Accepts bundle arrangement reference.Bundle reference must be given with mnemonic in case of other company. Example AA24DGRYHY/CO3. This field is allowed to be input only for link type Change Pool.."
          },
          "poolEvent" : {
            "type" : "string",
            "description" : "Denotes the restructure event for the account linked to the Balance Netting pool."
          },
          "poolEventDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Denotes the restructure date if the account is linked to the balance netting pool."
          },
          "isMultiCurrency" : {
            "type" : "boolean",
            "description" : "Indicates if the account supports multi-currency functionality."
          },
          "isExternalPosting" : {
            "type" : "boolean",
            "description" : "To indicates if the account allows entries posted from outside the network of Summary accounts. This should only be set for Summary accounts and Funds Diversion accounts inside a Summary account network."
          },
          "parentBackValueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Holds the date of the latest internal restructuring of the network of Parent accounts above this account. i.e. the latest date when the network of Parent accounts above this account was changed."
          },
          "allowedBackValueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Holds the latest restructuring date of the network of Parent accounts above this account. It will be set to the date when an account was added to the network of Parent accounts as either a direct or indirect parent of this account."
          },
          "postingRestrictId" : {
            "type" : "number",
            "description" : "Identifies any restrictions for posting entries that are imposed on a Customer"
          },
          "postingRestrictDisplayName" : {
            "type" : "string",
            "description" : "Display name of Posting Restriction, if any, applicable for the customer"
          },
          "blockCode" : {
            "type" : "string",
            "description" : "Unique code used to block the accounts"
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "expiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
          },
          "title" : {
            "type" : "string",
            "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages."
          },
          "bookedBalance" : {
            "type" : "string",
            "description" : "Balances of the account as per the Booking dated."
          },
          "valueDatedBalance" : {
            "type" : "string",
            "description" : "Balances of the account as per the value dated. Contains the value dated Balance of the Account."
          },
          "creditFacility" : {
            "type" : "string",
            "description" : "Limit facilities."
          },
          "companyMnemonic" : {
            "type" : "string",
            "description" : "Shortcut code for referring an Entity/Company/Branch related to the image record"
          }
        }
      }
    },
    "BundleHistoryDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleHistoryDetailsResponseBody"
        }
      },
      "description" : "BundleHistoryDetailsResponse"
    },
    "BundleHistoryDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 17
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 35
          },
          "parentAccount" : {
            "type" : "string",
            "description" : "Parent account of the account to be added to the Bundle Hierarchy.",
            "maxLength" : 19
          },
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. ",
            "maxLength" : 40
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED."
          },
          "date" : {
            "type" : "string",
            "description" : "Indicates the date on which activity was performed"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "bookingBalance" : {
            "type" : "string",
            "description" : "Contains the current Booked Balance of the Account."
          },
          "valueDatedBalance" : {
            "type" : "string",
            "description" : "Balances of the account as per the value dated. Contains the value dated Balance of the Account."
          },
          "availableBalance" : {
            "type" : "string",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          }
        }
      }
    },
    "BundleArrangementsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleArrangementsResponseBody"
        }
      },
      "description" : "BundleArrangementsResponse"
    },
    "BundleArrangementsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account",
            "maxLength" : 17
          },
          "customerId" : {
            "type" : "number",
            "description" : "Identifier of the customer",
            "maximum" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "availableBalance" : {
            "type" : "string",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          }
        }
      }
    },
    "BundleBalancesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleBalancesResponseBody"
        }
      },
      "description" : "BundleBalancesResponse"
    },
    "BundleBalancesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "ledgerBalance" : {
            "type" : "string",
            "description" : "Contains the ledger balance of the account which is the total of all entries posted against the account excluding any entries with the processing date in the future."
          },
          "clearedBalance" : {
            "type" : "string",
            "description" : "Balance taking into consideration all cleared funds booked against the account, including credit and reversed debit entries with a future exposure date."
          },
          "workingBalance" : {
            "type" : "string",
            "description" : "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries."
          },
          "availableBalance" : {
            "type" : "string",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          }
        }
      }
    },
    "CustomerBundleAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerBundleAccountsResponseBody"
        }
      },
      "description" : "CustomerBundleAccountsResponse"
    },
    "CustomerBundleAccountsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "effectiveDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format"
          },
          "customerId" : {
            "type" : "number",
            "description" : "Identifier of the customer",
            "maximum" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 30
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition.",
            "maxLength" : 30
          },
          "companyName" : {
            "type" : "string",
            "description" : "The company in which payment is processed",
            "maxLength" : 11
          },
          "countryId" : {
            "type" : "number",
            "description" : "ISO country code of the financial institution. ",
            "maximum" : 11
          },
          "companyCode" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 11
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED.",
            "maxLength" : 15
          },
          "modifiedDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date on which the Bundle has been modified."
          },
          "structureName" : {
            "type" : "string",
            "description" : "Unique Name of the Balance Netting structure."
          },
          "recipientCurrency" : {
            "type" : "string",
            "description" : "The account used for payment received. Currencies of the recipient."
          },
          "blockId" : {
            "type" : "string",
            "description" : "Balance Netting unique ID"
          },
          "isBlocked" : {
            "type" : "string",
            "description" : "Balance Netting is blocked or Not"
          },
          "blockAuthoriser" : {
            "type" : "string",
            "description" : "Blocked by "
          },
          "blockedDateTime" : {
            "type" : "string",
            "description" : "Date on which the account has been blocked."
          },
          "blockCode" : {
            "type" : "string",
            "description" : "Unique code used to block the accounts"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes"
          },
          "blockStartDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Start date of the Blocked account"
          },
          "blockEndDate" : {
            "type" : "string",
            "description" : "End date of the Blocked account"
          },
          "title" : {
            "type" : "string",
            "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages."
          },
          "poolEventDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Denotes the restructure date if the account is linked to the balance netting pool."
          },
          "poolEvent" : {
            "type" : "string",
            "description" : "Denotes the restructure event for the account linked to the Balance Netting pool.",
            "maxLength" : 35
          },
          "goLiveDate" : {
            "type" : "string",
            "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated."
          }
        }
      }
    },
    "DraftArrangementsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DraftArrangementsResponseBody"
        }
      },
      "description" : "DraftArrangementsResponse"
    },
    "DraftArrangementsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account",
            "maxLength" : 20
          },
          "activityId" : {
            "type" : "string",
            "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 30
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition."
          },
          "customerId" : {
            "type" : "number",
            "description" : "Identifier of the customer",
            "maximum" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. ",
            "maxLength" : 11
          },
          "companyCode" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 11
          },
          "referenceCurrency" : {
            "type" : "string",
            "description" : "The reference currency"
          },
          "structureName" : {
            "type" : "string",
            "description" : "Unique Name of the Balance Netting structure."
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED."
          },
          "title" : {
            "type" : "string",
            "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages."
          }
        }
      }
    },
    "DraftBundleListResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DraftBundleListResponseBody"
        }
      },
      "description" : "DraftBundleListResponse"
    },
    "DraftBundleListResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "aliases" : {
            "type" : "array",
            "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events.",
            "items" : {
              "type" : "object",
              "properties" : {
                "alias" : {
                  "type" : "array",
                  "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountReferences" : {
            "type" : "array",
            "description" : "Account Reference of the error account",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountReference" : {
                  "type" : "array",
                  "description" : "Account Reference of the error account",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "customerIds" : {
            "type" : "array",
            "description" : "Identifier of the customer",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "array",
                  "description" : "Identifier of the customer",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountCompanies" : {
            "type" : "array",
            "description" : "Company of the account to be created",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountCompany" : {
                  "type" : "array",
                  "description" : "Company of the account to be created",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountCountries" : {
            "type" : "array",
            "description" : "Country of the account to be created",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountCountry" : {
                  "type" : "array",
                  "description" : "Country of the account to be created",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountCurrencies" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountCurrency" : {
                  "type" : "array",
                  "description" : "Currency of the account. For example: USD, GBP.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountProducts" : {
            "type" : "array",
            "description" : "Product of the Account to be created or in the case of an existing standalone Account being added to the Hierarchy, then this is the Product to which that Account will be changed into.",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountProduct" : {
                  "type" : "array",
                  "description" : "Product of the Account to be created or in the case of an existing standalone Account being added to the Hierarchy, then this is the Product to which that Account will be changed into.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "productDescriptions" : {
            "type" : "array",
            "description" : "Indicates the description of the Product",
            "items" : {
              "type" : "object",
              "properties" : {
                "productDescription" : {
                  "type" : "array",
                  "description" : "Indicates the description of the Product",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "shortNames" : {
            "type" : "array",
            "description" : "Contains the name of the account, basically the short title of the account.",
            "items" : {
              "type" : "object",
              "properties" : {
                "shortName" : {
                  "type" : "array",
                  "description" : "Contains the name of the account, basically the short title of the account.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "alternateReferences" : {
            "type" : "array",
            "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24).",
            "items" : {
              "type" : "object",
              "properties" : {
                "alternateReference" : {
                  "type" : "array",
                  "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24).",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "parentAccounts" : {
            "type" : "array",
            "description" : "Parent account of the account to be added to the Bundle Hierarchy.",
            "items" : {
              "type" : "object",
              "properties" : {
                "parentAccount" : {
                  "type" : "array",
                  "description" : "Parent account of the account to be added to the Bundle Hierarchy.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "goLiveDates" : {
            "type" : "array",
            "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated.",
            "items" : {
              "type" : "object",
              "properties" : {
                "goLiveDate" : {
                  "type" : "array",
                  "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "linkTypes" : {
            "type" : "array",
            "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row.",
            "items" : {
              "type" : "object",
              "properties" : {
                "linkType" : {
                  "type" : "array",
                  "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "keepBalances" : {
            "type" : "array",
            "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account.",
            "items" : {
              "type" : "object",
              "properties" : {
                "keepBalance" : {
                  "type" : "array",
                  "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountTitles" : {
            "type" : "array",
            "description" : "Short title on an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountTitle" : {
                  "type" : "array",
                  "description" : "Short title on an account",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "level" : {
            "type" : "string",
            "description" : "Captured for information purpose to render the placeholders in GUI"
          }
        }
      }
    },
    "NonBalanceNettingAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/NonBalanceNettingAccountsResponseBody"
        }
      },
      "description" : "NonBalanceNettingAccountsResponse"
    },
    "NonBalanceNettingAccountsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition."
          },
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. ",
            "maxLength" : 11
          },
          "companyCode" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 11
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 10
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED."
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "workingBalance" : {
            "type" : "string",
            "description" : "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries."
          }
        }
      }
    },
    "BundleAccountBalancesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleAccountBalancesResponseBody"
        }
      },
      "description" : "BundleAccountBalancesResponse"
    },
    "BundleAccountBalancesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "ledgerBalance" : {
            "type" : "string",
            "description" : "Contains the ledger balance of the account which is the total of all entries posted against the account excluding any entries with the processing date in the future.",
            "maxLength" : 40
          },
          "clearedBalance" : {
            "type" : "string",
            "description" : "Balance taking into consideration all cleared funds booked against the account, including credit and reversed debit entries with a future exposure date.",
            "maxLength" : 40
          },
          "workingBalance" : {
            "type" : "string",
            "description" : "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries.",
            "maxLength" : 40
          },
          "debitLockedAmount" : {
            "type" : "string",
            "description" : "Indicates the reserved amount for a given arrangement account and balance reservation event. It's a debit type of transaction",
            "maxLength" : 40
          },
          "creditLockedAmount" : {
            "type" : "string",
            "description" : "Indicates the reserved amount for a given arrangement account and balance reservation event. It's a credit type of transaction",
            "maxLength" : 40
          },
          "availableLimit" : {
            "type" : "string",
            "description" : "The portion of an allocated credit limit that is available for the nominated customer",
            "maxLength" : 40
          }
        }
      }
    },
    "BalanceInPreferredCurrencyResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BalanceInPreferredCurrencyResponseBody"
        }
      },
      "description" : "BalanceInPreferredCurrencyResponse"
    },
    "BalanceInPreferredCurrencyResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "product" : {
            "type" : "string",
            "description" : "Indicates an id or name of a product"
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "accountTitle" : {
            "type" : "string",
            "description" : "Short title on an account",
            "maxLength" : 35
          },
          "customer" : {
            "type" : "string",
            "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "parentAccount" : {
            "type" : "string",
            "description" : "Parent account of the account to be added to the Bundle Hierarchy.",
            "maxLength" : 19
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 3
          },
          "preferredCurrency" : {
            "type" : "string",
            "description" : "Currency on which the Master account and SA/CS/TR account balances to be converted.",
            "maxLength" : 3
          },
          "workingBalance" : {
            "type" : "string",
            "description" : "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries.",
            "maxLength" : 19
          },
          "ledgerBalance" : {
            "type" : "string",
            "description" : "Contains the ledger balance of the account which is the total of all entries posted against the account excluding any entries with the processing date in the future.",
            "maxLength" : 19
          },
          "clearedBalance" : {
            "type" : "string",
            "description" : "Balance taking into consideration all cleared funds booked against the account, including credit and reversed debit entries with a future exposure date.",
            "maxLength" : 19
          },
          "lockedAmount" : {
            "type" : "string",
            "description" : "Shows reserved amount for the underlying account for a given balance reservation event.",
            "maxLength" : 19
          },
          "availableBalance" : {
            "type" : "string",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account.",
            "maxLength" : 19
          }
        }
      }
    }
  }
}