{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create, update account, change account product, retreive account summary and overview,  statement addresses and list of accounts available for a customer",
    "version" : "v1.0.0",
    "title" : "US Model Bank Management of Accounts"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/us/accounts/{accountId}/balances" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Account Summary",
        "description" : "Retrieves summary level balance information for an account",
        "operationId" : "getUsAccountSummary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsAccountSummaryResponse",
            "schema" : {
              "$ref" : "#/definitions/UsAccountSummaryResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/{accountId}/addresses" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Statement Address",
        "description" : "Retrieves address information for the account",
        "operationId" : "getUsStatementAddress",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsStatementAddressResponse",
            "schema" : {
              "$ref" : "#/definitions/UsStatementAddressResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/customers/{customerId}/accounts" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Account list",
        "description" : "API to list the available accounts details for a customer.",
        "operationId" : "getUsAccountList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsAccountListResponse",
            "schema" : {
              "$ref" : "#/definitions/UsAccountListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/{accountId}/accountOverview" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Account Overview",
        "description" : "API to view account details, balances, due balances, interest earned, RegD and NSF details, etc,.",
        "operationId" : "getUsAccountOverview",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsAccountOverviewResponse",
            "schema" : {
              "$ref" : "#/definitions/UsAccountOverviewResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/consumerAccounts" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Create a new consumer account ",
        "description" : "Create a new consumer account of type checkings or savings.",
        "operationId" : "createUsConsumerAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsConsumerAccount"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createUsConsumerAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsConsumerAccountResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/{accountId}/consumerAccounts" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Update consumer Account",
        "description" : "Modify existing account information like, customer and ownership information, settlement accounts, charges etc,.",
        "operationId" : "updateUsConsumerAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsConsumerAccount1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateUsConsumerAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsConsumerAccountResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/us/accounts/businessChecking" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "New business checking account opening API",
        "description" : "New business checking account opening API",
        "operationId" : "createUsBusinessCheckingAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsBusinessCheckingAccount"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createUsBusinessCheckingAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsBusinessCheckingAccountResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/{accountId}/businessChecking" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Renegotiate Business Checking account conditions",
        "description" : "Renegotiate existing Business Checking account conditions",
        "operationId" : "updateUsBusinessCheckingAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsBusinessCheckingAccount1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateUsBusinessCheckingAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsBusinessCheckingAccountResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/us/accounts/businessSavings" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "New business savings account opening API",
        "description" : "New business savings account opening API",
        "operationId" : "createUsBusinessSavingsAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsBusinessCheckingAccount"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createUsBusinessSavingsAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsBusinessCheckingAccountResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/{accountId}/businessSavings" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Renegotiate business savings account conditions",
        "description" : "Renegotiate existing  business savings account conditions",
        "operationId" : "updateUsBusinessSavingsAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsBusinessSavingsAccount"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateUsBusinessSavingsAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsBusinessSavingsAccountResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UsAccountSummaryResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsAccountSummaryResponseBody"
        }
      },
      "description" : "UsAccountSummaryResponse"
    },
    "UsAccountSummaryResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customers" : {
            "type" : "array",
            "description" : "Contains the customer identifier",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "array",
                  "description" : "Identifier of the customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "customerName" : {
                  "type" : "array",
                  "description" : "Name of the customer",
                  "items" : {
                    "type" : "string"
                  }
                },
                "customerRole" : {
                  "type" : "array",
                  "description" : "Indicates role of a customer for an arrangement.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "taxPercentage" : {
                  "type" : "array",
                  "description" : "Tax liability percentage for the associated Customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "liabilityPercentage" : {
                  "type" : "array",
                  "description" : "Liability percentage allocated to the associated Customer",
                  "items" : {
                    "type" : "number"
                  }
                }
              }
            }
          },
          "transactions" : {
            "type" : "array",
            "description" : "Contains the details of the transaction, for example transaction indicator, balance etc.",
            "items" : {
              "type" : "object",
              "properties" : {
                "lastPaymentDate" : {
                  "type" : "array",
                  "description" : "Date last payment was made",
                  "items" : {
                    "type" : "string"
                  }
                },
                "transactionDescription" : {
                  "type" : "array",
                  "description" : "Indicates the description based on the transaction type",
                  "items" : {
                    "type" : "string"
                  }
                },
                "transactionAmount" : {
                  "type" : "array",
                  "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
                  "items" : {
                    "type" : "number"
                  }
                },
                "runningBalance" : {
                  "type" : "array",
                  "description" : "It specifies the sum of the previous open balance and the current  transaction amount. This is based on either local or foreign currency.",
                  "items" : {
                    "type" : "number"
                  }
                }
              }
            }
          },
          "accountId" : {
            "type" : "number",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "productGroupName" : {
            "type" : "string",
            "description" : "Description of the product group"
          },
          "productLineId" : {
            "type" : "string",
            "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc"
          },
          "purposeCode" : {
            "type" : "string",
            "description" : "Specifies the purpose of account, deposit or loan"
          },
          "openingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the account is opened."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "accountOfficer" : {
            "type" : "number",
            "description" : "Identifier of Department Account Officer"
          },
          "accountTitle1" : {
            "type" : "string",
            "description" : "Title line 1 that will appear in notice and statements"
          },
          "accountTitle2" : {
            "type" : "string",
            "description" : "Title line 2 that will appear in notice and statements"
          },
          "accountTitle3" : {
            "type" : "string",
            "description" : "Title line 3 that will appear in notice and statements"
          },
          "accountTitle4" : {
            "type" : "string",
            "description" : "Title line 4 that will appear in notice and statements"
          },
          "accountTitlingOperand" : {
            "type" : "string",
            "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account."
          },
          "accountName" : {
            "type" : "string",
            "description" : "Display name or short name of the account specified."
          },
          "branch" : {
            "type" : "string",
            "description" : "Contains the branch name/code in which the business activity was performed. If pricing is not determined based on branch, then this is not significant"
          },
          "availableBalance" : {
            "type" : "number",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          },
          "currentBalance" : {
            "type" : "number",
            "description" : "An accounts availableBalance plus any authorized credit and debit movements for the day, plus forward movements, minus funds in hold."
          },
          "floatBalance" : {
            "type" : "number",
            "description" : "Account balance with future exposure date, ie, uncleared funds in the account"
          },
          "collectedBalance" : {
            "type" : "number",
            "description" : "Accounts available balance plus authorized credit and debit movements for the day,  excluding uncleared funds"
          },
          "lockedAmount" : {
            "type" : "number",
            "description" : "Shows reserved amount for the underlying account for a given balance reservation event."
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED."
          },
          "dateLastTransaction" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the last transaction that was performed on an account, deposit or loan"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "UsStatementAddressResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsStatementAddressResponseBody"
        }
      },
      "description" : "UsStatementAddressResponse"
    },
    "UsStatementAddressResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountTitle" : {
            "type" : "array",
            "description" : "Short title on an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountTitle1" : {
                  "type" : "array",
                  "description" : "Title line 1 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle2" : {
                  "type" : "array",
                  "description" : "Title line 2 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle3" : {
                  "type" : "array",
                  "description" : "Title line 3 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle4" : {
                  "type" : "array",
                  "description" : "Title line 4 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitlingOperand" : {
                  "type" : "array",
                  "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "customerAddress" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "array",
                  "description" : "Identifier of the customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "givenName" : {
                  "type" : "array",
                  "description" : "Customer's given name",
                  "items" : {
                    "type" : "string"
                  }
                },
                "street" : {
                  "type" : "array",
                  "description" : "Contains the first line of customer's base address, example building number, street number etc.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "city" : {
                  "type" : "array",
                  "description" : "City address stated on driver licence or utlility bill. For example London, New York etc.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "state" : {
                  "type" : "array",
                  "description" : "Represents a subdivision of a country such as state, region, country",
                  "items" : {
                    "type" : "string"
                  }
                },
                "countyId" : {
                  "type" : "array",
                  "description" : "County associated with the address. ",
                  "items" : {
                    "type" : "string"
                  }
                },
                "zipCode" : {
                  "type" : "array",
                  "description" : "Zip code",
                  "items" : {
                    "type" : "string"
                  }
                },
                "zipPlusFour" : {
                  "type" : "array",
                  "description" : "Zip plus 4",
                  "items" : {
                    "type" : "string"
                  }
                },
                "addressPurpose" : {
                  "type" : "array",
                  "description" : "Identifies the purpose or usage of the address. Allowed values are CTC (Communication to Customer), CTICOP(Communication to In Care Of Party) or CTOP(Communication to Other Party).",
                  "items" : {
                    "type" : "string"
                  }
                },
                "addressStatus" : {
                  "type" : "array",
                  "description" : "Indicates the status of customer mailing address like foreign address, mailing address, bad address, etc.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "customerContactIndicator" : {
                  "type" : "array",
                  "description" : "Flag to indicate if Customer made contact. If set to YES, contact date will be updated with system date",
                  "items" : {
                    "type" : "string"
                  }
                },
                "addressLocation" : {
                  "type" : "array",
                  "description" : "Identifies the nature of the postal address, like primary, secondary or office address",
                  "items" : {
                    "type" : "string"
                  }
                },
                "taxAddressType" : {
                  "type" : "array",
                  "description" : "Captures how the address can be used for tax purposes. Allowed values can be retrieved through getEbLookups for virtualTableName IRS.ADDRESS.TYPE",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountId" : {
            "type" : "number",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          }
        }
      }
    },
    "UsAccountListResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsAccountListResponseBody"
        }
      },
      "description" : "UsAccountListResponse"
    },
    "UsAccountListResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customers" : {
            "type" : "array",
            "description" : "Contains the customer identifier",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "array",
                  "description" : "Identifier of the customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "customerName" : {
                  "type" : "array",
                  "description" : "Name of the customer",
                  "items" : {
                    "type" : "string"
                  }
                },
                "customerRole" : {
                  "type" : "array",
                  "description" : "Indicates role of a customer for an arrangement.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "taxPercentage" : {
                  "type" : "array",
                  "description" : "Tax liability percentage for the associated Customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "liabilityPercentage" : {
                  "type" : "array",
                  "description" : "Liability percentage allocated to the associated Customer",
                  "items" : {
                    "type" : "number"
                  }
                }
              }
            }
          },
          "accountTitle" : {
            "type" : "array",
            "description" : "Short title on an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountTitle1" : {
                  "type" : "array",
                  "description" : "Title line 1 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle2" : {
                  "type" : "array",
                  "description" : "Title line 2 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle3" : {
                  "type" : "array",
                  "description" : "Title line 3 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle4" : {
                  "type" : "array",
                  "description" : "Title line 4 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitlingOperand" : {
                  "type" : "array",
                  "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountId" : {
            "type" : "number",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "alternateAccountType" : {
            "type" : "string",
            "description" : "Specifies the Account type of the alternate account given."
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "productGroupName" : {
            "type" : "string",
            "description" : "Description of the product group"
          },
          "productLineId" : {
            "type" : "string",
            "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc"
          },
          "purposeCode" : {
            "type" : "string",
            "description" : "Specifies the purpose of account, deposit or loan"
          },
          "openingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the account is opened."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "accountOfficer" : {
            "type" : "number",
            "description" : "Identifier of Department Account Officer"
          },
          "accountName" : {
            "type" : "string",
            "description" : "Display name or short name of the account specified."
          },
          "branch" : {
            "type" : "string",
            "description" : "Contains the branch name/code in which the business activity was performed. If pricing is not determined based on branch, then this is not significant"
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED."
          }
        }
      }
    },
    "UsAccountOverviewResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsAccountOverviewResponseBody"
        }
      },
      "description" : "UsAccountOverviewResponse"
    },
    "UsAccountOverviewResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customers" : {
            "type" : "array",
            "description" : "Contains the customer identifier",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "number",
                  "description" : "Identifier of the customer"
                },
                "customerName" : {
                  "type" : "string",
                  "description" : "Name of the customer"
                },
                "customerRole" : {
                  "type" : "string",
                  "description" : "Indicates role of a customer for an arrangement."
                },
                "ctrExempt" : {
                  "type" : "string",
                  "description" : "Indicates if customer is exempt from CTR(Currency transaction reporting) or not. If set to YES, CTR report will not be generated for the customer when the cumulative transactions for the day was more than 10,000 dollars."
                }
              }
            }
          },
          "cashTransactions" : {
            "type" : "array",
            "description" : "Indicates the deposits or payments done through cash",
            "items" : {
              "type" : "object",
              "properties" : {
                "transactionDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Contains the date on which the deal was booked."
                },
                "transactionAmount" : {
                  "type" : "number",
                  "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency"
                }
              }
            }
          },
          "accountId" : {
            "type" : "number",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "alternateAccountId" : {
            "type" : "string",
            "description" : "Alternate identification for an account"
          },
          "alternateAccountType" : {
            "type" : "string",
            "description" : "Specifies the Account type of the alternate account given."
          },
          "accountStatus" : {
            "type" : "string",
            "description" : "Specifies the current status of the account, which is either active, inactive or closed."
          },
          "branchId" : {
            "type" : "string",
            "description" : "Unique and unambiguous identification of a branch of a financial institution."
          },
          "accountCompany" : {
            "type" : "string",
            "description" : "Company of the account to be created"
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "productCategoryId" : {
            "type" : "string",
            "description" : "The identifier of the product category"
          },
          "accountCurrency" : {
            "type" : "string",
            "description" : "Currency of the account. For example: USD, GBP."
          },
          "postingRestrictId" : {
            "type" : "string",
            "description" : "Identifies any restrictions for posting entries that are imposed on a Customer"
          },
          "accountTitle1" : {
            "type" : "string",
            "description" : "Title line 1 that will appear in notice and statements"
          },
          "accountTitle2" : {
            "type" : "string",
            "description" : "Title line 2 that will appear in notice and statements"
          },
          "accountTitle3" : {
            "type" : "string",
            "description" : "Title line 3 that will appear in notice and statements"
          },
          "accountTitle4" : {
            "type" : "string",
            "description" : "Title line 4 that will appear in notice and statements"
          },
          "accountTitlingOperand" : {
            "type" : "string",
            "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account."
          },
          "availableBalance" : {
            "type" : "number",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          },
          "currentBalance" : {
            "type" : "number",
            "description" : "An accounts availableBalance plus any authorized credit and debit movements for the day, plus forward movements, minus funds in hold."
          },
          "averageBalance" : {
            "type" : "number",
            "description" : "Current Month average balance"
          },
          "payableBalance" : {
            "type" : "number",
            "description" : "Payable balance is available balance of an account excluding Locked amount and including floatBalance."
          },
          "floatBalance" : {
            "type" : "number",
            "description" : "Account balance with future exposure date, ie, uncleared funds in the account"
          },
          "sweepBalance" : {
            "type" : "number",
            "description" : "Balances available for the account through cash pooling from other accounts or deposits"
          },
          "collectedBalance" : {
            "type" : "number",
            "description" : "Accounts available balance plus authorized credit and debit movements for the day,  excluding uncleared funds"
          },
          "availableLimit" : {
            "type" : "number",
            "description" : "The portion of an allocated credit limit that is available for the nominated customer"
          },
          "lockedAmount" : {
            "type" : "number",
            "description" : "Shows reserved amount for the underlying account for a given balance reservation event."
          },
          "regccHolds" : {
            "type" : "number",
            "description" : "Locked amount due to holds created for check clearing."
          },
          "regEOptIn" : {
            "type" : "string",
            "description" : "Indicates if the non-branch transaction is allowed to use limit balances in case there is insufficient funds in the account"
          },
          "regEActivity" : {
            "type" : "string",
            "description" : "An action on account that is considered as non-branch transaction and which requires overdraft processing"
          },
          "regDCount" : {
            "type" : "string",
            "description" : "Number of withdrawals done on a savings account for Regulation D purposes"
          },
          "regDStatus" : {
            "type" : "string",
            "description" : "Regulation D compliance status for the account based on the withdrawal count within the period defined for the account"
          },
          "regDStartDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Regulation D period start Date for the account."
          },
          "regDEndDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Regulation D period end Date for the account."
          },
          "overdraftProcessing" : {
            "type" : "string",
            "description" : "Indicates if NSF processing  is allowed for the account. NSF processing allows usage of different balance for different types of transactions and to allow default decision on approval or rejection when an overdraft occurs. Ex, an account with NSF processing can setup usage of available balance for ATM withdrawals while a merchant transaction can utilize sweep balances or limit balances"
          },
          "repeatODFlag" : {
            "type" : "string",
            "description" : "Indicates if an account has been repeatedly remained in overdrawn status."
          },
          "daysOverdrawn" : {
            "type" : "number",
            "description" : "Number of days the account has remained in overdrawn status."
          },
          "dailyNSFCount" : {
            "type" : "number",
            "description" : "NSF(Non sufficient Funds) transactions count for the day"
          },
          "accountType" : {
            "type" : "string",
            "description" : "Groups the products based on their type, eg, Checking, Savings, CD etc,."
          },
          "fdicOwnershipCode" : {
            "type" : "string",
            "description" : "Ownership codes defines an account or deposits specific to type of ownership for an account such as single, joint, partnership, trust and government."
          },
          "purposeCode" : {
            "type" : "string",
            "description" : "Specifies the purpose of account, deposit or loan"
          },
          "stopIndicator" : {
            "type" : "string",
            "description" : "Flag to indicate if there are Transaction stop requests set for the account"
          },
          "accountAnalysisIndicator" : {
            "type" : "string",
            "description" : "Indicates if the account is flagged for Account Analysis"
          },
          "rmdAmount" : {
            "type" : "number",
            "description" : "Indicates the RMD amount for an IRA account"
          },
          "isInheritedIRA" : {
            "type" : "string",
            "description" : "Captures is an IRA account was inherited. Accepted values are No, Yes or Blank. Yes indicates that the IRA was inherited by the current beneficiary"
          },
          "dormancyStatus" : {
            "type" : "string",
            "description" : "Indicates the Dormancy status"
          },
          "perdiem" : {
            "type" : "number",
            "description" : "Per day interest for the account based on the account balance and interest rate"
          },
          "interestPaid" : {
            "type" : "number",
            "description" : "Interest earned on the account since account opening"
          },
          "accruedInterest" : {
            "type" : "number",
            "description" : "The amount of interest that has been accrued"
          },
          "interestPaidYtd" : {
            "type" : "number",
            "description" : "Interest paid from the start of current year till current date"
          },
          "interestTaxWithheld" : {
            "type" : "number",
            "description" : "Tax amount withheld on the interest paid in the account for the current year"
          },
          "interestTaxWithheldLastYear" : {
            "type" : "number",
            "description" : "Tax amount withheld on the interest paid in the account for the previous year"
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "UsConsumerAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsConsumerAccountBody"
        }
      },
      "description" : "UsConsumerAccount"
    },
    "UsConsumerAccountBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              },
              "customerRole" : {
                "type" : "string",
                "description" : "Indicates role of a customer for an arrangement.",
                "minLength" : 0,
                "maxLength" : 12
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the valid field name for the metrics evaluation of alerts",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "description" : "Name of the role or sub contract that is displayed, for eg: Payments Inputter, Administrator, Clerk and etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format"
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "minimum" : 0,
          "maximum" : 17
        },
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "minLength" : 0,
          "maxLength" : 9
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity",
          "minLength" : 0,
          "maxLength" : 6
        },
        "balance" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "restriction" : {
                "type" : "array",
                "description" : "The user can flag this field to indicate that the activity is to be restricted and can further specify whether the transaction is completely blocked or allowed with a warning. If yes then restriction type has to be specified as error or warning",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "postingRestrictId" : {
                      "type" : "number",
                      "description" : "Identifies any restrictions for posting entries that are imposed on a Customer",
                      "minimum" : 0,
                      "maximum" : 22
                    },
                    "restrictionStartdate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "Start date for applying the restriction on an account"
                    },
                    "restrictionReason" : {
                      "type" : "string",
                      "description" : "Sets restrictions on the actions that can be performed on an account. Allowed values can be retrieved through method getEbLookup, virtualTableName BLOCK.REASON.CODES. ",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "restrictionExpirydate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "Specifies the expirydate of the posting restriction on the account"
                    },
                    "unrestrictionReason" : {
                      "type" : "string",
                      "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "textBlocking" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "restrictionText" : {
                            "type" : "string",
                            "description" : "Free text information to capture the reason for restriction applied on an account",
                            "minLength" : 0,
                            "maxLength" : 22
                          }
                        }
                      }
                    },
                    "textUnblocking" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "unrestrictionText" : {
                            "type" : "string",
                            "description" : "Reason for unblocking the restriction set on an account",
                            "minLength" : 0,
                            "maxLength" : 22
                          }
                        }
                      }
                    }
                  }
                }
              },
              "alternateIds" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "alternateIdType" : {
                      "type" : "string",
                      "description" : "Contains the alternate account system identifier used for defining the alternate account Id",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "alternateId" : {
                      "type" : "string",
                      "description" : "An Alternate Identification for the Deal. This can be used to retrieve the Deal for amendment.",
                      "minLength" : 0,
                      "maxLength" : 22
                    }
                  }
                }
              },
              "holidayCalendar" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "businessDayCentres" : {
                      "type" : "string",
                      "description" : "The country or region code to be considered for determining the holidays and used while calculating the schedule dates.",
                      "minLength" : 0,
                      "maxLength" : 22
                    }
                  }
                }
              },
              "accountTitle" : {
                "type" : "string",
                "description" : "Short title on an account",
                "minLength" : 0,
                "maxLength" : 22
              },
              "shortTitle" : {
                "type" : "string",
                "description" : "Short title given to the name of the arrangement",
                "minLength" : 0,
                "maxLength" : 22
              },
              "currency" : {
                "type" : "string",
                "description" : "Identifies the currency. E.g. USD, GBP etc",
                "minLength" : 0,
                "maxLength" : 22
              },
              "productCategoryId" : {
                "type" : "number",
                "description" : "The identifier of the product category",
                "minimum" : 0,
                "maximum" : 22
              },
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                "minLength" : 0,
                "maxLength" : 22
              },
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account",
                "minLength" : 0,
                "maxLength" : 22
              },
              "baseDateType" : {
                "type" : "string",
                "description" : "Defines if anniversaryDate or start date is based on account creation or once disbursement is done. Allowed values are ARRANGEMENT and DISBURSEMENT. ARRANGEMENT indicates that account start period is considered as arrangement creation time. If set as DISBURSEMENT the account start period is based on disbursement activity date",
                "minLength" : 0,
                "maxLength" : 22,
                "enum" : [ "AGREEMENT", "START" ]
              },
              "anniversary" : {
                "type" : "string",
                "description" : "The start or end period defined in MMDD format to indicate the period when charge rules has to be applied",
                "minLength" : 0,
                "maxLength" : 22
              },
              "originationReference" : {
                "type" : "string",
                "description" : "Identifier of the account in source system, eg, a origination system.",
                "minLength" : 0,
                "maxLength" : 22
              },
              "dateConvention" : {
                "type" : "string",
                "description" : "Indicates how the schedule date has to be adjusted when the schedule falls on a holiday. Allowed values are BACKWARD, FORWARD, FORWARD SAME MONTH or CALENDAR.",
                "minLength" : 0,
                "maxLength" : 22,
                "enum" : [ "CALENDAR", "BACKWARD", "FORWARD", "FORWARD SAME MONTH" ]
              },
              "dateAdjustment" : {
                "type" : "string",
                "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
                "minLength" : 0,
                "maxLength" : 22
              },
              "ffiecCode" : {
                "type" : "string",
                "description" : "Call report code for the account, deposit or loans per FFIEC. The values can be from FFIEC (RAID, RCON) or the values defined by Financial institution",
                "minLength" : 0,
                "maxLength" : 9
              },
              "holdTypeId" : {
                "type" : "string",
                "description" : "Purpose or the type of hold placed on the account  The available list of hold types can be retrieved through getHoldTypes",
                "minLength" : 0,
                "maxLength" : 10
              },
              "repeatOd" : {
                "type" : "string",
                "description" : "It denotes if an account has been overdrawn repeatedly based on the repeated overdraft conditions set for the account.",
                "minLength" : 0,
                "maxLength" : 8,
                "enum" : [ "YES", "NO", "EXCLUDE" ]
              },
              "fdicDepositClassCode" : {
                "type" : "string",
                "description" : "Classification codes define an account or deposits specific sub-classification within the fdic deposit classification type as to the nature of the account such as Payable on death, living trust, business escrow, business trust, city, state and federal.",
                "minLength" : 0,
                "maxLength" : 20,
                "enum" : [ "@ref:reference-fdicDepositClassCode-service-v1.0.0" ]
              },
              "fdicDepositClassType" : {
                "type" : "string",
                "description" : "Classification type categorizes the fdicclasscode based upton the general purpose of the deposit such as Retail, Commerical, state and federal government etc,.",
                "minLength" : 0,
                "maxLength" : 20
              },
              "fdicOwnershipCode" : {
                "type" : "string",
                "description" : "Ownership codes defines an account or deposits specific to type of ownership for an account such as single, joint, partnership, trust and government.",
                "minLength" : 0,
                "maxLength" : 17
              },
              "reserveSweepReference" : {
                "type" : "string",
                "description" : "Savings account participating in Retail sweep program, Financial institution monitors credit and debit movements and it can adjust the reserve requirements. Dependening on the agreement on the balance that will be maintained in the savings deposit, the Financial institution can link different sweep definitions to reduce account reserve. The type of reserve sweep definition linked to an account is indicated here.",
                "minLength" : 0,
                "maxLength" : 21
              },
              "purposeCode" : {
                "type" : "string",
                "description" : "Specifies the purpose of account, deposit or loan",
                "minLength" : 0,
                "maxLength" : 12
              },
              "accountType" : {
                "type" : "string",
                "description" : "Groups the products based on their type, eg, Checking, Savings, CD etc,.",
                "minLength" : 0,
                "maxLength" : 11,
                "enum" : [ "CHECKING", " SAVINGS", "IRA", "CD" ]
              }
            }
          }
        },
        "messaging" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "advices" : {
                "type" : "array",
                "description" : "Determines the output formart of delivery messages and deal slips. The user can also provide their own mapping records to include customized business requirements",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "advice" : {
                      "type" : "string",
                      "description" : "Determines the output formart of delivery messages and deal slips. The user can also provide their own mapping records to include customized business requirements",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "activityClassId" : {
                      "type" : "string",
                      "description" : "Id of an activity class, e.g. ACCOUNTS-ACCRUE-CHARGE or LENDING-CAPITALISE-INTEREST.",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "activityId" : {
                      "type" : "string",
                      "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                      "minLength" : 0,
                      "maxLength" : 10
                    },
                    "messageContent" : {
                      "type" : "string",
                      "description" : "It indicates whether only the current information or previous and current information needs to be passed to form the message.",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "sendAdvice" : {
                      "type" : "string",
                      "description" : "This field allows the user to determine whether the given advice or message needs to be sent for the given activity.",
                      "minLength" : 0,
                      "maxLength" : 10
                    }
                  }
                }
              }
            }
          }
        },
        "activityCharges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "activities" : {
                "type" : "array",
                "description" : "Defines the charges collected for a transaction",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "charges" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "appplicationPeriod" : {
                            "type" : "string",
                            "description" : "Denotes the application period for the given rule break charges which will be applied at the end of the period.If the value defined is zero, then the charges are applied immediately",
                            "minLength" : 0,
                            "maxLength" : 18
                          },
                          "applicationMethod" : {
                            "type" : "string",
                            "description" : "Denotes the method that needs to be applied to the rule break charges. Allowed values are Due, Defer, Capitalise. If it is set to Due then the Rule break charges are made due. If it is set to Capitalise then the Rule break charges are capitalised. If it is set to Defer then the Rule break charges are calculated but not applied immediately, charge are deferred and are collected over a period of time",
                            "minLength" : 0,
                            "maxLength" : 17,
                            "enum" : [ "DUE", "CAPITALISE", "DEFER" ]
                          },
                          "chargeAutoSettle" : {
                            "type" : "string",
                            "description" : "This field aids turning off the automatic settlement for the corresponding charge. If set to yes settlement processing for the associated chage will be done based on the settlement configuration for the charge",
                            "minLength" : 0,
                            "maxLength" : 16
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "alerts" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "events" : {
                "type" : "array",
                "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "event" : {
                      "type" : "string",
                      "description" : "Valid items for product alerts",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "rules" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "field" : {
                            "type" : "string",
                            "description" : "Input is the valid field name for the metrics evaluation of alerts",
                            "minLength" : 0,
                            "maxLength" : 5
                          },
                          "operand" : {
                            "type" : "string",
                            "description" : "This field along with fieldName and value, defines the conditions for the alert to be triggered.",
                            "minLength" : 0,
                            "maxLength" : 7
                          },
                          "data" : {
                            "type" : "string",
                            "description" : "Contains any input parameters/data required for the job",
                            "minLength" : 0,
                            "maxLength" : 4
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "dormancyfees" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "calculationType" : {
                      "type" : "string",
                      "description" : "Indicates calculation type for the given source balance",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "charge" : {
                      "type" : "string",
                      "description" : "Indicates the charge property.",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount" : {
                      "type" : "string",
                      "description" : "Based on the calculation type (flat or unit) the charge amount specified here will be set",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "tier" : {
                      "type" : "string",
                      "description" : "If the charge calculated for this tier is less than the amount defined in this field then minimum amount will be the charge amount for this tier.",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge" : {
                      "type" : "string",
                      "description" : "Indicates the maximum monetary amount that can be specified for the tier. Applies for Charge with Level/Band Types",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "The monetary amount for the tier",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierCount" : {
                      "type" : "string",
                      "description" : "When charges are to be calculated based on activity count, this attribute acts as threshold for the number of times an activity is performed",
                      "minLength" : 0,
                      "maxLength" : 9
                    }
                  }
                }
              },
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 8
              },
              "fixedAmount" : {
                "type" : "string",
                "description" : "Indicates the monetary amount that is fixed during the associated account's effective period",
                "minLength" : 0,
                "maxLength" : 11
              },
              "chargeRoutine" : {
                "type" : "string",
                "description" : "This field enables the user to define a routine to apply complex conditions to calculate the charge amount as required by the user",
                "minLength" : 0,
                "maxLength" : 13
              },
              "tierGroups" : {
                "type" : "string",
                "description" : "This field defines the method of calculation of charge amount for the currency.This field will accept two values BANDS or LEVELS. If BANDS then separate calculations are to be made for each band till the base amount is reached.If LEVELS then only one is calculated and this is dependent on the level of the base Amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "relationshipProduct" : {
                "type" : "string",
                "description" : "Indicates the relationship pricing plan(if any) that has influenced the rate on this arrangement.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "relationshipPercentage" : {
                "type" : "string",
                "description" : "Rate of margin(discount or uplift) due to the relationship of the customer with the bank",
                "minLength" : 0,
                "maxLength" : 22
              },
              "relationshipAmount" : {
                "type" : "string",
                "description" : "Flat amount as evaluated by the relationship of the customer with the bank. Would be evaluated based on the RELATIONSHIP arrangements held by the customer and also the definitions in PREFERENTIAL.PRICING as well as the rules in PRICING.RULES of this arrangement product.",
                "minLength" : 0,
                "maxLength" : 18
              },
              "relationshipVariation" : {
                "type" : "string",
                "description" : "It denotes the special considerations for the arrangement based on the customer relationship with the bank",
                "minLength" : 0,
                "maxLength" : 21
              },
              "penaltyDays" : {
                "type" : "string",
                "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
                "minLength" : 0,
                "maxLength" : 11
              },
              "rentReturn" : {
                "type" : "string",
                "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "servicechg" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "tiers" : {
                "type" : "array",
                "description" : "Different interest rates can be applied for tiers determined by monetary amounts. Standard selection to choose from - Single, Level, Banded",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "tierType" : {
                      "type" : "string",
                      "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
[...]
