{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create US Deposit accounts, update deposit information like statement frequency, renewal, change schedule etc,  and view deposit summary",
    "version" : "v1.0.0",
    "title" : "US Model Bank - Management of Deposits"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/us/deposits/termDeposits" : {
      "post" : {
        "summary" : "Create a new term deposit account",
        "description" : "Create a new term deposit account",
        "operationId" : "createUsDepositsAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsDepositsAccount"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createUsDepositsAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsDepositsAccountResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/deposits/{accountId}/termDeposit" : {
      "put" : {
        "summary" : "Update term deposits account information, customer and ownership information, term, payment schedule, renewal and maturity information, settlement accounts, charges etc,.",
        "description" : "Update term deposit",
        "operationId" : "updateUsDepositsAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsDepositsAccount1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateUsDepositsAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsDepositsAccountResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/us/deposit/{accountId}/depositOverview" : {
      "get" : {
        "summary" : "API to view deposit details, balances, interest earned, APY, etc,.",
        "description" : "Deposit Overview",
        "operationId" : "getUsDepositOverview",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsDepositOverviewResponse",
            "schema" : {
              "$ref" : "#/definitions/UsDepositOverviewResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "UsDepositsAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsDepositsAccountBody"
        }
      },
      "description" : "UsDepositsAccount"
    },
    "UsDepositsAccountBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              },
              "customerRole" : {
                "type" : "string",
                "description" : "Indicates role of a customer for an arrangement.",
                "minLength" : 0,
                "maxLength" : 12
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the valid field name for the metrics evaluation of alerts",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected"
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "minimum" : 0,
          "maximum" : 17
        },
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "minLength" : 0,
          "maxLength" : 9
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity",
          "minLength" : 0,
          "maxLength" : 6
        },
        "account" : {
          "type" : "object",
          "properties" : {
            "restriction" : {
              "type" : "array",
              "description" : "",
              "items" : {
                "type" : "object",
                "properties" : {
                  "postingRestrictId" : {
                    "type" : "number",
                    "description" : "Identifies any restrictions for posting entries that are imposed on a Customer",
                    "minimum" : 0,
                    "maximum" : 22
                  },
                  "restrictionStartdate" : {
                    "type" : "string",
                    "format" : "date",
                    "description" : "Start date for applying the restriction on an account"
                  },
                  "restrictionReason" : {
                    "type" : "string",
                    "description" : "Sets restrictions on the actions that can be performed on an account. Allowed values can be retrieved through method getEbLookup, virtualTableName BLOCK.REASON.CODES. ",
                    "minLength" : 0,
                    "maxLength" : 22
                  },
                  "restrictionExpirydate" : {
                    "type" : "string",
                    "format" : "date",
                    "description" : "Specifies the expirydate of the posting restriction on the account"
                  },
                  "unrestrictionReason" : {
                    "type" : "string",
                    "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
                    "minLength" : 0,
                    "maxLength" : 22
                  },
                  "textBlocking" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "restrictionText" : {
                          "type" : "string",
                          "description" : "Free text information to capture the reason for restriction applied on an account",
                          "minLength" : 0,
                          "maxLength" : 22
                        }
                      }
                    }
                  },
                  "textUnblocking" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "unrestrictionText" : {
                          "type" : "string",
                          "description" : "Reason for unblocking the restriction set on an account",
                          "minLength" : 0,
                          "maxLength" : 22
                        }
                      }
                    }
                  }
                }
              }
            },
            "alternateIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "alternateIdType" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 22
                  },
                  "alternateId" : {
                    "type" : "string",
                    "description" : "An Alternate Identification for the Deal. This can be used to retrieve the Deal for amendment.",
                    "minLength" : 0,
                    "maxLength" : 22
                  }
                }
              }
            },
            "holidayCalendar" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "businessDayCentres" : {
                    "type" : "string",
                    "description" : "The country or region code to be considered for determining the holidays and used while calculating the schedule dates.",
                    "minLength" : 0,
                    "maxLength" : 22
                  }
                }
              }
            },
            "accountTitle" : {
              "type" : "string",
              "description" : "Short title on an account",
              "minLength" : 0,
              "maxLength" : 22
            },
            "shortTitle" : {
              "type" : "string",
              "description" : "Short title given to the name of the arrangement",
              "minLength" : 0,
              "maxLength" : 22
            },
            "currency" : {
              "type" : "string",
              "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates",
              "minLength" : 0,
              "maxLength" : 22
            },
            "productCategoryId" : {
              "type" : "number",
              "description" : "The identifier of the product category",
              "minimum" : 0,
              "maximum" : 22
            },
            "accountId" : {
              "type" : "string",
              "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
              "minLength" : 0,
              "maxLength" : 22
            },
            "portfolioId" : {
              "type" : "string",
              "description" : "Id of the portfolio or security account",
              "minLength" : 0,
              "maxLength" : 22
            },
            "baseDateType" : {
              "type" : "string",
              "description" : "Defines if anniversaryDate or start date is based on account creation or once disbursement is done. Allowed values are ARRANGEMENT and DISBURSEMENT. ARRANGEMENT indicates that account start period is considered as arrangement creation time. If set as DISBURSEMENT the account start period is based on disbursement activity date",
              "minLength" : 0,
              "maxLength" : 22,
              "enum" : [ "AGREEMENT", "START" ]
            },
            "anniversary" : {
              "type" : "string",
              "description" : "The start or end period defined in MMDD format to indicate the period when charge rules has to be applied",
              "minLength" : 0,
              "maxLength" : 22
            },
            "originationReference" : {
              "type" : "string",
              "description" : "Identifier of the account in source system, eg, a origination system.",
              "minLength" : 0,
              "maxLength" : 22
            },
            "dateConvention" : {
              "type" : "string",
              "description" : "Indicates how the schedule date has to be adjusted when the schedule falls on a holiday. Allowed values are BACKWARD, FORWARD, FORWARD SAME MONTH or CALENDAR.",
              "minLength" : 0,
              "maxLength" : 22,
              "enum" : [ "CALENDAR", "BACKWARD", "FORWARD", "FORWARD SAME MONTH" ]
            },
            "dateAdjustment" : {
              "type" : "string",
              "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
              "minLength" : 0,
              "maxLength" : 22
            },
            "ffiecCode" : {
              "type" : "string",
              "description" : "Call report code for the account, deposit or loans per FFIEC. The values can be from FFIEC (RAID, RCON) or the values defined by Financial institution",
              "minLength" : 0,
              "maxLength" : 9
            },
            "holdType" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 9
            },
            "repeatOd" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 8,
              "enum" : [ "YES", "NO", "EXCLUDE" ]
            },
            "fdicDepositClassCode" : {
              "type" : "string",
              "description" : "Classification codes define an account or deposits specific sub-classification within the fdic deposit classification type as to the nature of the account such as Payable on death, living trust, business escrow, business trust, city, state and federal.",
              "minLength" : 0,
              "maxLength" : 20,
              "enum" : [ "@ref:reference-fdicDepositClassCode-service-v1.0.0" ]
            },
            "fdicDepositClassType" : {
              "type" : "string",
              "description" : "Classification type categorizes the fdicclasscode based upton the general purpose of the deposit such as Retail, Commerical, state and federal government etc,.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "fdicOwnershipCode" : {
              "type" : "string",
              "description" : "Ownership codes defines an account or deposits specific to type of ownership for an account such as single, joint, partnership, trust and government.",
              "minLength" : 0,
              "maxLength" : 17
            },
            "reserveSweepReference" : {
              "type" : "string",
              "description" : "Savings account participating in Retail sweep program, Financial institution monitors credit and debit movements and it can adjust the reserve requirements. Dependening on the agreement on the balance that will be maintained in the savings deposit, the Financial institution can link different sweep definitions to reduce account reserve. The type of reserve sweep definition linked to an account is indicated here.",
              "minLength" : 0,
              "maxLength" : 21
            },
            "purposeCode" : {
              "type" : "string",
              "description" : "Specifies the purpose of account, deposit or loan",
              "minLength" : 0,
              "maxLength" : 12
            },
            "accountType" : {
              "type" : "string",
              "description" : "Groups the products based on their type, eg, Checking, Savings, CD etc,.",
              "minLength" : 0,
              "maxLength" : 11,
              "enum" : [ "CHECKING", " SAVINGS", "IRA", "CD" ]
            }
          }
        },
        "balanceMaintenance" : {
          "type" : "object",
          "properties" : {
            "adjustmentDisplayname" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 21
            },
            "netAdjustmentAmount" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 19
            },
            "adjustmentDifferenceAccount" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 27
            }
          }
        },
        "customer" : {
          "type" : "object",
          "properties" : {
            "customers" : {
              "type" : "array",
              "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "number",
                    "description" : "Identifier of the customer",
                    "minimum" : 0,
                    "maximum" : 30
                  },
                  "customerRole" : {
                    "type" : "string",
                    "description" : "Indicates role of a customer for an arrangement.",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "taxPercentage" : {
                    "type" : "number",
                    "description" : "Tax liability percentage for the associated Customer",
                    "minimum" : 0,
                    "maximum" : 30
                  },
                  "limitAllocactionPercentage" : {
                    "type" : "number",
                    "description" : "Indicates percentage of limit allocated to the customer out of overall limit",
                    "minimum" : 0,
                    "maximum" : 30
                  },
                  "liabilityPercentage" : {
                    "type" : "number",
                    "description" : "Liability percentage allocated to the associated Customer",
                    "minimum" : 0,
                    "maximum" : 30
                  },
                  "deliveryReqd" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 30
                  }
                }
              }
            },
            "otherParties" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "otherParty" : {
                    "type" : "number",
                    "description" : "",
                    "minimum" : 0,
                    "maximum" : 30
                  },
                  "otherPartyRole" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "otherPartyNotes" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 30
                  }
                }
              }
            },
            "accountTitles" : {
              "type" : "array",
              "description" : "Short title on an account",
              "items" : {
                "type" : "object",
                "properties" : {
                  "accountTitling" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 14
                  }
                }
              }
            },
            "jointLiability" : {
              "type" : "string",
              "description" : "Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  ",
              "minLength" : 0,
              "maxLength" : 30,
              "enum" : [ "Y" ]
            },
            "inActiveMilitaryService" : {
              "type" : "string",
              "description" : "Indicates if customer or account holder is in active military service",
              "minLength" : 0,
              "maxLength" : 23
            },
            "accountTitlingOperand" : {
              "type" : "string",
              "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account.",
              "minLength" : 0,
              "maxLength" : 21
            }
          }
        },
        "schedule" : {
          "type" : "object",
          "properties" : {
            "payment" : {
              "type" : "array",
              "description" : "Groups the payment currency and country details",
              "items" : {
                "type" : "object",
                "properties" : {
                  "paymentType" : {
                    "type" : "string",
                    "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "paymentMethod" : {
                    "type" : "string",
                    "description" : "Method chosen to make the payment",
                    "minLength" : 0,
                    "maxLength" : 35,
                    "enum" : [ "DUE", "CAPITALISE", "PAY", "MAINTAIN" ]
                  },
                  "paymentFrequency" : {
                    "type" : "string",
                    "description" : "The frequency at which a payment is required to be generated",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "billType" : {
                    "type" : "string",
                    "description" : "The type of payment obligation generated",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "billLeadDays" : {
                    "type" : "string",
                    "description" : "If Bill is to be produced ahead of the due date, then the number of lead days is specified here. Accepted format is ND, where N is the number of days",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "property" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "propertyId" : {
                          "type" : "string",
                          "description" : "The identifier of the product condition",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "dueFrequency" : {
                          "type" : "string",
                          "description" : "Defines the frequency date when a payment  has to be made due. When not mentioned, this will be same as the paymentFrequency",
                          "minLength" : 0,
                          "maxLength" : 35
                        }
                      }
                    }
                  },
                  "payments" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "percentage" : {
                          "type" : "string",
                          "description" : "The percentage of holdings redeemed/subscribed",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "startDate" : {
                          "type" : "boolean",
                          "description" : "Contains the date on which the transaction or payment gets initiated."
                        },
                        "endDate" : {
                          "type" : "string",
                          "format" : "date",
                          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
                        },
                        "numberOfPayments" : {
                          "type" : "number",
                          "description" : "Indicates the total number of payments for the loan or deposit. Then based on the payment frequency, the payment end date will be calculated.",
                          "minimum" : 0,
                          "maximum" : 35
                        },
                        "calculatedPaymentAmount" : {
                          "type" : "number",
                          "description" : "System calculated Payment amount.",
                          "minimum" : 0,
                          "maximum" : 35
                        },
                        "adhocPaymentAmount" : {
                          "type" : "number",
                          "description" : "One time payment amount made as part of the repayment activity. For scheduled payments  it indicates the actual amount paid instead of the scheduledPaymentAmount.",
                          "minimum" : 0,
                          "maximum" : 35
                        }
                      }
                    }
                  }
                }
              }
            },
            "scheduleActivities" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "onThisActivity" : {
                    "type" : "string",
                    "description" : "Indicates the activities which will necessiate a recalculation of the schedules, ex, change of term, principal increase, etc,.",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "amortisationTerm" : {
              "type" : "string",
              "description" : "Indicates the amortisation term. When specified, the repayment amount is calculated based on the amortisation term insteam of the account term. When the amortisation term is less than account term, there will be a residual amount to be paid at the maturity.",
              "minLength" : 0,
              "maxLength" : 35
            },
            "residualAmount" : {
              "type" : "number",
              "description" : "The amount to be paid at the maturity date",
              "minimum" : 0,
              "maximum" : 35
            },
            "combineBills" : {
              "type" : "string",
              "description" : "Indicates if bills of same due date and same pament method(DUE or CAPITALISE) should be combined",
              "minLength" : 0,
              "maxLength" : 35,
              "enum" : [ "YES", "NO" ]
            },
            "applyPaymentActivity" : {
              "type" : "string",
              "description" : "Indicates the action that will be performed when there is unallocated amount or unidentified transaction type",
              "minLength" : 0,
              "maxLength" : 35
            },
            "includePrincipalPayment" : {
              "type" : "string",
              "description" : "Flag to indicate if the IRA account is an inherited account",
              "minLength" : 0,
              "maxLength" : 35,
              "enum" : [ "YES" ]
            }
          }
        },
        "commitment" : {
          "type" : "object",
          "properties" : {
            "tranches" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "trancheStartDate" : {
                    "type" : "string",
                    "format" : "date",
                    "description" : "Start date after which the tracheAmount can be withdrawn from the loan as per the withdrawal agreement."
                  },
                  "trancheEndDate" : {
                    "type" : "string",
                    "format" : "date",
                    "description" : "End date by when the tracheAmount can be withdrawn from the loan as per the withdrawal agreement made"
                  },
                  "trancheAmount" : {
                    "type" : "number",
                    "description" : "Amount agreed for withdrawal from the loan on within the trancheStateDates and trancheEndDates",
                    "minimum" : 0,
                    "maximum" : 30
                  }
                }
              }
            },
            "commitmenttype" : {
              "type" : "array",
              "description" : "Defines the type of commitment schedule being made. Options available are COMMITMENT.SCHEDULE or UNAVAILABILITY.SCHEDULE",
              "items" : {
                "type" : "object",
                "properties" : {
                  "commitmentType" : {
                    "type" : "string",
                    "description" : "Defines the type of commitment schedule being made. Options available are COMMITMENT.SCHEDULE or UNAVAILABILITY.SCHEDULE",
                    "minLength" : 0,
                    "maxLength" : 30,
                    "enum" : [ "COMMITMENT.SCHEDULE", "UNAVAILABILITY.SCHEDULE" ]
                  },
                  "commitment" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "commitmentStartDate" : {
                          "type" : "string",
                          "format" : "date",
                          "description" : "Defines the start date for the commitmentAmount for the Commitment type"
                        },
                        "commitmentEndDate" : {
                          "type" : "string",
                          "format" : "date",
                          "description" : "Defines the end date for the commitmentAmount for the Commitment type"
                        },
                        "commitmentAmount" : {
                          "type" : "number",
                          "description" : "Indicates the total amount which will be lent or deposited for the term",
                          "minimum" : 0,
                          "maximum" : 30
                        }
                      }
                    }
                  }
                }
              }
            },
            "amount" : {
              "type" : "number",
              "description" : "This is the payment amount",
              "minimum" : 0,
              "maximum" : 30
            },
            "changeAmount" : {
              "type" : "number",
              "description" : "Indicates the amount by which the original commitment amount increased or decreased.",
              "minimum" : 0,
              "maximum" : 30
            },
            "term" : {
              "type" : "string",
              "description" : "Indicates the term for which the contract is booked",
              "minLength" : 0,
              "maxLength" : 30
            },
            "revolving" : {
              "type" : "string",
              "description" : "Indicates if commitment is revolving or non revolving in nature",
              "minLength" : 0,
              "maxLength" : 30,
              "enum" : [ "NO", "PAYMENT", "PREPAYMENT" ]
            },
            "updateLimit" : {
              "type" : "string",
              "description" : "Flag to define if the limits are to be booked or not at the time of issuing the pre-advice LC. Allowed values: - YES - NO (same as null) - null (default).",
              "minLength" : 0,
              "maxLength" : 30,
              "enum" : [ "YES", "NO" ]
            },
            "maturityDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "Indicates maturity date of the contract"
            },
            "matDateType" : {
              "type" : "string",
              "description" : "Maturity date can be set to a fixed date or can set to align with the last payment date. When it has to be alinged with last payment date, indicate the option as PAYMENT.END.DATE",
              "minLength" : 0,
              "maxLength" : 30
            },
            "maturityDateConvention" : {
              "type" : "string",
              "description" : "Specifies the date convention for the maturity date calculation. When DATE.CONVENTION is specified, holiday calendar will be checked against date convention specified for the account. Otherwise the business calendar will be used for checking holidays.",
              "minLength" : 0,
              "maxLength" : 30,
              "enum" : [ "YES" ]
            },
            "termToleranceDays" : {
              "type" : "number",
              "description" : "Specifies the tolerance days beyond which TERM will be recalculated on change of maturity date. Ex, if TERM was 360D and Maturity date was on 31-Mar-2020, and tolerance days is 3D, of maturity date is changed to 2-Apr-2020, the TERM will be still remain as 360D. if there was no tolerance the TERM will be changed to 362D",
              "minimum" : 0,
              "maximum" : 30
            },
            "fullCommitmentActivity" : {
              "type" : "string",
              "description" : "When set to YES, full disbursement activity will be raised when a deposit or loan is fully funded or disbursed.",
              "minLength" : 0,
              "maxLength" : 30,
              "enum" : [ "YES", "NO" ]
            },
            "hasTranches" : {
              "type" : "string",
              "description" : "Indicates if the loan is disbursed through a withdrawal agreement where the agreed loan amount is available for withdrawal upon the agreed schedule or based on user request.",
              "minLength" : 0,
              "maxLength" : 30,
              "enum" : [ "YES", "NO" ]
            },
            "renewalCoolingPeriod" : {
              "type" : "string",
              "description" : "Number of days to be considered for closure after renewal or rollover start date",
              "minLength" : 0,
              "maxLength" : 20
            }
          }
        },
        "depositint" : {
          "type" : "object",
          "properties" : {
            "interest" : {
              "type" : "array",
              "description" : "Interest amount",
              "items" : {
                "type" : "object",
                "properties" : {
                  "fixedRate" : {
                    "type" : "number",
                    "description" : "Numeric value for the interest rate entered manually.",
                    "minimum" : 0,
                    "maximum" : 35
                  },
                  "floatingRate" : {
                    "type" : "string",
                    "description" : "The interest rate is chosen from a selection of values which represent different interest types and rates.",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "linkedRateIndicator" : {
                    "type" : "string",
                    "description" : "The interest rate for the tier can be linked to that of another account, YES/NO indicator",
                    "minLength" : 0,
                    "maxLength" : 35,
                    "enum" : [ "YES" ]
                  },
                  "minimumTierRate" : {
                    "type" : "string",
                    "description" : "A minimum interest rate can be applied at each tier.",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "maximumTierRate" : {
                    "type" : "string",
                    "description" : "The maximum rate that can be applied at each tier.",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "effectiveRate" : {
                    "type" : "string",
                    "description" : "Indicates the actual interest rate applied for the account after adjustment/tier calculation/based on basic or Periodic index value",
                    "minLength" : 0,
                    "maxLength" : 14
                  },
                  "tierAmount" : {
                    "type" : "number",
                    "description" : "The monetary amount for the tier.",
                    "minimum" : 0,
                    "maximum" : 35
                  },
                  "tierNegativeRate" : {
                    "type" : "string",
                    "description" : "A negative interest rate can be applied at each tier, select Yes, No, Block margin",
                    "minLength" : 0,
                    "maxLength" : 35,
                    "enum" : [ "YES", "NO", "BLOCK.MARGIN" ]
                  },
                  "tierPercent" : {
                    "type" : "string",
                    "description" : "Applicable tier percentage (between 0 and 100) for interest calculations based on amount bands",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "periodicIndex" : {
                    "type" : "string",
                    "description" : "Denotes an index which points to the right period of the securities or holdings.",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "periodicRate" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "periodicPeriodType" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 18,
                    "enum" : [ "MATURITY", "RENEWAL", "RESET.PERIOD", "PERIODIC.PERIOD" ]
                  },
                  "periodicPeriod" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "periodicMethod" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35,
                    "enum" : [ "INTERPOLATE", "PREVIOUS", "NEXT", "CLOSEST" ]
                  },
                  "initialResetDate" : {
                    "type" : "string",
                    "format" : "date",
                    "description" : ""
                  },
                  "periodicReset" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "customRate" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35,
                    "enum" : [ "YES" ]
                  },
                  "margins" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "marginType" : {
                          "type" : "string",
                          "description" : "Defines whether there are single or multiple margins to be considered while arriving at the applicable interest rate  Allowed values:  null (default): multiple margins may be defined SINGLE: only a single margin is allowed",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "marginOperation" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35,
                          "enum" : [ "ADD", "SUB", "MULTIPLY" ]
                        },
                        "marginRate" : {
                          "type" : "string",
                          "description" : "This is the rate applied over the default interest rate or commission rate to achieve the actual rate.",
                          "minLength" : 0,
                          "maxLength" : 35
                        }
                      }
                    }
                  }
                }
              }
            },
            "activites" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "onActivity" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "recalculate" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35,
                    "enum" : [ "NOTHING", "RATE", "PROFIT.AMOUNT.AND.RATE", "PROFIT.AMOUNT" ]
                  }
                }
              }
            },
            "references" : {
              "type" : "array",
              "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customType" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "customName" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "customValue" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "rateTierType" : {
              "type" : "string",
              "description" : "Different interest rates can be applied for tiers determined by monetary amounts.  Standard selection to choose from - Single, Level, Banded",
              "minLength" : 0,
              "maxLength" : 12,
              "enum" : [ "SINGLE", "BAND", "LEVEL" ]
            },
            "linkedArrangement" : {
              "type" : "string",
              "description" : "The account which is linked for calculating interest that should be applied to this account",
              "minLength" : 0,
              "maxLength" : 35
            },
            "dayBasis" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35
            },
            "interestCalcThreshold" : {
              "type" : "number",
              "description" : "",
              "minimum" : 0,
              "maximum" : 35
            },
            "accrualRule" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35
            },
            "compounding" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35
            },
            "compoundYieldMethod" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35,
              "enum" : [ "YIELD" ]
            },
            "minIntAmount" : {
              "type" : "number",
              "description" : "",
              "minimum" : 0,
              "maximum" : 35
            },
            "minIntWaive" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35,
              "enum" : [ "YES" ]
            },
            "referLimit" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35,
              "enum" : [ "YES", "NO" ]
            },
            "suppressAccrual" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35,
              "enum" : [ "YES", "ALTERNATE", "INFO.ONLY" ]
            },
            "accountingMode" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35,
              "enum" : [ "ADVANCE", "UPFRONT.PROFIT" ]
            },
            "periodicResetDateConvention" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35,
              "enum" : [ "ARRANGEMENT", "PERIODIC INTEREST" ]
            }
          }
        },
        "renewal" : {
          "type" : "object",
          "properties" : {
            "allowedProducts" : {
              "type" : "array",
              "description" : "Product or products allowed to be used within the product bundle.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "allowedProductId" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 20
                  }
                }
              }
            },
            "changeDateType" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 20,
              "enum" : [ "PERIOD", "DATE" ]
            },
            "changePeriod" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 20
            },
            "changeDate" : {
              "type" : "string",
              "format" : "date",
              "description" : ""
            },
            "changeActivity" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 20
            },
            "priorDays" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 20
            },
            "changeToProductId" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 20
            },
            "initiationType" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 20,
              "enum" : [ "AUTO", "MANUAL" ]
            },
            "defaultActivity" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 20
            }
          }
        },
        "messaging" : {
          "type" : "object",
          "properties" : {
            "advices" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "advice" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 6
                  },
                  "activityClassId" : {
                    "type" : "string",
                    "description" : "Id of an activity class, e.g. ACCOUNTS-ACCRUE-CHARGE or LENDING-CAPITALISE-INTEREST.",
                    "minLength" : 0,
                    "maxLength" : 15
                  },
                  "activityId" : {
                    "type" : "string",
                    "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                    "minLength" : 0,
                    "maxLength" : 10
                  },
                  "messageContent" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 14
                  },
                  "sendAdvice" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            }
          }
        },
        "arrangementRules" : {
          "type" : "object",
          "properties" : {
            "rules" : {
              "type" : "array",
              "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "ruleName" : {
                    "type" : "string",
                    "description" : "Name of the validation rule to be checked against an online or periodic activity.",
                    "minLength" : 0,
                    "maxLength" : 8
                  },
                  "periodicAttribute" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 17
                  },
                  "balanceType" : {
                    "type" : "string",
                    "description" : "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
                    "minLength" : 0,
                    "maxLength" : 11
                  },
                  "periodicValue" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 13
                  },
                  "activities" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "activityClassId" : {
                          "type" : "string",
                          "description" : "Id of an activity class, e.g. ACCOUNTS-ACCRUE-CHARGE or LENDING-CAPITALISE-INTEREST.",
                          "minLength" : 0,
                          "maxLength" : 15
                        },
                        "activityId" : {
                          "type" : "string",
                          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                          "minLength" : 0,
                          "maxLength" : 10
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "productRules" : {
          "type" : "object",
          "properties" : {
            "rules" : {
              "type" : "array",
              "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "ruleName" : {
                    "type" : "string",
                    "description" : "Name of the validation rule to be checked against an online or periodic activity.",
                    "minLength" : 0,
                    "maxLength" : 8
                  },
                  "periodicAttribute" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 17
                  },
                  "balanceType" : {
                    "type" : "string",
                    "description" : "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
                    "minLength" : 0,
                    "maxLength" : 11
                  },
                  "periodicValue" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 13
                  },
                  "activities" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "activityClassId" : {
                          "type" : "string",
                          "description" : "Id of an activity class, e.g. ACCOUNTS-ACCRUE-CHARGE or LENDING-CAPITALISE-INTEREST.",
                          "minLength" : 0,
                          "maxLength" : 15
                        },
                        "activityId" : {
                          "type" : "string",
                          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                          "minLength" : 0,
                          "maxLength" : 10
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "activityCharges" : {
          "type" : "object",
          "properties" : {
            "activities" : {
              "type" : "array",
              "description" : "Specifies the charges which has incurred with processing of the cheque",
              "items" : {
                "type" : "object",
                "properties" : {
                  "charges" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "appplicationPeriod" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 18
                        },
                        "applicationMethod" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 17,
                          "enum" : [ "DUE", "CAPITALISE", "DEFER" ]
                        },
                        "chargeAutoSettle" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 16
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "redemptionfee" : {
          "type" : "object",
          "properties" : {
            "tiers" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "tierType" : {
                    "type" : "string",
                    "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
                    "minLength" : 0,
                    "maxLength" : 8
                  },
                  "calculationType" : {
                    "type" : "string",
                    "description" : "Indicates calculation type for the given source balance",
                    "minLength" : 0,
                    "maxLength" : 15
                  },
                  "charge" : {
                    "type" : "string",
                    "description" : "Indicates the charge property.",
                    "minLength" : 0,
                    "maxLength" : 6
                  },
                  "chgAmount" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 9
                  },
                  "tier" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 4
                  },
                  "tierMaxCharge" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 13
                  },
                  "upTo" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 4
                  },
                  "tierCount" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 9
                  }
                }
              }
            },
            "chargeId" : {
              "type" : "string",
              "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
              "minLength" : 0,
              "maxLength" : 8
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 11
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 13
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 10
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 19
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 22
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 18
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 21
            },
            "penaltyDays" : {
              "type" : "string",
              "description" : "Specifies the number of days penalty will be applied for early redemption or violating the initial agreement",
              "minLength" : 0,
              "maxLength" : 11
            },
            "rentReturn" : {
              "type" : "string",
              "description" : "Indicates if unamortised rent amount has to be returned if a safe deposit box is closed before the tenure",
              "minLength" : 0,
              "maxLength" : 10
            }
          }
        },
        "officers" : {
          "type" : "object",
          "properties" : {
            "officers" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "otherOfficer" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "otherOfficerRole" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "otherOfficerNotes" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 30
                  }
                }
              }
            },
            "primaryOfficer" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 30
            }
          }
        },
        "closure" : {
          "type" : "object",
          "properties" : {
            "closureActivities" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "closureActivity" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 15
                  }
                }
              }
            },
            "closureType" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 11
            },
            "closurePeriod" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 13
            },
            "closureMethod" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 13
            },
            "postingRestriction" : {
              "type" : "string",
              "description" : "Identifies any restrictions for posting entries that are to be imposed on the Account",
              "minLength" : 0,
              "maxLength" : 18
            }
          }
        },
        "alerts" : {
          "type" : "object",
          "properties" : {
            "events" : {
              "type" : "array",
              "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "event" : {
                    "type" : "string",
                    "description" : "Valid items for product alerts",
                    "minLength" : 0,
                    "maxLength" : 5
                  },
                  "rules" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "field" : {
                          "type" : "string",
                          "description" : "Input is the valid field name for the metrics evaluation of alerts",
                          "minLength" : 0,
                          "maxLength" : 5
                        },
                        "operand" : {
                          "type" : "string",
                          "description" : "This field along with fieldName and value, defines the conditions for the alert to be triggered.",
                          "minLength" : 0,
                          "maxLength" : 7
                        },
                        "data" : {
                          "type" : "string",
                          "description" : "Contains any input parameters/data required for the job",
                          "minLength" : 0,
                          "maxLength" : 4
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tax" : {
          "type" : "object",
          "properties" : {
            "property" : {
              "type" : "array",
              "description" : "",
              "items" : {
                "type" : "object",
                "properties" : {
                  "taxProperty" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 14
                  },
                  "netTax" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "tax" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "taxCode" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 15
                        }
                      }
                    }
                  },
                  "taxCondition" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "taxCondition" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 20
                        }
                      }
                    }
                  }
                }
              }
            },
            "netTax" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35
            },
            "customerElectTaxRate" : {
              "type" : "string",
              "description" : "Tax rate to be applied in addition to any withholding tax specified.",
              "minLength" : 0,
              "maxLength" : 20
            }
          }
        },
        "periodiccharge" : {
          "type" : "object",
          "properties" : {
            "amount" : {
              "type" : "array",
              "description" : "This is the payment amount",
              "items" : {
                "type" : "object",
                "properties" : {
                  "minimumDebitCharge" : {
                    "type" : "number",
                    "description" : "",
                    "minimum" : 0,
                    "maximum" : 18
                  },
                  "maximumDebitCharge" : {
                    "type" : "number",
                    "description" : "",
                    "minimum" : 0,
                    "maximum" : 18
                  },
                  "minimumCreditCharge" : {
                    "type" : "number",
                    "description" : "",
                    "minimum" : 0,
                    "maximum" : 19
                  },
                  "maximumCreditCharge" : {
                    "type" : "number",
                    "description" : "",
                    "minimum" : 0,
                    "maximum" : 19
                  },
                  "charge" : {
                    "type" : "string",
                    "description" : "Indicates the charge property.",
                    "minLength" : 0,
                    "maxLength" : 16
                  }
                }
              }
            },
            "waiveCharge" : {
              "type" : "string",
              "description" : "Indicates if the charges are to be waived for the instruction",
              "minLength" : 0,
              "maxLength" : 16
            },
            "includeDeferred" : {
              "type" : "string",
              "description" : "Charges can be collected as and when a charge criteria is met or can be deferred and collected later. When set to Y, it indicates all charges that are deferred for this account will be included as part of this charge container",
              "minLength" : 0,
              "maxLength" : 16
            },
            "accountAnalysisIndicator" : {
              "type" : "string",
              "description" : "Indicates if the account is flagged for Account Analysis",
              "minLength" : 0,
              "maxLength" : 24
            }
          }
        },
        "reporting" : {
          "type" : "object",
          "properties" : {
            "activity" : {
              "type" : "array",
              "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "activityName" : {
                    "type" : "string",
                    "description" : "Id of the selected activity",
                    "minLength" : 0,
                    "maxLength" : 25
                  },
                  "cashFlow" : {
                    "type" : "string",
                    "description" : "Cash movement (in or out) from the institution. ",
                    "minLength" : 0,
                    "maxLength" : 25
                  }
                }
              }
            },
            "property" : {
              "type" : "array",
              "description" : "The corresponding property",
              "items" : {
                "type" : "object",
                "properties" : {
                  "property" : {
                    "type" : "string",
                    "description" : "The corresponding property",
                    "minLength" : 0,
                    "maxLength" : 25
                  },
                  "excludeEir" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 25
                  }
                }
              }
            },
            "iFRSClassification" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 25
            },
            "iFRSSubtype" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 25
            },
            "marketKey" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 25
            },
            "marketMargin" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 25
            },
            "marketOperand" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "payin" : {
              "type" : "array",
              "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 35,
                    "enum" : [ "YES", "NO" ]
                  },
                  "payinRule" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "payinSettlementActivity" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "payinRCType" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "payinRCCondition" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "payinType" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "payinPaymentType" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        }
                      }
                    }
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payinPOProduct" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payinAmount" : {
                          "type" : "number",
                          "description" : "",
                          "minimum" : 0,
                          "maximum" : 35
                        },
                        "payinActivity" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        }
                      }
                    }
                  }
                }
              }
            },
            "payout" : {
              "type" : "array",
              "description" : "The corresponding property",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payoutSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 35,
                    "enum" : [ "YES", "NO" ]
                  },
                  "payoutSettlementActivity" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 35
                  },
                  "payoutClass" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "payoutPropertyClass" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        }
                      }
                    }
                  },
                  "payoutProp" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "payoutProperty" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        }
                      }
                    }
                  },
                  "property" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "payoutAccount" : {
                          "type" : "string",
                          "description" : "The account to which a settlement amount is transferred.",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "description" : "The beneficiary that payment should be made to .",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payoutPOProduct" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "payoutAmount" : {
                          "type" : "number",
                          "description" : "",
                          "minimum" : 0,
                          "maximum" : 35
                        },
                        "payoutActivity" : {
                          "type" : "string",
                          "description" : "",
                          "minLength" : 0,
                          "maxLength" : 35
                        }
                      }
                    }
                  }
                }
              }
            },
            "defaultSettlementAccount" : {
              "type" : "string",
              "description" : "Default settlement account to be used for all incoming payments and outgoing settlements when a specific settlement account is not provided for each payment type.",
              "minLength" : 0,
              "maxLength" : 35
            },
            "payByCheck" : {
              "type" : "string",
              "description" : "Indicates if payment or settlement has to be done through check",
              "minLength" : 0,
              "maxLength" : 10,
              "enum" : [ "YES", "NO" ]
            }
          }
        },
        "prefpricing" : {
          "type" : "object",
          "properties" : {
            "method" : {
              "type" : "string",
              "description" : "A pricing plan can be applied to an account, the selection is automatic or manual",
              "minLength" : 0,
              "maxLength" : 9
            },
            "type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 9
            }
          }
        },
        "dormancy" : {
          "type" : "object",
          "properties" : {
            "dormancies" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "status" : {
                    "type" : "string",
                    "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
                    "minLength" : 0,
                    "maxLength" : 6
                  },
                  "period" : {
                    "type" : "string",
                    "description" : "Indicates spread of time buckets.Ex: 3M,6M,9M,10Y etc.",
                    "minLength" : 0,
                    "maxLength" : 6
                  },
                  "noticeDays" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 10
                  },
                  "noticeFrequency" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 15
                  },
                  "chargeFrequency" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 15
                  }
                }
              }
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "UsDepositsAccountResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsDepositsAccountResponseBody"
        }
      },
      "description" : "UsDepositsAccountResponse"
    },
    "UsDepositsAccountResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "Identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer",
                    "minLength" : 0,
                    "maxLength" : 10
                  },
                  "customerRole" : {
                    "type" : "string",
                    "description" : "Indicates role of a customer for an arrangement.",
                    "minLength" : 0,
                    "maxLength" : 12
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "Input is the valid field name for the metrics evaluation of alerts",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "Value of the field",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected"
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
              "minimum" : 0,
              "maximum" : 17
            },
            "narrative" : {
              "type" : "string",
              "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
              "minLength" : 0,
              "maxLength" : 9
            },
            "reason" : {
              "type" : "string",
              "description" : "Contains the reason for performing the current activity",
              "minLength" : 0,
              "maxLength" : 6
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "account" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
[...]
