{
  "swagger" : "2.0",
  "info" : {
    "description" : "Get and manage Holdings Deposits",
    "version" : "v1.1.0",
    "title" : "Holdings Deposits APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.1.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/deposits/{depositId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the deposit Overview",
        "description" : "Retrieve the overview information of deposit account-This API is deprecated",
        "operationId" : "getDepositDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "depositId",
          "in" : "path",
          "description" : "Indicates the Id of the deposit account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "balanceTypes",
          "in" : "query",
          "description" : "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DepositDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "DepositDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DepositDetailsResponseBody"
        }
      },
      "description" : "DepositDetailsResponse"
    },
    "DepositDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "chargeTypes" : {
            "type" : "array",
            "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
            "items" : {
              "type" : "object",
              "properties" : {
                "chargeType" : {
                  "type" : "string",
                  "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG"
                }
              }
            }
          },
          "taxRates" : {
            "type" : "array",
            "description" : "Indicates tax charged to an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "taxRate" : {
                  "type" : "string",
                  "description" : "Indicates tax charged to an account"
                }
              }
            }
          },
          "charges" : {
            "type" : "array",
            "description" : "The charges or fees for this transaction",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentFrequency" : {
                  "type" : "string",
                  "description" : "The frequency at which a payment is required to be generated"
                },
                "paymentTypeName" : {
                  "type" : "string",
                  "description" : "Indicates Payment type set to an account"
                },
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the Id of the product property"
                },
                "paymentMethod" : {
                  "type" : "string",
                  "description" : "Method chosen to make the payment"
                },
                "chargeSchedulePaymentValue" : {
                  "type" : "string",
                  "description" : "Indicates the payment frequency associated with the charge"
                },
                "dividentPaidYtd" : {
                  "type" : "number",
                  "description" : "Interest accrued for the specified period"
                },
                "lastPaidDivident" : {
                  "type" : "number",
                  "description" : "Deprecated - Interest accrued for the specified period"
                },
                "periodEnding" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Indicates the end date of the interest period"
                }
              }
            }
          },
          "settlements" : {
            "type" : "array",
            "description" : "Indicates settlement conditions associated with the account",
            "items" : {
              "type" : "object",
              "properties" : {
                "payinSettlement" : {
                  "type" : "string",
                  "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes."
                },
                "payinAccountId" : {
                  "type" : "string",
                  "description" : "Indicates the Payin Settlement Account. The account from which funds are to be debited against the payment type."
                },
                "payoutSettlement" : {
                  "type" : "string",
                  "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes."
                },
                "payoutAccountId" : {
                  "type" : "string",
                  "description" : "Indicates the Payout Settlement Account. The account into which funds are to be credited against the payment type."
                },
                "propertyId" : {
                  "type" : "string",
                  "description" : "The identifier of the product condition"
                },
                "propertyClassId" : {
                  "type" : "string",
                  "description" : "The identifier of a condition that is used to build a product"
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "maturesIn" : {
            "type" : "string",
            "description" : "Indicates a date or period within which an account gets matured"
          },
          "coolingOffDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates cooling off period for an account until which pre-closure can be triggered without incurring any fees or charges."
          },
          "term" : {
            "type" : "string",
            "description" : "Indicates the period to which the BID and OFFER rates apply"
          },
          "termAmount" : {
            "type" : "number",
            "description" : "The monetary amount applied to the account"
          },
          "cancellationPeriod" : {
            "type" : "string",
            "description" : "Indicates the Period beyond which a contract is cancelled if it not fully funded in case of deposit or fully disbursed in case of the loan"
          },
          "earlyRedemptionFee" : {
            "type" : "number",
            "description" : "Indicates the early redemption fee that is associated during closure before account maturity"
          },
          "withdrawalFee" : {
            "type" : "string",
            "description" : "Indicates fee charged for the withdrawals"
          },
          "interestRate" : {
            "type" : "string",
            "description" : "Identifies the bid rate of the related currency for the defined time period"
          },
          "accrualAmount" : {
            "type" : "number",
            "description" : "Indicates interest accumulated for an account for the defined time period"
          },
          "accruedInterest" : {
            "type" : "number",
            "description" : "The amount of interest that has been accrued"
          },
          "paymentType" : {
            "type" : "string",
            "description" : "Indicates if the payment is Customer (C) type or Bank (B) type"
          },
          "maturityInDays" : {
            "type" : "string",
            "description" : "Indicates the number of days within which an contract gets matured"
          },
          "remainingMaturityInDays" : {
            "type" : "string",
            "description" : "Indicates number of days remaining for maturity"
          },
          "commitmentAmount" : {
            "type" : "number",
            "description" : "Indicates the total amount which will be lent or deposited for the term"
          },
          "expectedBalance" : {
            "type" : "number",
            "description" : "Indicates the amount expected to be deposited by the customer"
          },
          "allowWithdrawal" : {
            "type" : "string",
            "description" : "Flag to indicate whether withdrawals are applicable for the account"
          },
          "unspecifiedCredit" : {
            "type" : "number",
            "description" : "Indicates an unallocated credit amount to an account"
          },
          "allowDeposit" : {
            "type" : "string",
            "description" : "Flag to indicate whether deposit is allowed to an account"
          },
          "allowWithdrawalUnclearedCredit" : {
            "type" : "string",
            "description" : "Flag to indicate whether withdrawals are allowed to an unallocated fund available in the account"
          },
          "accountWithBankBIC" : {
            "type" : "string",
            "description" : "This is the BIC code of the institution where beneficiary holds an account"
          },
          "pendingDeposit" : {
            "type" : "number",
            "description" : "Indicates the sum of debit transaction amounts that are yet to be processed and placed as holds on accounts, but will not be available for use"
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "totalCredits" : {
            "type" : "string",
            "description" : "Contains the total number of credits"
          },
          "totalDebits" : {
            "type" : "string",
            "description" : "Contains the total number of debits"
          },
          "jointCustomerName" : {
            "type" : "string",
            "description" : "Name of Joint Customer"
          },
          "commitmentBalance" : {
            "type" : "number",
            "description" : "Indicates the total amount which will be lent or deposited for the term"
          },
          "lastPaidAmount" : {
            "type" : "number",
            "description" : "Indicates the original total paid amount"
          },
          "lastPaidDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date last payment was made"
          },
          "totalDueAmount" : {
            "type" : "number",
            "description" : "Indicates the total due amount"
          },
          "pendingWithdrawals" : {
            "type" : "number",
            "description" : "Contains the total withdrawal amount on hold until payment execution date"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}