{
  "swagger" : "2.0",
  "info" : {
    "description" : "Channels User Administration - Holdings APIs are used to create online service arrangements containing privileges, permissions for Channel users. Online Service Arrangements are CUSTOMER specific, personalized instances of a Online Service Product, for example, providing access to the Online Banking.",
    "version" : "v2.0.0",
    "title" : "Channels User Administration"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/v2.0.0/",
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/onlineServices" : {
      "get" : {
        "summary" : "Retrieves Online Service Arrangements created for customer",
        "description" : "Retrieves online service arrangement for a customer, supports various selection filters like customerId, arrangementId, status, product and etc.",
        "operationId" : "getOnlineServices",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The unique identifier of an arrangement contract.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
		  "description" : "Contains flag value to retrieve Online Service master contracts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "roleOnly",
          "in" : "query",
		  "description" : "Contains flag value to retrieve Online Service role contracts or sub contracts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementName",
          "in" : "query",
          "description" : "The name of the sub arrangement that is displayed.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OnlineServicesResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServicesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Validates the arrangement creation request",
        "description" : "Validates Online Service Arrangement request, this is mainly used before creating the arrangement",
        "operationId" : "validateOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "validateOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServiceApprovals/amendments/{arrangementActivityId}/{arrangementId}" : {
      "put" : {
        "summary" : "Updates the arrangement for a customer",
        "description" : "To update Online Service Arrangement created for a customer",
        "operationId" : "amendOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "amendOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "arrangementActivityId",
        "in" : "path",
		"description" : "The unique identifiier of an arrangementactivity contract.",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "arrangementId",
        "in" : "path",
		"description" : "The unique identifier of an arrangement contract.",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/onlineServiceApprovals/activity/{arrangementActivityId}" : {
      "get" : {
        "summary" : "Retrieves the pending arrangement awaiting approval",
        "description" : "Retrieves the pending arrangement awaiting approval",
        "operationId" : "getOnlineServiceApprovalByArrangementActivity",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
		  "description" : "The status of the record",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
		  "description" : "The unique identifier of an arrangement contract.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOnlineServiceApprovalByArrangementActivityResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceByArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Approves an arrangement created for a customer",
        "description" : "Approves Online Service Arrangement created for a customer",
        "operationId" : "approveOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "approveOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Rejects the pending arrangement awaiting approval",
        "description" : "Rejects the pending arrangement awaiting approval",
        "operationId" : "rejectOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "rejectOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse2"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "arrangementActivityId",
        "in" : "path",
		"description" : "The unique identifiier of an arrangementactivity contract.",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/onlineServiceApprovals/{arrangementActivityId}/{arrangementId}" : {
      "put" : {
        "summary" : "Creates an arrangement in pending status",
        "description" : "Creates an Online Service Arrangement in pending status",
        "operationId" : "initiateOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "initiateOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "arrangementActivityId",
        "in" : "path",
		"description" : "The unique identifiier of an arrangementactivity contract.",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "arrangementId",
        "in" : "path",
		"description" : "The unique identifier of an arrangement contract.",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/customers/{customerId}/productGroups/{productGroupId}/products" : {
      "get" : {
        "summary" : "Retrieves the list of customer holdings for a Product Group",
        "description" : "Retrieves the list of accounts, loans, deposits and other holdings for a customer based on the Product Group",
        "operationId" : "getCustomerProductsByProductGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "path",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "allowedProducts",
          "in" : "query",
          "description" : "Product or products allowed to be used within the product bundle.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "onlineServicesProductId",
          "in" : "query",
		  "description" : "Identifier of Online Service product, for eg: Retail Online Service, Corporate Online Server and etc..",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerProductsByProductGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerProductsByProductGroupResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customers/{customerId}/onlineServices/{onlineServicesProductId}/products" : {
      "get" : {
        "summary" : "Retrieves the list of  customer holdings for an Online Service Product",
        "description" : "Retrieves the list of customer holdings like accounts, loans, deposits and etc for an Online Service Product",
        "operationId" : "getCustomerProductsByOnlineServicesProduct",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlineServicesProductId",
          "in" : "path",
		  "description" : "Identifier of Online Service product, for eg: Retail Online Service, Corporate Online Server and etc..",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "allowedProducts",
          "in" : "query",
          "description" : "Product or products allowed to be used within the product bundle.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerProductsByOnlineServicesProductResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerProductsByProductGroupResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServices/{arrangementId}/externalUserAllocations" : {
      "get" : {
        "summary" : "Retrieves the list of external users created for an arrangement",
        "description" : "Retrieves the list of external users created for the given Online Service Arrangement",
        "operationId" : "getExternalUserAllocations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifier of an arrangement contract.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subArrangementId",
          "in" : "query",
          "description" : "The subset of Master arrangement.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
		  "description" : "Contains flag value to retrieve Online Service master contracts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Contains flag value for retrieving count of user and arrangements linked to a paticular arrangement.",
          "in" : "query",
		  "description" : "Contains flag value for retrieving count of user and arrangements linked to a paticular arrangement.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserAllocationsResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserAllocationsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServices/{arrangementId}" : {
      "get" : {
        "summary" : "Retrieves an Online Service Arrangement by using Arrangement Id",
        "description" : "Retrieves an Online Service Arrangement by using Arrangement Id",
        "operationId" : "getOnlineServiceByArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
		  "description" : "The status of the record",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementActivityId",
          "in" : "query",
		  "description" : "The unique identifiier of an arrangementactivity contract.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOnlineServiceByArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceByArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "arrangementId",
        "in" : "path",
		"description" : "The unique identifier of an arrangement contract.",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/onlineServices/activity/{arrangementActivityId}" : {
      "get" : {
        "summary" : "Retrieves an Online Service Arranagement by using Arrangement Activity Id",
        "description" : "Retrieves an Online Service Arranagement by using Arrangement Activity Id",
        "operationId" : "getOnlineServiceByArrangementActivity",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
		  "description" : "The status of the record",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
		  "description" : "The unique identifier of an arrangement contract.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOnlineServiceByArrangementActivityResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceByArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "arrangementActivityId",
        "in" : "path",
		"description" : "The unique identifiier of an arrangementactivity contract.",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/onlineServiceApprovals/{arrangementId}" : {
      "get" : {
        "summary" : "Retrieves a pending Online Service Arranagement by using Arrangement Id",
        "description" : "Retrieves a pending Online Service Arranagement by using Arrangement Id",
        "operationId" : "getOnlineServiceApprovalByArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
		  "description" : "The status of the record",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementActivityId",
          "in" : "query",
		  "description" : "The unique identifiier of an arrangementactivity contract.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOnlineServiceApprovalByArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceByArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "arrangementId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/onlineServiceApprovals" : {
      "get" : {
        "summary" : "Retrieves pending Online Service Arranagements awaiting approval",
        "description" : "Retrieves pending Online Service Arranagements awaiting approval",
        "operationId" : "getOnlineServiceApprovals",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The unique identifier of an arrangement contract.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
		  "description" : "Contains flag value to retrieve Online Service master contracts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "roleOnly",
          "in" : "query",
		  "description" : "Contains flag value to retrieve Online Service role contracts or sub contracts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementName",
          "in" : "query",
          "description" : "The name of the sub arrangement that is displayed.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "inputterId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OnlineServiceApprovalsResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceApprovalsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServices/{arrangementActivityId}/{arrangementId}" : {
      "put" : {
        "summary" : "Create an Online Service Arrangement",
        "description" : "Create an Online Service Arrangement",
        "operationId" : "createOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
		  "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
		  "in" : "header",
		  "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "arrangementActivityId",
        "in" : "path",
		"description" : "The unique identifiier of an arrangementactivity contract.",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "arrangementId",
        "in" : "path",
		"description" : "The unique identifier of an arrangement contract.",
        "required" : true,
        "type" : "string"
      } ]
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "OnlineService" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OnlineServiceBody"
        }
      },
      "description" : "OnlineService"
    },
    "OnlineServiceBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the valid field name for the metrics evaluation of alerts",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition",
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field",
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "description" : "Name of the role or sub contract that is displayed, for eg: Payments Inputter, Administrator, Clerk and etc.",
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected"
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency"
        },
        "customer" : {
          "type" : "object",
          "properties" : {
            "customers" : {
              "type" : "array",
              "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customer" : {
                    "type" : "string",
                    "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                    "maxLength" : 8
                  },
                  "customerRole" : {
                    "type" : "string",
                    "description" : "Indicates role of a customer for an arrangement.",
                    "maxLength" : 12
                  },
                  "taxLiabilityPercentage" : {
                    "type" : "string",
                    "description" : "Tax liability percentage of the customer",
                    "maxLength" : 22
                  },
                  "limitAllocactionPercentage" : {
                    "type" : "string",
                    "description" : "Indicates percentage of limit allocated to the customer out of overall limit",
                    "maxLength" : 26
                  },
                  "GLAllocactionPercentage" : {
                    "type" : "string",
                    "description" : "Indicates GL allocation percentage of the customer",
                    "maxLength" : 23
                  }
                }
              }
            },
            "jointLiability" : {
              "type" : "string",
              "description" : "Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  ",
              "maxLength" : 14
            }
          }
        },
        "tcpermissions" : {
          "type" : "object",
          "properties" : {
            "definedCustomers" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "definedCustomer" : {
                    "type" : "string",
                    "description" : "Allowed customers for the selected arrangement; where in they can see their product in Internet Banking",
                    "maxLength" : 35
                  },
                  "definedCustomerSel" : {
                    "type" : "boolean",
                    "description" : "Available accounts for the allowed customer will be displayed if this field is set as Yes .If set as No, accounts will not be available"
                  },
                  "definedCompanies" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "definedCompany" : {
                          "type" : "string",
                          "description" : "Allowed company for the defined customer",
                          "maxLength" : 35
                        }
                      }
                    }
                  }
                }
              }
            },
            "defPrdGroups" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "definedProductGroups" : {
                    "type" : "string",
                    "description" : "Product groups that can be accessed by external users via a specific Online Services product",
                    "maxLength" : 35
                  },
                  "definedProductGroupSel" : {
                    "type" : "string",
                    "description" : "Level of permission defined for the product group",
                    "maxLength" : 35
                  }
                }
              }
            },
            "relCustomers" : {
              "type" : "array",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "relationCustomer" : {
                    "type" : "string",
                    "description" : "Customers linked or related to the arrangement owner",
                    "maxLength" : 35
                  },
                  "productGroups" : {
                    "type" : "string",
                    "description" : "The group, as defined by the institution, that the product belongs to.",
                    "maxLength" : 35
                  },
                  "productGroupSel" : {
                    "type" : "string",
                    "description" : "Level of permission applicable for the associated Product groups; Possible values: Exclude, See, Transact",
                    "maxLength" : 35
                  },
                  "products" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "product" : {
                          "type" : "string",
                          "description" : "Indicates an id or name of a product",
                          "maxLength" : 35
                        },
                        "productSel" : {
                          "type" : "string",
                          "description" : "Level of permission applicable for the associated Products; Possible values: Exclude, See, Transact",
                          "maxLength" : 35
                        }
                      }
                    }
                  }
                }
              }
            },
            "masterLevelChange" : {
              "type" : "string",
              "description" : "Marker to identify whether changes made at Master Arrangement level",
              "maxLength" : 31
            }
          }
        },
        "tcprivileges" : {
          "type" : "object",
          "properties" : {
            "services" : {
              "type" : "array",
              "description" : "Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)",
              "items" : {
                "type" : "object",
                "properties" : {
                  "serviceId" : {
                    "type" : "string",
                    "description" : "Contains the identifier name of the service that has to be executed.",
                    "maxLength" : 35
                  },
                  "serviceActive" : {
                    "type" : "boolean",
                    "description" : "Indicate whether service is active or not."
                  },
                  "operations" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "operationId" : {
                          "type" : "string",
                          "description" : "ID of the operation which Identifies the required operation to be executed for a Trade Finance contract.",
                          "maxLength" : 35
                        },
                        "operationActive" : {
                          "type" : "boolean",
                          "description" : "Indiciate whether operation is active or not"
                        }
                      }
                    }
                  }
                }
              }
            },
            "masterLevelChange" : {
              "type" : "string",
              "description" : "Marker to identify whether changes made at Master Arrangement level",
              "maxLength" : 31
            }
          }
        },
        "tcavailability" : {
          "type" : "object",
          "properties" : {
            "day" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "dayName" : {
                    "type" : "string",
                    "description" : "Day name of the week",
                    "maxLength" : 35
                  },
                  "daySelect" : {
                    "type" : "boolean",
                    "description" : "Allowed days to access Internet Banking"
                  },
                  "time" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "startTime" : {
                          "type" : "string",
                          "description" : "Contains the time job was started",
                          "maxLength" : 35
                        },
                        "endTime" : {
                          "type" : "string",
                          "description" : "Contains the time the job  ended.",
                          "maxLength" : 35
                        }
                      }
                    }
                  }
                }
              }
            },
            "masterLevelChange" : {
              "type" : "string",
              "description" : "Marker to identify whether changes made at Master Arrangement level",
              "maxLength" : 31
            }
          }
        },
        "dailylimits" : {
          "type" : "object",
          "properties" : {
            "system" : {
              "type" : "array",
              "description" : "List of system ids that the protection limit applies to",
              "items" : {
                "type" : "object",
                "properties" : {
                  "systemId" : {
                    "type" : "string",
                    "description" : "The system application identifier from which the entry was generated",
                    "maxLength" : 16
                  },
                  "application" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "applicationId" : {
                          "type" : "string",
                          "description" : "Contains the application id of the service that has crashed due to error.",
                          "maxLength" : 15
                        }
                      }
                    }
                  }
                }
              }
            },
            "transaction" : {
              "type" : "array",
              "description" : "List of transaction types; that the protection limit applies to",
              "items" : {
                "type" : "object",
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "The product condition has an activity type associated that drives an action.",
                    "maxLength" : 16
                  }
                }
              }
            },
            "currency" : {
              "type" : "array",
              "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates",
              "items" : {
                "type" : "object",
                "properties" : {
                  "allowedCurrency" : {
                    "type" : "string",
                    "description" : "Available currencies for the product",
                    "maxLength" : 16
                  }
                }
              }
            },
            "riskRate" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "benRiskRate" : {
                    "type" : "string",
                    "description" : "List of Beneficiary risk rate that the protection limit applies to",
                    "maxLength" : 16
                  }
                }
              }
            },
            "customerLimits" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "definedCustomer" : {
                    "type" : "string",
                    "description" : "Allowed customers for the selected arrangement; where in they can see their product in Internet Banking",
                    "maxLength" : 15
                  },
                  "customerLimit" : {
                    "type" : "string",
                    "description" : "Contains Limit allocated value for the customer defined in the online service contract.",
                    "maxLength" : 13
                  }
                }
              }
            },
            "utilisationReset" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "utilisationReset" : {
                    "type" : "string",
                    "description" : "Specifies whether the limit utilisation reset takes place as the calendar date or at close of business."
                  }
                }
              }
            },
            "timeOfDay" : {
              "type" : "string",
              "description" : "Time of Day",
              "maxLength" : 16
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
              "maxLength" : 16
            },
            "limitAmount" : {
              "type" : "string",
              "description" : "The Limit amount that is actually available for use. The system limit checks are preformed against the online limit",
              "maxLength" : 16
            },
            "usageUpdate" : {
              "type" : "string",
              "description" : "Contains flag value to define whether the limit update happens at input or authorisation of transaction.",
              "maxLength" : 11
            },
            "customerMaximumLimit" : {
              "type" : "string",
              "description" : "Contains Maximum limit value that can be assigned to the customers defined in the online service contract .",
              "maxLength" : 20
            }
          }
        },
        "tclicensing" : {
          "type" : "object",
          "properties" : {
            "noOfUsers" : {
              "type" : "string",
              "description" : "The maximum number of users that can be linked to a master arrangement or its roles",
              "maxLength" : 35
            },
            "noOfRoles" : {
              "type" : "string",
              "description" : "The maximum number of roles that can be linked to the master arrangement",
              "maxLength" : 35
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "OnlineServiceResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OnlineServiceResponseBody"
        }
      },
      "description" : "OnlineServiceResponse"
    },
    "OnlineServiceResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "Identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer",
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "Input is the valid field name for the metrics evaluation of alerts",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition",
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field",
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "Value of the field",
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "The unique identifier of an arrangement contract.",
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "description" : "Name of the role or sub contract that is displayed, for eg: Payments Inputter, Administrator, Clerk and etc.",
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected"
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency"
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "customer" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "customers" : {
                      "type" : "array",
                      "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "customer" : {
                            "type" : "string",
                            "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                            "maxLength" : 8
                          },
                          "customerRole" : {
                            "type" : "string",
                            "description" : "Indicates role of a customer for an arrangement.",
                            "maxLength" : 12
                          },
                          "taxLiabilityPercentage" : {
                            "type" : "string",
                            "description" : "Tax liability percentage of the customer",
                            "maxLength" : 22
                          },
                          "limitAllocactionPercentage" : {
                            "type" : "string",
                            "description" : "Indicates percentage of limit allocated to the customer out of overall limit",
                            "maxLength" : 26
                          },
                          "GLAllocactionPercentage" : {
                            "type" : "string",
                            "description" : "Indicates GL allocation percentage of the customer",
                            "maxLength" : 23
                          }
                        }
                      }
                    },
                    "jointLiability" : {
                      "type" : "string",
                      "description" : "Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  ",
                      "maxLength" : 14
                    }
                  }
                }
              }
            },
            "tcpermissions" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "definedCustomers" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "definedCustomer" : {
                            "type" : "string",
                            "description" : "Allowed customers for the selected arrangement; where in they can see their product in Internet Banking",
                            "maxLength" : 35
                          },
                          "definedCustomerSel" : {
                            "type" : "boolean",
                            "description" : "Available accounts for the allowed customer will be displayed if this field is set as Yes .If set as No, accounts will not be available"
                          },
                          "definedCompanies" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "definedCompany" : {
                                  "type" : "string",
                                  "description" : "Allowed company for the defined customer",
                                  "maxLength" : 35
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "defPrdGroups" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "definedProductGroups" : {
                            "type" : "string",
                            "description" : "Product groups that can be accessed by external users via a specific Online Services product",
                            "maxLength" : 35
                          },
                          "definedProductGroupSel" : {
                            "type" : "string",
                            "description" : "Level of permission defined for the product group",
                            "maxLength" : 35
                          }
                        }
                      }
                    },
                    "relCustomers" : {
                      "type" : "array",
                      "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "relationCustomer" : {
                            "type" : "string",
                            "description" : "Customers linked or related to the arrangement owner",
                            "maxLength" : 35
                          },
                          "productGroups" : {
                            "type" : "string",
                            "description" : "The group, as defined by the institution, that the product belongs to.",
                            "maxLength" : 35
                          },
                          "productGroupSel" : {
                            "type" : "string",
                            "description" : "Level of permission applicable for the associated Product groups; Possible values: Exclude, See, Transact",
                            "maxLength" : 35
                          },
                          "products" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "product" : {
                                  "type" : "string",
                                  "description" : "Indicates an id or name of a product",
                                  "minLength" : 0,
                                  "maxLength" : 35
                                },
                                "productSel" : {
                                  "type" : "string",
                                  "description" : "Level of permission applicable for the associated Products; Possible values: Exclude, See, Transact",
                                  "maxLength" : 35
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "masterLevelChange" : {
                      "type" : "string",
                      "description" : "Marker to identify whether changes made at Master Arrangement level",
                      "maxLength" : 31
                    }
                  }
                }
              }
            },
            "tcprivileges" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "services" : {
                      "type" : "array",
                      "description" : "Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "serviceId" : {
                            "type" : "string",
                            "description" : "Contains the identifier name of the service that has to be executed.",
                            "maxLength" : 35
                          },
                          "serviceActive" : {
                            "type" : "boolean",
                            "description" : "Indicate whether service is active or not."
                          },
                          "operations" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "operationId" : {
                                  "type" : "string",
                                  "description" : "ID of the operation which Identifies the required operation to be executed for a Trade Finance contract.",
                                  "maxLength" : 35
                                },
                                "operationActive" : {
                                  "type" : "boolean",
                                  "description" : "Indiciate whether operation is active or not"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "masterLevelChange" : {
                      "type" : "string",
                      "description" : "Marker to identify whether changes made at Master Arrangement level",
                      "maxLength" : 31
                    }
                  }
                }
              }
            },
            "tcavailability" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "day" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "dayName" : {
                            "type" : "string",
                            "description" : "Day name of the week",
                            "maxLength" : 35
                          },
                          "daySelect" : {
                            "type" : "boolean",
                            "description" : "Allowed days to access Internet Banking"
                          },
                          "time" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "startTime" : {
                                  "type" : "string",
                                  "description" : "Contains the time job was started",
                                  "maxLength" : 35
                                },
                                "endTime" : {
                                  "type" : "string",
                                  "description" : "Contains the time the job  ended.",
                                  "maxLength" : 35
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "masterLevelChange" : {
                      "type" : "string",
                      "description" : "Marker to identify whether changes made at Master Arrangement level",
                      "maxLength" : 31
                    }
                  }
                }
              }
            },
            "dailylimits" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "system" : {
                      "type" : "array",
                      "description" : "Name of the application or virtual table",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "systemId" : {
                            "type" : "string",
                            "description" : "The system application identifier from which the entry was generated",
                            "maxLength" : 16
                          },
                          "application" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "applicationId" : {
                                  "type" : "string",
                                  "description" : "Contains the application id of the service that has crashed due to error.",
                                  "maxLength" : 15
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "transaction" : {
                      "type" : "array",
                      "description" : "List of transaction types; that the protection limit applies to",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "type" : {
                            "type" : "string",
                            "description" : "The product condition has an activity type associated that drives an action.",
                            "maxLength" : 16
                          }
                        }
                      }
                    },
                    "currency" : {
                      "type" : "array",
                      "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "allowedCurrency" : {
                            "type" : "string",
                            "description" : "Available currencies for the product",
                            "maxLength" : 16
                          }
                        }
                      }
                    },
                    "riskRate" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "benRiskRate" : {
                            "type" : "string",
                            "description" : "List of Beneficiary risk rate that the protection limit applies to",
                            "maxLength" : 16
                          }
                        }
                      }
                    },
                    "customerLimits" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "definedCustomer" : {
                            "type" : "string",
                            "description" : "Allowed customers for the selected arrangement; where in they can see their product in Internet Banking",
                            "maxLength" : 15
                          },
                          "customerLimit" : {
                            "type" : "string",
                            "description" : "Contains Limit allocated value for the customer defined in the online service contract.",
                            "maxLength" : 13
                          }
                        }
                      }
                    },
                    "utilisationReset" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "utilisationReset" : {
                            "type" : "string",
                            "description" : "Specifies whether the limit utilisation reset takes place as the calendar date or at close of business."
                          }
                        }
                      }
                    },
                    "timeOfDay" : {
                      "type" : "string",
                      "description" : "Time of Day",
                      "maxLength" : 16
                    },
                    "currencyId" : {
                      "type" : "string",
                      "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
                      "maxLength" : 16
                    },
                    "limitAmount" : {
                      "type" : "string",
                      "description" : "The Limit amount that is actually available for use. The system limit checks are preformed against the online limit",
                      "maxLength" : 16
                    },
                    "usageUpdate" : {
                      "type" : "string",
                      "description" : "Contains flag value to define whether the limit update happens at input or authorisation of transaction.",
                      "maxLength" : 11
                    },
                    "customerMaximumLimit" : {
                      "type" : "string",
                      "description" : "Contains Maximum limit value that can be assigned to the customers defined in the online service contract .",
                      "maxLength" : 20
                    }
                  }
                }
              }
            },
            "tclicensing" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "noOfUsers" : {
                      "type" : "string",
                      "description" : "The maximum number of users that can be linked to a master arrangement or its roles",
                      "maxLength" : 35
                    },
                    "noOfRoles" : {
                      "type" : "string",
                      "description" : "The maximum number of roles that can be linked to the master arrangement",
                      "maxLength" : 35
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
[...]
