{
  "swagger" : "2.0",
  "info" : {
    "description" : "The Arrangement Architecture is a Temenos Transact Framework to create and manage  various products such as Loans, Deposits, Accounts, etc. It provides a modular business component-based architecture, whereby users can create their Products by using the components provided by Temenos and these components can be reused across multiple different Products. \n\nAPI to create and manage various types of deposits such as Short term, Long term, Call, Bonds and Islamic deposits (Mudaraba and Wakala).",
    "version" : "v2.0.0",
    "title" : "Deposit Arrangements"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/deposits/shortTermDeposits" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a Short Term Deposit Account",
        "description" : "This can be used to create a short-term deposit and the payload should include customer identifier, customer role,  deposit currency, deposit amount, term, etc.",
        "operationId" : "createShortTermDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createShortTermDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/oneYearBonds" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Creates a One year Bond/Deposit Account",
        "description" : "This can be used to create a one-year bond and the payload should include customer identifier, customer role,  bond currency, bond amount, etc.",
        "operationId" : "createOneYearBond",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createOneYearBondResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/threeYearBonds" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Creates a Three Year Bond/Deposit Account",
        "description" : "This can be used to create a three-year bond and the payload should include customer identifier, customer role,  bond currency, bond amount, etc.",
        "operationId" : "createThreeYearBond",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createThreeYearBondResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/longTermDeposits" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Creates a Long Term Deposit Account",
        "description" : "This can be used to create long-term deposits and the payload should include customer identifier, customer role,  deposit currency, deposit amount, term, etc.",
        "operationId" : "createLongTermDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createLongTermDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/callDeposits" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a call deposit Account (No term or period)",
        "description" : "This can be used to create call deposits which have no fixed term or maturity period and the payload should include the customer identifier, customer role,  deposit currency, deposit amount, etc.",
        "operationId" : "createCallDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createCallDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/termDeposits" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a Deposit Account",
        "description" : "This can be used to create term deposits and the payload should include customer identifier, customer role,  deposit currency, deposit amount and the deposit duration term etc.",
        "operationId" : "createDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Deposits"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/mudarabaDeposits" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a Mudaraba deposit account",
        "description" : "This can be used to create Islamic mudarba deposits and the payload should include customer identifier, customer role,  deposit currency, deposit amount,term etc.",
        "operationId" : "createMudarabaDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MudarabaDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createMudarabaDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/MudarabaDepositResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/redeemDeposits" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Redeem a Deposit",
        "description" : "This can be used to redeem deposits and the payload to redeem should include the settlement instructions to which the deposit amount is to be credited. Common usage of this is when customers want to withdraw their deposits before the actual  maturity date of the deposits.",
        "operationId" : "redeemDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Deposits1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "redeemDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositsResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/redeemDeposits/{arrangementId}" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Simulate a Deposit redemption",
        "description" : "This can be used to simulate a deposit redemption and the payload should include the settlement instructions to which the deposit amount is to be credited. Common usage of this is for simulating withdrawals when customers want to withdraw their deposits before the actual fixed maturity date of the deposits.",
        "operationId" : "simulateRedeemDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Deposits1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "simulateRedeemDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositsResponse1"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "arrangementId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/holdings/deposits/{arrangementId}/chargeAmount" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the charge amount for a given charge property",
        "description" : "Retrieves the charge amount for a given charge property and its payload includes charge identifier, simulation reference, etc.",
        "operationId" : "getChargeAmount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargeProperty",
          "in" : "query",
          "description" : "Contains the charge name which is corresponding to the calculated charge amount",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "description" : "Indicates the Reference ID for simulation activity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ChargeAmountResponse",
            "schema" : {
              "$ref" : "#/definitions/ChargeAmountResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/wakalaDeposits" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a Wakala deposit account",
        "description" : "This can be used to create Islamic wakala  deposits and the payload should include customer identifier, customer role,  deposit currency, deposit amount and the fixed term of the deposit etc.",
        "operationId" : "createWakalaDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MudarabaDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createWakalaDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/MudarabaDepositResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/{depositId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the deposit details",
        "description" : "Retrieves the basic information of the deposit account including deposit amount, term, maturity days, tax details, charge details, etc. Common usage of this could be to display the basic information of deposits in a Customer user interface.",
        "operationId" : "getDepositDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "depositId",
          "in" : "path",
          "description" : "Indicates the Id of the deposit account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "balanceTypes",
          "in" : "query",
          "description" : "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DepositDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/{depositId}/redemptions/bills" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the redeem bill for the given deposit",
        "description" : "Retrieves the redeem bill for the given deposit by providing the deposit reference and simulation reference for simulated deposits",
        "operationId" : "getRedeemDepositBillDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "depositId",
          "in" : "path",
          "description" : "Indicates the Id of the deposit account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "description" : "Indicates the reference id for simulation activity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "RedeemDepositBillDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/RedeemDepositBillDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "ShortTermDeposit" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ShortTermDepositBody"
        }
      },
      "description" : "ShortTermDeposit"
    },
    "ShortTermDepositBody" : {
      "type" : "object",
      "properties" : {
        "partyIds" : {
          "type" : "array",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "partyRoles" : {
          "type" : "array",
          "description" : "Contains the identifier used for the role played by the party or customer in the contract or account",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyRole" : {
                "type" : "string",
                "description" : "Contains the identifier used for the role played by the party or customer in the contract or account",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentCustomerIds" : {
          "type" : "array",
          "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentCustomerId" : {
                "type" : "string",
                "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentArrangementIds" : {
          "type" : "array",
          "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentArrangementId" : {
                "type" : "string",
                "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentRoles" : {
          "type" : "array",
          "description" : "The role of the 3rd party, select from standard list",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentRole" : {
                "type" : "string",
                "description" : "The role of the 3rd party, select from standard list",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "description" : "Indicates an unique identifier of an account",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 45
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productVariation" : {
          "type" : "string",
          "description" : "It defines the type of a customer based on criteria defined by Bank, Eg: Gold Customer, Mobile Banking Customer",
          "minLength" : 0,
          "maxLength" : 45
        },
        "pricingSelection" : {
          "type" : "string",
          "description" : "If the account has an associated pricing arrangement, the way the pricing is applied is indicated from standard set of values - automatic, manual or No Pricing.",
          "minLength" : 0,
          "maxLength" : 45
        },
        "pricingPlan" : {
          "type" : "string",
          "description" : "Indicates the Pricing Plan of an account, it gives preferential interest rate/charge schedule based on customer segment",
          "minLength" : 0,
          "maxLength" : 45
        },
        "rewardsArrangementId" : {
          "type" : "string",
          "description" : "Indicates the Rewards account id assigned to a financial account(Loans,Deposits)",
          "minLength" : 0,
          "maxLength" : 45
        },
        "tradeDate" : {
          "type" : "string",
          "description" : "Standard date field which records trade date of the account",
          "minLength" : 0,
          "maxLength" : 45
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "It is a date on/upon which an account is considered to take effect",
          "minLength" : 0,
          "maxLength" : 45
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity",
          "minLength" : 0,
          "maxLength" : 45
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "settlement" : {
              "type" : "array",
              "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 15
                  },
                  "payoutSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 16
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "description" : "Contains the direct debit mandate reference (dd) when the settlement method is set to direct debit. The dd reference is typically the account number followed by a suffix, for example 15245.1",
                          "minLength" : 0,
                          "maxLength" : 18
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "description" : "Contains the account from which funds are to be debited against the payment type",
                          "minLength" : 0,
                          "maxLength" : 12
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "description" : "Contains the beneficiary Id used for settlement of the bills due",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payinPoProduct" : {
                          "type" : "string",
                          "description" : "Contains the payment order product Id for which the payment is initiated",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "description" : "Contains the percentage of the payment amount used for settlement of the bills due",
                          "minLength" : 0,
                          "maxLength" : 15
                        },
                        "payinAmount" : {
                          "type" : "string",
                          "description" : "Contains the finite amount of the payment used for settlement of the bills due",
                          "minLength" : 0,
                          "maxLength" : 11
                        },
                        "payoutAccount" : {
                          "type" : "string",
                          "description" : "The account to which a settlement amount is transferred.",
                          "minLength" : 0,
                          "maxLength" : 13
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "description" : "The beneficiary that payment should be made to .",
                          "minLength" : 0,
                          "maxLength" : 17
                        },
                        "payoutPoProduct" : {
                          "type" : "string",
                          "description" : "Contains the payout payment order product for which payment is initiated",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "description" : "Contains the percentage of the payment amount used for settlement of the payables",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payoutAmount" : {
                          "type" : "string",
                          "description" : "Contains the finite amount of the payment used for settlement of the payables",
                          "minLength" : 0,
                          "maxLength" : 12
                        }
                      }
                    }
                  }
                }
			  }
            },
            "fxSettlement" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "fxSettlementCurrency" : {
                    "type" : "string",
                    "description" : "Contains the currency for which foreign exchange contra settlement account needs to be maintained",
                    "minLength" : 0,
                    "maxLength" : 20
                  },
                  "fxSettlementAccount" : {
                    "type" : "string",
                    "description" : "Contains the contra settlement accounts used for posting the foreign exchange offset entries",
                    "minLength" : 0,
                    "maxLength" : 19
                  }
                }
              }
            },
            "assocSettlement" : {
              "type" : "array",
              "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 15
                  },
                  "payinRule" : {
                    "type" : "string",
                    "description" : "Contains the rule on which the system should utilise the funds available in the pay in account during the settlement process. Options are Full, Partial and None",
                    "minLength" : 0,
                    "maxLength" : 9
                  },
                  "payinSettlementActivity" : {
                    "type" : "string",
                    "description" : "Contains the transaction type used for settlement of the bills due",
                    "minLength" : 0,
                    "maxLength" : 23
                  },
                  "payinRCType" : {
                    "type" : "string",
                    "description" : "Contains the transaction type used by the transaction recycler for retrying the debits",
                    "minLength" : 0,
                    "maxLength" : 11
                  },
                  "payinRCCondition" : {
                    "type" : "string",
                    "description" : "Contains the transaction recycling rules which define the set of retry conditions",
                    "minLength" : 0,
                    "maxLength" : 16
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "description" : "Contains the direct debit mandate reference (dd) when the settlement method is set to direct debit. The dd reference is typically the account number followed by a suffix, for example 15245.1",
                          "minLength" : 0,
                          "maxLength" : 18
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "description" : "Contains the account from which funds are to be debited against the payment type",
                          "minLength" : 0,
                          "maxLength" : 12
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "description" : "Contains the beneficiary Id used for settlement of the bills due",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payinPOProduct" : {
                          "type" : "string",
                          "description" : "Contains the payment order product Id for which the payment is initiated",
                          "minLength" : 0,
                          "maxLength" : 14
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "description" : "Contains the percentage of the payment amount used for settlement of the bills due",
                          "minLength" : 0,
                          "maxLength" : 15
                        },
                        "payinAmount" : {
                          "type" : "string",
                          "description" : "Contains the finite amount of the payment used for settlement of the bills due",
                          "minLength" : 0,
                          "maxLength" : 11
                        },
                        "payinActivity" : {
                          "type" : "string",
                          "description" : "Contains the transaction type used to debit the customer account for settlement of the bills due",
                          "minLength" : 0,
                          "maxLength" : 13
                        }
                      }
                    }
                  }
                }
              }
            },
            "payout" : {
              "type" : "array",
              "description" : "Id of the product property",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payoutSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 16
                  },
                  "payoutSettlementActivity" : {
                    "type" : "string",
                    "description" : "Contains the transaction type used for settlement of the payables",
                    "minLength" : 0,
                    "maxLength" : 24
                  },
                  "property" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "payoutPropertyClass" : {
                          "type" : "string",
                          "description" : "Contains the different payout options, for example charge, interest or principal on which the payout settlement instructions would be processed",
                          "minLength" : 0,
                          "maxLength" : 19
                        },
                        "payoutProperty" : {
                          "type" : "string",
                          "description" : "Contains the different payout options, for example management charge, principal interest or commitment on which the payout settlement instructions would be processed",
                          "minLength" : 0,
                          "maxLength" : 14
                        },
                        "payoutAccount" : {
                          "type" : "string",
                          "description" : "The account to which a settlement amount is transferred.",
                          "minLength" : 0,
                          "maxLength" : 13
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "description" : "The beneficiary that payment should be made to .",
                          "minLength" : 0,
                          "maxLength" : 17
                        },
                        "payoutPOProduct" : {
                          "type" : "string",
                          "description" : "Contains the payout payment order product for which payment is initiated",
                          "minLength" : 0,
                          "maxLength" : 15
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "description" : "Contains the percentage of the payment amount used for settlement of the payables",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payoutAmount" : {
                          "type" : "string",
                          "description" : "Contains the finite amount of the payment used for settlement of the payables",
                          "minLength" : 0,
                          "maxLength" : 12
                        },
                        "payoutActivity" : {
                          "type" : "string",
                          "description" : "Contains the transaction type used to credit the customer account for settlement of the payables",
                          "minLength" : 0,
                          "maxLength" : 14
                        }
                      }
                    }
                  }
                }
              }
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
              "minLength" : 0,
              "maxLength" : 11
            },
            "defaultSettlementAccount" : {
              "type" : "string",
              "description" : "Default settlement account to be used for all incoming payments and outgoing settlements when a specific settlement account is not provided for each payment type.",
              "minLength" : 0,
              "maxLength" : 26
            }
          }
		},
        "commitment" : {
          "type" : "object",
          "properties" : {
            "amount" : {
              "type" : "string",
              "description" : "This is the payment amount",
              "minLength" : 0,
              "maxLength" : 6
            },
            "changeAmount" : {
              "type" : "string",
              "description" : "Indicates the amount by which the original commitment amount increased or decreased.",
              "minLength" : 0,
              "maxLength" : 12
            },
            "term" : {
              "type" : "string",
              "description" : "Indicates the period to which the BID and OFFER rates apply",
              "minLength" : 0,
              "maxLength" : 4
            },
            "revolving" : {
              "type" : "string",
              "description" : "Indicates if commitment is revolving or non revolving in nature",
              "minLength" : 0,
              "maxLength" : 9,
              "enum" : [ "NO", "PAYMENT", "PREPAYMENT" ]
            },
            "updateLimit" : {
              "type" : "string",
              "description" : "Flag to define if the limits are to be booked or not at the time of issuing the pre-advice LC. Allowed values: - YES - NO (same as null) - null (default).",
              "minLength" : 0,
              "maxLength" : 16,
              "enum" : [ "YES", "NO" ]
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ShortTermDepositResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ShortTermDepositResponseBody"
        }
      },
      "description" : "ShortTermDepositResponse"
    },
    "ShortTermDepositResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "partyIds" : {
              "type" : "array",
              "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyId" : {
                    "type" : "string",
                    "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "partyRoles" : {
              "type" : "array",
              "description" : "Contains the identifier used for the role played by the party or customer in the contract or account",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyRole" : {
                    "type" : "string",
                    "description" : "Contains the identifier used for the role played by the party or customer in the contract or account",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentCustomerIds" : {
              "type" : "array",
              "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentCustomerId" : {
                    "type" : "string",
                    "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentArrangementIds" : {
              "type" : "array",
              "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentArrangementId" : {
                    "type" : "string",
                    "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentRoles" : {
              "type" : "array",
              "description" : "The role of the 3rd party, select from standard list",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentRole" : {
                    "type" : "string",
                    "description" : "The role of the 3rd party, select from standard list",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangmentId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 45
            },
            "currency" : {
              "type" : "string",
              "description" : "Identifies the currency. E.g. USD, GBP etc",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productVariation" : {
              "type" : "string",
              "description" : "It defines the type of a customer based on criteria defined by Bank, Eg: Gold Customer, Mobile Banking Customer",
              "minLength" : 0,
              "maxLength" : 45
            },
            "pricingSelection" : {
              "type" : "string",
              "description" : "If the account has an associated pricing arrangement, the way the pricing is applied is indicated from standard set of values - automatic, manual or No Pricing.",
              "minLength" : 0,
              "maxLength" : 45
            },
            "pricingPlan" : {
              "type" : "string",
              "description" : "Indicates the Pricing Plan of an account, it gives preferential interest rate/charge schedule based on customer segment",
              "minLength" : 0,
              "maxLength" : 45
            },
            "rewardsArrangementId" : {
              "type" : "string",
              "description" : "Indicates the Rewards account id assigned to a financial account(Loans,Deposits)",
              "minLength" : 0,
              "maxLength" : 45
            },
            "tradeDate" : {
              "type" : "string",
              "description" : "Standard date field which records trade date of the account",
              "minLength" : 0,
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "It is a date on/upon which an account is considered to take effect",
              "minLength" : 0,
              "maxLength" : 45
            },
            "reason" : {
              "type" : "string",
              "description" : "Contains the reason for performing the current activity",
              "minLength" : 0,
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "account" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "activityCharges" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "messaging" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "arrangementRules" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
			"productQualifierRules" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "agentCommission" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "rewardsPoints" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "alerts" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "balanceMaintenance" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "adminfees" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "redemptionfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "withdrawalfees" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "insurance" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "bonus" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "dormancyfees" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "mgmtfees" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
			"dorcloseadvfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "closure" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "customer" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "depositint" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "officers" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
			"prDeposit" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "prCurrentBalances" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "schedule" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
			"poEarlyWithdrawal" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "poWithdrawal" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "periodiccharge" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "prefpricing" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
		    "deppricing" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "renewal" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "accreporting" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "settlement" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "settlement" : {
                      "type" : "array",
                      "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "payoutSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "reference" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ddMandateReference" : {
                                  "type" : "string",
                                  "description" : "Contains the direct debit mandate reference (dd) when the settlement method is set to direct debit. The dd reference is typically the account number followed by a suffix, for example 15245.1",
                                  "minLength" : 0,
                                  "maxLength" : 18
                                },
                                "payinAccount" : {
                                  "type" : "string",
                                  "description" : "Contains the account from which funds are to be debited against the payment type",
                                  "minLength" : 0,
                                  "maxLength" : 12
                                },
                                "payinBeneficiary" : {
                                  "type" : "string",
                                  "description" : "Contains the beneficiary Id used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payinPoProduct" : {
                                  "type" : "string",
                                  "description" : "Contains the payment order product Id for which the payment is initiated",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payinPercentage" : {
                                  "type" : "string",
                                  "description" : "Contains the percentage of the payment amount used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 15
                                },
                                "payinAmount" : {
                                  "type" : "string",
                                  "description" : "Contains the finite amount of the payment used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 11
                                },
                                "payoutAccount" : {
                                  "type" : "string",
                                  "description" : "The account to which a settlement amount is transferred.",
                                  "minLength" : 0,
                                  "maxLength" : 13
                                },
                                "payoutBeneficiary" : {
                                  "type" : "string",
                                  "description" : "The beneficiary that payment should be made to .",
                                  "minLength" : 0,
                                  "maxLength" : 17
                                },
                                "payoutPoProduct" : {
                                  "type" : "string",
                                  "description" : "Contains the payout payment order product for which payment is initiated",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payoutPercentage" : {
                                  "type" : "string",
                                  "description" : "Contains the percentage of the payment amount used for settlement of the payables",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payoutAmount" : {
                                  "type" : "string",
                                  "description" : "Contains the finite amount of the payment used for settlement of the payables",
                                  "minLength" : 0,
                                  "maxLength" : 12
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "fxSettlement" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "fxSettlementCurrency" : {
                            "type" : "string",
                            "description" : "Contains the currency for which foreign exchange contra settlement account needs to be maintained",
                            "minLength" : 0,
                            "maxLength" : 20
                          },
                          "fxSettlementAccount" : {
                            "type" : "string",
                            "description" : "Contains the contra settlement accounts used for posting the foreign exchange offset entries",
                            "minLength" : 0,
                            "maxLength" : 19
                          }
                        }
                      }
                    },
                    "assocSettlement" : {
                      "type" : "array",
                      "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "payinRule" : {
                            "type" : "string",
                            "description" : "Contains the rule on which the system should utilise the funds available in the pay in account during the settlement process. Options are Full, Partial and None",
                            "minLength" : 0,
                            "maxLength" : 9
                          },
                          "payinSettlementActivity" : {
                            "type" : "string",
                            "description" : "Contains the transaction type used for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 23
                          },
                          "payinRCType" : {
                            "type" : "string",
                            "description" : "Contains the transaction type used by the transaction recycler for retrying the debits",
                            "minLength" : 0,
                            "maxLength" : 11
                          },
                          "payinRCCondition" : {
                            "type" : "string",
                            "description" : "Contains the transaction recycling rules which define the set of retry conditions",
[...]
