{
  "swagger" : "2.0",
  "info" : {
    "description" : "Order Status Report",
    "version" : "v1.0.0",
    "title" : "Order Status Report"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/messages/statusReportTrade" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Order Status Report",
        "description" : "use URI \"/holdings/messages/securityTrades/status\",
        "operationId" : "orderStatusReport",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/StatusReport"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StatusReportResponse",
            "schema" : {
              "$ref" : "#/definitions/StatusReportResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "StatusReport" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StatusReportBody"
        }
      },
      "description" : "StatusReport"
    },
    "StatusReportBody" : {
      "type" : "object",
      "properties" : {
        "orderDetsTypeGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "orderDetsType" : {
                "type" : "string",
                "description" : "Type of the ordering details",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "orderDetsRefGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "orderDetsRef" : {
                "type" : "string",
                "description" : "Unique and unambiguous identifier for the order, as assigned by the instructing party.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrSts" : {
                "type" : "string",
                "description" : "Status of all the orders in the order message",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCancCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCancCd" : {
                "type" : "string",
                "description" : "Cancelled reason expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCancIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCancId" : {
                "type" : "string",
                "description" : "Cancelled reason expressed as a Id.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCancSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCancSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for cancelled reason",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCancIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCancIssr" : {
                "type" : "string",
                "description" : "Entity that assigns cancellation",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdNoSpcfdRsnGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdNoSpcfdRsn" : {
                "type" : "string",
                "description" : "No reason available or to report for the conditionally accepted status.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdCd" : {
                "type" : "string",
                "description" : "Reason for the conditionally accepted status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdId" : {
                "type" : "string",
                "description" : "Reason for the conditionally accepted status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for conditionally accepted status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdIssr" : {
                "type" : "string",
                "description" : "Entity that assigns conditionally accepted status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsRjctdCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsRjctdCd" : {
                "type" : "string",
                "description" : "Reason for the rejecting the status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsRjctdIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsRjctdId" : {
                "type" : "string",
                "description" : "Reason for the rejecting the status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsRjctdSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsRjctdSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for rejecting the status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsRjctdIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsRjctdIssr" : {
                "type" : "string",
                "description" : "Entity that assigns rejected status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdNoSpcfdRsnGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdNoSpcfdRsn" : {
                "type" : "string",
                "description" : "No reason available or to report for the suspended status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdCd" : {
                "type" : "string",
                "description" : "Reason for the suspended status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdId" : {
                "type" : "string",
                "description" : "Reason for the suspended status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for suspended status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdIssr" : {
                "type" : "string",
                "description" : "Entity that assigns suspended status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprNoSpcfdRsnGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprNoSpcfdRsn" : {
                "type" : "string",
                "description" : "Reason for the inrepair status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprCd" : {
                "type" : "string",
                "description" : "Reason for the inrepair status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprId" : {
                "type" : "string",
                "description" : "Reason for the inrepair status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for inrepair status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprIssr" : {
                "type" : "string",
                "description" : "Entity that assigns inrepair status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsPrtlySttldCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsPrtlySttldCd" : {
                "type" : "string",
                "description" : "Reason for the partially settled status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsPrtlySttldIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsPrtlySttldId" : {
                "type" : "string",
                "description" : "Reason for the partially settled status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsPrtlySttldSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsPrtlySttldSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for partially settled status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsPrtlySttldIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsPrtlySttldIssr" : {
                "type" : "string",
                "description" : "Entity that assigns partially settled status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "msgId" : {
          "type" : "string",
          "description" : "Identification of the message.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "creDtTm" : {
          "type" : "string",
          "description" : "Date of creation of the message.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "receiver" : {
          "type" : "string",
          "description" : "Identifies the receiver of the message",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "StatusReportResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StatusReportResponseBody"
        }
      },
      "description" : "StatusReportResponse"
    },
    "StatusReportResponseBody" : {
      "type" : "object",
      "properties" : {
        "orderDetsTypeGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "orderDetsType" : {
                "type" : "string",
                "description" : "Type of the ordering details",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "orderDetsRefGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "orderDetsRef" : {
                "type" : "string",
                "description" : "Unique and unambiguous identifier for the order, as assigned by the instructing party.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrSts" : {
                "type" : "string",
                "description" : "Status of all the orders in the order message",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCancCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCancCd" : {
                "type" : "string",
                "description" : "Cancelled reason expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCancIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCancId" : {
                "type" : "string",
                "description" : "Cancelled reason expressed as a Id.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCancSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCancSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for cancelled reason",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCancIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCancIssr" : {
                "type" : "string",
                "description" : "Entity that assigns cancellation",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdNoSpcfdRsnGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdNoSpcfdRsn" : {
                "type" : "string",
                "description" : "No reason available or to report for the conditionally accepted status.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdCd" : {
                "type" : "string",
                "description" : "Reason for the conditionally accepted status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdId" : {
                "type" : "string",
                "description" : "Reason for the conditionally accepted status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for conditionally accepted status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsCondlyAccptdIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsCondlyAccptdIssr" : {
                "type" : "string",
                "description" : "Entity that assigns conditionally accepted status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsRjctdCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsRjctdCd" : {
                "type" : "string",
                "description" : "Reason for the rejecting the status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsRjctdIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsRjctdId" : {
                "type" : "string",
                "description" : "Reason for the rejecting the status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsRjctdSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsRjctdSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for rejecting the status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsRjctdIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsRjctdIssr" : {
                "type" : "string",
                "description" : "Entity that assigns rejected status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdNoSpcfdRsnGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdNoSpcfdRsn" : {
                "type" : "string",
                "description" : "No reason available or to report for the suspended status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdCd" : {
                "type" : "string",
                "description" : "Reason for the suspended status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdId" : {
                "type" : "string",
                "description" : "Reason for the suspended status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for suspended status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsSspdIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsSspdIssr" : {
                "type" : "string",
                "description" : "Entity that assigns suspended status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprNoSpcfdRsnGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprNoSpcfdRsn" : {
                "type" : "string",
                "description" : "Reason for the inrepair status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprCd" : {
                "type" : "string",
                "description" : "Reason for the inrepair status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprId" : {
                "type" : "string",
                "description" : "Reason for the inrepair status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for inrepair status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsInRprIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsInRprIssr" : {
                "type" : "string",
                "description" : "Entity that assigns inrepair status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsPrtlySttldCdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsPrtlySttldCd" : {
                "type" : "string",
                "description" : "Reason for the partially settled status expressed as a code.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsPrtlySttldIdGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsPrtlySttldId" : {
                "type" : "string",
                "description" : "Reason for the partially settled status expressed as a Id",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsPrtlySttldSchmeNmGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsPrtlySttldSchmeNm" : {
                "type" : "string",
                "description" : "Name of scheme for partially settled status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ordrStsPrtlySttldIssrGroup" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "ordrStsPrtlySttldIssr" : {
                "type" : "string",
                "description" : "Entity that assigns partially settled status",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "msgId" : {
          "type" : "string",
          "description" : "Identification of the message.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "creDtTm" : {
          "type" : "string",
          "description" : "Date of creation of the message.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "receiver" : {
          "type" : "string",
          "description" : "Identifies the receiver of the message",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}