{
  "swagger" : "2.0",
  "info" : {
    "description" : "API for cash management to create and update bundle accounts",
    "version" : "v1.0.0",
    "title" : "Cash Management - Bundle Account management"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/cashManagement/bundles/accounts/summaryAccounts/transactionStops" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create Block on Summary Accounts",
        "description" : "Create Block on Summary Accounts",
        "operationId" : "createBlockOnSummaryAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BlockOnSummaryAccounts"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createBlockOnSummaryAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/BlockOnSummaryAccountsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update Block on Summary Accounts",
        "description" : "Update Block on Summary Accounts",
        "operationId" : "updateBlockOnSummaryAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BlockOnSummaryAccounts"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateBlockOnSummaryAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/BlockOnSummaryAccountsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/bundles/accounts/currencySummaryAccounts/transactionStops" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create Block on Currency Summary Accounts",
        "description" : "Create Block on Currency Summary Accounts",
        "operationId" : "createBlockOnCurrencySummaryAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BlockOnSummaryAccounts"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createBlockOnCurrencySummaryAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/BlockOnSummaryAccountsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update Block on Currency Summary Accounts",
        "description" : "Update Block on Currency Summary Accounts",
        "operationId" : "updateBlockOnCurrencySummaryAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BlockOnSummaryAccounts"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateBlockOnCurrencySummaryAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/BlockOnSummaryAccountsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/bundles/accounts/transactionAccounts/transactionStops" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create Block on Transaction Accounts",
        "description" : "Create Block on Transaction Accounts",
        "operationId" : "createBlockOnTransactionAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BlockOnTransactionAccounts"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createBlockOnTransactionAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/BlockOnTransactionAccountsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update Block on Transaction Accounts",
        "description" : "Update Block on Transaction Accounts",
        "operationId" : "updateBlockOnTransactionAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BlockOnTransactionAccounts"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateBlockOnTransactionAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/BlockOnTransactionAccountsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/bundles/updateSettlement" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update Settlement instructions to an Account",
        "description" : "Update Settlement instructions to an Account",
        "operationId" : "updateBundleSettlementAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BundleSettlementAccount"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateBundleSettlementAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleSettlementAccountResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/bundles/transactionStops" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create Customer Mass Block",
        "description" : "Create Customer Mass Block for a specific Cash Pool Arrangement Structure over a specified period",
        "operationId" : "createBlockOnCashPoolStructure",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BlockOnCashPoolStructure"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BlockOnCashPoolStructureResponse",
            "schema" : {
              "$ref" : "#/definitions/BlockOnCashPoolStructureResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/bundles/{customerMassBlockId}/transactionStops" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update Customer Mass Block",
        "description" : "Update Customer Mass Block for a specific Cash Pool Arrangement Structure over a specified period",
        "operationId" : "updateBlockOnCashPoolStructure",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerMassBlockId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BlockOnCashPoolStructure"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BlockOnCashPoolStructureResponse",
            "schema" : {
              "$ref" : "#/definitions/BlockOnCashPoolStructureResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "BlockOnSummaryAccounts" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BlockOnSummaryAccountsBody"
        }
      },
      "description" : "BlockOnSummaryAccounts"
    },
    "BlockOnSummaryAccountsBody" : {
      "type" : "object",
      "properties" : {
        "arrangementCustomerIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementCustomerId" : {
                "type" : "string",
                "description" : "Customer id details of the specific arrangement",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "It is a date on/upon which an account is considered to take effect",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 45
        },
        "summary" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "postingRestriction" : {
                "type" : "string",
              "description" : "Identifies any restrictions for posting entries that are to be imposed on the Account",
                "minLength" : 0,
                "maxLength" : 18
              },
              "restrictionReason" : {
                "type" : "string",
                "description" : "Sets restrictions on the actions that can be performed on an account. Allowed values can be retrieved through method getEbLookup, virtualTableName BLOCK.REASON.CODES. ",
                "minLength" : 0,
                "maxLength" : 20
              },
              "restrictionText" : {
                "type" : "string",
                "description" : "Free text information to capture the reason for restriction applied on an account",
                "minLength" : 0,
                "maxLength" : 25
              },
              "startDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Contains the date on which the transaction or payment gets initiated."
              },
              "expiryDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
              },
              "unrestrictionReason" : {
                "type" : "string",
                "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "unrestrictionText" : {
                "type" : "string",
                "description" : "Reason for unblocking the restriction set on an account",
                "minLength" : 0,
                "maxLength" : 25
              }
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "BlockOnSummaryAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BlockOnSummaryAccountsResponseBody"
        }
      },
      "description" : "BlockOnSummaryAccountsResponse"
    },
    "BlockOnSummaryAccountsResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "arrangementCustomerIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "arrangementCustomerId" : {
                    "type" : "string",
                    "description" : "Customer id details of the specific arrangement",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "It is a date on/upon which an account is considered to take effect",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "summary" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "postingRestriction" : {
                      "type" : "string",
                      "description" : "Identifies any restrictions for posting entries that are to be imposed on the Account",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "restrictionReason" : {
                      "type" : "string",
                      "description" : "Sets restrictions on the actions that can be performed on an account. Allowed values can be retrieved through method getEbLookup, virtualTableName BLOCK.REASON.CODES. ",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "restrictionText" : {
                      "type" : "string",
                      "description" : "Free text information to capture the reason for restriction applied on an account",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "startDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "Contains the date on which the transaction or payment gets initiated."
                    },
                    "expiryDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
                    },
                    "unrestrictionReason" : {
                      "type" : "string",
                      "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
                      "minLength" : 0,
                      "maxLength" : 19
                    },
                    "unrestrictionText" : {
                      "type" : "string",
                      "description" : "Reason for unblocking the restriction set on an account",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "BlockOnTransactionAccounts" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BlockOnTransactionAccountsBody"
        }
      },
      "description" : "BlockOnTransactionAccounts"
    },
    "BlockOnTransactionAccountsBody" : {
      "type" : "object",
      "properties" : {
        "arrangementCustomerIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementCustomerId" : {
                "type" : "string",
                "description" : "Customer id details of the specific arrangement",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "It is a date on/upon which an account is considered to take effect",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 45
        },
        "balance" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "postingRestriction" : {
                "type" : "string",
              "description" : "Identifies any restrictions for posting entries that are to be imposed on the Account",
                "minLength" : 0,
                "maxLength" : 18
              },
              "restrictionReason" : {
                "type" : "string",
                "description" : "Sets restrictions on the actions that can be performed on an account. Allowed values can be retrieved through method getEbLookup, virtualTableName BLOCK.REASON.CODES. ",
                "minLength" : 0,
                "maxLength" : 20
              },
              "restrictionText" : {
                "type" : "string",
                "description" : "Free text information to capture the reason for restriction applied on an account",
                "minLength" : 0,
                "maxLength" : 25
              },
              "startDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Contains the date on which the transaction or payment gets initiated."
              },
              "expiryDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
              },
              "unrestrictionReason" : {
                "type" : "string",
                "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
                "minLength" : 0,
                "maxLength" : 19
              },
              "unrestrictionText" : {
                "type" : "string",
                "description" : "Reason for unblocking the restriction set on an account",
                "minLength" : 0,
                "maxLength" : 25
              }
            }
          }
        }
      }
    },
    "BlockOnTransactionAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BlockOnTransactionAccountsResponseBody"
        }
      },
      "description" : "BlockOnTransactionAccountsResponse"
    },
    "BlockOnTransactionAccountsResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "arrangementCustomerIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "arrangementCustomerId" : {
                    "type" : "string",
                    "description" : "Customer id details of the specific arrangement",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "It is a date on/upon which an account is considered to take effect",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "balance" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "postingRestriction" : {
                      "type" : "string",
                      "description" : "Identifies any restrictions for posting entries that are to be imposed on the Account",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "restrictionReason" : {
                      "type" : "string",
                      "description" : "Sets restrictions on the actions that can be performed on an account. Allowed values can be retrieved through method getEbLookup, virtualTableName BLOCK.REASON.CODES. ",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "restrictionText" : {
                      "type" : "string",
                      "description" : "Free text information to capture the reason for restriction applied on an account",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "startDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "Contains the date on which the transaction or payment gets initiated."
                    },
                    "expiryDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
                    },
                    "unrestrictionReason" : {
                      "type" : "string",
                      "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
                      "minLength" : 0,
                      "maxLength" : 19
                    },
                    "unrestrictionText" : {
                      "type" : "string",
                      "description" : "Reason for unblocking the restriction set on an account",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "BundleSettlementAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleSettlementAccountBody"
        }
      },
      "description" : "BundleSettlementAccount"
    },
    "BundleSettlementAccountBody" : {
      "type" : "object",
      "properties" : {
        "arrangementCustomerIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementCustomerId" : {
                "type" : "string",
                "description" : "Customer id details of the specific arrangement",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "It is a date on/upon which an account is considered to take effect",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 45
        },
        "settlement" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "settlement" : {
                "type" : "array",
                "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "payinSettlement" : {
                      "type" : "string",
                      "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "payoutSettlement" : {
                      "type" : "string",
                      "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                      "minLength" : 0,
                      "maxLength" : 16
                    },
                    "reference" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "ddMandateReference" : {
                            "type" : "string",
                            "description" : "Contains the direct debit mandate reference (dd) when the settlement method is set to direct debit. The dd reference is typically the account number followed by a suffix, for example 15245.1",
                            "minLength" : 0,
                            "maxLength" : 18
                          },
                          "payinAccount" : {
                            "type" : "string",
                            "description" : "Contains the account from which funds are to be debited against the payment type",
                            "minLength" : 0,
                            "maxLength" : 12
                          },
                          "payinBeneficiary" : {
                            "type" : "string",
                            "description" : "Contains the beneficiary Id used for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "payinPoProduct" : {
                            "type" : "string",
                            "description" : "Contains the payment order product Id for which the payment is initiated",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "payinPercentage" : {
                            "type" : "string",
                            "description" : "Contains the percentage of the payment amount used for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "payinAmount" : {
                            "type" : "string",
                            "description" : "Contains the finite amount of the payment used for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 11
                          },
                          "payoutAccount" : {
                            "type" : "string",
                            "description" : "The account to which a settlement amount is transferred.",
                            "minLength" : 0,
                            "maxLength" : 13
                          },
                          "payoutBeneficiary" : {
                            "type" : "string",
                            "description" : "The beneficiary that payment should be made to .",
                            "minLength" : 0,
                            "maxLength" : 17
                          },
                          "payoutPoProduct" : {
                            "type" : "string",
                            "description" : "Contains the payout payment order product for which payment is initiated",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "payoutPercentage" : {
                            "type" : "string",
                            "description" : "Contains the percentage of the payment amount used for settlement of the payables",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "payoutAmount" : {
                            "type" : "string",
                            "description" : "Contains the finite amount of the payment used for settlement of the payables",
                            "minLength" : 0,
                            "maxLength" : 12
                          }
                        }
                      }
                    }
                  }
                }
              },
              "fxSettlement" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fxSettlementCurrency" : {
                      "type" : "string",
                      "description" : "Contains the currency for which foreign exchange contra settlement account needs to be maintained",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "fxSettlementAccount" : {
                      "type" : "string",
                      "description" : "Contains the contra settlement accounts used for posting the foreign exchange offset entries",
                      "minLength" : 0,
                      "maxLength" : 19
                    }
                  }
                }
              },
              "assocSettlement" : {
                "type" : "array",
                "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "payinSettlement" : {
                      "type" : "string",
                      "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "payinRule" : {
                      "type" : "string",
                      "description" : "Contains the rule on which the system should utilise the funds available in the pay in account during the settlement process. Options are Full, Partial and None",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "payinSettlementActivity" : {
                      "type" : "string",
                      "description" : "Contains the transaction type used for settlement of the bills due",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "payinRCType" : {
                      "type" : "string",
                      "description" : "Contains the transaction type used by the transaction recycler for retrying the debits",
                      "minLength" : 0,
                      "maxLength" : 11
                    },
                    "payinRCCondition" : {
                      "type" : "string",
                      "description" : "Contains the transaction recycling rules which define the set of retry conditions",
                      "minLength" : 0,
                      "maxLength" : 16
                    },
                    "reference" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "ddMandateReference" : {
                            "type" : "string",
                            "description" : "Contains the direct debit mandate reference (dd) when the settlement method is set to direct debit. The dd reference is typically the account number followed by a suffix, for example 15245.1",
                            "minLength" : 0,
                            "maxLength" : 18
                          },
                          "payinAccount" : {
                            "type" : "string",
                            "description" : "Contains the account from which funds are to be debited against the payment type",
                            "minLength" : 0,
                            "maxLength" : 12
                          },
                          "payinBeneficiary" : {
                            "type" : "string",
                            "description" : "Contains the beneficiary Id used for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "payinPOProduct" : {
                            "type" : "string",
                            "description" : "Contains the payment order product Id for which the payment is initiated",
                            "minLength" : 0,
                            "maxLength" : 14
                          },
                          "payinPercentage" : {
                            "type" : "string",
                            "description" : "Contains the percentage of the payment amount used for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "payinAmount" : {
                            "type" : "string",
                            "description" : "Contains the finite amount of the payment used for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 11
                          },
                          "payinActivity" : {
                            "type" : "string",
                            "description" : "Contains the transaction type used to debit the customer account for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 13
                          }
                        }
                      }
                    }
                  }
                }
              },
              "payout" : {
                "type" : "array",
                "description" : "Id of the product property",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "payoutSettlement" : {
                      "type" : "string",
                      "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                      "minLength" : 0,
                      "maxLength" : 16
                    },
                    "payoutSettlementActivity" : {
                      "type" : "string",
                      "description" : "Contains the transaction type used for settlement of the payables",
                      "minLength" : 0,
                      "maxLength" : 24
                    },
                    "property" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payoutPropertyClass" : {
                            "type" : "string",
                            "description" : "Contains the different payout options, for example charge, interest or principal on which the payout settlement instructions would be processed",
                            "minLength" : 0,
                            "maxLength" : 19
                          },
                          "payoutProperty" : {
                            "type" : "string",
                            "description" : "Contains the different payout options, for example management charge, principal interest or commitment on which the payout settlement instructions would be processed",
                            "minLength" : 0,
                            "maxLength" : 14
                          },
                          "payoutAccount" : {
                            "type" : "string",
                            "description" : "The account to which a settlement amount is transferred.",
                            "minLength" : 0,
                            "maxLength" : 13
                          },
                          "payoutBeneficiary" : {
                            "type" : "string",
                            "description" : "The beneficiary that payment should be made to .",
                            "minLength" : 0,
                            "maxLength" : 17
                          },
                          "payoutPOProduct" : {
                            "type" : "string",
                            "description" : "Contains the payout payment order product for which payment is initiated",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "payoutPercentage" : {
                            "type" : "string",
                            "description" : "Contains the percentage of the payment amount used for settlement of the payables",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "payoutAmount" : {
                            "type" : "string",
                            "description" : "Contains the finite amount of the payment used for settlement of the payables",
                            "minLength" : 0,
                            "maxLength" : 12
                          },
                          "payoutActivity" : {
                            "type" : "string",
                            "description" : "Contains the transaction type used to credit the customer account for settlement of the payables ",
                            "minLength" : 0,
                            "maxLength" : 14
                          }
                        }
                      }
                    }
                  }
                }
              },
              "paymentType" : {
                "type" : "string",
                "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
                "minLength" : 0,
                "maxLength" : 11
              },
              "defaultSettlementAccount" : {
                "type" : "string",
                "description" : "Default settlement account to be used for all incoming payments and outgoing settlements when a specific settlement account is not provided for each payment type.",
                "minLength" : 0,
                "maxLength" : 26
              }
            }
          }
        }
      }
    },
    "BundleSettlementAccountResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleSettlementAccountResponseBody"
        }
      },
      "description" : "BundleSettlementAccountResponse"
    },
    "BundleSettlementAccountResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "arrangementCustomerIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "arrangementCustomerId" : {
                    "type" : "string",
                    "description" : "Customer id details of the specific arrangement",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "It is a date on/upon which an account is considered to take effect",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "settlement" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "settlement" : {
                      "type" : "array",
                      "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "payoutSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "reference" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ddMandateReference" : {
                                  "type" : "string",
                                  "description" : "Contains the direct debit mandate reference (dd) when the settlement method is set to direct debit. The dd reference is typically the account number followed by a suffix, for example 15245.1",
                                  "minLength" : 0,
                                  "maxLength" : 18
                                },
                                "payinAccount" : {
                                  "type" : "string",
                                  "description" : "Contains the account from which funds are to be debited against the payment type",
                                  "minLength" : 0,
                                  "maxLength" : 12
                                },
                                "payinBeneficiary" : {
                                  "type" : "string",
                                  "description" : "Contains the beneficiary Id used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payinPoProduct" : {
                                  "type" : "string",
                                  "description" : "Contains the payment order product Id for which the payment is initiated",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payinPercentage" : {
                                  "type" : "string",
                                  "description" : "Contains the percentage of the payment amount used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 15
                                },
                                "payinAmount" : {
                                  "type" : "string",
                                  "description" : "Contains the finite amount of the payment used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 11
                                },
                                "payoutAccount" : {
                                  "type" : "string",
                                  "description" : "The account to which a settlement amount is transferred.",
                                  "minLength" : 0,
                                  "maxLength" : 13
                                },
                                "payoutBeneficiary" : {
                                  "type" : "string",
                                  "description" : "The beneficiary that payment should be made to .",
                                  "minLength" : 0,
                                  "maxLength" : 17
                                },
                                "payoutPoProduct" : {
                                  "type" : "string",
                                  "description" : "Contains the payout payment order product for which payment is initiated",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payoutPercentage" : {
                                  "type" : "string",
                                  "description" : "Contains the percentage of the payment amount used for settlement of the payables",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payoutAmount" : {
                                  "type" : "string",
                                  "description" : "Contains the finite amount of the payment used for settlement of the payables",
                                  "minLength" : 0,
                                  "maxLength" : 12
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "fxSettlement" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "fxSettlementCurrency" : {
                            "type" : "string",
                            "description" : "Contains the currency for which foreign exchange contra settlement account needs to be maintained",
                            "minLength" : 0,
                            "maxLength" : 20
                          },
                          "fxSettlementAccount" : {
                            "type" : "string",
                            "description" : "Contains the contra settlement accounts used for posting the foreign exchange offset entries",
                            "minLength" : 0,
                            "maxLength" : 19
                          }
                        }
                      }
                    },
                    "assocSettlement" : {
                      "type" : "array",
                      "description" : "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "payinRule" : {
                            "type" : "string",
                            "description" : "Contains the rule on which the system should utilise the funds available in the pay in account during the settlement process. Options are Full, Partial and None",
                            "minLength" : 0,
                            "maxLength" : 9
                          },
                          "payinSettlementActivity" : {
                            "type" : "string",
                            "description" : "Contains the transaction type used for settlement of the bills due",
                            "minLength" : 0,
                            "maxLength" : 23
                          },
                          "payinRCType" : {
                            "type" : "string",
                            "description" : "Contains the transaction type used by the transaction recycler for retrying the debits",
                            "minLength" : 0,
                            "maxLength" : 11
                          },
                          "payinRCCondition" : {
                            "type" : "string",
                            "description" : "Contains the transaction recycling rules which define the set of retry conditions",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "reference" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ddMandateReference" : {
                                  "type" : "string",
                                  "description" : "Contains the direct debit mandate reference (dd) when the settlement method is set to direct debit. The dd reference is typically the account number followed by a suffix, for example 15245.1",
                                  "minLength" : 0,
                                  "maxLength" : 18
                                },
                                "payinAccount" : {
                                  "type" : "string",
                                  "description" : "Contains the account from which funds are to be debited against the payment type",
                                  "minLength" : 0,
                                  "maxLength" : 12
                                },
                                "payinBeneficiary" : {
                                  "type" : "string",
                                  "description" : "Contains the beneficiary Id used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payinPOProduct" : {
                                  "type" : "string",
                                  "description" : "Contains the payment order product Id for which the payment is initiated",
                                  "minLength" : 0,
                                  "maxLength" : 14
                                },
                                "payinPercentage" : {
                                  "type" : "string",
                                  "description" : "Contains the percentage of the payment amount used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 15
                                },
                                "payinAmount" : {
                                  "type" : "string",
                                  "description" : "Contains the finite amount of the payment used for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 11
                                },
                                "payinActivity" : {
                                  "type" : "string",
                                  "description" : "Contains the transaction type used to debit the customer account for settlement of the bills due",
                                  "minLength" : 0,
                                  "maxLength" : 13
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "payout" : {
                      "type" : "array",
                      "description" : "Id of the product property",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payoutSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "payoutSettlementActivity" : {
                            "type" : "string",
                            "description" : "Contains the transaction type used for settlement of the payables",
                            "minLength" : 0,
                            "maxLength" : 24
                          },
                          "property" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "payoutPropertyClass" : {
                                  "type" : "string",
                                  "description" : "Contains the different payout options, for example charge, interest or principal on which the payout settlement instructions would be processed",
                                  "minLength" : 0,
                                  "maxLength" : 19
                                },
                                "payoutProperty" : {
                                  "type" : "string",
                                  "description" : "Contains the different payout options, for example management charge, principal interest or commitment on which the payout settlement instructions would be processed",
                                  "minLength" : 0,
                                  "maxLength" : 14
                                },
                                "payoutAccount" : {
                                  "type" : "string",
                                  "description" : "The account to which a settlement amount is transferred.",
                                  "minLength" : 0,
                                  "maxLength" : 13
                                },
                                "payoutBeneficiary" : {
                                  "type" : "string",
                                  "description" : "The beneficiary that payment should be made to .",
                                  "minLength" : 0,
                                  "maxLength" : 17
                                },
                                "payoutPOProduct" : {
                                  "type" : "string",
                                  "description" : "Contains the payout payment order product for which payment is initiated",
                                  "minLength" : 0,
                                  "maxLength" : 15
                                },
                                "payoutPercentage" : {
                                  "type" : "string",
                                  "description" : "Contains the percentage of the payment amount used for settlement of the payables",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payoutAmount" : {
                                  "type" : "string",
                                  "description" : "Contains the finite amount of the payment used for settlement of the payables",
                                  "minLength" : 0,
                                  "maxLength" : 12
                                },
                                "payoutActivity" : {
                                  "type" : "string",
                                  "description" : "Contains the transaction type used to credit the customer account for settlement of the payables ",
                                  "minLength" : 0,
                                  "maxLength" : 14
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
                      "minLength" : 0,
                      "maxLength" : 11
                    },
                    "defaultSettlementAccount" : {
                      "type" : "string",
                      "description" : "Default settlement account to be used for all incoming payments and outgoing settlements when a specific settlement account is not provided for each payment type.",
                      "minLength" : 0,
                      "maxLength" : 26
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "BlockOnCashPoolStructure" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BlockOnCashPoolStructureBody"
        }
      },
      "description" : "BlockOnCashPoolStructure"
    },
    "BlockOnCashPoolStructureBody" : {
      "type" : "object",
      "properties" : {
        "aaBundleId" : {
          "type" : "string",
          "description" : "Field denotes the Master account id.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "startDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the date on which the transaction or payment gets initiated."
        },
        "endDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
        },
        "unrestrictionReason" : {
          "type" : "string",
          "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "unrestrictionText" : {
          "type" : "string",
          "description" : "Reason for unblocking the restriction set on an account",
          "minLength" : 0,
          "maxLength" : 100
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "BlockOnCashPoolStructureResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BlockOnCashPoolStructureResponseBody"
        }
      },
      "description" : "BlockOnCashPoolStructureResponse"
    },
    "BlockOnCashPoolStructureResponseBody" : {
      "type" : "object",
      "properties" : {
        "aaBundleId" : {
          "type" : "string",
          "description" : "Field denotes the Master account id.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "postingRestriction" : {
          "type" : "string",
          "description" : "Identifies any restrictions for posting entries that are to be imposed on the Account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "blockingCode" : {
          "type" : "string",
          "description" : "Used to specify the blocking reason in terms of identifiable code.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "startDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the date on which the transaction or payment gets initiated."
        },
        "endDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
        },
        "unrestrictionReason" : {
          "type" : "string",
          "description" : "Captures the code that removes the restriction set on an account.  Allowed values can be retrieved through method getEbLookup, virtualTableName UNBLOCK.REASON.CODES.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "unrestrictionText" : {
          "type" : "string",
          "description" : "Reason for unblocking the restriction set on an account",
          "minLength" : 0,
          "maxLength" : 100
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
[...]
