{
  "swagger" : "2.0",
  "info" : {
    "description" : "Payment Order Application (POA) is a Temenos Payments Application that helps bank manage their Payment Orders before they are being sent for payment execution by the bank's payment system. It provides Order Management functionality for Payers to initiate, view and manage their orders from an online channel offered by payer's bank or authorized third party. This page lists the APIs offered by Temenos Payment Order Application to perform Order Management for Payers.",
    "version" : "v3.0.0",
    "title" : "Payment Orders Configuration"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v3.0.0/",
  "tags" : [ ],
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/paymentOrders/purposes" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve payment purpose code details",
        "description" : "Retrieve all the Purpose codes configured in POA. Can be used in channels to list down possible purpose codes for end customer to choose while initiating an Order",
        "operationId" : "getPaymentOrderPurposes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderPurposeCodeId",
          "in" : "query",
          "description" : "Indicates the Id of payment purpose code i.e. purpose of the instruction based on a set of pre-defined categories.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderPurposesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderPurposesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/products" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve payment product details",
        "description" : "Retrieve all the payment products configured in POA. Can be used in channels to list down possible business products while initiating a payment",
        "operationId" : "getPaymentOrderProducts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentProductGroupId",
          "in" : "query",
          "description" : "Payment method group details of the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductId",
          "in" : "query",
          "description" : "Indicates the payment order product for which payment is initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderProductsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderProductsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/countryRules" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve payment country rule details",
        "description" : "Retrieve Country specific rules configured for a given country. This can be used by an external application capturing orders to validate the payment using these rules before submitting.",
        "operationId" : "getPaymentOrderCountryRules",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "countryId",
          "in" : "query",
          "description" : "ISO country code of the financial institution. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderCountryRulesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderCountryRulesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/isoClearingCodes" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve ISO clearing codes",
        "description" : "Retrieve the list of ISO clearing codes for a given Clearing. This information can be used while submitting Orders from the channel.",
        "operationId" : "getISOClearingCodes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ISOClearingCodesResponse",
            "schema" : {
              "$ref" : "#/definitions/ISOClearingCodesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request"
        }
      }
    },
    "PaymentOrderPurposesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderPurposesResponseBody"
        }
      },
      "description" : "PaymentOrderPurposesResponse"
    },
    "PaymentOrderPurposesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "paymentOrderPurposeCodeId" : {
            "type" : "string",
            "description" : "Indicates the Id of payment purpose code i.e. purpose of the instruction based on a set of pre-defined categories.",
            "maxLength" : 4
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 70
          },
          "classification" : {
            "type" : "string",
            "description" : "This indicates a high-level classification of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories.",
            "maxLength" : 70
          },
          "definition" : {
            "type" : "string",
            "description" : "This indicates a full description of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories.",
            "maxLength" : 120
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PaymentOrderProductsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderProductsResponseBody"
        }
      },
      "description" : "PaymentOrderProductsResponse"
    },
    "PaymentOrderProductsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "paymentProductGroupIds" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentProductGroupId" : {
                  "type" : "string",
                  "description" : "Payment method group details of the payment",
                  "maxLength" : 35
                }
              }
            }
          },
          "paymentCurrencyIds" : {
            "type" : "array",
            "description" : "The currency of payment.",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentCurrencyId" : {
                  "type" : "string",
                  "description" : "The currency of payment.",
                  "maxLength" : 3
                }
              }
            }
          },
          "orderingCurrencyIds" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "orderingCurrencyId" : {
                  "type" : "string",
                  "description" : "Debit Account currency specific details",
                  "maxLength" : 3
                }
              }
            }
          },
          "countryIds" : {
            "type" : "array",
            "description" : "ISO country code of the financial institution. ",
            "items" : {
              "type" : "object",
              "properties" : {
                "countryId" : {
                  "type" : "string",
                  "description" : "ISO country code of the financial institution. ",
                  "maxLength" : 2
                }
              }
            }
          },
          "clearingChannelIds" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "clearingChannelId" : {
                  "type" : "string",
                  "description" : "Indicates the clearing channel details to be used",
                  "maxLength" : 35
                }
              }
            }
          },
          "additionalInformations" : {
            "type" : "array",
            "description" : "Additional Information provided to add context",
            "items" : {
              "type" : "object",
              "properties" : {
                "additionalInformation" : {
                  "type" : "string",
                  "description" : "Additional Information provided to add context",
                  "maxLength" : 120
                }
              }
            }
          },
          "paymentOrderProductId" : {
            "type" : "string",
            "description" : "Indicates the payment order product for which payment is initiated",
            "maxLength" : 10
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "rank" : {
            "type" : "string",
            "description" : "Indicates the rank of the payment order product within the group.",
            "maxLength" : 10
          },
          "payThroughBeneficiary" : {
            "type" : "string",
            "description" : "Defines whether payment initiation can be done by providing beneficiary details. This is applicable when beneficiary is not within the same bank",
            "maxLength" : 35
          },
          "futureDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates if a future dated instruction can be inputted for the specific payment order product"
          },
          "requiredCreditValue" : {
            "type" : "string",
            "description" : "Indicates if required credit value date can be inputted for the specific payment order product while initiating a payment",
            "maxLength" : 35
          },
          "IBANSupport" : {
            "type" : "string",
            "description" : "Check for payment support for IBAN or not",
            "maxLength" : 35
          },
          "BICSupport" : {
            "type" : "string",
            "description" : "Check for payment support for BIC or not",
            "maxLength" : 35
          },
          "sortCodeSupport" : {
            "type" : "string",
            "description" : "Check for payment support for sortCode or not",
            "maxLength" : 35
          },
          "narrative" : {
            "type" : "string",
            "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
            "maxLength" : 65
          },
          "weblink" : {
            "type" : "string",
            "description" : "The web link for additional information",
            "maxLength" : 70
          },
          "forexSupport" : {
            "type" : "string",
            "description" : "Check for payment support for forex or not",
            "maxLength" : 3
          },
          "defaultChargeOption" : {
            "type" : "string",
            "description" : "Indicates the charge option which will be defaulted at the time of payment initiation for specific payment order product i.e. Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only.",
            "maxLength" : 35
          },
          "checkTransparency" : {
            "type" : "string",
            "description" : "Used to set if simulation is required or not",
            "maxLength" : 35
          },
          "awaitExternalSubmit" : {
            "type" : "string",
            "description" : "External payment request for approval details",
            "maxLength" : 35
          }
        }
      }
    },
    "PaymentOrderCountryRulesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderCountryRulesResponseBody"
        }
      },
      "description" : "PaymentOrderCountryRulesResponse"
    },
    "PaymentOrderCountryRulesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "clearingChannelIds" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "clearingChannelId" : {
                  "type" : "string",
                  "description" : "Indicates the clearing channel details to be used",
                  "maxLength" : 35
                }
              }
            }
          },
          "paymentCurrencyIds" : {
            "type" : "array",
            "description" : "The currency of payment.",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentCurrencyId" : {
                  "type" : "string",
                  "description" : "The currency of payment.",
                  "maxLength" : 3
                }
              }
            }
          },
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. ",
            "maxLength" : 9
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 65
          },
          "IBANSupport" : {
            "type" : "string",
            "description" : "Check for payment support for IBAN or not",
            "maxLength" : 35
          },
          "BICSupport" : {
            "type" : "string",
            "description" : "Check for payment support for BIC or not",
            "maxLength" : 35
          },
          "sortCodeSupport" : {
            "type" : "string",
            "description" : "Check for payment support for sortCode or not",
            "maxLength" : 35
          }
        }
      }
    },
    "ISOClearingCodesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ISOClearingCodesResponseBody"
        }
      },
      "description" : "ISOClearingCodesResponse"
    },
    "ISOClearingCodesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "clearingId" : {
            "type" : "string",
            "description" : "Clearing channel specific details",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 65
          },
          "swiftPrefix" : {
            "type" : "string",
            "description" : "Prefix of country specific details in payments method",
            "maxLength" : 6
          },
          "countryShortName" : {
            "type" : "string",
            "description" : "Short name of country details",
            "maxLength" : 2
          }
        }
      }
    }
  }
}