{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the viewing and management of the position transfer",
    "version" : "v2.0.0",
    "title" : "Security Position Transfers"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/securityPositionTransferOrdersInitiation" : {
      "post" : {
        "summary" : "Create Position transfer order Initiation",
        "description" : "Create Position transfer order Initiation",
        "operationId" : "createSecurityPositionTransferOrdersInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityPositionTransferOrdersInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/securityPositionTransferOrdersInitiation/{positionTransferOrderId}" : {
      "put" : {
        "summary" : "Update Position transfer order Initiation",
        "description" : "Update Position transfer order Initiation",
        "operationId" : "updateSecurityPositionTransferOrdersInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "positionTransferOrderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityPositionTransferOrdersInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Delete Position transfer order Initiation",
        "description" : "Delete Position transfer order Initiation",
        "operationId" : "deleteSecurityPositionTransferOrdersInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "positionTransferOrderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiationDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityPositionTransferOrdersInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/securityPositionTransferOrdersApprovals/{positionTransferOrderId}" : {
      "put" : {
        "summary" : "Approve Position transfer order Initiation",
        "description" : "Approve Position transfer order Initiation",
        "operationId" : "approvePositionTransferRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "positionTransferOrderId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PositionTransferRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "SecurityPositionTransferOrdersInitiation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiationBody"
        }
      },
      "description" : "SecurityPositionTransferOrdersInitiation"
    },
    "SecurityPositionTransferOrdersInitiationBody" : {
      "type" : "object",
      "required" : [ "fromPortfolio", "toPortfolio" ],
      "properties" : {
        "instruments" : {
          "type" : "array",
          "description" : "The instrument identifier",
          "items" : {
            "type" : "object",
            "properties" : {
              "instrumentId" : {
                "type" : "string",
                "description" : "The identifier of the instrument",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "securityPositions" : {
          "type" : "array",
          "description" : "",
          "items" : {
            "type" : "object",
            "properties" : {
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account",
                "minLength" : 0,
                "maxLength" : 20
              },
              "instrumentId" : {
                "type" : "string",
                "description" : "The identifier of the instrument",
                "minLength" : 0,
                "maxLength" : 20
              },
              "depositoryId" : {
                "type" : "string",
                "description" : "Id of the securities depository.",
                "minLength" : 0,
                "maxLength" : 20
              },
              "nomineeTo" : {
                "type" : "string",
                "description" : "Nominee code to which the positions are to be transferred",
                "minLength" : 0,
                "maxLength" : 20
              },
              "toSubAccount" : {
                "type" : "string",
                "description" : "Sub account to which the positions are to be transferred",
                "minLength" : 0,
                "maxLength" : 20
              },
              "subAccount" : {
                "type" : "string",
                "description" : "The sub-account that the security position is held in.",
                "minLength" : 0,
                "maxLength" : 20
              },
              "quantity" : {
                "type" : "number",
                "description" : "The nominal quantity",
                "minimum" : 0,
                "maximum" : 20
              },
              "price" : {
                "type" : "number",
                "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction.",
                "minimum" : 0,
                "maximum" : 20
              },
              "commission" : {
                "type" : "number",
                "description" : "The bank fees or commission charged for the transaction",
                "minimum" : 0,
                "maximum" : 20
              },
              "taxAmount" : {
                "type" : "number",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment.",
                "minimum" : 0,
                "maximum" : 20
              },
              "instrumentCurrencyId" : {
                "type" : "string",
                "description" : "The currency of the instrument",
                "minLength" : 0,
                "maxLength" : 20
              },
              "outReferenceCurrency" : {
                "type" : "string",
                "description" : "This is the Reference Currency of the Portfolio from where positions are being transferred",
                "minLength" : 0,
                "maxLength" : 20
              },
              "inReferenceCurrency" : {
                "type" : "string",
                "description" : "This is the Reference Currency of the Portfolio to which the positions are being transferred to",
                "minLength" : 0,
                "maxLength" : 20
              },
              "exchangeRate" : {
                "type" : "number",
                "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction.",
                "minimum" : 0,
                "maximum" : 20
              },
              "outExchangeRate" : {
                "type" : "number",
                "description" : "Specifies the exchange rate applicable between the Local Currency and the Portfolio Reference Currency of the portfolio from where the position has been transferred out",
                "minimum" : 0,
                "maximum" : 20
              },
              "inExchangeRate" : {
                "type" : "number",
                "description" : "Specifies the exchange rate applicable between the Local Currency and the Portfolio Reference Currency of the portfolio that the position has been transferred in to",
                "minimum" : 0,
                "maximum" : 20
              }
            }
          }
        },
        "transferDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The transfer date of the transaction"
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "fromPortfolio" : {
          "type" : "string",
          "description" : "Specifies the Security Account from which the Transfer is to be made",
          "minLength" : 1,
          "maxLength" : 20
        },
        "fromCustodian" : {
          "type" : "string",
          "description" : "Specifies the Depository from which the Transfer is to be made",
          "minLength" : 0,
          "maxLength" : 20
        },
        "nomineeFrom" : {
          "type" : "string",
          "description" : "Nominee code from which the positions are to be transferred",
          "minLength" : 0,
          "maxLength" : 20
        },
        "fromSubAccount" : {
          "type" : "string",
          "description" : "Sub account from which the positions are to be transferred",
          "minLength" : 0,
          "maxLength" : 20
        },
        "toPortfolio" : {
          "type" : "string",
          "description" : "Specifies the Security Account to which the Transfer is to be made",
          "minLength" : 1,
          "maxLength" : 20
        },
        "toCustodian" : {
          "type" : "string",
          "description" : "Specifies the Depository to which the Transfer is to be made",
          "minLength" : 0,
          "maxLength" : 20
        },
        "nomineeTo" : {
          "type" : "string",
          "description" : "Nominee code to which the positions are to be transferred",
          "minLength" : 0,
          "maxLength" : 20
        },
        "selectMovements" : {
          "type" : "string",
          "description" : "Provides user the option of changing various details of the security position to be transferred",
          "minLength" : 0,
          "maxLength" : 20
        },
        "numberOfPositions" : {
          "type" : "number",
          "description" : "The maximum number of positions to be transferred using an online transaction",
          "minimum" : 0,
          "maximum" : 20
        },
        "fundPosition" : {
          "type" : "boolean",
          "description" : "Denotes that the transaction is being performed for transferring fund holdings"
        },
        "segregatedAccount" : {
          "type" : "boolean",
          "description" : "This field is used to determine whether the position transfer is for segregated account"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "SecurityPositionTransferOrdersInitiationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityPositionTransferOrdersInitiationResponseBody"
        }
      },
      "description" : "SecurityPositionTransferOrdersInitiationResponse"
    },
    "SecurityPositionTransferOrdersInitiationResponseBody" : {
      "type" : "object",
      "properties" : {
        "instruments" : {
          "type" : "array",
          "description" : "The instrument identifier",
          "items" : {
            "type" : "object",
            "properties" : {
              "instrumentId" : {
                "type" : "string",
                "description" : "The identifier of the instrument",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "securityPositions" : {
          "type" : "array",
          "description" : "",
          "items" : {
            "type" : "object",
            "properties" : {
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account",
                "minLength" : 0,
                "maxLength" : 20
              },
              "instrumentId" : {
                "type" : "string",
                "description" : "The identifier of the instrument",
                "minLength" : 0,
                "maxLength" : 20
              },
              "depositoryId" : {
                "type" : "string",
                "description" : "Id of the securities depository.",
                "minLength" : 0,
                "maxLength" : 20
              },
              "nomineeTo" : {
                "type" : "string",
                "description" : "Nominee code to which the positions are to be transferred",
                "minLength" : 0,
                "maxLength" : 20
              },
              "toSubAccount" : {
                "type" : "string",
                "description" : "Sub account to which the positions are to be transferred",
                "minLength" : 0,
                "maxLength" : 20
              },
              "subAccount" : {
                "type" : "string",
                "description" : "The sub-account that the security position is held in.",
                "minLength" : 0,
                "maxLength" : 20
              },
              "quantity" : {
                "type" : "number",
                "description" : "The nominal quantity",
                "minimum" : 0,
                "maximum" : 20
              },
              "price" : {
                "type" : "number",
                "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction.",
                "minimum" : 0,
                "maximum" : 20
              },
              "commission" : {
                "type" : "number",
                "description" : "The bank fees or commission charged for the transaction",
                "minimum" : 0,
                "maximum" : 20
              },
              "taxAmount" : {
                "type" : "number",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment.",
                "minimum" : 0,
                "maximum" : 20
              },
              "instrumentCurrencyId" : {
                "type" : "string",
                "description" : "The currency of the instrument",
                "minLength" : 0,
                "maxLength" : 20
              },
              "outReferenceCurrency" : {
                "type" : "string",
                "description" : "This is the Reference Currency of the Portfolio from where positions are being transferred",
                "minLength" : 0,
                "maxLength" : 20
              },
              "inReferenceCurrency" : {
                "type" : "string",
                "description" : "This is the Reference Currency of the Portfolio to which the positions are being transferred to",
                "minLength" : 0,
                "maxLength" : 20
              },
              "exchangeRate" : {
                "type" : "number",
                "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction.",
                "minimum" : 0,
                "maximum" : 20
              },
              "outExchangeRate" : {
                "type" : "number",
                "description" : "Specifies the exchange rate applicable between the Local Currency and the Portfolio Reference Currency of the portfolio from where the position has been transferred out",
                "minimum" : 0,
                "maximum" : 20
              },
              "inExchangeRate" : {
                "type" : "number",
                "description" : "Specifies the exchange rate applicable between the Local Currency and the Portfolio Reference Currency of the portfolio that the position has been transferred in to",
                "minimum" : 0,
                "maximum" : 20
              }
            }
          }
        },
        "transferDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The transfer date of the transaction"
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "fromPortfolio" : {
          "type" : "string",
          "description" : "Specifies the Security Account from which the Transfer is to be made",
          "minLength" : 1,
          "maxLength" : 20
        },
        "fromCustodian" : {
          "type" : "string",
          "description" : "Specifies the Depository from which the Transfer is to be made",
          "minLength" : 0,
          "maxLength" : 20
        },
        "nomineeFrom" : {
          "type" : "string",
          "description" : "Nominee code from which the positions are to be transferred",
          "minLength" : 0,
          "maxLength" : 20
        },
        "fromSubAccount" : {
          "type" : "string",
          "description" : "Sub account from which the positions are to be transferred",
          "minLength" : 0,
          "maxLength" : 20
        },
        "toPortfolio" : {
          "type" : "string",
          "description" : "Specifies the Security Account to which the Transfer is to be made",
          "minLength" : 1,
          "maxLength" : 20
        },
        "toCustodian" : {
          "type" : "string",
          "description" : "Specifies the Depository to which the Transfer is to be made",
          "minLength" : 0,
          "maxLength" : 20
        },
        "nomineeTo" : {
          "type" : "string",
          "description" : "Nominee code to which the positions are to be transferred",
          "minLength" : 0,
          "maxLength" : 20
        },
        "selectMovements" : {
          "type" : "string",
          "description" : "Provides user the option of changing various details of the security position to be transferred",
          "minLength" : 0,
          "maxLength" : 20
        },
        "numberOfPositions" : {
          "type" : "number",
          "description" : "The maximum number of positions to be transferred using an online transaction",
          "minimum" : 0,
          "maximum" : 20
        },
        "fundPosition" : {
          "type" : "boolean",
          "description" : "Denotes that the transaction is being performed for transferring fund holdings"
        },
        "segregatedAccount" : {
          "type" : "boolean",
          "description" : "This field is used to determine whether the position transfer is for segregated account"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "SecurityPositionTransferOrdersInitiationDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "SecurityPositionTransferOrdersInitiationDelete"
    }
  }
}