{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to create, update and manage various types of cash management balance sweeps. Some of the types of sweeps that can be created are balance maintenance - maintain a particular balance in the sweep account, surplus balance - sweep out surplus funds to the master account and two-way balance sweeps - combination of surplus and maintenance sweeps.",
    "version" : "v1.0.0",
    "title" : "Cash Management Sweeps"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/cashManagement/sweeps/{accountId}/maintainBalances" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create balance maintenance sweep",
        "description" : "Create maintenance sweep to maintain the minimum balances of the sub-account from the master account.",
        "operationId" : "createMaintainBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MaintainBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update balance maintenance sweep",
        "description" : "Update the details of the maintenance sweep such as the amount, frequency and charges to be applied etc. ",
        "operationId" : "updateMaintainBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MaintainBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/sweeps/{accountId}/surplusBalances" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create surplus balance sweep",
        "description" : "Create surplus sweep to sweep the surplus balances of the sub-account to the master account.",
        "operationId" : "createSurplusBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SurplusBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update surplus balance sweep",
        "description" : "Update the details of the surplus sweep such as amount, frequency and the charges to be applied etc.",
        "operationId" : "updateSurplusBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SurplusBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/sweeps/{accountId}/zeroBalances" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create two-way balance sweep",
        "description" : "Create two-way sweep to maintain or transfer the surplus balances from sub account to the master account ",
        "operationId" : "createZeroBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ZeroBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update two-way balance sweep",
        "description" : "Update the details of the two-way sweep such as the amount, frequency and the charges to be applied etc.",
        "operationId" : "updateZeroBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ZeroBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/sweeps/{accountId}/maintainBalances/crossCurrencies" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create cross currency balance maintenance sweep",
        "description" : "Create cross currency balance maintenance sweep to maintain minimum balance between accounts in different currency. ",
        "operationId" : "createFXCurrencyMaintainBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FXCurrencyMaintainBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update cross currency balance maintenance sweep",
        "description" : "Update the details of the cross maintenance sweep such as the sweep amount, frequency and charges to be applied etc.",
        "operationId" : "updateFXCurrencyMaintainBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FXCurrencyMaintainBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/sweeps/{accountId}/surplusBalances/crossCurrencies" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create cross currency surplus balance sweep",
        "description" : "Create cross currency surplus sweep to transfer the surplus balances to the master account which is maintained in a different currency. ",
        "operationId" : "createFXSurplusBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FXSurplusBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update cross currency surplus balance sweep",
        "description" : "Update the details of the cross currency surplus sweep such as the amount, frequency and charges to be applied etc. ",
        "operationId" : "updateFXSurplusBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FXSurplusBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/sweeps/{accountId}/zeroBalances/crossCurrencies" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create cross currency two-way balance sweep",
        "description" : "Create cross currency two-way sweep to maintain or transfer surplus balances between accounts in different currency",
        "operationId" : "createFXZeroBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FXZeroBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update cross currency two-way balance sweep",
        "description" : "Update the details of the cross currency two-way sweep such as amount, freqency and the charges to be applied etc.",
        "operationId" : "updateFXZeroBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FXZeroBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "MaintainBalanceSweeps" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MaintainBalanceSweepsBody"
        }
      },
      "description" : "MaintainBalanceSweeps"
    },
    "MaintainBalanceSweepsBody" : {
      "type" : "object",
      "properties" : {
        "sweepRelationshipDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "linkAccount" : {
                "type" : "string",
                "description" : "The account which with the source account (the cash pool key) has the sweep relationship.Depending on the rule entered , the link  will either debit or credit the source account.",
                "minLength" : 0,
                "maxLength" : 35
              },
              "rule" : {
                "type" : "string",
                "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
                "minLength" : 0,
                "maxLength" : 35
              },
              "frequency" : {
                "type" : "string",
                "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction.",
                "minLength" : 0,
                "maxLength" : 35
              },
              "minimumBalance" : {
                "type" : "number",
                "description" : "The minimum account balance required",
                "minimum" : 0,
                "maximum" : 35
              },
              "maximumBalance" : {
                "type" : "number",
                "description" : "The maximum account balance allowed",
                "minimum" : 0,
                "maximum" : 35
              },
              "minimumDebitsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount. The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place.",
                "minimum" : 0,
                "maximum" : 35
              },
              "minimumCreditsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount.The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place.",
                "minimum" : 0,
                "maximum" : 35
              },
              "schedule" : {
                "type" : "string",
                "description" : "Indicates where this pool may be run either online or End of the day.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "groupId" : {
          "type" : "string",
          "description" : "Unique ID of the group",
          "minLength" : 0,
          "maxLength" : 35
        },
        "mainAccount" : {
          "type" : "string",
          "description" : "The Account that is defined as the Main Master on AC.CP.GROUP.PARAM. This will be defaulted by the system on entering the GROUP.ID and is not user accessible.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "sequenceNumber" : {
          "type" : "number",
          "description" : " The sequence in which this cash pool record will be processed within the group. ",
          "minimum" : 0,
          "maximum" : 35
        },
        "sweepCancelDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the end date for the sweep record. The record will become inactive after this date, which means that no sweep will be executed after this date."
        },
        "suspensionStartDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspensionEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspendIndefinite" : {
          "type" : "string",
          "description" : "To suspending the cashpool for indefinite period.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "counterBookingSweepAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the ID Account.This Account is used by the system to raise an equal and opposite entry posted against ID Account.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "counterBookingLinkAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the Link Account. This Account is used by the system to raise an equal and opposite entry posted against Link Account.",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "MaintainBalanceSweepsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MaintainBalanceSweepsResponseBody"
        }
      },
      "description" : "MaintainBalanceSweepsResponse"
    },
    "MaintainBalanceSweepsResponseBody" : {
      "type" : "object",
      "properties" : {
        "sweepRelationshipDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "linkAccount" : {
                "type" : "string",
                "description" : "The account which with the source account (the cash pool key) has the sweep relationship.Depending on the rule entered , the link  will either debit or credit the source account.",
                "minLength" : 0,
                "maxLength" : 35
              },
              "rule" : {
                "type" : "string",
                "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
                "minLength" : 0,
                "maxLength" : 35
              },
              "frequency" : {
                "type" : "string",
                "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction.",
                "minLength" : 0,
                "maxLength" : 35
              },
              "minimumBalance" : {
                "type" : "number",
                "description" : "The minimum account balance required",
                "minimum" : 0,
                "maximum" : 35
              },
              "maximumBalance" : {
                "type" : "number",
                "description" : "The maximum account balance allowed",
                "minimum" : 0,
                "maximum" : 35
              },
              "minimumDebitsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount. The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place.",
                "minimum" : 0,
                "maximum" : 35
              },
              "minimumCreditsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount.The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place.",
                "minimum" : 0,
                "maximum" : 35
              },
              "schedule" : {
                "type" : "string",
                "description" : "Indicates where this pool may be run either online or End of the day.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "groupId" : {
          "type" : "string",
          "description" : "Unique ID of the group",
          "minLength" : 0,
          "maxLength" : 35
        },
        "mainAccount" : {
          "type" : "string",
          "description" : "The Account that is defined as the Main Master on AC.CP.GROUP.PARAM. This will be defaulted by the system on entering the GROUP.ID and is not user accessible.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "sequenceNumber" : {
          "type" : "number",
          "description" : " The sequence in which this cash pool record will be processed within the group. ",
          "minimum" : 0,
          "maximum" : 35
        },
        "sweepCancelDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the end date for the sweep record. The record will become inactive after this date, which means that no sweep will be executed after this date."
        },
        "suspensionStartDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspensionEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspendIndefinite" : {
          "type" : "string",
          "description" : "To suspending the cashpool for indefinite period.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "counterBookingSweepAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the ID Account.This Account is used by the system to raise an equal and opposite entry posted against ID Account.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "counterBookingLinkAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the Link Account. This Account is used by the system to raise an equal and opposite entry posted against Link Account.",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}