{
  "swagger" : "2.0",
  "info" : {
    "description" : "Payment Order Application (POA) is a Temenos Payments Application that helps bank manage their Payment Orders before they are being sent for payment execution by the bank's payment system. It provides Order Management functionality for Payers to initiate, view and manage their orders from an online channel offered by payer's bank or authorized third party. This page lists the APIs offered by Temenos Payment Order Application to perform Order Management for Payers.",
    "version" : "v3.0.0",
    "title" : "Payment Orders"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v3.0.0/",
  "tags" : [ ],
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/paymentOrders" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve a list of Payment Orders",
        "description" : "Retrieve a list of authorised Payment Orders based on a specific criteria",
        "operationId" : "getPaymentOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "query",
          "description" : "The unique reference number of payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentStatus",
          "in" : "query",
          "description" : "Describes the current status of the payment order in the payment system",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductId",
          "in" : "query",
          "description" : "Indicates the payment order product for which payment is initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orderingCustomerId",
          "in" : "query",
          "description" : "Indicates the customer id for the ordering customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "uniqueTransactionReference",
          "in" : "query",
          "description" : "Unique transaction reference details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "executionDate",
          "in" : "query",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "bulkReference",
          "in" : "query",
          "description" : "Contains bulk master reference for the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentSource",
          "in" : "query",
          "description" : "Indicates the source from where the payment is originated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrdersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Initiate a new Payment Order",
        "description" : "Create a new Payment Order.  This API can be called in validate or commit mode. Former validates and responds back with status (and errors if any). Latter validates and commits if there are no validation errors.  While creating Instant Payment Orders, set teh value of Local Instrument Code to INST.",
        "operationId" : "createPaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/instantPayments" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Initiate a new instant Payment Order",
        "description" : "Initate a new instant Payment Order.  This API can be called in validate or commit mode. Former validates and responds back with status (and errors if any). Latter validates and commits if there are no validation errors.",
        "operationId" : "createInstantPaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InstantPaymentOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InstantPaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/InstantPaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/{paymentOrderId}/cancellations" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Reject an unauthorised Payment Order",
        "description" : "Delete a Payment Order awaiting supervisor Approval",
        "operationId" : "cancelExternalPaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "path",
          "description" : "The unique reference number of payment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalPaymentOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalPaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalPaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/paymentOrderApprovals/{paymentOrderId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Authorise a Payment Order",
        "description" : "Approve or reject a payment that is awaiting supervisor approval.",
        "operationId" : "approvePaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "path",
          "description" : "The unique reference number of payment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/{paymentOrderId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve Payment Order for a given ID",
        "description" : "Retrieve a specific Order for a given Payment Order ID",
        "operationId" : "getPaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "path",
          "description" : "The unique reference number of payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentStatus",
          "in" : "query",
          "description" : "Describes the current status of the payment order in the payment system",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductId",
          "in" : "query",
          "description" : "Indicates the payment order product for which payment is initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orderingCustomerId",
          "in" : "query",
          "description" : "Indicates the customer id for the ordering customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "uniqueTransactionReference",
          "in" : "query",
          "description" : "Unique transaction reference details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "executionDate",
          "in" : "query",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "bulkReference",
          "in" : "query",
          "description" : "Contains bulk master reference for the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentSource",
          "in" : "query",
          "description" : "Indicates the source from where the payment is originated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrdersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Amend an unathorised Payment Order",
        "description" : "Amend attributes of a Payment Order that is yet to be approved by supervisor",
        "operationId" : "updatePaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "path",
          "description" : "The unique reference number of payment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Cancel Payment Order",
        "description" : "Cancel an approved Payment Order that is in an awaiting status viz. Warehouse, Awaiting Funds",
        "operationId" : "deletePaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "path",
          "description" : "The unique reference number of payment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PaymentOrderDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/trackedPayments" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the status of an Order",
        "description" : "Retrieve the status of Payment Order for a given Order ID",
        "operationId" : "getTrackedPaymentOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "query",
          "description" : "The unique reference number of payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentSystemId",
          "in" : "query",
          "description" : "Payment system id details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "TrackedPaymentOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/TrackedPaymentOrdersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/gpi/trackedPayments" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve GPI tracking information",
        "description" : "Retrieve SWIFT GPI tracker status of a payment. Pre-requisite API must be called before calling this API.",
        "operationId" : "getGpiPaymentTracking",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "query",
          "description" : "Indicates the unique reference number of the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentMethod",
          "in" : "query",
          "description" : "Method chosen to make the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "GpiPaymentTrackingResponse",
            "schema" : {
              "$ref" : "#/definitions/GpiPaymentTrackingResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/recalls/eligibleOrders" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the payments eligible for recall",
        "description" : "Retrieve completed payments that are eligible for recall",
        "operationId" : "getPaymentOrdersForRecall",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "orderingCustomerId",
          "in" : "query",
          "description" : "Indicates the customer id for the ordering customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderId",
          "in" : "query",
          "description" : "The unique reference number of payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductId",
          "in" : "query",
          "description" : "Indicates the payment order product for which payment is initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrdersForRecallResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrdersForRecallResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/recalls/status" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the status of recall request",
        "description" : "Retrieve the status of an outward recall requests sent for completed payments",
        "operationId" : "getPaymentOrderRecallStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "query",
          "description" : "The unique reference number of payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductId",
          "in" : "query",
          "description" : "Indicates the payment order product for which payment is initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orderingCustomerId",
          "in" : "query",
          "description" : "Indicates the customer id for the ordering customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderRecallStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderRecallStatusResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/gpi/payments/{paymentId}/status" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a reference and update GPI tracker status",
        "description" : "Pre-requisite API to be called by the calling application (before get GPI status API) so as to ensure Temenos GPI tracker process retrieves the latest status from SWIFT GPI Tracker",
        "operationId" : "createGPIPaymentStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GPIPaymentStatus"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "GPIPaymentStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/GPIPaymentStatusResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Updates GPI tracker status",
        "description" : "Pre-requisite API to be called by the calling application (before get GPI status API) so as to ensure Temenos GPI tracker process retrieves the latest status from SWIFT GPI Tracker",
        "operationId" : "updateGPIPaymentStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GPIPaymentStatus"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "GPIPaymentStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/GPIPaymentStatusResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PaymentOrder" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderBody"
        }
      },
      "description" : "PaymentOrder"
    },
    "PaymentOrderBody" : {
      "type" : "object",
      "required" : [ "amount", "paymentOrderProductId" ],
      "properties" : {
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
                "minLength" : 0,
                "maxLength" : 65
              }
            }
          }
        },
        "additionalInformations" : {
          "type" : "array",
          "description" : "Additional Information provided to add context",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalInformation" : {
                "type" : "string",
                "description" : "Additional Information provided to add context",
                "minLength" : 0,
                "maxLength" : 65
              }
            }
          }
        },
        "remittanceInformations" : {
          "type" : "array",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items" : {
            "type" : "object",
            "properties" : {
              "remittanceInformation" : {
                "type" : "string",
                "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "minLength" : 0,
                "maxLength" : 100
              }
            }
          }
        },
        "signatories" : {
          "type" : "array",
          "description" : "Indicates the authorised signatories for the payments. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items" : {
            "type" : "object",
            "properties" : {
              "signatory" : {
                "type" : "string",
                "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "invoiceReferences" : {
          "type" : "array",
          "description" : "It provides the reference of the invoice ",
          "items" : {
            "type" : "object",
            "properties" : {
              "invoiceReference" : {
                "type" : "string",
                "description" : "It provides the reference of the invoice ",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "Defines the charges collected for a transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeType" : {
                "type" : "string",
                "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
                "minLength" : 0,
                "maxLength" : 20
              },
              "chargeName" : {
                "type" : "string",
                "description" : "The description of the charge to be taken for payment",
                "minLength" : 0,
                "maxLength" : 50
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "minLength" : 0,
                "maxLength" : 14
              },
              "chargeAmount" : {
                "type" : "number",
                "description" : "Retrieves the Charge Amount after redeem",
                "minimum" : 0,
                "maximum" : 19
              },
              "chargeAccountCurrencyAmount" : {
                "type" : "string",
                "description" : "Holds the charge to be applied for the corresponding charge type for the order in the currency of the charge account",
                "minLength" : 0,
                "maxLength" : 27
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "reasons" : {
          "type" : "array",
          "description" : "Contains the reason for the creation of the Mandate",
          "items" : {
            "type" : "object",
            "properties" : {
              "reason" : {
                "type" : "string",
                "description" : "Contains the reason for the creation of the Mandate",
                "minLength" : 0,
                "maxLength" : 6
              }
            }
          }
        },
        "accountWithInstitutionAddresses" : {
          "type" : "array",
          "description" : "Contains the additional address lines of the account with institution.",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithInstitutionAddress" : {
                "type" : "string",
                "description" : "Contains the additional address lines of the account with institution.",
                "minLength" : 0,
                "maxLength" : 100
              }
            }
          }
        },
        "orderingPostAddrLine" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "debtorAddress" : {
                "type" : "string",
                "description" : "Debtor address details",
                "minLength" : 0,
                "maxLength" : 70
              }
            }
          }
        },
        "contextNames" : {
          "type" : "array",
          "description" : "Field name returned by the payment engine (TPH) for information or further processing.",
          "items" : {
            "type" : "object",
            "properties" : {
              "contextName" : {
                "type" : "string",
                "description" : "Field name returned by the payment engine (TPH) for information or further processing.",
                "minLength" : 0,
                "maxLength" : 11
              }
            }
          }
        },
        "contextValues" : {
          "type" : "array",
          "description" : "Field value returned by the payment engine (TPH) for information or further processing.",
          "items" : {
            "type" : "object",
            "properties" : {
              "contextValue" : {
                "type" : "string",
                "description" : "Field value returned by the payment engine (TPH) for information or further processing.",
                "minLength" : 0,
                "maxLength" : 12
              }
            }
          }
        },
        "messageType" : {
          "type" : "array",
          "description" : "Defines the type of swift messages that are sent or received for a transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "incomingMessageType" : {
                "type" : "string",
                "description" : "Indicates the supported message type to be received from the clearing house or the direct participant.",
                "minLength" : 0,
                "maxLength" : 19
              }
            }
          }
        },
        "paymentOrderProductId" : {
          "type" : "string",
          "description" : "Indicates the payment order product for which payment is initiated",
          "minLength" : 1,
          "maxLength" : 35
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 0,
          "maxLength" : 34
        },
        "debitAccountIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the debtor account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 0,
          "maxLength" : 19
        },
        "creditAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the credit account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "orderingCustomerId" : {
          "type" : "string",
          "description" : "Indicates the customer id for the ordering customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "orderingCustomerName" : {
          "type" : "string",
          "description" : "Indicates the name of Ordering Customer",
          "minLength" : 0,
          "maxLength" : 140
        },
        "paymentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of payment.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount",
          "minimum" : 1,
          "maximum" : 19
        },
        "executionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction."
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency",
          "minLength" : 0,
          "maxLength" : 12
        },
        "forexSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency",
          "minLength" : 0,
          "maxLength" : 12
        },
        "orderingPaymentFxCustomerRate" : {
          "type" : "string",
          "description" : "The customer rate for the conversion between payment currency and ordering currency",
          "minLength" : 0,
          "maxLength" : 29
        },
        "orderingPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio",
          "minLength" : 0,
          "maxLength" : 18
        },
        "creditPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio",
          "minLength" : 0,
          "maxLength" : 18
        },
        "orderingReference" : {
          "type" : "string",
          "description" : "The reference related to the ordering details",
          "minLength" : 0,
          "maxLength" : 18
        },
        "chargeBearer" : {
          "type" : "string",
          "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the reference of the financial institution that allows access to the beneficiary information",
          "minLength" : 0,
          "maxLength" : 17
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number.",
          "minLength" : 0,
          "maxLength" : 34
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Short title or short name of the beneficiary",
          "minLength" : 0,
          "maxLength" : 70
        },
        "accountWithBankBIC" : {
          "type" : "string",
          "description" : "This is the BIC code of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 27
        },
        "beneficiaryBankClearingCode" : {
          "type" : "string",
          "description" : "Clearing code or sort code of the beneficiary bank",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankClearingCode" : {
          "type" : "string",
          "description" : "This is the national clearing code or sort code of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "clearingChannel" : {
          "type" : "string",
          "description" : "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers",
          "minLength" : 0,
          "maxLength" : 35
        },
        "structuredCreditorReference" : {
          "type" : "string",
          "description" : "Contains description of the credit account reference",
          "minLength" : 0,
          "maxLength" : 65
        },
        "beneficiaryCountryCode" : {
          "type" : "string",
          "description" : "Creditor country code details",
          "minLength" : 0,
          "maxLength" : 22
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "requiredCreditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose" : {
          "type" : "string",
          "description" : "Purpose identifier of the payment or transaction, for SEPA payments in general.",
          "minLength" : 0,
          "maxLength" : 65
        },
        "structuredCommunicationCode" : {
          "type" : "string",
          "description" : "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)",
          "minLength" : 0,
          "maxLength" : 35
        },
        "structuredIssuer" : {
          "type" : "string",
          "description" : "Entity that assigns the identification",
          "minLength" : 0,
          "maxLength" : 65
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "instructionIdReference" : {
          "type" : "string",
          "description" : "Indicates the SEPA purpose of the SEPA Payment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "termsAndConditions" : {
          "type" : "string",
          "description" : "Specifies the terms and conditions in the text format for the payment instruction, if any.",
          "minLength" : 0,
          "maxLength" : 120
        },
        "indicativeRate" : {
          "type" : "string",
          "description" : "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. ",
          "minLength" : 0,
          "maxLength" : 14
        },
        "chargeAccountId" : {
          "type" : "string",
          "description" : "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account",
          "minLength" : 0,
          "maxLength" : 34
        },
        "chargeAccountCurrencyId" : {
          "type" : "string",
          "description" : "When a charge account is specified, this field indicates the currency of the charge account",
          "minLength" : 0,
          "maxLength" : 23
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference quoted by the credit account for a payment"
        },
        "PSDCompliant" : {
          "type" : "string",
          "description" : "Defines whether the transaction is PSD (Payment Services Directive) compliant or not.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "totalDebitAmount" : {
          "type" : "string",
          "description" : "The total debit amount including the charges associated for the payment",
          "minLength" : 0,
          "maxLength" : 19
        },
        "localInstrumentCode" : {
          "type" : "string",
          "description" : "List of transfer type has been mentioned locally in a record",
          "minLength" : 0,
          "maxLength" : 35
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "minLength" : 0,
          "maxLength" : 12
        },
        "bulkReference" : {
          "type" : "string",
          "description" : "Contains bulk master reference for the payment.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "bulkTypeId" : {
          "type" : "string",
          "description" : "Identifier of the bulk update type record that holds default conditions required for Bulk Master creation. SINGLE and MULTI are two record references used by payment order application for processing payments induced through Bulk Master.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "action" : {
          "type" : "string",
          "description" : "Refers to view or cancel options.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "cancelReason" : {
          "type" : "string",
          "description" : "Contains the reason for which the payment is cancelled.",
          "minLength" : 0,
          "maxLength" : 12
        },
        "cancelRemark" : {
          "type" : "string",
          "description" : "Contains the remarks given for cancellation.",
          "minLength" : 0,
          "maxLength" : 12
        },
        "initiationTime" : {
          "type" : "string",
          "description" : "Initiation of the payment time details",
          "minLength" : 0,
          "maxLength" : 14
        },
        "orderInitiationType" : {
          "type" : "string",
          "description" : "It indicates whether the payment was initiated by bank user, corporate or private client",
          "minLength" : 0,
          "maxLength" : 19
        },
        "beneficiaryPhoneNumber" : {
          "type" : "string",
          "description" : "Contains phone number of the beneficiary.",
          "minLength" : 0,
          "maxLength" : 22
        },
        "beneficiaryEmailId" : {
          "type" : "string",
          "description" : "Contains email id of the beneficary.",
          "minLength" : 0,
          "maxLength" : 18
        },
        "accountWithBankCountryId" : {
          "type" : "string",
          "description" : "The country of the beneficiary institution i.e. where the final creditor holds an account",
          "minLength" : 0,
          "maxLength" : 24
        },
        "paymentRequestedForexCustomerRate" : {
          "type" : "string",
          "description" : "It indicates the customer rate for the conversion between payment currency and ordering currency",
          "minLength" : 0,
          "maxLength" : 33
        },
        "accountType" : {
          "type" : "string",
          "description" : "Groups the products based on their type, eg, Checking, Savings, CD etc,.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "requestedAmount" : {
          "type" : "string",
          "description" : "Requested amount for funds authorisation",
          "minLength" : 0,
          "maxLength" : 19
        },
        "requestedCurrency" : {
          "type" : "string",
          "description" : "The currency the amount is requested in.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "preAuthorizationReference" : {
          "type" : "string",
          "description" : "Contains the pre authorization reference for manually authorized funds.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "sourceType" : {
          "type" : "string",
          "description" : "Indicates source type to determine base amount. Possible values are BALANCE (base amount of a property), ACTIVITY ( transaction amount against an activity) or PROPERTY (this type is currently not supported)",
          "minLength" : 0,
          "maxLength" : 10
        },
        "cutOffTime" : {
          "type" : "string",
          "description" : "The Cut off time when all executions for the day are consolidated to create a trade",
          "minLength" : 0,
          "maxLength" : 10
        },
        "simulatedAt" : {
          "type" : "string",
          "description" : "Time when payment transaction was simulated",
          "minLength" : 0,
          "maxLength" : 11
        },
        "simulationChecked" : {
          "type" : "string",
          "description" : "Indicates if simulation is performed for the payment order",
          "minLength" : 0,
          "maxLength" : 17
        },
        "lockedEventReference" : {
          "type" : "string",
          "description" : "Captures the AC.LOCKED.EVENTS id if in case the funds is available and reserved.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "simulationProduct" : {
          "type" : "string",
          "description" : "Contains the payment order product which is referred during simulation from channels.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "debtorAgent" : {
          "type" : "string",
          "description" : "Debtor agent details",
          "minLength" : 0,
          "maxLength" : 11
        },
        "messagePriority" : {
          "type" : "string",
          "description" : "Contains the priority code of the payment message",
          "minLength" : 0,
          "maxLength" : 15
        },
        "country" : {
          "type" : "string",
          "description" : "Identifies the country of the customer.",
          "minLength" : 0,
          "maxLength" : 7
        },
        "intermediaryFiBicCode" : {
          "type" : "string",
          "description" : "BIC code of Intermediary Financial institution",
          "minLength" : 0,
          "maxLength" : 21
        },
        "intermediaryFiRoutingNo" : {
          "type" : "string",
          "description" : "Routing number of Intermediary Financial institution",
          "minLength" : 0,
          "maxLength" : 23
        },
        "creditorName" : {
          "type" : "string",
          "description" : "Name or short title of the credit account",
          "minLength" : 0,
          "maxLength" : 12
        },
        "forexDealId" : {
          "type" : "string",
          "description" : "The  FX deal reference number. ",
          "minLength" : 0,
          "maxLength" : 11
        },
        "internalStatus" : {
          "type" : "string",
          "description" : "This indicates a full description of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories.",
          "minLength" : 0,
          "maxLength" : 14
        },
        "baseCurrency" : {
          "type" : "string",
          "description" : "Contains the currency of the arrangement which linked to the package or bundle",
          "minLength" : 0,
          "maxLength" : 12
        },
        "submitOrder" : {
          "type" : "string",
          "description" : "Contains the options yes or no to submit a payment order for execution.",
          "minLength" : 0,
          "maxLength" : 11
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PaymentOrderResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderResponseBody"
        }
      },
      "description" : "PaymentOrderResponse"
    },
    "PaymentOrderResponseBody" : {
      "type" : "object",
      "properties" : {
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
                "minLength" : 0,
                "maxLength" : 65
              }
            }
          }
        },
        "additionalInformations" : {
          "type" : "array",
          "description" : "Additional Information provided to add context",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalInformation" : {
                "type" : "string",
                "description" : "Additional Information provided to add context",
                "minLength" : 0,
                "maxLength" : 65
              }
            }
          }
        },
        "remittanceInformations" : {
          "type" : "array",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items" : {
            "type" : "object",
            "properties" : {
              "remittanceInformation" : {
                "type" : "string",
                "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "minLength" : 0,
                "maxLength" : 100
              }
            }
          }
        },
        "signatories" : {
          "type" : "array",
          "description" : "Indicates the authorised signatories for the payments. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items" : {
            "type" : "object",
            "properties" : {
              "signatory" : {
                "type" : "string",
                "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "invoiceReferences" : {
          "type" : "array",
          "description" : "It provides the reference of the invoice ",
          "items" : {
            "type" : "object",
            "properties" : {
              "invoiceReference" : {
                "type" : "string",
                "description" : "It provides the reference of the invoice ",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "Defines the charges collected for a transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeType" : {
                "type" : "string",
                "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
                "minLength" : 0,
                "maxLength" : 20
              },
              "chargeName" : {
                "type" : "string",
                "description" : "The description of the charge to be taken for payment",
                "minLength" : 0,
                "maxLength" : 50
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "minLength" : 0,
                "maxLength" : 14
              },
              "chargeAmount" : {
                "type" : "number",
                "description" : "Retrieves the Charge Amount after redeem",
                "minimum" : 0,
                "maximum" : 19
              },
              "chargeAccountCurrencyAmount" : {
                "type" : "string",
                "description" : "Holds the charge to be applied for the corresponding charge type for the order in the currency of the charge account",
                "minLength" : 0,
                "maxLength" : 27
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "reasons" : {
          "type" : "array",
          "description" : "Contains the reason for the creation of the Mandate",
          "items" : {
            "type" : "object",
            "properties" : {
              "reason" : {
                "type" : "string",
                "description" : "Contains the reason for the creation of the Mandate",
                "minLength" : 0,
                "maxLength" : 6
              }
            }
          }
        },
        "accountWithInstitutionAddresses" : {
          "type" : "array",
          "description" : "Contains the additional address lines of the account with institution.",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithInstitutionAddress" : {
                "type" : "string",
                "description" : "Contains the additional address lines of the account with institution.",
                "minLength" : 0,
                "maxLength" : 100
              }
            }
          }
        },
        "orderingPostAddrLine" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "debtorAddress" : {
                "type" : "string",
                "description" : "Debtor address details",
                "minLength" : 0,
                "maxLength" : 70
              }
            }
          }
        },
        "contextNames" : {
          "type" : "array",
          "description" : "Field name returned by the payment engine (TPH) for information or further processing.",
          "items" : {
            "type" : "object",
            "properties" : {
              "contextName" : {
                "type" : "string",
                "description" : "Field name returned by the payment engine (TPH) for information or further processing.",
                "minLength" : 0,
                "maxLength" : 11
              }
            }
          }
        },
        "contextValues" : {
          "type" : "array",
          "description" : "Field value returned by the payment engine (TPH) for information or further processing.",
          "items" : {
            "type" : "object",
            "properties" : {
              "contextValue" : {
                "type" : "string",
                "description" : "Field value returned by the payment engine (TPH) for information or further processing.",
                "minLength" : 0,
                "maxLength" : 12
              }
            }
          }
        },
        "messageType" : {
          "type" : "array",
          "description" : "Defines the type of swift messages that are sent or received for a transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "incomingMessageType" : {
                "type" : "string",
                "description" : "Indicates the supported message type to be received from the clearing house or the direct participant.",
                "minLength" : 0,
                "maxLength" : 19
              }
            }
          }
        },
        "paymentOrderProductId" : {
          "type" : "string",
          "description" : "Indicates the payment order product for which payment is initiated",
          "minLength" : 1,
          "maxLength" : 35
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 0,
          "maxLength" : 34
        },
        "debitAccountIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the debtor account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 0,
          "maxLength" : 19
        },
        "creditAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the credit account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "orderingCustomerId" : {
          "type" : "string",
          "description" : "Indicates the customer id for the ordering customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "orderingCustomerName" : {
          "type" : "string",
          "description" : "Indicates the name of Ordering Customer",
          "minLength" : 0,
          "maxLength" : 140
        },
        "paymentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of payment.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount",
          "minimum" : 1,
          "maximum" : 19
        },
        "executionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction."
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency",
          "minLength" : 0,
          "maxLength" : 12
        },
        "forexSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency",
          "minLength" : 0,
          "maxLength" : 12
        },
        "orderingPaymentFxCustomerRate" : {
          "type" : "string",
          "description" : "The customer rate for the conversion between payment currency and ordering currency",
          "minLength" : 0,
          "maxLength" : 29
        },
        "orderingPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio",
          "minLength" : 0,
          "maxLength" : 18
        },
        "creditPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio",
          "minLength" : 0,
          "maxLength" : 18
        },
        "orderingReference" : {
          "type" : "string",
          "description" : "The reference related to the ordering details",
          "minLength" : 0,
          "maxLength" : 18
        },
        "chargeBearer" : {
          "type" : "string",
          "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the reference of the financial institution that allows access to the beneficiary information",
          "minLength" : 0,
          "maxLength" : 17
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number.",
          "minLength" : 0,
          "maxLength" : 34
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Short title or short name of the beneficiary",
          "minLength" : 0,
          "maxLength" : 70
        },
        "accountWithBankBIC" : {
          "type" : "string",
          "description" : "This is the BIC code of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 27
        },
        "beneficiaryBankClearingCode" : {
          "type" : "string",
          "description" : "Clearing code or sort code of the beneficiary bank",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankClearingCode" : {
          "type" : "string",
          "description" : "This is the national clearing code or sort code of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "clearingChannel" : {
          "type" : "string",
          "description" : "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers",
          "minLength" : 0,
          "maxLength" : 35
        },
        "structuredCreditorReference" : {
          "type" : "string",
          "description" : "Contains description of the credit account reference",
          "minLength" : 0,
          "maxLength" : 65
        },
        "beneficiaryCountryCode" : {
          "type" : "string",
          "description" : "Creditor country code details",
          "minLength" : 0,
          "maxLength" : 22
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "requiredCreditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose" : {
          "type" : "string",
          "description" : "Purpose identifier of the payment or transaction, for SEPA payments in general.",
          "minLength" : 0,
          "maxLength" : 65
        },
        "structuredCommunicationCode" : {
          "type" : "string",
          "description" : "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)",
          "minLength" : 0,
          "maxLength" : 35
        },
        "structuredIssuer" : {
          "type" : "string",
          "description" : "Entity that assigns the identification",
          "minLength" : 0,
          "maxLength" : 65
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "instructionIdReference" : {
          "type" : "string",
          "description" : "Indicates the SEPA purpose of the SEPA Payment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "termsAndConditions" : {
          "type" : "string",
          "description" : "Specifies the terms and conditions in the text format for the payment instruction, if any.",
          "minLength" : 0,
          "maxLength" : 120
        },
        "indicativeRate" : {
          "type" : "string",
          "description" : "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. ",
          "minLength" : 0,
          "maxLength" : 14
        },
        "chargeAccountId" : {
          "type" : "string",
          "description" : "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account",
          "minLength" : 0,
          "maxLength" : 34
        },
        "chargeAccountCurrencyId" : {
          "type" : "string",
          "description" : "When a charge account is specified, this field indicates the currency of the charge account",
          "minLength" : 0,
          "maxLength" : 23
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference quoted by the credit account for a payment"
        },
        "PSDCompliant" : {
          "type" : "string",
          "description" : "Defines whether the transaction is PSD (Payment Services Directive) compliant or not.",
          "minLength" : 0,
          "maxLength" : 35
        },
[...]
