{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to create, update and manage Payment Stop instructions for an account based on the Cheque details or Transaction Amount",
    "version" : "v2.0.0",
    "title" : "Payment Stop Service"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/paymentStops/{accountId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of Payment Stop requests for an Account",
        "description" : "Retrieves the list of Payment Stop requests  details such Cheque nos, Amount range, Beneficiary, Period and Charge details available for a specific account",
        "operationId" : "getPaymentStop",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Create Payment Stop request",
        "description" : "Create a Payment Stop Request for an Account with details such as Cheque number range, amount range, period & Charges for blocking the transaction",
        "operationId" : "createPaymentStop",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentStop"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update Payment Stop request",
        "description" : "Update a Payment Stop Request for an Account with details such as Cheque nos range, amount range, period & Charges",
        "operationId" : "updatePaymentStop",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentStop"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentStops" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves all the Payment Stop requests",
        "description" : "Retrieves the list of Payment Stop requests available in the system with details such as Account Reference, Cheque nos, Amount range, Beneficiary, Period and Charge details",
        "operationId" : "getPaymentStops",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stopTypeId",
          "in" : "query",
          "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PaymentStop" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopBody"
        }
      },
      "description" : "PaymentStop"
    },
    "PaymentStopBody" : {
      "type" : "object",
      "properties" : {
        "stops" : {
          "type" : "array",
          "description" : "General comments / notes.",
          "items" : {
            "type" : "object",
            "properties" : {
              "stopTypeId" : {
                "type" : "string",
                "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
                "minLength" : 0,
                "maxLength" : 25
              },
              "firstChequeId" : {
                "type" : "string",
                "description" : "It is possible to stop a range of cheques in one instruction. This indicates the first cheque number in the range for which payment stop instruction is effective",
                "minLength" : 0,
                "maxLength" : 25
              },
              "lastChequeId" : {
                "type" : "string",
                "description" : "It is possible to stop a range of cheques in one instruction. This indicates the last cheque number in the range for which payment stop instruction is effective",
                "minLength" : 0,
                "maxLength" : 25
              },
              "chequeTypeId" : {
                "type" : "string",
                "description" : "Indicates the type of Cheques for which payment stop instruction is effective",
                "minLength" : 0,
                "maxLength" : 25
              },
              "stopDate" : {
                "type" : "string",
                "description" : "Indicates the date on which the Payment Stop is placed",
                "minLength" : 0,
                "maxLength" : 25
              },
              "amountFrom" : {
                "type" : "number",
                "description" : "Specifies the Amount From which the Payment Stop instruction is effective.",
                "minimum" : 0,
                "maximum" : 25
              },
              "amountTo" : {
                "type" : "number",
                "description" : "Specifies the Amount up To which the Payment Stop instruction is effective.",
                "minimum" : 0,
                "maximum" : 25
              },
              "beneficiaryId" : {
                "type" : "string",
                "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
                "minLength" : 0,
                "maxLength" : 25
              },
              "waiveCharge" : {
                "type" : "string",
                "description" : "Indicates if the charges are to be waived for the instruction",
                "minLength" : 0,
                "maxLength" : 25
              },
              "isRevoke" : {
                "type" : "string",
                "description" : "Specifies the flag ,which indicates that the stop payment is to be revoked",
                "minLength" : 0,
                "maxLength" : 10
              },
              "chequeId" : {
                "type" : "string",
                "description" : "Internal cheque id, formed as chequeType.accountId.chequeOrDraftNumber",
                "minLength" : 0,
                "maxLength" : 8
              },
              "revokeChequeTypeId" : {
                "type" : "string",
                "description" : "Specifies type of cheques for which revoke payment stop instruction is effective",
                "minLength" : 0,
                "maxLength" : 18
              },
              "revokeDate" : {
                "type" : "string",
                "description" : "Specifies the date for revoke stop cheque payment",
                "minLength" : 0,
                "maxLength" : 10
              },
              "charges" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "chargeId" : {
                      "type" : "string",
                      "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "accountId" : {
                      "type" : "string",
                      "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "chargeCurrency" : {
                      "type" : "string",
                      "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeAmount" : {
                      "type" : "string",
                      "description" : "Retrieves the Charge Amount after redeem",
                      "minLength" : 0,
                      "maxLength" : 12
                    }
                  }
                }
              },
              "remarks" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "displayName" : {
                      "type" : "string",
                      "description" : "Contains the name used for display or enrichment purposes",
                      "minLength" : 0,
                      "maxLength" : 11
                    }
                  }
                }
              }
            }
          }
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "issueDate" : {
          "type" : "string",
          "description" : "The date the item was issued.",
          "minLength" : 0,
          "maxLength" : 9
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PaymentStopResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopResponseBody"
        }
      },
      "description" : "PaymentStopResponse"
    },
    "PaymentStopResponseBody" : {
      "type" : "object",
      "properties" : {
        "stops" : {
          "type" : "array",
          "description" : "General comments / notes.",
          "items" : {
            "type" : "object",
            "properties" : {
              "stopTypeId" : {
                "type" : "string",
                "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
                "minLength" : 0,
                "maxLength" : 25
              },
              "firstChequeId" : {
                "type" : "string",
                "description" : "It is possible to stop a range of cheques in one instruction. This indicates the first cheque number in the range for which payment stop instruction is effective",
                "minLength" : 0,
                "maxLength" : 25
              },
              "lastChequeId" : {
                "type" : "string",
                "description" : "It is possible to stop a range of cheques in one instruction. This indicates the last cheque number in the range for which payment stop instruction is effective",
                "minLength" : 0,
                "maxLength" : 25
              },
              "chequeTypeId" : {
                "type" : "string",
                "description" : "Indicates the type of Cheques for which payment stop instruction is effective",
                "minLength" : 0,
                "maxLength" : 25
              },
              "stopDate" : {
                "type" : "string",
                "description" : "Indicates the date on which the Payment Stop is placed",
                "minLength" : 0,
                "maxLength" : 25
              },
              "amountFrom" : {
                "type" : "number",
                "description" : "Specifies the Amount From which the Payment Stop instruction is effective.",
                "minimum" : 0,
                "maximum" : 25
              },
              "amountTo" : {
                "type" : "number",
                "description" : "Specifies the Amount up To which the Payment Stop instruction is effective.",
                "minimum" : 0,
                "maximum" : 25
              },
              "beneficiaryId" : {
                "type" : "string",
                "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
                "minLength" : 0,
                "maxLength" : 25
              },
              "waiveCharge" : {
                "type" : "string",
                "description" : "Indicates if the charges are to be waived for the instruction",
                "minLength" : 0,
                "maxLength" : 25
              },
              "isRevoke" : {
                "type" : "string",
                "description" : "Specifies the flag ,which indicates that the stop payment is to be revoked",
                "minLength" : 0,
                "maxLength" : 10
              },
              "chequeId" : {
                "type" : "string",
                "description" : "Internal cheque id, formed as chequeType.accountId.chequeOrDraftNumber",
                "minLength" : 0,
                "maxLength" : 8
              },
              "revokeChequeTypeId" : {
                "type" : "string",
                "description" : "Specifies type of cheques for which revoke payment stop instruction is effective",
                "minLength" : 0,
                "maxLength" : 18
              },
              "revokeDate" : {
                "type" : "string",
                "description" : "Specifies the date for revoke stop cheque payment",
                "minLength" : 0,
                "maxLength" : 10
              },
              "charges" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "chargeId" : {
                      "type" : "string",
                      "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "accountId" : {
                      "type" : "string",
                      "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "chargeCurrency" : {
                      "type" : "string",
                      "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeAmount" : {
                      "type" : "string",
                      "description" : "Retrieves the Charge Amount after redeem",
                      "minLength" : 0,
                      "maxLength" : 12
                    }
                  }
                }
              },
              "remarks" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "displayName" : {
                      "type" : "string",
                      "description" : "Contains the name used for display or enrichment purposes",
                      "minLength" : 0,
                      "maxLength" : 11
                    }
                  }
                }
              }
            }
          }
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "issueDate" : {
          "type" : "string",
          "description" : "The date the item was issued.",
          "minLength" : 0,
          "maxLength" : 9
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "PaymentStopsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopsResponseBody"
        }
      },
      "description" : "PaymentStopsResponse"
    },
    "PaymentStopsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "stops" : {
            "type" : "array",
            "description" : "Charge amount equivalent in currency of the charge account",
            "items" : {
              "type" : "object",
              "properties" : {
                "stopTypeId" : {
                  "type" : "string",
                  "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
                  "maxLength" : 30
                },
                "firstChequeId" : {
                  "type" : "string",
                  "description" : "It is possible to stop a range of cheques in one instruction. This indicates the first cheque number in the range for which payment stop instruction is effective",
                  "maxLength" : 35
                },
                "lastChequeId" : {
                  "type" : "string",
                  "description" : "It is possible to stop a range of cheques in one instruction. This indicates the last cheque number in the range for which payment stop instruction is effective",
                  "maxLength" : 35
                },
                "chequeTypeId" : {
                  "type" : "string",
                  "description" : "Indicates the type of Cheques for which payment stop instruction is effective",
                  "maxLength" : 4
                },
                "stopDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Indicates the date on which the Payment Stop is placed"
                },
                "amountFrom" : {
                  "type" : "number",
                  "description" : "Specifies the Amount From which the Payment Stop instruction is effective.",
                  "maximum" : 19
                },
                "beneficiaryId" : {
                  "type" : "string",
                  "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
                  "maxLength" : 35
                },
                "chargeAmounts" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "chargeCode" : {
                        "type" : "string",
                        "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive).",
                        "maxLength" : 15
                      },
                      "chargeCurrency" : {
                        "type" : "string",
                        "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                        "maxLength" : 6
                      },
                      "chargeAmount" : {
                        "type" : "number",
                        "description" : "Retrieves the Charge Amount after redeem",
                        "maximum" : 16
                      }
                    }
                  }
                }
              }
            }
          },
          "remarks" : {
            "type" : "array",
            "description" : "General comments / notes.",
            "items" : {
              "type" : "object",
              "properties" : {
                "displayName" : {
                  "type" : "string",
                  "description" : "Contains the name used for display or enrichment purposes",
                  "maxLength" : 35
                }
              }
            }
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 16
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "stopReason" : {
            "type" : "string",
            "description" : "Stop reason for  transaction stop"
          },
          "chequeDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates transaction date"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 6
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}