{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the creation, viewing and management of payments and transfers",
    "version" : "v2.0.0",
    "title" : "Payments Management"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/payments/fees" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payment fee and charge details",
        "description" : "Retrieves the payment fee details",
        "operationId" : "getPaymentFeesAndCharges",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Contains the identifier for the transaction in the core system",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentFeesAndChargesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentFeesAndChargesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/transactionLog" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payment tracking details from initial payment mapping state to payment end state",
        "description" : "Retrieves the payment tracking status",
        "operationId" : "getAllPaymentsTransactionLogs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Contains the identifier for the transaction in the core system",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "AllPaymentsTransactionLogsResponse",
            "schema" : {
              "$ref" : "#/definitions/AllPaymentsTransactionLogsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/{paymentId}/transactionLog" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payment tracking details from initial payment mapping state to payment end state for the given payment id",
        "description" : "Retrieves the payment tracking status for the given payment id",
        "operationId" : "getPaymentTransactionLog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentTransactionLogResponse",
            "schema" : {
              "$ref" : "#/definitions/AllPaymentsTransactionLogsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/cutoffs" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the Channel cutoff and Currency cutoff based payment details",
        "description" : "Retrieves the cutoff based payment details ",
        "operationId" : "getPaymentCutoffs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "company",
          "in" : "query",
          "description" : "The company code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentCutoffsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentCutoffsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/transactions/status/itemCount" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payment transactions count for various payment types",
        "description" : "Retrieves the payment transactions count",
        "operationId" : "getPaymentsCount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tabView",
          "in" : "query",
          "description" : "Indicates the payment tab view",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentsCountResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentsCountResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/{paymentId}/errors" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payment transaction content for a payment",
        "description" : "Retrieves the payment transaction content",
        "operationId" : "getPaymentsInError",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentsInErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentsInErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/{paymentId}/sepaPayments" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the sepa payment transaction content for a given payment",
        "description" : "Retrieves the sepa payment transaction content",
        "operationId" : "getSepaPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SepaPaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/SepaPaymentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/{paymentId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payment transaction without the extended details",
        "description" : "Retrieves the payment transaction ",
        "operationId" : "getPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/instantPayments" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the instant payment transactions along with timed out details",
        "description" : "Retrieves the instant payment transactions",
        "operationId" : "getInstantPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Contains the identifier for the transaction in the core system",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "messageType",
          "in" : "query",
          "description" : "Defines the type of swift messages that are sent or received for a transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerReference",
          "in" : "query",
          "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "partySendersReferenceIncoming",
          "in" : "query",
          "description" : "Debtor payment reference details of incoming",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentType",
          "in" : "query",
          "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "InstantPaymentsResponse",
            "schema" : {
              "$ref" : "#/definitions/InstantPaymentsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/transactions" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payment transactions by using the query filters retrieved from meta api queryFilters",
        "description" : "Retrieves all type of payment transactions",
        "operationId" : "getPendingAndProcessedPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyName",
          "in" : "query",
          "description" : "The company in which payment is processed",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentType",
          "in" : "query",
          "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "clearingId",
          "in" : "query",
          "description" : "Clearing channel specific details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "processingDate",
          "in" : "query",
          "description" : "The date when payment instruction is processed in system.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Contains the identifier for the transaction in the core system",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionCurrency",
          "in" : "query",
          "description" : "Indicates the currency of the transaction. For example GBP, USD etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionAmount",
          "in" : "query",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "statusCode",
          "in" : "query",
          "description" : "Status code, as defined by the institution",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "messageType",
          "in" : "query",
          "description" : "Defines the type of swift messages that are sent or received for a transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitCurrency",
          "in" : "query",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountCompany",
          "in" : "query",
          "description" : "Contains the company of the credit party",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditCurrency",
          "in" : "query",
          "description" : "Currency of the account which funds will be transferred to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "query",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentSource",
          "in" : "query",
          "description" : "Indicates the source from where the payment is originated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "partySendersReferenceIncoming",
          "in" : "query",
          "description" : "Debtor payment reference details of incoming",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "partySendersReferenceOutgoing",
          "in" : "query",
          "description" : "Debtor payment reference details of outgoing",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerReference",
          "in" : "query",
          "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "entryReference",
          "in" : "query",
          "description" : "It is the transaction reference. This is the identifier of the transaction on Temenos Core Banking system.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerOrBankTransfer",
          "in" : "query",
          "description" : "Indicates if the payment was initiated by Customer or the financial institution",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditValueDate",
          "in" : "query",
          "description" : "Reference quoted by the credit account for a payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitValueDate",
          "in" : "query",
          "description" : "Date on which the amount will be debited for settlement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endToEndReference",
          "in" : "query",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionType",
          "in" : "query",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tabView",
          "in" : "query",
          "description" : "Indicates the payment tab view",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PendingAndProcessedPaymentsResponse",
            "schema" : {
              "$ref" : "#/definitions/PendingAndProcessedPaymentsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/swiftQueries" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the list of sent swift queries",
        "description" : "Retrieves the list of sent swift queries",
        "operationId" : "getSwiftQueries",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "entryReference",
          "in" : "query",
          "description" : "It is the transaction reference. This is the identifier of the transaction on Temenos Core Banking system.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "beneficiaryBank",
          "in" : "query",
          "description" : "Bank for the beneficiary",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "SwiftQueriesResponse",
            "schema" : {
              "$ref" : "#/definitions/SwiftQueriesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/status" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payments based on status",
        "description" : "Retrieves the payments based on status. status can be \"completed\", \"excludingCompleted\", \"repair\" or \"all\"",
        "operationId" : "getPaymentsStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "Indicates the business date from when the balance reservation event is active.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "The status of the early maturity request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitCustomerId",
          "in" : "query",
          "description" : "Debtor customer details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditCustomerId",
          "in" : "query",
          "description" : "Creditor customer id details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "query",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "outputChannel",
          "in" : "query",
          "description" : "Contains the channel that will be used to send the outward payment message",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentSource",
          "in" : "query",
          "description" : "Indicates the source from where the payment is originated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fileSendersReference",
          "in" : "query",
          "description" : "Indicates the sender reference that comes from the inward payment file",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fundsTransferId",
          "in" : "query",
          "description" : "Identifier of the Funds Transfer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "statusCode",
          "in" : "query",
          "description" : "Status code, as defined by the institution",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "Indicates the business date until when the balance reservation event is active.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "beneficiaryId",
          "in" : "query",
          "description" : "Indicates the reference of the financial institution that allows access to the beneficiary information",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "beneficiaryAccountId",
          "in" : "query",
          "description" : "Unique account identifier of the beneficiary account number.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionAmount",
          "in" : "query",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "messageType",
          "in" : "query",
          "description" : "Defines the type of swift messages that are sent or received for a transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "processingDate",
          "in" : "query",
          "description" : "The date when payment instruction is processed in system.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerReference",
          "in" : "query",
          "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitCurrency",
          "in" : "query",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountCompany",
          "in" : "query",
          "description" : "Contains the company of the debit party",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditCurrency",
          "in" : "query",
          "description" : "Currency of the account which funds will be transferred to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountCompany",
          "in" : "query",
          "description" : "Contains the company of the credit party",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "partySendersReferenceIncoming",
          "in" : "query",
          "description" : "Debtor payment reference details of incoming",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Contains the identifier for the transaction in the core system",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sendersCorrespondentAddress",
          "in" : "query",
          "description" : "Contains additional address lines of the sender correspondent institution.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "receiversCorrespondentAddress",
          "in" : "query",
          "description" : "Contains additional address lines of the receiver correspondent institution.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "bulkReference",
          "in" : "query",
          "description" : "Contains bulk master reference for the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerOrBankTransfer",
          "in" : "query",
          "description" : "Indicates if the payment was initiated by Customer or the financial institution",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditValueDate",
          "in" : "query",
          "description" : "Reference quoted by the credit account for a payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitValueDate",
          "in" : "query",
          "description" : "Date on which the amount will be debited for settlement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "settlementTransactionIndicator",
          "in" : "query",
          "description" : "Indicates whether the payment is settlement transaction or not",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "settlementClaimId",
          "in" : "query",
          "description" : "Indicates the settlement claim reference of the payment transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "entryDateTime",
          "in" : "query",
          "description" : "Contains the payment creation time",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "approvedDateTime",
          "in" : "query",
          "description" : "Contains the time when payment got approved",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "clearingNatureCode",
          "in" : "query",
          "description" : "Contains the nature of the payment transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentsStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentsStatusResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/recalls/bankInitiations" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Creates a recall request initiated by bank",
        "description" : "Creates bank initiated recall or cancellation request for a payment with transaction reference and the reason for cancellation. This request would be processed and responded by the Beneficiary Bank",
        "operationId" : "createBankInitiatedPaymentRecall",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BankInitiatedPaymentRecall"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BankInitiatedPaymentRecallResponse",
            "schema" : {
              "$ref" : "#/definitions/BankInitiatedPaymentRecallResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/recalls/customerInitiations" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Creates a recall request initiated by customer",
        "description" : "Creates customer initiated recall or cancellation request for a payment with transaction reference and the reason for cancellation. This request would be processed and responded by the Beneficiary Bank",
        "operationId" : "createCustomerInitiatedPaymentRecall",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerInitiatedPaymentRecall"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerInitiatedPaymentRecallResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerInitiatedPaymentRecallResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/recalls/{recallId}/responses" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Updates response to recall request initiated by bank or customer",
        "description" : "Updates response for the recall request provided by beneficiary bank. The response can be either Acceptance or Rejection along with the reason. The response to the recall request should be recorded in the cancellation request record for further action.",
        "operationId" : "updateResponseToPaymentRecall",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recallId",
          "in" : "path",
          "description" : "Defines the ID to identify the payment which has to be recalled",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ResponseToPaymentRecall"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ResponseToPaymentRecallResponse",
            "schema" : {
              "$ref" : "#/definitions/ResponseToPaymentRecallResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/swiftPayments/{swiftPaymentId}/acknowledgements" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update payment status based on the acknowledgement from SWIFT",
        "description" : "Update payment status based on the acknowledgement or negative acknowledgement received from SWIFT",
        "operationId" : "updatePaymentSwiftOutTransaction",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "swiftPaymentId",
          "in" : "path",
          "description" : "Contains the swift payment reference as generated by the system",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentSwiftOutTransaction"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentSwiftOutTransactionResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentSwiftOutTransactionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/logs/sentMessages/{sentMessageId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update the payment sent details on payment sent message file",
        "description" : "Update the details like acknowledgement status, negative acknowledgement reason and time stamp on the payment sent message file",
        "operationId" : "updatePaymentSentMessage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "sentMessageId",
          "in" : "path",
          "description" : "Contains the sent message reference as generated by the system",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentSentMessage"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentSentMessageResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentSentMessageResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/sepaPayments" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the sepa payment transactions such as status, transaction amount, transaction currency, etc ",
        "description" : "Retrieves the sepa payment transactions",
        "operationId" : "getSepaPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "clearingId",
          "in" : "query",
          "description" : "Clearing channel specific details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "originalTransactionReference",
          "in" : "query",
          "description" : "Identifies the Original Transaction Reference that created the Funds Authorisation request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionAmount",
          "in" : "query",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionCurrency",
          "in" : "query",
          "description" : "Indicates the currency of the transaction. For example GBP, USD etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "statusCode",
          "in" : "query",
          "description" : "Status code, as defined by the institution",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "SepaPaymentsResponse",
            "schema" : {
              "$ref" : "#/definitions/SepaPaymentsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "PaymentFeesAndChargesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentFeesAndChargesResponseBody"
        }
      },
      "description" : "PaymentFeesAndChargesResponse"
    },
    "PaymentFeesAndChargesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "feeType" : {
            "type" : "string",
            "description" : "Indicates the type of fee which is applied for payment instruction",
            "maxLength" : 35
          },
          "feeName" : {
            "type" : "string",
            "description" : "Indicates the description for type of fee which is applied for payment instruction",
            "maxLength" : 35
          },
          "chargeType" : {
            "type" : "string",
            "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
            "maxLength" : 1
          },
          "feeCurrency" : {
            "type" : "string",
            "description" : "Indicates the fee currency in which fee amount is applied for the payment instruction",
            "maxLength" : 3
          },
          "feeAmount" : {
            "type" : "string",
            "description" : "Indicates the fee amount which is applied for the payment instruction",
            "maxLength" : 15
          },
          "chargeCurrency" : {
            "type" : "string",
            "description" : "Indicates the currency code of the charge account from where the fee is deducted",
            "maxLength" : 3
          },
          "chargeAmount" : {
            "type" : "string",
            "description" : "Retrieves the Charge Amount after redeem",
            "maxLength" : 15
          },
          "chargeBearer" : {
            "type" : "string",
            "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
            "maxLength" : 1
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "AllPaymentsTransactionLogsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AllPaymentsTransactionLogsResponseBody"
        }
      },
      "description" : "AllPaymentsTransactionLogsResponse"
    },
    "AllPaymentsTransactionLogsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "eventId" : {
            "type" : "string",
            "description" : "Event identifier",
            "maxLength" : 3
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name that is displayed for the event"
          },
          "errorCode" : {
            "type" : "string",
            "description" : "Indicates the error code which is encountered during payment processing as returned by payment system ",
            "maxLength" : 10
          },
          "additionalInformation" : {
            "type" : "string",
            "description" : "Additional Information provided to add context",
            "maxLength" : 128
          },
          "dateTime" : {
            "type" : "string",
            "description" : "Contains the date and time separated by '-'",
            "maxLength" : 11
          }
        }
      }
    },
    "PaymentCutoffsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentCutoffsResponseBody"
        }
      },
      "description" : "PaymentCutoffsResponse"
    },
    "PaymentCutoffsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "thresholdLevelLow" : {
            "type" : "string",
            "description" : "Indicates the payment amount not exceeded the threshold limit"
          },
          "thresholdLevelHigh" : {
            "type" : "string",
            "description" : "Indicates the payment amount exceeded the threshold limit"
          },
          "zeroNoRecords" : {
            "type" : "string",
            "description" : "zero records display for NOFILE (an enquiry does not exist in a single file) enquiry for online upgrade"
          },
          "thresholdLevelMedium" : {
            "type" : "string",
            "description" : "Indicates the payment amount about to reach the threshold limit"
          },
          "cutOffTime" : {
            "type" : "string",
            "description" : "The Cut off time when all executions for the day are consolidated to create a trade",
            "maxLength" : 65
          },
          "channel" : {
            "type" : "string",
            "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
            "maxLength" : 2
          },
          "message" : {
            "type" : "string",
            "description" : "The actual t24 error message ",
            "maxLength" : 65
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 2
          },
          "totalAmount" : {
            "type" : "string",
            "description" : "Total amount"
          },
          "localCurrencyAmount" : {
            "type" : "string",
            "description" : "Transaction Amount in USD for deposit or withdrawal."
          },
          "numberOfPayments" : {
            "type" : "string",
            "description" : "Specifies the number of coupon or interest payments a year"
          },
          "recordId" : {
            "type" : "string",
            "description" : "record Id name for NOFILE enquiry for online upgrade"
          }
        }
      }
    },
    "PaymentsCountResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentsCountResponseBody"
        }
      },
      "description" : "PaymentsCountResponse"
    },
    "PaymentsCountResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Short title for the Account to be created"
          },
          "countOfRecords" : {
            "type" : "string",
            "description" : "Total count of records information for NOFILE (an enquiry does not exist in a single file) enquiry for online upgrade"
          },
          "zeroNoRecords" : {
            "type" : "string",
            "description" : "zero records display for NOFILE (an enquiry does not exist in a single file) enquiry for online upgrade"
          },
          "type" : {
            "type" : "string",
            "description" : "The product condition has an activity type associated that drives an action."
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "PaymentsInErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentsInErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "PaymentsInErrorResponse"
    },
    "PaymentsInErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "fatalError" : {
          "type" : "string",
          "description" : "Indicates the fatal error that stopped the payment transaction",
          "minLength" : 0,
          "maxLength" : 10
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the early maturity request",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Status" ]
        },
        "companyName" : {
          "type" : "string",
          "description" : "The company in which payment is processed",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Processing Company" ]
        },
        "transactionReference" : {
          "type" : "string",
          "description" : "Contains the identifier for the transaction in the core system",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "FT Number" ]
        },
        "processingDate" : {
          "type" : "string",
          "description" : "The date when payment instruction is processed in system.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Processing Date" ]
        },
        "processingDateImposed" : {
          "type" : "string",
          "description" : "Indicates whether the processing date is imposed on the payment engine. Possible values are yes and blank. If yes, the field value for processing date will not be overriden by the payment engine.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "sendersReference" : {
          "type" : "string",
          "description" : "Indicates the incoming sender's reference i.e. tag 20 of incoming SWIFT or in case when transaction is received from other system/ application, this can also indicate the reference number of that system/ application",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Sender's Reference Number" ]
        },
        "partySendersReferenceOutgoing" : {
          "type" : "string",
          "description" : "Debtor payment reference details of outgoing",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Sender's Reference Outgoing" ]
        },
        "priority" : {
          "type" : "string",
          "description" : "Defines the Campaign priority",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Priority" ]
        },
        "relatedReference" : {
          "type" : "string",
          "description" : "An external reference id for the transaction.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Related Reference" ]
        },
        "product" : {
          "type" : "string",
          "description" : "Indicates an id or name of a product",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Product" ]
        },
        "paymentSource" : {
          "type" : "string",
          "description" : "Indicates the source from where the payment is originated",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Source" ]
        },
        "outputChannel" : {
          "type" : "string",
          "description" : "Contains the channel that will be used to send the outward payment message",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Output Channel" ]
        },
        "outputChannelImposed" : {
          "type" : "string",
          "description" : "Indicates whether the channel is imposed on the payment engine. Possible values are yes and blank. If yes, the field value for channel will not be overriden by the payment engine.",
          "minLength" : 0,
          "maxLength" : 24,
          "enum" : [ "Output Channel Imposed Flag" ]
        },
        "paymentDirection" : {
          "type" : "string",
          "description" : "Indicates the direction of payment i.e. incoming, outgoing, book or redirect",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Direction" ]
        },
        "transactionCurrency" : {
          "type" : "string",
          "description" : "Indicates the currency of the transaction. For example GBP, USD etc.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Transaction Currency" ]
        },
        "instructedCurrencyCode" : {
          "type" : "string",
          "description" : "Instructed currency code details",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Instructed Currency" ]
        },
        "paymentType" : {
          "type" : "string",
          "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Transfer Type" ]
        },
        "transactionAmount" : {
          "type" : "string",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Transaction Amount" ]
        },
        "instructedAmount" : {
          "type" : "string",
          "description" : "Specifies the amount which is allocated or instructed for the account reference included in the selection for a specific transaction.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "messageType" : {
          "type" : "string",
          "description" : "Defines the type of swift messages that are sent or received for a transaction",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Incoming Message Type" ]
        },
        "chargeOption" : {
          "type" : "string",
          "description" : "This field will hold the charge applicable for the order",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Charge Option" ]
        },
        "balanceReservation" : {
          "type" : "string",
          "description" : "Contains the nature of the balance reservation received from channel. For example, C (Channel has already done the reservation), S (Skipped).",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Balance Reservation" ]
        },
        "balanceReservationReference" : {
          "type" : "string",
          "description" : "Contains the balance reservation reference received from channel or an external system.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Balance Reservation Number" ]
        },
        "balanceReservationChargeAccount" : {
          "type" : "string",
          "description" : "Contains the balance reservation reference of the debit charge account.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Balance Reservation Debit Chg Acct" ]
        },
        "preAuthorizationReference" : {
          "type" : "string",
          "description" : "Contains the pre authorization reference for manually authorized funds.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Pre-Authorization Number" ]
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the reference of the financial institution that allows access to the beneficiary information",
          "minLength" : 0,
          "maxLength" : 40
        },
        "accountWithBank" : {
          "type" : "string",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "minLength" : 0,
          "maxLength" : 40
        },
        "accountWithBankClearingCode" : {
          "type" : "string",
          "description" : "This is the national clearing code or sort code of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Sender Clearing System Code" ]
        },
        "receiverInstitution" : {
          "type" : "string",
          "description" : "Contains the Business Identifier Code (BIC) of receiver institution.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Receiver Institution BIC" ]
        },
        "receiverInstitutionNcc" : {
          "type" : "string",
          "description" : "Contains the National Clearing Code (NCC) of receiver institution.",
          "minLength" : 0,
          "maxLength" : 22,
          "enum" : [ "Receiver Institution NCC" ]
        },
        "beneficiaryBankClearingCode" : {
          "type" : "string",
          "description" : "Clearing code or sort code of the beneficiary bank",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Receiver Clearing System Code" ]
        },
        "intraCompanyPayment" : {
          "type" : "string",
          "description" : "Indicates whether the transaction is for first party payment.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "UETR" ]
        },
        "debitAccountCompany" : {
          "type" : "string",
          "description" : "Contains the company of the debit party",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditAccountCompany" : {
          "type" : "string",
          "description" : "Contains the company of the credit party",
          "minLength" : 0,
          "maxLength" : 40
        },
        "orderPartyTagOptionImposed" : {
          "type" : "string",
          "description" : "Indicates whether the system imposes tag option 50F or 50K for outgoing credit transfer payments.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitAccountNumberImposed" : {
          "type" : "string",
          "description" : "Indicates whether the debit account number is imposed on the payment engine. Possible values are yes and blank. If yes, the field value for debit account number will not be overriden by the payment engine.",
          "minLength" : 0,
          "maxLength" : 29
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditAccountNumberImposed" : {
          "type" : "string",
          "description" : "Indicates whether the credit account number is imposed on the payment engine.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "partyCompanyBIC" : {
          "type" : "string",
          "description" : "Debtor company BIC details",
          "minLength" : 0,
          "maxLength" : 40
        },
        "beneficiaryCompanyBIC" : {
          "type" : "string",
          "description" : "Creditor company BIC details",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditCurrency" : {
          "type" : "string",
          "description" : "Currency of the account which funds will be transferred to.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitAmount" : {
          "type" : "string",
          "description" : "Amount to be debited in a payment transaction",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditAmount" : {
          "type" : "string",
          "description" : "Amount to be credited in a payment transaction",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitCustomerRate" : {
          "type" : "string",
          "description" : "This field identifies the account currency where funds are to be received from under this drawing.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitExchangeRateImposed" : {
          "type" : "string",
          "description" : "Indicates whether the debit exchange rate is imposed.",
          "minLength" : 0,
          "maxLength" : 28
        },
        "creditCustomerRate" : {
          "type" : "string",
          "description" : "Contains the exchange rate that is used to convert the credit amount into the transaction amount (or transaction amount into debit amount) in case the credit account currency is different from the transaction currency.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditExchangeRateImposed" : {
          "type" : "string",
          "description" : "Indicates whether the credit exchange rate is imposed on the payment engine.",
          "minLength" : 0,
          "maxLength" : 29
        },
        "debitCustomerSpread" : {
          "type" : "string",
          "description" : "Contains customers exchange spread which is applied to the treasury rate to generate the applicable exchange rate.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitCustomerSpreadImposed" : {
          "type" : "string",
          "description" : "Indicates whether the debit customer spread is imposed on the payment engine.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "creditCustomerSpread" : {
          "type" : "string",
          "description" : "Contains the customer exchange spread to be applied.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditCustomerSpreadImposed" : {
          "type" : "string",
[...]
