    {
  "swagger" : "2.0",
  "info" : {
    "description" : "API to create, update and manage transactions related to accounts such as inward/outward funds transfers and bulk transfers.",
    "version" : "v1.0.1",
    "title" : "Management of fund transfers"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.1/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/transfers/{debitAccountId}/{creditAccountId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of funds transfers",
        "description" : "Retrieves list of funds transfer details such as type of transaction, date & amount for the specified customer accounts",
        "operationId" : "getAccountTransfers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "debitAccountId",
          "in" : "path",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "path",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountTransfersResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountTransfersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/bulkTransfers/{bulkTransferId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves bulk transfer details",
        "description" : "Retrieves the list of bulk transfer details such as transaction reference, type, currency, amount & accounts involved in the transaction occurred in a day",
        "operationId" : "getBulkTransfers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bulkTransferId",
          "in" : "path",
          "description" : "Identifier of the Bulk Transfer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "BulkTransfersResponse",
            "schema" : {
              "$ref" : "#/definitions/BulkTransfersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/inwards" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create inward funds transfer",
        "description" : "Create an inward transfer with details such as transaction type, amount, date, commission and ordering bank & customer",
        "operationId" : "createInwardTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InwardTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InwardTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/InwardTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/inwards/{fundsTransferId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update funds transfer details for a inward transfer",
        "description" : "Update an inward transfer with details such as transaction type, amount, date, commission and ordering bank & customer",
        "operationId" : "updateInwardTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fundsTransferId",
          "in" : "path",
          "description" : "Identifier of the Funds Transfer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InwardTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InwardTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/InwardTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/inwards/{debitAccountId}/{creditAccountId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves inward funds transfer details",
        "description" : "Retrieves the list of inward transfer details such as transaction reference, type, currency, amount, ordering bank & customer and accounts involved in the transaction",
        "operationId" : "getInwardTransfers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "debitAccountId",
          "in" : "path",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "path",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "InwardTransfersResponse",
            "schema" : {
              "$ref" : "#/definitions/InwardTransfersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/outwards" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create outward funds transfer",
        "description" : "Create an outward transfer with details such transaction type, amount, date, commission and beneficiary",
        "operationId" : "createOutwardTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OutwardTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OutwardTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/OutwardTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/outwards/{fundsTransferId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update funds transfer details for a outward transfer",
        "description" : "Update an outward transfer with details such as transaction type, amount, date, commission and beneficiary",
        "operationId" : "updateOutwardTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fundsTransferId",
          "in" : "path",
          "description" : "Identifier of the Funds Transfer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OutwardTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OutwardTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/OutwardTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/outwards/{debitAccountId}/{creditAccountId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves outward funds transfer details",
        "description" : "Retrieves the list of outward transfer details such as transaction reference, type, currency, amount, and beneficiary and accounts involved in the transaction",
        "operationId" : "getOutwardTransfers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "debitAccountId",
          "in" : "path",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "path",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "OutwardTransfersResponse",
            "schema" : {
              "$ref" : "#/definitions/OutwardTransfersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a funds transfer",
        "description" : "Create funds transfer between two customer accounts with details such as transaction type, amount, date & commission",
        "operationId" : "createAccountTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AccountTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/{fundsTransferId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update funds transfer details",
        "description" : "Update funds transfer with details such as transaction type, amount, date & commission",
        "operationId" : "updateAccountTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fundsTransferId",
          "in" : "path",
          "description" : "Identifier of the Funds Transfer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AccountTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Cancel fund transfer request",
        "description" : "Cancel funds transfer",
        "operationId" : "deleteAccountTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fundsTransferId",
          "in" : "path",
          "description" : "Identifier of the Funds Transfer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AccountTransferDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request"
        }
      }
    },
    "AccountTransfersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountTransfersResponseBody"
        }
      },
      "description" : "AccountTransfersResponse"
    },
    "AccountTransfersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "transactionType" : {
            "type" : "string",
            "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
            "maxLength" : 4
          },
          "debitAccountId" : {
            "type" : "string",
            "description" : "Indicates the debit account number of the payment or transaction.",
            "maxLength" : 36
          },
          "debitCurrency" : {
            "type" : "string",
            "description" : "Currency of the debit account. For example: USD, EUR etc.",
            "maxLength" : 3
          },
          "debitAmount" : {
            "type" : "number",
            "description" : "Amount to be debited in a payment transaction",
            "maximum" : 18
          },
          "debitValueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date on which the amount will be debited for settlement"
          },
          "creditAccountId" : {
            "type" : "string",
            "description" : "Credit account identifier of the payment or transaction",
            "maxLength" : 36
          },
          "creditCurrencyId" : {
            "type" : "string",
            "description" : "Specifies the credit currency. For example: USD, EUR etc.",
            "maxLength" : 3
          },
          "creditAmount" : {
            "type" : "number",
            "description" : "Amount to be credited in a payment transaction",
            "maximum" : 18
          },
          "creditValueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Reference quoted by the credit account for a payment"
          },
          "commissionCode" : {
            "type" : "string",
            "description" : "These field control the allocation of Periodic commission where the field COMM.CODE is the trigger for periodic commission and the field CSN.CODE is a system maintained field and hold the commission amount relating to the period band",
            "maxLength" : 20
          },
          "commissionType" : {
            "type" : "string",
            "description" : "Identifies the Commission Types which are applicable to the transaction",
            "maxLength" : 11
          },
          "commissionAmount" : {
            "type" : "number",
            "description" : "Amount of commission charged for the payment created with respect to the commission type used.",
            "maximum" : 22
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "BulkTransfersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BulkTransfersResponseBody"
        }
      },
      "description" : "BulkTransfersResponse"
    },
    "BulkTransfersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "bulkTransferId" : {
            "type" : "string",
            "description" : "Identifier of the Bulk Transfer",
            "maxLength" : 55
          },
          "fundsTransferId" : {
            "type" : "string",
            "description" : "Identifier of the Funds Transfer",
            "maxLength" : 25
          },
          "transactionType" : {
            "type" : "string",
            "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
            "maxLength" : 4
          },
          "debitAccountId" : {
            "type" : "string",
            "description" : "Indicates the debit account number of the payment or transaction.",
            "maxLength" : 36
          },
          "debitCurrency" : {
            "type" : "string",
            "description" : "Currency of the debit account. For example: USD, EUR etc.",
            "maxLength" : 3
          },
          "debitAmount" : {
            "type" : "number",
            "description" : "Amount to be debited in a payment transaction",
            "maximum" : 18
          },
          "creditAccountId" : {
            "type" : "string",
            "description" : "Credit account identifier of the payment or transaction",
            "maxLength" : 36
          },
          "creditCurrencyId" : {
            "type" : "string",
            "description" : "Specifies the credit currency. For example: USD, EUR etc.",
            "maxLength" : 3
          },
          "creditAmount" : {
            "type" : "number",
            "description" : "Amount to be credited in a payment transaction",
            "maximum" : 18
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "InwardTransfer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InwardTransferBody"
        }
      },
      "description" : "InwardTransfer"
    },
    "InwardTransferBody" : {
      "type" : "object",
      "required" : [ "creditAccountId", "debitAccountId", "debitAmount", "debitCurrency", "orderingBank", "orderingCustomerId", "transactionType" ],
      "properties" : {
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 1,
          "maxLength" : 4
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 1,
          "maxLength" : 16
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 1,
          "maxLength" : 3
        },
        "debitAmount" : {
          "type" : "number",
          "description" : "Amount to be debited in a payment transaction",
          "minimum" : 1,
          "maximum" : 18
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 1,
          "maxLength" : 16
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 3
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction",
          "minimum" : 0,
          "maximum" : 18
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference quoted by the credit account for a payment"
        },
        "orderingBank" : {
          "type" : "string",
          "description" : "Bank which intiates the transaction",
          "minLength" : 1,
          "maxLength" : 35
        },
        "orderingCustomerId" : {
          "type" : "string",
          "description" : "Indicates the customer id for the ordering customer",
          "minLength" : 1,
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "InwardTransferResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InwardTransferResponseBody"
        }
      },
      "description" : "InwardTransferResponse"
    },
    "InwardTransferResponseBody" : {
      "type" : "object",
      "properties" : {
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 1,
          "maxLength" : 4
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 1,
          "maxLength" : 16
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 1,
          "maxLength" : 3
        },
        "debitAmount" : {
          "type" : "number",
          "description" : "Amount to be debited in a payment transaction",
          "minimum" : 1,
          "maximum" : 18
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 1,
          "maxLength" : 16
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 3
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction",
          "minimum" : 0,
          "maximum" : 18
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference quoted by the credit account for a payment"
        },
        "orderingBank" : {
          "type" : "string",
          "description" : "Bank which intiates the transaction",
          "minLength" : 1,
          "maxLength" : 35
        },
        "orderingCustomerId" : {
          "type" : "string",
          "description" : "Indicates the customer id for the ordering customer",
          "minLength" : 1,
          "maxLength" : 35
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "InwardTransfersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InwardTransfersResponseBody"
        }
      },
      "description" : "InwardTransfersResponse"
    },
    "InwardTransfersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "fundsTransferId" : {
            "type" : "string",
            "description" : "Identifier of the Funds Transfer",
            "maxLength" : 25
          },
          "transactionType" : {
            "type" : "string",
            "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
            "maxLength" : 4
          },
          "debitAccountId" : {
            "type" : "string",
            "description" : "Indicates the debit account number of the payment or transaction.",
            "maxLength" : 36
          },
          "debitCurrency" : {
            "type" : "string",
            "description" : "Currency of the debit account. For example: USD, EUR etc.",
            "maxLength" : 3
          },
          "debitAmount" : {
            "type" : "number",
            "description" : "Amount to be debited in a payment transaction",
            "maximum" : 18
          },
          "debitValueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date on which the amount will be debited for settlement"
          },
          "creditAccountId" : {
            "type" : "string",
            "description" : "Credit account identifier of the payment or transaction",
            "maxLength" : 36
          },
          "creditCurrencyId" : {
            "type" : "string",
            "description" : "Specifies the credit currency. For example: USD, EUR etc.",
            "maxLength" : 3
          },
          "creditAmount" : {
            "type" : "number",
            "description" : "Amount to be credited in a payment transaction",
            "maximum" : 18
          },
          "creditValueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Reference quoted by the credit account for a payment"
          },
          "orderingBank" : {
            "type" : "string",
            "description" : "Bank which intiates the transaction",
            "maxLength" : 35
          },
          "orderingCustomerId" : {
            "type" : "string",
            "description" : "Indicates the customer id for the ordering customer",
            "maxLength" : 35
          }
        }
      }
    },
    "OutwardTransfer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OutwardTransferBody"
        }
      },
      "description" : "OutwardTransfer"
    },
    "OutwardTransferBody" : {
      "type" : "object",
      "required" : [ "beneficiaryCustomerId", "creditAccountId", "creditAmount", "creditCurrencyId", "debitAccountId", "transactionType" ],
      "properties" : {
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 1,
          "maxLength" : 4
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 1,
          "maxLength" : 16
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 3
        },
        "debitAmount" : {
          "type" : "number",
          "description" : "Amount to be debited in a payment transaction",
          "minimum" : 0,
          "maximum" : 18
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 1,
          "maxLength" : 16
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "minLength" : 1,
          "maxLength" : 3
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction",
          "minimum" : 1,
          "maximum" : 18
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference quoted by the credit account for a payment"
        },
        "beneficiaryCustomerId" : {
          "type" : "string",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
          "minLength" : 1,
          "maxLength" : 35
        },
        "beneficiaryBank" : {
          "type" : "string",
          "description" : "Bank for the beneficiary",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Short title or short name of the beneficiary",
          "minLength" : 0,
          "maxLength" : 33
        }
      }
    },
    "OutwardTransferResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OutwardTransferResponseBody"
        }
      },
      "description" : "OutwardTransferResponse"
    },
    "OutwardTransferResponseBody" : {
      "type" : "object",
      "properties" : {
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 1,
          "maxLength" : 4
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 1,
          "maxLength" : 16
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 3
        },
        "debitAmount" : {
          "type" : "number",
          "description" : "Amount to be debited in a payment transaction",
          "minimum" : 0,
          "maximum" : 18
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 1,
          "maxLength" : 16
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "minLength" : 1,
          "maxLength" : 3
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction",
          "minimum" : 1,
          "maximum" : 18
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference quoted by the credit account for a payment"
        },
        "beneficiaryCustomerId" : {
          "type" : "string",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
          "minLength" : 1,
          "maxLength" : 35
        },
        "beneficiaryBank" : {
          "type" : "string",
          "description" : "Bank for the beneficiary",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Short title or short name of the beneficiary",
          "minLength" : 0,
          "maxLength" : 33
        }
      }
    },
    "OutwardTransfersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OutwardTransfersResponseBody"
        }
      },
      "description" : "OutwardTransfersResponse"
    },
    "OutwardTransfersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "fundsTransferId" : {
            "type" : "string",
            "description" : "Identifier of the Funds Transfer",
            "maxLength" : 25
          },
          "transactionType" : {
            "type" : "string",
            "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
            "maxLength" : 4
          },
          "debitAccountId" : {
            "type" : "string",
            "description" : "Indicates the debit account number of the payment or transaction.",
            "maxLength" : 36
          },
          "debitCurrency" : {
            "type" : "string",
            "description" : "Currency of the debit account. For example: USD, EUR etc.",
            "maxLength" : 3
          },
          "debitAmount" : {
            "type" : "number",
            "description" : "Amount to be debited in a payment transaction",
            "maximum" : 18
          },
          "debitValueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date on which the amount will be debited for settlement"
          },
          "creditAccountId" : {
            "type" : "string",
            "description" : "Credit account identifier of the payment or transaction",
            "maxLength" : 36
          },
          "creditCurrencyId" : {
            "type" : "string",
            "description" : "Specifies the credit currency. For example: USD, EUR etc.",
            "maxLength" : 3
          },
          "creditAmount" : {
            "type" : "number",
            "description" : "Amount to be credited in a payment transaction",
            "maximum" : 18
          },
          "creditValueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Reference quoted by the credit account for a payment"
          },
          "beneficiaryCustomerId" : {
            "type" : "string",
            "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
            "maxLength" : 35
          },
          "beneficiaryBank" : {
            "type" : "string",
            "description" : "Bank for the beneficiary",
            "maxLength" : 35
          },
          "beneficiaryName" : {
            "type" : "string",
            "description" : "Short title or short name of the beneficiary",
            "maxLength" : 33
          }
        }
      }
    },
    "AccountTransfer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountTransferBody"
        }
      },
      "description" : "AccountTransfer"
    },
    "AccountTransferBody" : {
      "type" : "object",
      "required" : [ "creditAccountId", "debitAccountId", "debitAmount", "debitCurrency", "transactionType" ],
      "properties" : {
        "orderingCustomerIds" : {
          "type" : "array",
          "description" : "Indicates the customer id for the ordering customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "orderingCustomerId" : {
                "type" : "string",
                "description" : "Indicates the customer id for the ordering customer",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "orderingBanks" : {
          "type" : "array",
          "description" : "Bank which intiates the transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "orderingBank" : {
                "type" : "string",
                "description" : "Bank which intiates the transaction",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBanks" : {
          "type" : "array",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBank" : {
                "type" : "string",
                "description" : "Identifies the bank where the beneficiary maintains his account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryBanks" : {
          "type" : "array",
          "description" : "Bank for the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryBank" : {
                "type" : "string",
                "description" : "Bank for the beneficiary",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryNames" : {
          "type" : "array",
          "description" : "Short title or short name of the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary",
                "minLength" : 0,
                "maxLength" : 33
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "minLength" : 0,
                "maxLength" : 33
              }
            }
          }
        },
        "beneficiaryAddressCities" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddressCity" : {
                "type" : "string",
                "description" : "City of the beneficiary account. For example: London, Dallas etc.",
                "minLength" : 0,
                "maxLength" : 33
              }
            }
          }
        },
        "beneficiaryCustomerIds" : {
          "type" : "array",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryCustomerId" : {
                "type" : "string",
                "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "paymentDetails" : {
          "type" : "array",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 1,
          "maxLength" : 4
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 1,
          "maxLength" : 16
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 1,
          "maxLength" : 3
        },
        "debitAmount" : {
          "type" : "number",
          "description" : "Amount to be debited in a payment transaction",
          "minimum" : 1,
          "maximum" : 18
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 1,
          "maxLength" : 16
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 3
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction",
          "minimum" : 0,
          "maximum" : 18
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference quoted by the credit account for a payment"
        },
        "commissionCode" : {
          "type" : "string",
          "description" : "These field control the allocation of Periodic commission where the field COMM.CODE is the trigger for periodic commission and the field CSN.CODE is a system maintained field and hold the commission amount relating to the period band",
          "minLength" : 0,
          "maxLength" : 20
        },
        "commissionType" : {
          "type" : "string",
          "description" : "Identifies the Commission Types which are applicable to the transaction",
          "minLength" : 0,
          "maxLength" : 11
        },
        "commissionAmount" : {
          "type" : "number",
          "description" : "Amount of commission charged for the payment created with respect to the commission type used.",
          "minimum" : 0,
          "maximum" : 22
        },
        "debitReference" : {
          "type" : "string",
          "description" : "Reference for debit party of a payment transaction",
          "minLength" : 0,
          "maxLength" : 16
        },
        "creditReference" : {
          "type" : "string",
          "description" : "Reference quoted by the credit account for a payment",
          "minLength" : 0,
          "maxLength" : 27
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency",
          "minLength" : 0,
          "maxLength" : 16
        },
        "negotiatedDealerId" : {
          "type" : "string",
          "description" : "Identifies the Negotiated Dealer Reference of the foreign exchange internal deal created to cover the exchange rate",
          "minLength" : 0,
          "maxLength" : 5
        },
        "chequeNumber" : {
          "type" : "string",
          "description" : "Cheque number associated with the transaction or accounting entry.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "customerSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction",
          "minLength" : 0,
          "maxLength" : 16
        },
        "baseCurrency" : {
          "type" : "string",
          "description" : "Contains the currency of the arrangement which linked to the package or bundle",
          "minLength" : 0,
          "maxLength" : 3
        },
        "profitCentreCustomer" : {
          "type" : "string",
          "description" : "Identifies the customer of profit and loss entries generated in relation to the current transaction",
          "minLength" : 0,
          "maxLength" : 10
        },
        "profitCentreDepartment" : {
          "type" : "string",
          "description" : "Identifies the Account Officer or Department Code of Profit and Loss entries generated in relation to the current transaction",
          "minLength" : 0,
          "maxLength" : 4
        },
        "clearingDate" : {
          "type" : "string",
          "description" : "Contains the date from which the payment is expected and is used to indicate the exposure date for the payment.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "cashRoundType" : {
          "type" : "string",
          "description" : "Indicates the type of rounding to be applied for cash transactions of a currency.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "debitAccountIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the debtor account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "creditAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the credit account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "receiverCorrespondentAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of receiver correspondent bank's account number.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "intermediatoryBankAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the intermediatory bank account number",
          "minLength" : 0,
          "maxLength" : 35
        },
        "orderingCustomerAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the ordering customer account number.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "chargeAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of charge or commission account numbers",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryCountryId" : {
          "type" : "string",
          "description" : "Country of the beneficiary account number. For example: US, IN, EU",
          "minLength" : 0,
          "maxLength" : 2
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number.",
          "minLength" : 0,
          "maxLength" : 34
        },
        "customerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion in case of transactions involving FX conversion. ",
          "minLength" : 0,
          "maxLength" : 16
        },
        "bankSortCode" : {
          "type" : "string",
          "description" : "The sort code or the national clearing code of the beneficiary bank. ",
          "minLength" : 0,
          "maxLength" : 20
        }
      }
    },
    "AccountTransferResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountTransferResponseBody"
        }
      },
      "description" : "AccountTransferResponse"
    },
    "AccountTransferResponseBody" : {
      "type" : "object",
      "properties" : {
        "orderingCustomerIds" : {
          "type" : "array",
          "description" : "Indicates the customer id for the ordering customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "orderingCustomerId" : {
                "type" : "string",
                "description" : "Indicates the customer id for the ordering customer",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "orderingBanks" : {
          "type" : "array",
          "description" : "Bank which intiates the transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "orderingBank" : {
                "type" : "string",
                "description" : "Bank which intiates the transaction",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBanks" : {
          "type" : "array",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBank" : {
                "type" : "string",
                "description" : "Identifies the bank where the beneficiary maintains his account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryBanks" : {
          "type" : "array",
          "description" : "Bank for the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryBank" : {
                "type" : "string",
                "description" : "Bank for the beneficiary",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryNames" : {
          "type" : "array",
          "description" : "Short title or short name of the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary",
                "minLength" : 0,
                "maxLength" : 33
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "minLength" : 0,
                "maxLength" : 33
              }
            }
          }
        },
        "beneficiaryAddressCities" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddressCity" : {
                "type" : "string",
                "description" : "City of the beneficiary account. For example: London, Dallas etc.",
                "minLength" : 0,
                "maxLength" : 33
              }
            }
          }
        },
        "beneficiaryCustomerIds" : {
          "type" : "array",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryCustomerId" : {
                "type" : "string",
                "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "paymentDetails" : {
          "type" : "array",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 1,
          "maxLength" : 4
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "minLength" : 1,
          "maxLength" : 16
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "minLength" : 1,
          "maxLength" : 3
        },
        "debitAmount" : {
          "type" : "number",
          "description" : "Amount to be debited in a payment transaction",
          "minimum" : 1,
          "maximum" : 18
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 1,
          "maxLength" : 16
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "minLength" : 0,
          "maxLength" : 3
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction",
          "minimum" : 0,
          "maximum" : 18
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference quoted by the credit account for a payment"
        },
        "commissionCode" : {
          "type" : "string",
          "description" : "These field control the allocation of Periodic commission where the field COMM.CODE is the trigger for periodic commission and the field CSN.CODE is a system maintained field and hold the commission amount relating to the period band",
          "minLength" : 0,
          "maxLength" : 20
        },
        "commissionType" : {
          "type" : "string",
          "description" : "Identifies the Commission Types which are applicable to the transaction",
          "minLength" : 0,
          "maxLength" : 11
        },
        "commissionAmount" : {
          "type" : "number",
          "description" : "Amount of commission charged for the payment created with respect to the commission type used.",
          "minimum" : 0,
          "maximum" : 22
        },
        "debitReference" : {
          "type" : "string",
          "description" : "Reference for debit party of a payment transaction",
          "minLength" : 0,
          "maxLength" : 16
        },
        "creditReference" : {
          "type" : "string",
          "description" : "Reference quoted by the credit account for a payment",
          "minLength" : 0,
          "maxLength" : 27
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency",
          "minLength" : 0,
          "maxLength" : 16
        },
        "negotiatedDealerId" : {
          "type" : "string",
          "description" : "Identifies the Negotiated Dealer Reference of the foreign exchange internal deal created to cover the exchange rate",
          "minLength" : 0,
          "maxLength" : 5
        },
        "chequeNumber" : {
          "type" : "string",
          "description" : "Cheque number associated with the transaction or accounting entry.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "customerSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction",
          "minLength" : 0,
          "maxLength" : 16
        },
        "baseCurrency" : {
          "type" : "string",
          "description" : "Contains the currency of the arrangement which linked to the package or bundle",
          "minLength" : 0,
          "maxLength" : 3
        },
        "profitCentreCustomer" : {
          "type" : "string",
          "description" : "Identifies the customer of profit and loss entries generated in relation to the current transaction",
          "minLength" : 0,
          "maxLength" : 10
        },
        "profitCentreDepartment" : {
          "type" : "string",
          "description" : "Identifies the Account Officer or Department Code of Profit and Loss entries generated in relation to the current transaction",
          "minLength" : 0,
          "maxLength" : 4
        },
        "clearingDate" : {
          "type" : "string",
          "description" : "Contains the date from which the payment is expected and is used to indicate the exposure date for the payment.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "cashRoundType" : {
          "type" : "string",
          "description" : "Indicates the type of rounding to be applied for cash transactions of a currency.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "debitAccountIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the debtor account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "creditAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the credit account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "receiverCorrespondentAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of receiver correspondent bank's account number.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "intermediatoryBankAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the intermediatory bank account number",
          "minLength" : 0,
          "maxLength" : 35
        },
        "orderingCustomerAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the ordering customer account number.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "chargeAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of charge or commission account numbers",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryCountryId" : {
          "type" : "string",
          "description" : "Country of the beneficiary account number. For example: US, IN, EU",
          "minLength" : 0,
          "maxLength" : 2
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number.",
          "minLength" : 0,
          "maxLength" : 34
        },
        "customerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion in case of transactions involving FX conversion. ",
          "minLength" : 0,
          "maxLength" : 16
        },
        "bankSortCode" : {
          "type" : "string",
          "description" : "The sort code or the national clearing code of the beneficiary bank. ",
          "minLength" : 0,
          "maxLength" : 20
        }
      }
    },
    "AccountTransferDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "AccountTransferDelete"
    }
  }
}