{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to create, update and manage customer details such as delivery preferences, joint customer details, party relationships, KYC details, customer exit status, customer address formats & posting restrictions",
    "version" : "v4.0.0",
    "title" : "Customer management"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v4.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/party/customers/{customerId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of customer details",
        "description" : "Retrieves the customer details such as customer contact information, residence details, legal document details, occupation details and relationship details for the specific customer",
        "operationId" : "getCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update customer details",
        "description" : "Update customer details with the information such as customer contact information, residence details, legal document details, occupation details and relationship details, etc provided by the user",
        "operationId" : "updateCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Customer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of customer basic details",
        "description" : "Retrieves the customer details such as delivery or postal details, contact information, residence details, customer profile, legal document details, occupation details and status of customer",
        "operationId" : "getCustomerInformation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the customer Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the customer Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the customer Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerName",
          "in" : "query",
          "description" : "Name of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerNameCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the customer name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerNameBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the customer name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerNameMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the customer name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "street",
          "in" : "query",
          "description" : "Contains the first line of customer's base address, example building number, street number etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "streetCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the street",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "streetBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the street",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "streetMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the street",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCity",
          "in" : "query",
          "description" : "The town and/or city component of the base address of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCityCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the town country",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCityBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the town country",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCityMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the town country",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countryId",
          "in" : "query",
          "description" : "ISO country code of the financial institution. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countryIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the country",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countryIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the country",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countryIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the country",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCode",
          "in" : "query",
          "description" : "Identifies the address postal code for the customer.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCodeCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the post code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCodeBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the post code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCodeMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the post code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirth",
          "in" : "query",
          "description" : "The date of birth of an individual customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirthCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the date of birth",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirthBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the date of birth",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirthMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the date of birth",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatus",
          "in" : "query",
          "description" : "The internal bank status of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatusCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the customer status",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatusBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the customer status",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatusMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the customer status",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorId",
          "in" : "query",
          "description" : "An institution-defined identifier of the type of customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the sector",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the sector",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the sector",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerId",
          "in" : "query",
          "description" : "The identifier of the department head or specific account officer responsible for the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the account officer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the account officer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the account officer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryId",
          "in" : "query",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the industry",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the industry",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the industry",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityId",
          "in" : "query",
          "description" : "The identifier of the nationality of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the nationality",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the nationality",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the nationality",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceId",
          "in" : "query",
          "description" : "The identifier of the country of residence of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the residence",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the residence",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the residence",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastName",
          "in" : "query",
          "description" : "The last name of an individual customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastNameCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the family name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastNameBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the family name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastNameMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the family name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumber",
          "in" : "query",
          "description" : "The phone number of the customer or prospect",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumberCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the phone number",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumberMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the phone number",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumberBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the phone number",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonic",
          "in" : "query",
          "description" : "Specifies an alternative easy means of referencing the Customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonicCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the customer mnemonic",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonicBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the customer mnemonic",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonicMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the customer mnemonic",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstName",
          "in" : "query",
          "description" : "Specifies customer's first name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstNameBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the first name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstNameMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the first name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstNameCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the first name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerType",
          "in" : "query",
          "description" : "Contains the type of customer, for example ACTIVE, PROSPECT.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerTypeCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the customer type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerTypeBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the customer type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerTypeMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the customer type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Email Identifier of the Customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "emailCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the emails",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "emailMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the emails",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "emailBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the emails",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumber",
          "in" : "query",
          "description" : "Represents the phone number of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumberCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the mobile numbers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumberBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the mobile numbers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumberMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the mobile numbers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "taxId",
          "in" : "query",
          "description" : "Holds the Customer's TAX/SSN Id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "taxIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the tax Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "taxIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the tax Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "taxIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the tax Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "shortName",
          "in" : "query",
          "description" : "Contains the name of the account, basically the short title of the account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "shortNameCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the short name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "shortNameBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the short name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "shortNameMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the short name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "officePhoneNumber",
          "in" : "query",
          "description" : "The office phone number of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "officePhoneNumberCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the office phone numbers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "officePhoneNumberBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the office phone numbers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "officePhoneNumberMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the office phone numbers",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "faxId",
          "in" : "query",
          "description" : "The fax (facsimile) number of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "faxIdBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the fax Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "faxIdCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the fax Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "faxIdMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the fax Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "Communication Address of the Customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the address",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the address",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the address",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relCustomer",
          "in" : "query",
          "description" : "Customers linked or related to the arrangement owner",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relCustomerBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the related customer Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relCustomerCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the related customer Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relCustomerMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the related customer Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relationshipCode",
          "in" : "query",
          "description" : "Relationship identifier between the partyType and relatedPartyType",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relationshipCodeBW",
          "in" : "query",
          "description" : "Indicates the criteria for the between operation on the relationship code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relationshipCodeMT",
          "in" : "query",
          "description" : "Indicates the criteria for the matches operation on the relationship code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relationshipCodeCT",
          "in" : "query",
          "description" : "Indicates the criteria for the contains operation on the relationship code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerInformationResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerInformationResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Create a customer",
        "description" : "Create a customer with the information such as customer contact information, residence details, legal document details, occupation details and relationship details, etc provided by the user",
        "operationId" : "createCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Customer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/relationships" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of customer relationships",
        "description" : "Retrieves customer relationship details such as type of relationship, party information, relatedAs details, owning details, role & purpose of relationship for specific party or customer",
        "operationId" : "getCustomerRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerRelationGroupId",
          "in" : "query",
          "description" : "Identifies the key to Customer Relationship Group to form a relation",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "partyId",
          "in" : "query",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relatedPartyId",
          "in" : "query",
          "description" : "Identifier of the Related Party",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relationId",
          "in" : "query",
          "description" : "Identifier of the Customer Relationship and Party Relationship",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerRelationshipResponse1"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Create customer relationship with other customers",
        "description" : "Create a customer relationship for a customer with details such as type of relationship, party information, relatedAs details, owning details, role & purpose of relationship",
        "operationId" : "createCustomerRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerRelationship"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerRelationshipResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/relationships/{relationId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update customer relationship",
        "description" : "Update customer relationship for a customer with details such as type of relationship, party information, related details, owning details, role & purpose of relationship",
        "operationId" : "updateCustomerRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "relationId",
          "in" : "path",
          "description" : "Identifier of the Customer Relationship and Party Relationship",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerRelationship"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerRelationshipResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/reportingStatus" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves reporting status of the customer",
        "description" : "Retrieves the FATCA/CRS reporting status and reporting jurisdiction of the customer",
        "operationId" : "getCustomerReportingStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerReportingStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerReportingStatusResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/sweeps" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves account sweep details of the specific customer",
        "description" : "Retrieves account sweep details such as sweep reference, type, balance requirements for sweep & frequency of sweep for the list of accounts available to a customer",
        "operationId" : "getCustomerSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerSweepsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/deliveryOptions" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves delivery preferences of the customer",
        "description" : "Retrieves the delivery preferences of the customer such as the message group, carrier and address.",
        "operationId" : "getCustomerDeliveryOptions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerDeliveryOptionsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerDeliveryOptionsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/channels" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves list of message channels",
        "description" : "Retrieves the list of message channels such as internet banking, mobile banking, ATM, etc available for the specific customer",
        "operationId" : "getCustomerDigitalChannels",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "channelName",
          "in" : "query",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerDigitalChannelsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerDigitalChannelsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/messages" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a new secure message for a customer",
        "description" : "Create a new secure message for a customer to be sent by bank",
        "operationId" : "createMessages",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Messages"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MessagesResponse",
            "schema" : {
              "$ref" : "#/definitions/MessagesResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/jointCustomers" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves joint customer details for a specific customer",
        "description" : "Retrieves details such as joint relation code, name, joint customer details and reverse relationships for a specific customer",
        "operationId" : "getJointCustomerDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "JointCustomerDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/JointCustomerDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/KYC" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves KYC details for a specific customer",
        "description" : "Retrieves the KYC details such as contact date, introducer, last and next review date, KYC and AML status of a customer",
        "operationId" : "getCustomerKYCDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerKYCDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerKYCDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/personalProfiles" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Personal details of customer",
        "description" : "Retrieves personal details such as residence, communication details, occupation details, asset & liability information",
        "operationId" : "getCustomerPersonalDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerPersonalDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerPersonalDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/postingRestrictions" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves posting restriction details",
        "description" : "Retrieves the credit and debit posting restriction details such as restriction reference and name of restriction set for a customer",
        "operationId" : "getCustomerPostingRestrictions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerPostingRestrictionsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerPostingRestrictionsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/relationships/{relationId}" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create party relationship details",
        "description" : "Create a party relationship between a person, entity or customer with details such as party name, type, relatedAs, relation code and owning details",
        "operationId" : "createPartyRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "relationId",
          "in" : "path",
          "description" : "Identifier of the Customer Relationship and Party Relationship",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PartyRelationship"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PartyRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/PartyRelationshipResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update party relationship details",
        "description" : "Update party relationship between a person, entity or customer with details such as party name, type, relatedAs, relation code and owning details",
        "operationId" : "updatePartyRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "relationId",
          "in" : "path",
          "description" : "Identifier of the Customer Relationship and Party Relationship",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PartyRelationship"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PartyRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/PartyRelationshipResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/cards" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves card details of a customer",
        "description" : "Retrieves the card details such as card Number, card type and status, linked account and its balances of a customer",
        "operationId" : "getCustomerCreditCards",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerCreditCardsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerCreditCardsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/standingOrders" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves standing instruction details of a customer",
        "description" : "Retrieves the list of standing instructions for a customer with details such as instruction reference, order type, frequency of payments, mode of payment and credit & debit parties involved",
        "operationId" : "getStandingOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "standingOrderId",
          "in" : "query",
          "description" : "The unique standing order identifier",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orderingCustomerId",
          "in" : "query",
          "description" : "Indicates the customer id for the ordering customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "StandingOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/StandingOrdersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/directDebits" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves direct debits details of a customer",
        "description" : "Retrieves the list of direct debits for a customer with details such as direct debit reference, debit & credit accounts, transaction amount, payment frequency, next payment date and direction of payment",
        "operationId" : "getDirectDebits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "directDebitId",
          "in" : "query",
          "description" : "The unique identifier of the direct debit mandate. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DirectDebitsResponse",
            "schema" : {
              "$ref" : "#/definitions/DirectDebitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/deliveryPreferences/{deliveryPreferenceId}" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create customer delivery preferences",
        "description" : "Creates delivery preferences for a customer or account with message group, carrier, role, address, email details and format of messages",
        "operationId" : "createDeliveryPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deliveryPreferenceId",
          "in" : "path",
          "description" : "Identifier of the customer delivery preferences",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeliveryPreference"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeliveryPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/DeliveryPreferenceResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update customer deliver preferences",
        "description" : "Update delivery preferences for a  customer or account with message group, carrier, role, address & email details, format of messages",
        "operationId" : "updateDeliveryPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deliveryPreferenceId",
          "in" : "path",
          "description" : "Identifier of the customer delivery preferences",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeliveryPreference"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeliveryPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/DeliveryPreferenceResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/limits/{limitId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update credit limit details for customer",
        "description" : "Updates the limit details such as currency, limit grade, commodity, country and limit product details",
        "operationId" : "updateLimit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
          "description" : "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Limit"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
[...]
