{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the creation, viewing and management of customer documents and images.",
    "version" : "v1.0.1",
    "title" : "Customer documents and images"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.1/",
  "tags" : [ ],
  "schemes" : ["https"],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/party/customers/{customerId}/images/{imageId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Document Image",
        "description" : "Retrieves Document Image",
        "operationId" : "getDocumentImage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "A system generated unique identifier for the image record",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DocumentImageResponse",
            "schema" : {
              "$ref" : "#/definitions/DocumentImageResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Updates Document Images",
        "description" : "Updates Document Images",
        "operationId" : "updateDocumentImage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "A system generated unique identifier for the image record",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DocumentImage"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DocumentImageResponse",
            "schema" : {
              "$ref" : "#/definitions/DocumentImageResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/images" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Customer Images",
        "description" : "Retrieves Customer Images",
        "operationId" : "getCustomerImages",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerImagesResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerImagesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "create document images",
        "description" : "create document images",
        "operationId" : "createDocumentImage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DocumentImage"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DocumentImageResponse",
            "schema" : {
              "$ref" : "#/definitions/DocumentImageResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/documents/{customerDocumentId}/status" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves document tracking status",
        "description" : "Retrieves document tracking status including status of the document whether received or not,the date on which it is recieved and the expiry date of the document and nature of the document.",
        "operationId" : "getCustomerDocument",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerDocumentId",
          "in" : "path",
          "description" : "Defines the unique identifier for the customer document",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerDocumentResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerDocumentResponse1"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Create document status for tracking",
        "description" : "Create document status for tracking",
        "operationId" : "createCustomerDocument",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerDocumentId",
          "in" : "path",
          "description" : "Defines the unique identifier for the customer document",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerDocument"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerDocumentResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerDocumentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update current document status",
        "description" : "Update current document status",
        "operationId" : "amendCustomerDocument",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerDocumentId",
          "in" : "path",
          "description" : "Defines the unique identifier for the customer document",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerDocument"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerDocumentResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerDocumentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Delete document status",
        "description" : "Delete document status",
        "operationId" : "deleteCustomerDocument",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerDocumentId",
          "in" : "path",
          "description" : "Defines the unique identifier for the customer document",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CustomerDocumentDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerDocumentResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerDocumentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/documents" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the document image details",
        "description" : "Retrieves the document image details which includes document type,path where it is stored,date on which it is received and last updated.",
        "operationId" : "getCustomerDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "imageApplication",
          "in" : "query",
          "description" : "Indicates the domain name (technical identifier) the image/document is attached to. E.g., Customer, Payments, Loans, Deposits, etc..,",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "imageType",
          "in" : "query",
          "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "imageReferenceId",
          "in" : "query",
          "description" : "Contains the identifier associated to the image reference",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerDocumentsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerDocumentsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/documents/locations" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves document location",
        "description" : "Retrieves document location for particular image type",
        "operationId" : "getDocumentsLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "imageType",
          "in" : "query",
          "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DocumentsLocationResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerImagesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/images/{imageReference}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the list of image records for specific id",
        "description" : "Retrieves document and Images details",
        "operationId" : "getDocumentandImages",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "imageReference",
          "in" : "path",
          "description" : "Indicates the reference no. E.g. contract no./customer no./payments no. to which the image/document is attached to",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "imageApplication",
          "in" : "query",
          "description" : "Indicates the domain name (technical identifier) the image/document is attached to. E.g., Customer, Payments, Loans, Deposits, etc..,",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "imageType",
          "in" : "query",
          "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "imageReferenceId",
          "in" : "query",
          "description" : "Contains the identifier associated to the image reference",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DocumentandImagesResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerImagesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/documents/fileUploads/{uploadId}" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Initiate a new profile picture upload request for a customer",
        "description" : "Create profile picture upload",
        "operationId" : "createProfilePictureUpload",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "uploadId",
          "in" : "path",
          "description" : "The unique identifier of the uploaded file",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProfilePictureUpload"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProfilePictureUploadResponse",
            "schema" : {
              "$ref" : "#/definitions/ProfilePictureUploadResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update an existing uploaded profile picture record for a customer",
        "description" : "Update profile picture upload details",
        "operationId" : "updateProfilePictureUpload",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "uploadId",
          "in" : "path",
          "description" : "The unique identifier of the uploaded file",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProfilePictureUpload"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProfilePictureUploadResponse",
            "schema" : {
              "$ref" : "#/definitions/ProfilePictureUploadResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Remove an existing profile picture record fo",
        "description" : "Remove profile picture upload",
        "operationId" : "deleteProfilePictureUpload",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "uploadId",
          "in" : "path",
          "description" : "The unique identifier of the uploaded file",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ProfilePictureUploadDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProfilePictureUploadResponse",
            "schema" : {
              "$ref" : "#/definitions/ProfilePictureUploadResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/documents" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Initiate a new request for document and image",
        "description" : "Retrieves document and Images details",
        "operationId" : "createDocumentandImage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DocumentandImage"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DocumentandImageResponse",
            "schema" : {
              "$ref" : "#/definitions/DocumentandImageResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/documents/{documentId}" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update an existing document/image record for specific document id",
        "description" : "Update document and image details",
        "operationId" : "updateDocumentandImage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "documentId",
          "in" : "path",
          "description" : "Based on documentCode, the field defaults the required document codes",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DocumentandImage"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DocumentandImageResponse",
            "schema" : {
              "$ref" : "#/definitions/DocumentandImageResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Remove document/image for specific document id",
        "description" : "Remove document and image",
        "operationId" : "deleteDocumentandImage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "documentId",
          "in" : "path",
          "description" : "Based on documentCode, the field defaults the required document codes",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DocumentandImageDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DocumentandImageResponse",
            "schema" : {
              "$ref" : "#/definitions/DocumentandImageResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "DocumentImage" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DocumentImageBody"
        }
      },
      "description" : "DocumentImage"
    },
    "DocumentImageBody" : {
      "type" : "object",
      "properties" : {
        "description" : {
          "type" : "array",
          "description" : "Contains the description of purpose of the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "displayName" : {
                "type" : "string",
                "description" : "Contains the name used for display or enrichment purposes",
                "minLength" : 0,
                "maxLength" : 11
              }
            }
          }
        },
        "imageType" : {
          "type" : "string",
          "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
          "minLength" : 0,
          "maxLength" : 9
        },
        "imageApplication" : {
          "type" : "string",
          "description" : "Indicates the domain name (technical identifier) the image/document is attached to. E.g., Customer, Payments, Loans, Deposits, etc..,",
          "minLength" : 0,
          "maxLength" : 16
        },
        "companyMnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch related to the image record",
          "minLength" : 0,
          "maxLength" : 15
        },
        "displayName" : {
          "type" : "string",
          "description" : "Contains the name used for display or enrichment purposes",
          "minLength" : 0,
          "maxLength" : 16
        },
        "mediaType" : {
          "type" : "string",
          "description" : "Indicates the social media type, as defined by the institution e.g. - FACEBOOK - LINKEDIN - MOBILE - TWITTER",
          "minLength" : 0,
          "maxLength" : 14,
          "enum" : [ "IMAGE", "SOUND", "VIDEO", "DOCUMENT" ]
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "DocumentImageResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DocumentImageResponseBody"
        }
      },
      "description" : "DocumentImageResponse"
    },
    "DocumentImageResponseBody" : {
      "type" : "object",
      "properties" : {
        "description" : {
          "type" : "array",
          "description" : "Contains the description of purpose of the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "displayName" : {
                "type" : "string",
                "description" : "Contains the name used for display or enrichment purposes",
                "minLength" : 0,
                "maxLength" : 11
              }
            }
          }
        },
        "imageType" : {
          "type" : "string",
          "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
          "minLength" : 0,
          "maxLength" : 9
        },
        "imageApplication" : {
          "type" : "string",
          "description" : "Indicates the domain name (technical identifier) the image/document is attached to. E.g., Customer, Payments, Loans, Deposits, etc..,",
          "minLength" : 0,
          "maxLength" : 16
        },
        "companyMnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch related to the image record",
          "minLength" : 0,
          "maxLength" : 15
        },
        "imageReference" : {
          "type" : "string",
          "description" : "Indicates the reference no. E.g. contract no./customer no./payments no. to which the image/document is attached to",
          "minLength" : 0,
          "maxLength" : 14
        },
        "displayName" : {
          "type" : "string",
          "description" : "Contains the name used for display or enrichment purposes",
          "minLength" : 0,
          "maxLength" : 16
        },
        "mediaType" : {
          "type" : "string",
          "description" : "Indicates the social media type, as defined by the institution e.g. - FACEBOOK - LINKEDIN - MOBILE - TWITTER",
          "minLength" : 0,
          "maxLength" : 14,
          "enum" : [ "IMAGE", "SOUND", "VIDEO", "DOCUMENT" ]
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerImagesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerImagesResponseBody"
        }
      },
      "description" : "CustomerImagesResponse"
    },
    "CustomerImagesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "imageId" : {
            "type" : "string",
            "description" : "A system generated unique identifier for the image record",
            "maxLength" : 12
          },
          "imageType" : {
            "type" : "string",
            "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
            "maxLength" : 15
          },
          "imageApplication" : {
            "type" : "string",
            "description" : "Indicates the domain name (technical identifier) the image/document is attached to. E.g., Customer, Payments, Loans, Deposits, etc..,",
            "maxLength" : 40
          },
          "companyMnemonic" : {
            "type" : "string",
            "description" : "Shortcut code for referring an Entity/Company/Branch related to the image record",
            "maxLength" : 3
          },
          "imageReference" : {
            "type" : "string",
            "description" : "Indicates the reference no. E.g. contract no./customer no./payments no. to which the image/document is attached to",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "fileName" : {
            "type" : "string",
            "description" : "Identifies the image stored on the client PC or on a PC network file system",
            "maxLength" : 50
          },
          "imagePath" : {
            "type" : "string",
            "description" : "Identifies the image stored on the file system, specifically based on the logo url mentioned in open banking directory.",
            "maxLength" : 15
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 4
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "CustomerDocument" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerDocumentBody"
        }
      },
      "description" : "CustomerDocument"
    },
    "CustomerDocumentBody" : {
      "type" : "object",
      "properties" : {
        "referenceNumber" : {
          "type" : "string",
          "description" : "Specifies the reference for the document, if any.",
          "minLength" : 0,
          "maxLength" : 15
        },
        "status" : {
          "type" : "string",
          "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "statusDate" : {
          "type" : "string",
          "description" : "The date status was last updated",
          "minLength" : 0,
          "maxLength" : 10
        },
        "endDate" : {
          "type" : "string",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
          "minLength" : 0,
          "maxLength" : 7
        },
        "documentSequence" : {
          "type" : "string",
          "description" : "Sequence number of revised document",
          "minLength" : 0,
          "maxLength" : 16
        },
        "documentNature" : {
          "type" : "string",
          "description" : "Specifies the nature of the document, which can possibly take values like DUPLICATE,ORIGINAL etc",
          "minLength" : 0,
          "maxLength" : 14
        }
      }
    },
    "CustomerDocumentResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerDocumentResponseBody"
        }
      },
      "description" : "CustomerDocumentResponse"
    },
    "CustomerDocumentResponseBody" : {
      "type" : "object",
      "properties" : {
        "referenceNumber" : {
          "type" : "string",
          "description" : "Specifies the reference for the document, if any.",
          "minLength" : 0,
          "maxLength" : 15
        },
        "status" : {
          "type" : "string",
          "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "statusDate" : {
          "type" : "string",
          "description" : "The date status was last updated",
          "minLength" : 0,
          "maxLength" : 10
        },
        "endDate" : {
          "type" : "string",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
          "minLength" : 0,
          "maxLength" : 7
        },
        "documentSequence" : {
          "type" : "string",
          "description" : "Sequence number of revised document",
          "minLength" : 0,
          "maxLength" : 16
        },
        "documentNature" : {
          "type" : "string",
          "description" : "Specifies the nature of the document, which can possibly take values like DUPLICATE,ORIGINAL etc",
          "minLength" : 0,
          "maxLength" : 14
        }
      }
    },
    "CustomerDocumentDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "CustomerDocumentDelete"
    },
    "CustomerDocumentsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerDocumentsResponseBody"
        }
      },
      "description" : "CustomerDocumentsResponse"
    },
    "CustomerDocumentsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "imageId" : {
            "type" : "string",
            "description" : "A system generated unique identifier for the image record",
            "maxLength" : 12
          },
          "imageType" : {
            "type" : "string",
            "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
            "maxLength" : 15
          },
          "imageApplication" : {
            "type" : "string",
            "description" : "Indicates the domain name (technical identifier) the image/document is attached to. E.g., Customer, Payments, Loans, Deposits, etc..,",
            "maxLength" : 40
          },
          "companyMnemonic" : {
            "type" : "string",
            "description" : "Shortcut code for referring an Entity/Company/Branch related to the image record",
            "maxLength" : 3
          },
          "imageReference" : {
            "type" : "string",
            "description" : "Indicates the reference no. E.g. contract no./customer no./payments no. to which the image/document is attached to",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "fileName" : {
            "type" : "string",
            "description" : "Identifies the image stored on the client PC or on a PC network file system",
            "maxLength" : 50
          },
          "imagePath" : {
            "type" : "string",
            "description" : "Identifies the image stored on the file system, specifically based on the logo url mentioned in open banking directory.",
            "maxLength" : 15
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 4
          },
          "receivedDate" : {
            "type" : "string",
            "description" : "Identifies the date on which the document was received"
          },
          "lastUpdatedDateTime" : {
            "type" : "string",
            "description" : "Specifies the date and time of last update to the record.",
            "maxLength" : 15
          }
        }
      }
    },
    "CustomerDocumentResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerDocumentResponse1Body"
        }
      },
      "description" : "CustomerDocumentResponse1"
    },
    "CustomerDocumentResponse1Body" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customerDocumentId" : {
            "type" : "string",
            "description" : "Defines the unique identifier for the customer document",
            "maxLength" : 46
          },
          "documentName" : {
            "type" : "string",
            "description" : "The accepted forms of identification taken by the bank when enrolling a Customer",
            "maxLength" : 26
          },
          "referenceNumber" : {
            "type" : "string",
            "description" : "Specifies the reference for the document, if any.",
            "maxLength" : 35
          },
          "status" : {
            "type" : "string",
            "description" : "Contains status of the data rights request.Allowed values are INITIATED, INPROGESS, EXTENDED, COMPLETED, REJECTED.",
            "maxLength" : 10
          },
          "statusName" : {
            "type" : "string",
            "description" : "An institution-defined high level description or segmentation of the customer",
            "maxLength" : 10
          },
          "statusDate" : {
            "type" : "string",
            "description" : "The date status was last updated",
            "maxLength" : 11
          },
          "issueDate" : {
            "type" : "string",
            "description" : "The date the item was issued.",
            "maxLength" : 11
          },
          "endDate" : {
            "type" : "string",
            "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
            "maxLength" : 11
          },
          "documentSequence" : {
            "type" : "string",
            "description" : "Sequence number of revised document",
            "maxLength" : 4
          },
          "lastUpdateDate" : {
            "type" : "string",
            "description" : "Specifies the date of last update to the record.",
            "maxLength" : 11
          },
          "documentNature" : {
            "type" : "string",
            "description" : "Specifies the nature of the document, which can possibly take values like DUPLICATE,ORIGINAL etc",
            "maxLength" : 25
          }
        }
      }
    },
    "ProfilePictureUpload" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProfilePictureUploadBody"
        }
      },
      "description" : "ProfilePictureUpload"
    },
    "ProfilePictureUploadBody" : {
      "type" : "object",
      "properties" : {
        "uploadId" : {
          "type" : "string",
          "description" : "The unique identifier of the uploaded file",
          "minLength" : 0,
          "maxLength" : 25
        },
        "fileUpload" : {
          "type" : "string",
          "description" : "Uses a file browser to locate and display the file. ",
          "minLength" : 0,
          "maxLength" : 50
        }
      }
    },
    "ProfilePictureUploadResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProfilePictureUploadResponseBody"
        }
      },
      "description" : "ProfilePictureUploadResponse"
    },
    "ProfilePictureUploadResponseBody" : {
      "type" : "object",
      "properties" : {
        "uploadId" : {
          "type" : "string",
          "description" : "The unique identifier of the uploaded file",
          "minLength" : 0,
          "maxLength" : 25
        },
        "fileUpload" : {
          "type" : "string",
          "description" : "Uses a file browser to locate and display the file. ",
          "minLength" : 0,
          "maxLength" : 50
        }
      }
    },
    "ProfilePictureUploadDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "ProfilePictureUploadDelete"
    },
    "DocumentandImage" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DocumentandImageBody"
        }
      },
      "description" : "DocumentandImage"
    },
    "DocumentandImageBody" : {
      "type" : "object",
      "properties" : {
        "descriptions" : {
          "type" : "array",
          "description" : "Contains the description of purpose of the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string",
                "description" : "Contains the description of purpose of the payment.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "imageType" : {
          "type" : "string",
          "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
          "minLength" : 0,
          "maxLength" : 25
        },
        "imageApplication" : {
          "type" : "string",
          "description" : "Indicates the domain name (technical identifier) the image/document is attached to. E.g., Customer, Payments, Loans, Deposits, etc..,",
          "minLength" : 0,
          "maxLength" : 40
        },
        "companyMnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch related to the image record",
          "minLength" : 0,
          "maxLength" : 15
        },
        "imageReference" : {
          "type" : "string",
          "description" : "Indicates the reference no. E.g. contract no./customer no./payments no. to which the image/document is attached to",
          "minLength" : 0,
          "maxLength" : 35
        },
        "displayName" : {
          "type" : "string",
          "description" : "Contains the name used for display or enrichment purposes",
          "minLength" : 0,
          "maxLength" : 35
        },
        "multiMediaType" : {
          "type" : "string",
          "description" : "Different types of multimedia that has been used in the advertisement",
          "minLength" : 0,
          "maxLength" : 15
        },
        "imagePath" : {
          "type" : "string",
          "description" : "Identifies the image stored on the file system, specifically based on the logo url mentioned in open banking directory.",
          "minLength" : 0,
          "maxLength" : 50
        },
        "notes" : {
          "type" : "string",
          "description" : "Notes to facilitate the use of the Function.",
          "minLength" : 0,
          "maxLength" : 100
        }
      }
    },
    "DocumentandImageResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DocumentandImageResponseBody"
        }
      },
      "description" : "DocumentandImageResponse"
    },
    "DocumentandImageResponseBody" : {
      "type" : "object",
      "properties" : {
        "descriptions" : {
          "type" : "array",
          "description" : "Contains the description of purpose of the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string",
                "description" : "Contains the description of purpose of the payment.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "imageType" : {
          "type" : "string",
          "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
          "minLength" : 0,
          "maxLength" : 25
        },
        "imageApplication" : {
          "type" : "string",
          "description" : "Indicates the domain name (technical identifier) the image/document is attached to. E.g., Customer, Payments, Loans, Deposits, etc..,",
          "minLength" : 0,
          "maxLength" : 40
        },
        "companyMnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch related to the image record",
          "minLength" : 0,
          "maxLength" : 15
        },
        "imageReference" : {
          "type" : "string",
          "description" : "Indicates the reference no. E.g. contract no./customer no./payments no. to which the image/document is attached to",
          "minLength" : 0,
          "maxLength" : 35
        },
        "displayName" : {
          "type" : "string",
          "description" : "Contains the name used for display or enrichment purposes",
          "minLength" : 0,
          "maxLength" : 35
        },
        "multiMediaType" : {
          "type" : "string",
          "description" : "Different types of multimedia that has been used in the advertisement",
          "minLength" : 0,
          "maxLength" : 15
        },
        "imagePath" : {
          "type" : "string",
          "description" : "Identifies the image stored on the file system, specifically based on the logo url mentioned in open banking directory.",
          "minLength" : 0,
          "maxLength" : 50
        },
        "notes" : {
          "type" : "string",
          "description" : "Notes to facilitate the use of the Function.",
          "minLength" : 0,
          "maxLength" : 100
        }
      }
    },
    "DocumentandImageDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "DocumentandImageDelete"
    }
  }
}