{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to create, update and manage beneficiary details related to payment processing",
    "version" : "v1.0.0",
    "title" : "Management of Payments beneficiaries"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/party/payments/beneficiaries" : {
      "post" : {
        "summary" : "Creates Payments beneficiary details",
        "description" : "Creates beneficiary with details such as beneficial account, address, beneficiary bank and other preferred options for payment processing",
        "operationId" : "createBeneficiary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Beneficiary"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BeneficiaryResponse",
            "schema" : {
              "$ref" : "#/definitions/BeneficiaryResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/payments/beneficiaries/{beneficiaryId}" : {
      "get" : {
        "summary" : "Retrieves Payments beneficiary details",
        "description" : "Retrieves existing beneficiary details such as beneficial account, address, beneficiary bank and other preferred options for payment processing",
        "operationId" : "getBeneficiary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "beneficiaryId",
          "in" : "path",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BeneficiaryResponse",
            "schema" : {
              "$ref" : "#/definitions/BeneficiaryResponse1"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Updates Payments beneficiary details",
        "description" : "Updates an existing beneficiary with details such as beneficial account, address, beneficiary bank and other preferred options for payment processing",
        "operationId" : "updateBeneficiary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "beneficiaryId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Beneficiary"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BeneficiaryResponse",
            "schema" : {
              "$ref" : "#/definitions/BeneficiaryResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Deletes Payments beneficiary details",
        "description" : "Deletes existing beneficiary of a customer defined for payment processing",
        "operationId" : "deleteBeneficiary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "beneficiaryId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/BeneficiaryDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BeneficiaryResponse",
            "schema" : {
              "$ref" : "#/definitions/BeneficiaryResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "Beneficiary" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BeneficiaryBody"
        }
      },
      "description" : "Beneficiary"
    },
    "BeneficiaryBody" : {
      "type" : "object",
      "properties" : {
        "nickNames" : {
          "type" : "array",
          "description" : "Nickname of the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "nickName" : {
                "type" : "string",
                "description" : "Nickname of the beneficiary",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryNames" : {
          "type" : "array",
          "description" : "Short title or short name of the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "lastNames" : {
          "type" : "array",
          "description" : "The last name of an individual customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "lastName" : {
                "type" : "string",
                "description" : "The last name of an individual customer",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "streets" : {
          "type" : "array",
          "description" : "Contains the first line of customer's base address, example building number, street number etc.",
          "items" : {
            "type" : "object",
            "properties" : {
              "street" : {
                "type" : "string",
                "description" : "Contains the first line of customer's base address, example building number, street number etc.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "addressCities" : {
          "type" : "array",
          "description" : "The town and/or city component of the base address of a customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "addressCity" : {
                "type" : "string",
                "description" : "The town and/or city component of the base address of a customer",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "postCodes" : {
          "type" : "array",
          "description" : "Identifies the address postal code for the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "postCode" : {
                "type" : "string",
                "description" : "Identifies the address postal code for the customer.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryCountries" : {
          "type" : "array",
          "description" : "Indicates the Beneficiary's country address",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryCountry" : {
                "type" : "string",
                "description" : "Indicates the Beneficiary's country address",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ultimateCreditorAddressLines" : {
          "type" : "array",
          "description" : "It specifies the address fields to be used for the Ultimate creditor of payment",
          "items" : {
            "type" : "object",
            "properties" : {
              "ultimateCreditorAddressLine" : {
                "type" : "string",
                "description" : "It specifies the address fields to be used for the Ultimate creditor of payment",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankDisplayNames" : {
          "type" : "array",
          "description" : "Indicates the name of financial institution with which beneficiary holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankDisplayName" : {
                "type" : "string",
                "description" : "Indicates the name of financial institution with which beneficiary holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankStreets" : {
          "type" : "array",
          "description" : "Indicates the street address of financial institution with which beneficiary holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankStreet" : {
                "type" : "string",
                "description" : "Indicates the street address of financial institution with which beneficiary holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankCities" : {
          "type" : "array",
          "description" : "Indicates the town or city of financial institution with which beneficiary holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankCity" : {
                "type" : "string",
                "description" : "Indicates the town or city of financial institution with which beneficiary holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankPostCodes" : {
          "type" : "array",
          "description" : "Indicates the post code of financial institution with which beneficiary holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankPostCode" : {
                "type" : "string",
                "description" : "Indicates the post code of financial institution with which beneficiary holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankCountryIds" : {
          "type" : "array",
          "description" : "The country of the beneficiary institution i.e. where the final creditor holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankCountryId" : {
                "type" : "string",
                "description" : "The country of the beneficiary institution i.e. where the final creditor holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "paymentDetails" : {
          "type" : "array",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "minLength" : 0,
          "maxLength" : 35
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "customerReference" : {
          "type" : "string",
          "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "categoryId" : {
          "type" : "string",
          "description" : "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "hintText" : {
          "type" : "string",
          "description" : "This is a free text field which can be provided for Bank defined beneficiaries",
          "minLength" : 0,
          "maxLength" : 35
        },
        "defaultNarrative" : {
          "type" : "string",
          "description" : "The default narrative which will be provided on the debit and credit side of the payment. ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryCustomerId" : {
          "type" : "string",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountId" : {
          "type" : "string",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiarySchemeName" : {
          "type" : "string",
          "description" : "Indicates the account type of the beneficiary account like CLABE , MOBILE , ACCOUNT NO. etc.",
          "minLength" : 0,
          "maxLength" : 39
        },
        "paymentCountry" : {
          "type" : "string",
          "description" : "The country to which a payment is sent, usually where the beneficiary resides",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryOtherId" : {
          "type" : "string",
          "description" : "Indicates the beneficiary other identifier, e.g. could be a Social Security Number, a Tax Identification Number, Passport Number, a Clearing Id etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryOtherIdType" : {
          "type" : "string",
          "description" : "Indicates the type of the beneficiary i.e. Organisation or Private",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dateOfBirth" : {
          "type" : "string",
          "description" : "The date of birth of an individual customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBirthProvince" : {
          "type" : "string",
          "description" : "Indicates the beneficiary place of birth",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBirthCity" : {
          "type" : "string",
          "description" : "Indicates the beneficiary city of birth",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBirthCountry" : {
          "type" : "string",
          "description" : "Indicates the beneficiary country of birthh",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiarySchemeCode" : {
          "type" : "string",
          "description" : "Indicates the name of the identification scheme, in a coded form as published in an external list.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiarySchemeProprietary" : {
          "type" : "string",
          "description" : "The proprietary code of the scheme which issued the identifier for the Beneficiary ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiarySchemeIssuer" : {
          "type" : "string",
          "description" : "Indicates the issuer of other id of the beneficiary",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorOtherIdType" : {
          "type" : "string",
          "description" : "This is to indicate if the Ultimate Creditor is an Organisation or a Private individual",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorOtherId" : {
          "type" : "string",
          "description" : "This is the other identifier of ultimate creditor, e.g. could be a Social Security Number, a Tax Identification Number, Passport Number, a Clearing Id etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditor" : {
          "type" : "string",
          "description" : "Contains the actual creditor account number",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorAddressType" : {
          "type" : "string",
          "description" : "It specifies the address type to be used for the Ultimate creditor of payment i.e. Postal, Business, Residential etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorBIC" : {
          "type" : "string",
          "description" : "It specifies the BIC code of Ultimate creditor of payment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorCountry" : {
          "type" : "string",
          "description" : "It specifies the Country of Ultimate creditor of payment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorDOB" : {
          "type" : "string",
          "description" : "It indicates the Date Of Birth of ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorBirthProvince" : {
          "type" : "string",
          "description" : "It indicates the place of birth for ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorBirthCity" : {
          "type" : "string",
          "description" : "It indicates the birth city of ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorBirthCountry" : {
          "type" : "string",
          "description" : "It indicates the country of birth for the ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorSchemeProprietary" : {
          "type" : "string",
          "description" : "The proprietary code of the scheme which issued the identifier for the ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorSchemeIssuer" : {
          "type" : "string",
          "description" : "Indicates the issuer of other id of the ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBank" : {
          "type" : "string",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankSortCode" : {
          "type" : "string",
          "description" : "Bank sort code details with account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBankClearingCode" : {
          "type" : "string",
          "description" : "Clearing code or sort code of the beneficiary bank",
          "minLength" : 0,
          "maxLength" : 35
        },
        "preferredPaymentProduct" : {
          "type" : "string",
          "description" : "Preferred payment product can be specified for Beneficiary. This will be used for defaulting the payment product for specific beneficiary. ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "paymentCategory" : {
          "type" : "string",
          "description" : "The purpose code for the payment. Should be one of the pre-defined purpose codes in the application and information will be used for payment processing",
          "minLength" : 0,
          "maxLength" : 35
        },
        "paymentOrderPurposeCodeId" : {
          "type" : "string",
          "description" : "Indicates the Id of payment purpose code i.e. purpose of the instruction based on a set of pre-defined categories.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "paymentCurrency" : {
          "type" : "string",
          "description" : "This field holds the transaction currency or currency in which payment is initiated. ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "preferredPaymentAmount" : {
          "type" : "string",
          "description" : "Preferred payment amount can be specified for the beneficiary. If specified, it will be populated during payment processing. ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "minLength" : 0,
          "maxLength" : 35
        },
        "benRiskRate" : {
          "type" : "string",
          "description" : "List of Beneficiary risk rate that the protection limit applies to",
          "minLength" : 0,
          "maxLength" : 35
        },
        "linkBeneficiaryId" : {
          "type" : "string",
          "description" : "The identifier of a beneficiary (defined by the institution) being linked to a customer-defined beneficiary",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "BeneficiaryResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BeneficiaryResponseBody"
        }
      },
      "description" : "BeneficiaryResponse"
    },
    "BeneficiaryResponseBody" : {
      "type" : "object",
      "properties" : {
        "nickNames" : {
          "type" : "array",
          "description" : "Nickname of the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "nickName" : {
                "type" : "string",
                "description" : "Nickname of the beneficiary",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryNames" : {
          "type" : "array",
          "description" : "Short title or short name of the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "lastNames" : {
          "type" : "array",
          "description" : "The last name of an individual customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "lastName" : {
                "type" : "string",
                "description" : "The last name of an individual customer",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "streets" : {
          "type" : "array",
          "description" : "Contains the first line of customer's base address, example building number, street number etc.",
          "items" : {
            "type" : "object",
            "properties" : {
              "street" : {
                "type" : "string",
                "description" : "Contains the first line of customer's base address, example building number, street number etc.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "addressCities" : {
          "type" : "array",
          "description" : "The town and/or city component of the base address of a customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "addressCity" : {
                "type" : "string",
                "description" : "The town and/or city component of the base address of a customer",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "postCodes" : {
          "type" : "array",
          "description" : "Identifies the address postal code for the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "postCode" : {
                "type" : "string",
                "description" : "Identifies the address postal code for the customer.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryCountries" : {
          "type" : "array",
          "description" : "Indicates the Beneficiary's country address",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryCountry" : {
                "type" : "string",
                "description" : "Indicates the Beneficiary's country address",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "ultimateCreditorAddressLines" : {
          "type" : "array",
          "description" : "It specifies the address fields to be used for the Ultimate creditor of payment",
          "items" : {
            "type" : "object",
            "properties" : {
              "ultimateCreditorAddressLine" : {
                "type" : "string",
                "description" : "It specifies the address fields to be used for the Ultimate creditor of payment",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankDisplayNames" : {
          "type" : "array",
          "description" : "Indicates the name of financial institution with which beneficiary holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankDisplayName" : {
                "type" : "string",
                "description" : "Indicates the name of financial institution with which beneficiary holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankStreets" : {
          "type" : "array",
          "description" : "Indicates the street address of financial institution with which beneficiary holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankStreet" : {
                "type" : "string",
                "description" : "Indicates the street address of financial institution with which beneficiary holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankCities" : {
          "type" : "array",
          "description" : "Indicates the town or city of financial institution with which beneficiary holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankCity" : {
                "type" : "string",
                "description" : "Indicates the town or city of financial institution with which beneficiary holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankPostCodes" : {
          "type" : "array",
          "description" : "Indicates the post code of financial institution with which beneficiary holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankPostCode" : {
                "type" : "string",
                "description" : "Indicates the post code of financial institution with which beneficiary holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBankCountryIds" : {
          "type" : "array",
          "description" : "The country of the beneficiary institution i.e. where the final creditor holds an account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBankCountryId" : {
                "type" : "string",
                "description" : "The country of the beneficiary institution i.e. where the final creditor holds an account",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "paymentDetails" : {
          "type" : "array",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "minLength" : 0,
          "maxLength" : 35
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "customerReference" : {
          "type" : "string",
          "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "categoryId" : {
          "type" : "string",
          "description" : "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "hintText" : {
          "type" : "string",
          "description" : "This is a free text field which can be provided for Bank defined beneficiaries",
          "minLength" : 0,
          "maxLength" : 35
        },
        "defaultNarrative" : {
          "type" : "string",
          "description" : "The default narrative which will be provided on the debit and credit side of the payment. ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryCustomerId" : {
          "type" : "string",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountId" : {
          "type" : "string",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiarySchemeName" : {
          "type" : "string",
          "description" : "Indicates the account type of the beneficiary account like CLABE , MOBILE , ACCOUNT NO. etc.",
          "minLength" : 0,
          "maxLength" : 39
        },
        "paymentCountry" : {
          "type" : "string",
          "description" : "The country to which a payment is sent, usually where the beneficiary resides",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryOtherId" : {
          "type" : "string",
          "description" : "Indicates the beneficiary other identifier, e.g. could be a Social Security Number, a Tax Identification Number, Passport Number, a Clearing Id etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryOtherIdType" : {
          "type" : "string",
          "description" : "Indicates the type of the beneficiary i.e. Organisation or Private",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dateOfBirth" : {
          "type" : "string",
          "description" : "The date of birth of an individual customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBirthProvince" : {
          "type" : "string",
          "description" : "Indicates the beneficiary place of birth",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBirthCity" : {
          "type" : "string",
          "description" : "Indicates the beneficiary city of birth",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBirthCountry" : {
          "type" : "string",
          "description" : "Indicates the beneficiary country of birth",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiarySchemeCode" : {
          "type" : "string",
          "description" : "Indicates the name of the identification scheme, in a coded form as published in an external list.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiarySchemeProprietary" : {
          "type" : "string",
          "description" : "The proprietary code of the scheme which issued the identifier for the Beneficiary ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiarySchemeIssuer" : {
          "type" : "string",
          "description" : "Indicates the issuer of other id of the beneficiary",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorOtherIdType" : {
          "type" : "string",
          "description" : "This is to indicate if the Ultimate Creditor is an Organisation or a Private individual",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorOtherId" : {
          "type" : "string",
          "description" : "This is the other identifier of ultimate creditor, e.g. could be a Social Security Number, a Tax Identification Number, Passport Number, a Clearing Id etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditor" : {
          "type" : "string",
          "description" : "Contains the actual creditor account number",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorAddressType" : {
          "type" : "string",
          "description" : "It specifies the address type to be used for the Ultimate creditor of payment i.e. Postal, Business, Residential etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorBIC" : {
          "type" : "string",
          "description" : "It specifies the BIC code of Ultimate creditor of payment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorCountry" : {
          "type" : "string",
          "description" : "It specifies the Country of Ultimate creditor of payment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorDOB" : {
          "type" : "string",
          "description" : "It indicates the Date Of Birth of ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorBirthProvince" : {
          "type" : "string",
          "description" : "It indicates the place of birth for ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorBirthCity" : {
          "type" : "string",
          "description" : "It indicates the birth city of ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorBirthCountry" : {
          "type" : "string",
          "description" : "It indicates the country of birth for the ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorSchemeProprietary" : {
          "type" : "string",
          "description" : "The proprietary code of the scheme which issued the identifier for the ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ultimateCreditorSchemeIssuer" : {
          "type" : "string",
          "description" : "Indicates the issuer of other id of the ultimate creditor",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBank" : {
          "type" : "string",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankSortCode" : {
          "type" : "string",
          "description" : "Bank sort code details with account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryBankClearingCode" : {
          "type" : "string",
          "description" : "Clearing code or sort code of the beneficiary bank",
          "minLength" : 0,
          "maxLength" : 35
        },
        "preferredPaymentProduct" : {
          "type" : "string",
          "description" : "Preferred payment product can be specified for Beneficiary. This will be used for defaulting the payment product for specific beneficiary. ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "paymentCategory" : {
          "type" : "string",
          "description" : "The purpose code for the payment. Should be one of the pre-defined purpose codes in the application and information will be used for payment processing",
          "minLength" : 0,
          "maxLength" : 35
        },
        "paymentOrderPurposeCodeId" : {
          "type" : "string",
          "description" : "Indicates the Id of payment purpose code i.e. purpose of the instruction based on a set of pre-defined categories.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "paymentCurrency" : {
          "type" : "string",
          "description" : "This field holds the transaction currency or currency in which payment is initiated. ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "preferredPaymentAmount" : {
          "type" : "string",
          "description" : "Preferred payment amount can be specified for the beneficiary. If specified, it will be populated during payment processing. ",
          "minLength" : 0,
          "maxLength" : 35
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "minLength" : 0,
          "maxLength" : 35
        },
        "benRiskRate" : {
          "type" : "string",
          "description" : "List of Beneficiary risk rate that the protection limit applies to",
          "minLength" : 0,
          "maxLength" : 35
        },
        "linkBeneficiaryId" : {
          "type" : "string",
          "description" : "The identifier of a beneficiary (defined by the institution) being linked to a customer-defined beneficiary",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "BeneficiaryDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "BeneficiaryDelete"
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "BeneficiaryResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BeneficiaryResponse1Body"
        }
      },
      "description" : "BeneficiaryResponse1"
    },
    "BeneficiaryResponse1Body" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "ultimateCreditorAddressLines" : {
            "type" : "array",
            "description" : "It specifies the address fields to be used for the Ultimate creditor of payment",
            "items" : {
              "type" : "object",
              "properties" : {
                "ultimateCreditorAddressLine" : {
                  "type" : "string",
                  "description" : "It specifies the address fields to be used for the Ultimate creditor of payment",
                  "maxLength" : 70
                }
              }
            }
          },
          "paymentDetails" : {
            "type" : "array",
            "description" : "Indicates the payment details for the beneficiary to apply the payment.",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentDetail" : {
                  "type" : "string",
                  "description" : "Indicates the payment details for the beneficiary to apply the payment.",
                  "maxLength" : 35
                }
              }
            }
          },
          "beneficiaryId" : {
            "type" : "string",
            "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
            "maxLength" : 17
          },
          "nickName" : {
            "type" : "string",
            "description" : "Nickname of the beneficiary",
            "maxLength" : 35
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "customerReference" : {
            "type" : "string",
            "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
            "maxLength" : 35
          },
          "categoryId" : {
            "type" : "string",
            "description" : "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
            "maxLength" : 35
          },
          "hintText" : {
            "type" : "string",
            "description" : "This is a free text field which can be provided for Bank defined beneficiaries",
            "maxLength" : 50
          },
          "defaultNarrative" : {
            "type" : "string",
            "description" : "The default narrative which will be provided on the debit and credit side of the payment. ",
            "maxLength" : 16
          },
          "beneficiaryCustomerId" : {
            "type" : "string",
            "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
            "maxLength" : 35
          },
          "beneficiaryBIC" : {
            "type" : "string",
            "description" : "BIC (Bank Identifier Code) of the beneficiary customer ",
            "maxLength" : 35
          },
          "beneficiaryName" : {
            "type" : "string",
            "description" : "Short title or short name of the beneficiary",
            "maxLength" : 35
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of an individual customer",
            "maxLength" : 35
          },
          "street" : {
            "type" : "string",
            "description" : "Contains the first line of customer's base address, example building number, street number etc.",
            "maxLength" : 35
          },
          "addressCity" : {
            "type" : "string",
            "description" : "The town and/or city component of the base address of a customer",
            "maxLength" : 35
          },
          "postCode" : {
            "type" : "string",
            "description" : "Identifies the address postal code for the customer.",
            "maxLength" : 35
          },
          "country" : {
            "type" : "string",
            "description" : "Identifies the country of the customer.",
            "maxLength" : 35
          },
          "beneficiaryIBAN" : {
            "type" : "string",
            "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
            "maxLength" : 35
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 34
          },
          "beneficiarySchemeName" : {
            "type" : "string",
            "description" : "Indicates the account type of the beneficiary account like CLABE , MOBILE , ACCOUNT NO. etc.",
            "maxLength" : 35
          },
          "paymentCountry" : {
            "type" : "string",
            "description" : "The country to which a payment is sent, usually where the beneficiary resides",
            "maxLength" : 35
          },
          "accountLocation" : {
            "type" : "string",
            "description" : "Specifies whether the account belongs to same system where beneficiary is being created. Can accept only OWN which indicates account located in same system",
            "maxLength" : 3
          },
          "beneficiaryOtherId" : {
            "type" : "string",
            "description" : "Indicates the beneficiary other identifier, e.g. could be a Social Security Number, a Tax Identification Number, Passport Number, a Clearing Id etc.",
            "maxLength" : 35
          },
          "beneficiaryOtherIdType" : {
            "type" : "string",
            "description" : "Indicates the type of the beneficiary i.e. Organisation or Private",
            "maxLength" : 35
          },
          "dateOfBirth" : {
            "type" : "string",
            "description" : "The date of birth of an individual customer",
            "maxLength" : 11
          },
          "beneficiaryBirthProvince" : {
            "type" : "string",
            "description" : "Indicates the beneficiary place of birth",
            "maxLength" : 35
          },
          "beneficiaryBirthCity" : {
            "type" : "string",
            "description" : "Indicates the beneficiary city of birth",
            "maxLength" : 35
          },
          "beneficiaryBirthCountry" : {
            "type" : "string",
            "description" : "Indicates the beneficiary country of birth",
            "maxLength" : 2
          },
          "beneficiarySchemeCode" : {
            "type" : "string",
            "description" : "Indicates the name of the identification scheme, in a coded form as published in an external list.",
            "maxLength" : 35
          },
          "beneficiarySchemeProprietary" : {
            "type" : "string",
            "description" : "The proprietary code of the scheme which issued the identifier for the Beneficiary ",
            "maxLength" : 35
          },
          "beneficiarySchemeIssuer" : {
            "type" : "string",
            "description" : "Indicates the issuer of other id of the beneficiary",
            "maxLength" : 35
          },
          "ultimateCreditorOtherIdType" : {
            "type" : "string",
            "description" : "This is to indicate if the Ultimate Creditor is an Organisation or a Private individual",
            "maxLength" : 35
          },
          "ultimateCreditorOtherId" : {
            "type" : "string",
            "description" : "This is the other identifier of ultimate creditor, e.g. could be a Social Security Number, a Tax Identification Number, Passport Number, a Clearing Id etc.",
            "maxLength" : 35
          },
          "ultimateCreditor" : {
            "type" : "string",
            "description" : "Contains the actual creditor account number",
            "maxLength" : 70
          },
          "ultimateCreditorAddressType" : {
            "type" : "string",
            "description" : "It specifies the address type to be used for the Ultimate creditor of payment i.e. Postal, Business, Residential etc.",
            "maxLength" : 4
          },
          "ultimateCreditorBIC" : {
            "type" : "string",
            "description" : "It specifies the BIC code of Ultimate creditor of payment",
            "maxLength" : 35
          },
          "ultimateCreditorCountry" : {
            "type" : "string",
            "description" : "It specifies the Country of Ultimate creditor of payment",
            "maxLength" : 2
          },
          "ultimateCreditorDOB" : {
            "type" : "string",
            "description" : "It indicates the Date Of Birth of ultimate creditor",
            "maxLength" : 11
          },
          "ultimateCreditorBirthProvince" : {
            "type" : "string",
            "description" : "It indicates the place of birth for ultimate creditor",
            "maxLength" : 35
          },
          "ultimateCreditorBirthCity" : {
            "type" : "string",
            "description" : "It indicates the birth city of ultimate creditor",
            "maxLength" : 35
          },
          "ultimateCreditorBirthCountry" : {
            "type" : "string",
            "description" : "It indicates the country of birth for the ultimate creditor",
            "maxLength" : 2
          },
          "ultimateCreditorSchemeProprietary" : {
            "type" : "string",
            "description" : "The proprietary code of the scheme which issued the identifier for the ultimate creditor",
            "maxLength" : 35
          },
          "ultimateCreditorSchemeIssuer" : {
            "type" : "string",
            "description" : "Indicates the issuer of other id of the ultimate creditor",
            "maxLength" : 35
          },
          "accountWithBank" : {
            "type" : "string",
            "description" : "Identifies the bank where the beneficiary maintains his account",
            "maxLength" : 35
          },
          "accountWithBankSortCode" : {
            "type" : "string",
            "description" : "Bank sort code details with account",
            "maxLength" : 35
          },
          "accountWithBankIBAN" : {
            "type" : "string",
            "description" : "This is the IBAN of the institution where beneficiary holds an account",
            "maxLength" : 35
          },
          "beneficiaryBankClearingCode" : {
            "type" : "string",
            "description" : "Clearing code or sort code of the beneficiary bank",
            "maxLength" : 35
          },
          "accountWithBankDisplayName" : {
            "type" : "string",
            "description" : "Indicates the name of financial institution with which beneficiary holds an account",
            "maxLength" : 35
          },
          "accountWithBankStreet" : {
            "type" : "string",
            "description" : "Indicates the street address of financial institution with which beneficiary holds an account",
            "maxLength" : 35
          },
          "accountWithBankCity" : {
            "type" : "string",
            "description" : "Indicates the town or city of financial institution with which beneficiary holds an account",
            "maxLength" : 35
          },
          "accountWithBankPostCode" : {
            "type" : "string",
            "description" : "Indicates the post code of financial institution with which beneficiary holds an account",
            "maxLength" : 35
          },
          "accountWithBankCountryId" : {
            "type" : "string",
            "description" : "The country of the beneficiary institution i.e. where the final creditor holds an account",
            "maxLength" : 35
          },
          "preferredPaymentProduct" : {
            "type" : "string",
            "description" : "Preferred payment product can be specified for Beneficiary. This will be used for defaulting the payment product for specific beneficiary. ",
            "maxLength" : 10
          },
          "paymentCategory" : {
            "type" : "string",
            "description" : "The purpose code for the payment. Should be one of the pre-defined purpose codes in the application and information will be used for payment processing",
            "maxLength" : 4
          },
          "paymentOrderPurposeCodeId" : {
            "type" : "string",
            "description" : "Indicates the Id of payment purpose code i.e. purpose of the instruction based on a set of pre-defined categories.",
            "maxLength" : 4
          },
          "paymentCurrency" : {
            "type" : "string",
            "description" : "This field holds the transaction currency or currency in which payment is initiated. ",
            "maxLength" : 3
          },
          "preferredPaymentAmount" : {
            "type" : "string",
            "description" : "Preferred payment amount can be specified for the beneficiary. If specified, it will be populated during payment processing. ",
            "maxLength" : 19
          },
          "beneficiaryOurCharges" : {
            "type" : "string",
            "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
            "maxLength" : 35
          },
          "benRiskRate" : {
            "type" : "string",
            "description" : "List of Beneficiary risk rate that the protection limit applies to",
            "maxLength" : 1
          },
          "linkBeneficiaryId" : {
            "type" : "string",
            "description" : "The identifier of a beneficiary (defined by the institution) being linked to a customer-defined beneficiary",
            "maxLength" : 35
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}