{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve and manage external user preferences and profiles",
    "version" : "v1.0.0",
    "title" : "Management of external users"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/party/externalUsers/userProfiles" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the external user details",
        "description" : "Retrieves the details of logged in external user.",
        "operationId" : "getExternalUserProfile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "channelId",
          "in" : "query",
          "description" : "Id of the (digital) channel",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserProfileResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserProfileResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/externalUserPreferences" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the external user preferences",
        "description" : "Retrieves the list of external user preferences for logged in user",
        "operationId" : "getExternalUserPreferences",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "query",
          "description" : "Denotes the preference identifier for the external user",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalUserPreferencesIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferencesResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferencesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/{externalUserId}/status" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update external user status",
        "description" : "This API is used to update the external user status, Such as ACTIVE, INITIATED ,etc. And also used to update the terms and condition information and language for the external user",
        "operationId" : "updateExternalUserStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "description" : "Contains the external user identifier for which the consent is created.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserStatus"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserStatusResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/externalUserPreferences/{externalUserPreferencesId}" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create new external user preferences",
        "description" : "Create a new external user preferences for logged in user",
        "operationId" : "createExternalUserPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "path",
          "description" : "Denotes the preference identifier for the external user",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserPreference"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferenceResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update the external user preferences",
        "description" : "Update an existing external user preferences",
        "operationId" : "updateExternalUserPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "path",
          "description" : "Denotes the preference identifier for the external user",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserPreference"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferenceResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Remove external user preferences",
        "description" : "Remove an existing external user preference for logged in user",
        "operationId" : "deleteExternalUserPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "path",
          "description" : "Denotes the preference identifier for the external user",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserPreferenceDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferenceResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/externalUserPreference/{externalUserPreferencesId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Overview of external user preferences",
        "description" : "Retrieves the overview of external user preference for logged in user",
        "operationId" : "getExternalUserPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "path",
          "description" : "Denotes the preference identifier for the external user",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferenceResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request"
        }
      }
    },
    "ExternalUserProfileResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserProfileResponseBody"
        }
      },
      "description" : "ExternalUserProfileResponse"
    },
    "ExternalUserProfileResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "supportedModules" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "supportedModule" : {
                  "type" : "string",
                  "description" : "Updated external user profile details"
                }
              }
            }
          },
          "extSmsServices" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "extSmsService" : {
                  "type" : "string",
                  "description" : "External message service details"
                },
                "extSmsOperations" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "extSmsOperation" : {
                        "type" : "string",
                        "description" : "External message operation details"
                      }
                    }
                  }
                }
              }
            }
          },
          "channels" : {
            "type" : "array",
            "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
            "items" : {
              "type" : "object",
              "properties" : {
                "channelId" : {
                  "type" : "string",
                  "description" : "Id of the (digital) channel"
                },
                "channelPosition" : {
                  "type" : "string",
                  "description" : "Position details of the channel"
                },
                "channelStartDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Start date of the channel"
                },
                "channelArrangementType" : {
                  "type" : "string",
                  "description" : "Start date of the channel"
                },
                "arrangementId" : {
                  "type" : "string",
                  "description" : "Indicates an unique identifier of an account"
                },
                "productId" : {
                  "type" : "string",
                  "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
                },
                "productName" : {
                  "type" : "string",
                  "description" : "Product name of the bank for this account, proprietary definition."
                },
                "arrangementCustomerId" : {
                  "type" : "string",
                  "description" : "Customer id details of the specific arrangement"
                },
                "arrangementCustomerName" : {
                  "type" : "string",
                  "description" : "Customer name details of the specific arrangement"
                },
                "subArrangementId" : {
                  "type" : "string",
                  "description" : "The subset of Master arrangement."
                },
                "subArrangementName" : {
                  "type" : "string",
                  "description" : "The name of the sub arrangement that is displayed."
                },
                "channelStatus" : {
                  "type" : "string",
                  "description" : "Status update of the channel"
                },
                "termsAccepted" : {
                  "type" : "string",
                  "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."
                },
                "loginMethod" : {
                  "type" : "string",
                  "description" : "The type of login method e.g. password, PIN, OTP"
                },
                "dateUsed" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "dateLastUsed" : {
                        "type" : "string",
                        "format" : "date",
                        "description" : "The last Date and time when the Customer logged in to the Digital Channel"
                      }
                    }
                  }
                },
                "timeUsed" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "timeLastUsed" : {
                        "type" : "string",
                        "description" : "Indicates the time stamp at which the transaction history for the account is retrieved"
                      }
                    }
                  }
                }
              }
            }
          },
          "contactDetails" : {
            "type" : "array",
            "description" : "Contains the contact details",
            "items" : {
              "type" : "object",
              "properties" : {
                "email" : {
                  "type" : "string",
                  "description" : "Email Identifier of the Customer"
                },
                "smsNumber" : {
                  "type" : "string",
                  "description" : "The mobile SMS number of the customer"
                },
                "phoneNumber" : {
                  "type" : "string",
                  "description" : "The phone number of the customer or prospect"
                }
              }
            }
          },
          "homeScreen" : {
            "type" : "string",
            "description" : "Home screen details"
          },
          "extSmsCustomers" : {
            "type" : "string",
            "description" : "Customer external message details"
          },
          "privilegesCheckEnabled" : {
            "type" : "string",
            "description" : "Enable the privilege check options"
          },
          "localCurrencyId" : {
            "type" : "string",
            "description" : "The ISO code (3 letters) for the institution's local currency."
          },
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. "
          },
          "currentWorkingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the current business day for all online activities in the selected Company. This field is updated automatically with the date from 'nextWorkingDay' during the Close of Business processing."
          },
          "companyId" : {
            "type" : "string",
            "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001."
          },
          "noOfArrangements" : {
            "type" : "string",
            "description" : "View the no of arrangement details"
          },
          "externalUserName" : {
            "type" : "string",
            "description" : "External or Digital Channel User Name"
          },
          "externalUserSignMethod" : {
            "type" : "string",
            "description" : "External user sign in channels details"
          },
          "languageId" : {
            "type" : "string",
            "description" : "Represents the language code of the underlying Entity/Company/Branch."
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer"
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "gender" : {
            "type" : "string",
            "description" : "Gender of the Individual Customer"
          },
          "holdingsAvailable" : {
            "type" : "string",
            "description" : "Available account details for a customer"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ExternalUserPreferencesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserPreferencesResponseBody"
        }
      },
      "description" : "ExternalUserPreferencesResponse"
    },
    "ExternalUserPreferencesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "balanceProductLines" : {
            "type" : "array",
            "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
            "items" : {
              "type" : "object",
              "properties" : {
                "balanceProductLine" : {
                  "type" : "string",
                  "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
                  "maxLength" : 20
                }
              }
            }
          },
          "serviceNames" : {
            "type" : "array",
            "description" : "The service related to an arrangement",
            "items" : {
              "type" : "object",
              "properties" : {
                "serviceName" : {
                  "type" : "string",
                  "description" : "The service related to an arrangement",
                  "maxLength" : 35
                }
              }
            }
          },
          "externalUserPreferenceId" : {
            "type" : "string",
            "description" : "The identifier of the external user's preferences",
            "maxLength" : 110
          },
          "groupName" : {
            "type" : "string",
            "description" : "The name that is displayed for the group",
            "maxLength" : 25
          },
          "groupDisplayName" : {
            "type" : "string",
            "description" : "Display the details of group name",
            "maxLength" : 40
          },
          "groupPosition" : {
            "type" : "string",
            "description" : "Group position",
            "maxLength" : 35
          },
          "favouriteGroup" : {
            "type" : "string",
            "description" : "Favourite group",
            "maxLength" : 35
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 4
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "ExternalUserStatus" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserStatusBody"
        }
      },
      "description" : "ExternalUserStatus"
    },
    "ExternalUserStatusBody" : {
      "type" : "object",
      "properties" : {
        "channels" : {
          "type" : "array",
          "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
          "items" : {
            "type" : "object",
            "properties" : {
              "externalUserStatus" : {
                "type" : "string",
                "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
                "minLength" : 0,
                "maxLength" : 35
              },
              "termsAccepted" : {
                "type" : "string",
                "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time.",
                "minLength" : 0,
                "maxLength" : 25
              }
            }
          }
        },
        "languageId" : {
          "type" : "string",
          "description" : "Represents the language code of the underlying Entity/Company/Branch.",
          "minLength" : 0,
          "maxLength" : 10
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ExternalUserStatusResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserStatusResponseBody"
        }
      },
      "description" : "ExternalUserStatusResponse"
    },
    "ExternalUserStatusResponseBody" : {
      "type" : "object",
      "properties" : {
        "channels" : {
          "type" : "array",
          "description" : "Contains the channel in which the activity was performed. If pricing is not determined based on channel, then this is not significant",
          "items" : {
            "type" : "object",
            "properties" : {
              "externalUserStatus" : {
                "type" : "string",
                "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
                "minLength" : 0,
                "maxLength" : 35
              },
              "termsAccepted" : {
                "type" : "string",
                "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time.",
                "minLength" : 0,
                "maxLength" : 25
              }
            }
          }
        },
        "languageId" : {
          "type" : "string",
          "description" : "Represents the language code of the underlying Entity/Company/Branch.",
          "minLength" : 0,
          "maxLength" : 10
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ExternalUserPreference" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserPreferenceBody"
        }
      },
      "description" : "ExternalUserPreference"
    },
    "ExternalUserPreferenceBody" : {
      "type" : "object",
      "properties" : {
        "customers" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 45
              },
              "products" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "productLineId" : {
                      "type" : "string",
                      "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "productGroupId" : {
                      "type" : "string",
                      "description" : "The group, as defined by the institution, that the product belongs to.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "product" : {
                      "type" : "string",
                      "description" : "Specifies the list of products licensed for the institution. This will be used to set the products field in the SPF (System Parameter) table and the master company. The products in the company can only be subset of the products in the SPF table.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "productName" : {
                      "type" : "string",
                      "description" : "Product name of the bank for this account, proprietary definition.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "productPosition" : {
                      "type" : "string",
                      "description" : "Update the position of product",
                      "minLength" : 0,
                      "maxLength" : 45
                    }
                  }
                }
              }
            }
          }
        },
        "balanceCustomers" : {
          "type" : "array",
          "description" : "View the balance of customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "balanceCustomer" : {
                "type" : "string",
                "description" : "View the balance of customer",
                "minLength" : 0,
                "maxLength" : 45
              },
              "products" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "balanceProductLine" : {
                      "type" : "string",
                      "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "balanceProductGroup" : {
                      "type" : "string",
                      "description" : "View the product group details of customer",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "balanceProduct" : {
                      "type" : "string",
                      "description" : "View the balance of product",
                      "minLength" : 0,
                      "maxLength" : 45
                    }
                  }
                }
              }
            }
          }
        },
        "serviceNames" : {
          "type" : "array",
          "description" : "The service related to an arrangement",
          "items" : {
            "type" : "object",
            "properties" : {
              "serviceName" : {
                "type" : "string",
                "description" : "The service related to an arrangement",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "groupName" : {
          "type" : "string",
          "description" : "The name that is displayed for the group",
          "minLength" : 0,
          "maxLength" : 45
        },
        "groupDisplayName" : {
          "type" : "string",
          "description" : "Display the details of group name",
          "minLength" : 0,
          "maxLength" : 45
        },
        "groupPosition" : {
          "type" : "string",
          "description" : "Group position",
          "minLength" : 0,
          "maxLength" : 45
        },
        "favouriteGroup" : {
          "type" : "string",
          "description" : "Favourite group",
          "minLength" : 0,
          "maxLength" : 45
        }
      }
    },
    "ExternalUserPreferenceResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserPreferenceResponseBody"
        }
      },
      "description" : "ExternalUserPreferenceResponse"
    },
    "ExternalUserPreferenceResponseBody" : {
      "type" : "object",
      "properties" : {
        "customers" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 45
              },
              "products" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "productLineId" : {
                      "type" : "string",
                      "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "productGroupId" : {
                      "type" : "string",
                      "description" : "The group, as defined by the institution, that the product belongs to.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "product" : {
                      "type" : "string",
                      "description" : "Specifies the list of products licensed for the institution. This will be used to set the products field in the SPF (System Parameter) table and the master company. The products in the company can only be subset of the products in the SPF table.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "productName" : {
                      "type" : "string",
                      "description" : "Product name of the bank for this account, proprietary definition.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "productPosition" : {
                      "type" : "string",
                      "description" : "Update the position of product",
                      "minLength" : 0,
                      "maxLength" : 45
                    }
                  }
                }
              }
            }
          }
        },
        "balanceCustomers" : {
          "type" : "array",
          "description" : "View the balance of customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "balanceCustomer" : {
                "type" : "string",
                "description" : "View the balance of customer",
                "minLength" : 0,
                "maxLength" : 45
              },
              "products" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "balanceProductLine" : {
                      "type" : "string",
                      "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "balanceProductGroup" : {
                      "type" : "string",
                      "description" : "View the product group details of customer",
                      "minLength" : 0,
                      "maxLength" : 45
                    },
                    "balanceProduct" : {
                      "type" : "string",
                      "description" : "View the balance of product",
                      "minLength" : 0,
                      "maxLength" : 45
                    }
                  }
                }
              }
            }
          }
        },
        "serviceNames" : {
          "type" : "array",
          "description" : "The service related to an arrangement",
          "items" : {
            "type" : "object",
            "properties" : {
              "serviceName" : {
                "type" : "string",
                "description" : "The service related to an arrangement",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "groupName" : {
          "type" : "string",
          "description" : "The name that is displayed for the group",
          "minLength" : 0,
          "maxLength" : 45
        },
        "groupDisplayName" : {
          "type" : "string",
          "description" : "Display the details of group name",
          "minLength" : 0,
          "maxLength" : 45
        },
        "groupPosition" : {
          "type" : "string",
          "description" : "Group position",
          "minLength" : 0,
          "maxLength" : 45
        },
        "favouriteGroup" : {
          "type" : "string",
          "description" : "Favourite group",
          "minLength" : 0,
          "maxLength" : 45
        }
      }
    },
    "ExternalUserPreferenceDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "ExternalUserPreferenceDelete"
    }
  }
}