{
  "swagger" : "2.0",
  "info" : {
    "description" : "API retrieves the transaction code details defined in the system",
    "version" : "v1.0.0",
    "title" : "Transaction Codes"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/transactionCodes/{transactionCode}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the transaction code details",
        "description" : "API to retrieve information on transaction code such as transaction narrative, type,  initiation type and charges associated with code.",
        "operationId" : "getTransactionCode",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionCode",
          "in" : "path",
          "description" : "Identifies the system internal transaction code applicable to the transaction",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TransactionCodeResponse",
            "schema" : {
              "$ref" : "#/definitions/TransactionCodeResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Creates the transaction code details",
        "description" : "API to create information on transaction code such as transaction narrative, type,  initiation type and charges associated with code.",
        "operationId" : "createTransactionCode",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionCode",
          "in" : "path",
          "description" : "Identifies the system internal transaction code applicable to the transaction",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TransactionCode"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TransactionCodeResponse",
            "schema" : {
              "$ref" : "#/definitions/TransactionCodeResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Updates the transaction code details",
        "description" : "API to update information on transaction code such as transaction narrative, type,  initiation type and charges associated with code.",
        "operationId" : "updateTransactionCode",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionCode",
          "in" : "path",
          "description" : "Identifies the system internal transaction code applicable to the transaction",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TransactionCode"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TransactionCodeResponse",
            "schema" : {
              "$ref" : "#/definitions/TransactionCodeResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/transactionCodes" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves all the transaction codes",
        "description" : "Retrieves all transaction codes defined in the system with details such as transaction narrative, type,  initiation type and charges associated with code. ",
        "operationId" : "getTransactionCodeList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionCode",
          "in" : "query",
          "description" : "Identifies the system internal transaction code applicable to the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "TransactionCodeListResponse",
            "schema" : {
              "$ref" : "#/definitions/TransactionCodeListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "TransactionCodeResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TransactionCodeResponseBody"
        }
      },
      "description" : "TransactionCodeResponse"
    },
    "TransactionCodeResponseBody" : {
      "type" : "object",
      "properties" : {
        "transactionNames" : {
          "type" : "array",
          "description" : "The transaction description",
          "items" : {
            "type" : "object",
            "properties" : {
              "transactionName" : {
                "type" : "string",
                "description" : "The transaction description",
                "minLength" : 0,
                "maxLength" : 19
              }
            }
          }
        },
        "chargeIds" : {
          "type" : "array",
          "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 26
              }
            }
          }
        },
        "entryNetting" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "categoryId" : {
                "type" : "string",
                "description" : "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
                "minLength" : 0,
                "maxLength" : 26
              },
              "productId" : {
                "type" : "string",
                "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
                "minLength" : 0,
                "maxLength" : 26
              },
              "combineTransactionId" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "transactionId" : {
                      "type" : "string",
                      "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
                      "minLength" : 0,
                      "maxLength" : 26
                    }
                  }
                }
              }
            }
          }
        },
        "chequeTransaction" : {
          "type" : "string",
          "description" : "Indicates whether the transactions using this code requires mandatory cheque number",
          "minLength" : 0,
          "maxLength" : 26
        },
        "chequeTypeId" : {
          "type" : "string",
          "description" : "Indicates the type of Cheques for which payment stop instruction is effective",
          "minLength" : 0,
          "maxLength" : 26
        },
        "chequeIdRequired" : {
          "type" : "string",
          "description" : "Indicates whether the transactions using this code requires mandatory reference number",
          "minLength" : 0,
          "maxLength" : 26
        },
        "debitCreditIndicator" : {
          "type" : "string",
          "description" : "Indicator flag which is set whenever a debit or a credit transaction happens in the account",
          "minLength" : 0,
          "maxLength" : 26
        },
        "includeInTurnoverCharge" : {
          "type" : "string",
          "description" : "Indicates whether the transaction using this code are to be included in the calculation of Debit/Credit turnover charges",
          "minLength" : 0,
          "maxLength" : 26
        },
        "swiftNarrative" : {
          "type" : "string",
          "description" : "Indicates the SWIFT narrative corresponding to the transaction code as per the rules specified in the SWIFT user handbook",
          "minLength" : 0,
          "maxLength" : 26
        },
        "transactionInitiationType" : {
          "type" : "string",
          "description" : "Defines the initiator type of transaction. Example - bank or customer",
          "minLength" : 0,
          "maxLength" : 26
        },
        "statementReferenceField" : {
          "type" : "string",
          "description" : "Defines if reference has to appear as part statement narrative.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "statementNarrativeFormatId" : {
          "type" : "string",
          "description" : "Identifier of the statement narration format record.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "exemptDispoProcessing" : {
          "type" : "string",
          "description" : "Indicates if the transaction is to excluded from dispo processing",
          "minLength" : 0,
          "maxLength" : 26
        },
        "exposureDateConditionId" : {
          "type" : "string",
          "description" : "Identifier of the Exposure condition record",
          "minLength" : 0,
          "maxLength" : 26
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "minLength" : 0,
          "maxLength" : 26
        },
        "description" : {
          "type" : "string",
          "description" : "Contains the description of purpose of the payment.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "immediateCharge" : {
          "type" : "string",
          "description" : "Boolean field to indicate if the charge is to be colelcted from the Account immediately.  Possible values: Y = Charge must be levied immediately, i.e. when the transaction is booked.  NO=  Charge must not be levied when the transaction is booked and Blank- Default value that implies that the charge is not levied immediately.",
          "minLength" : 0,
          "maxLength" : 26
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "TransactionCodeListResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TransactionCodeListResponseBody"
        }
      },
      "description" : "TransactionCodeListResponse"
    },
    "TransactionCodeListResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "transactionCode" : {
            "type" : "number",
            "description" : "Identifies the system internal transaction code applicable to the transaction",
            "maximum" : 10
          },
          "transactionName" : {
            "type" : "string",
            "description" : "The transaction description",
            "maxLength" : 30
          },
          "transactionInitiationType" : {
            "type" : "string",
            "description" : "Defines the initiator type of transaction. Example - bank or customer",
            "maxLength" : 8
          },
          "transactionType" : {
            "type" : "string",
            "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
            "maxLength" : 8
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "TransactionCode" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TransactionCodeBody"
        }
      },
      "description" : "TransactionCode"
    },
    "TransactionCodeBody" : {
      "type" : "object",
      "properties" : {
        "transactionNames" : {
          "type" : "array",
          "description" : "The transaction description",
          "items" : {
            "type" : "object",
            "properties" : {
              "transactionName" : {
                "type" : "string",
                "description" : "The transaction description",
                "minLength" : 0,
                "maxLength" : 19
              }
            }
          }
        },
        "chargeIds" : {
          "type" : "array",
          "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeId" : {
                "type" : "string",
                "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                "minLength" : 0,
                "maxLength" : 26
              }
            }
          }
        },
        "entryNetting" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "categoryId" : {
                "type" : "string",
                "description" : "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
                "minLength" : 0,
                "maxLength" : 26
              },
              "productId" : {
                "type" : "string",
                "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
                "minLength" : 0,
                "maxLength" : 26
              },
              "combineTransactionId" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "transactionId" : {
                      "type" : "string",
                      "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
                      "minLength" : 0,
                      "maxLength" : 26
                    }
                  }
                }
              }
            }
          }
        },
        "chequeTransaction" : {
          "type" : "string",
          "description" : "Indicates whether the transactions using this code requires mandatory cheque number",
          "minLength" : 0,
          "maxLength" : 26
        },
        "chequeTypeId" : {
          "type" : "string",
          "description" : "Indicates the type of Cheques for which payment stop instruction is effective",
          "minLength" : 0,
          "maxLength" : 26
        },
        "chequeIdRequired" : {
          "type" : "string",
          "description" : "Indicates whether the transactions using this code requires mandatory reference number",
          "minLength" : 0,
          "maxLength" : 26
        },
        "debitCreditIndicator" : {
          "type" : "string",
          "description" : "Indicator flag which is set whenever a debit or a credit transaction happens in the account",
          "minLength" : 0,
          "maxLength" : 26
        },
        "includeInTurnoverCharge" : {
          "type" : "string",
          "description" : "Indicates whether the transaction using this code are to be included in the calculation of Debit/Credit turnover charges",
          "minLength" : 0,
          "maxLength" : 26
        },
        "swiftNarrative" : {
          "type" : "string",
          "description" : "Indicates the SWIFT narrative corresponding to the transaction code as per the rules specified in the SWIFT user handbook",
          "minLength" : 0,
          "maxLength" : 26
        },
        "transactionInitiationType" : {
          "type" : "string",
          "description" : "Defines the initiator type of transaction. Example - bank or customer",
          "minLength" : 0,
          "maxLength" : 26
        },
        "statementReferenceField" : {
          "type" : "string",
          "description" : "Defines if reference has to appear as part statement narrative.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "statementNarrativeFormatId" : {
          "type" : "string",
          "description" : "Identifier of the statement narration format record.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "exemptDispoProcessing" : {
          "type" : "string",
          "description" : "Indicates if the transaction is to excluded from dispo processing",
          "minLength" : 0,
          "maxLength" : 26
        },
        "exposureDateConditionId" : {
          "type" : "string",
          "description" : "Identifier of the Exposure condition record",
          "minLength" : 0,
          "maxLength" : 26
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "minLength" : 0,
          "maxLength" : 26
        },
        "description" : {
          "type" : "string",
          "description" : "Contains the description of purpose of the payment.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "immediateCharge" : {
          "type" : "string",
          "description" : "Boolean field to indicate if the charge is to be colelcted from the Account immediately.  Possible values: Y = Charge must be levied immediately, i.e. when the transaction is booked.  NO=  Charge must not be levied when the transaction is booked and Blank- Default value that implies that the charge is not levied immediately.",
          "minLength" : 0,
          "maxLength" : 26
        }
      }
    }
  }
}