{
  "swagger" : "2.0",
  "info" : {
    "description" : "US Model Bank API for Sort codes",
    "version" : "v1.0.0",
    "title" : "US Model Bank Bank sort codes"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/us/bankSortCodes" : {
      "get" : {
        "tags" : [ ],
        "summary" : "API to retreive the list of all Financial institutions routing numbers and the respective  details or a to retreive the routing number details of a specific FI using the routing number or institute name",
        "description" : "API to search and  retrieve the bank sort code details",
        "operationId" : "getUsRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instituteDirectoryId",
          "in" : "query",
          "description" : "Identifier of the internal reference to financial institute directories where routing number or BIC codes and address information are held",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "routingBiccode",
          "in" : "query",
          "description" : "Indicates the routing number of BIC code used to identify the financial institution",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "beneficiaryInstituteName",
          "in" : "query",
          "description" : "Indicates the name of financial institution where the beneficiary account is held",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "beneficiaryInstituteBranchName",
          "in" : "query",
          "description" : "Indicates the Branch name of the financial institution where the beneficiary account is held",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "beneficiaryInstituteCity",
          "in" : "query",
          "description" : "Indicates the City of financial institution where the beneficiary account is held",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsRoutingResponse",
            "schema" : {
              "$ref" : "#/definitions/UsRoutingResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Header",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UsRoutingResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsRoutingResponseBody"
        }
      },
      "description" : "UsRoutingResponse"
    },
    "UsRoutingResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "instituteDirectoryId" : {
            "type" : "string",
            "description" : "Identifier of the internal reference to financial institute directories where routing number or BIC codes and address information are held",
            "maxLength" : 35
          },
          "routingBiccode" : {
            "type" : "string",
            "description" : "Indicates the routing number of BIC code used to identify the financial institution",
            "maxLength" : 15
          },
          "beneficiaryInstituteName" : {
            "type" : "string",
            "description" : "Indicates the name of financial institution where the beneficiary account is held",
            "maxLength" : 35
          },
          "beneficiaryInstituteAddress" : {
            "type" : "string",
            "description" : "Address of the routing or Intermediary Financial Institute. Information will be used in wire messages",
            "maxLength" : 35
          },
          "beneficiaryInstituteBranchName" : {
            "type" : "string",
            "description" : "Indicates the Branch name of the financial institution where the beneficiary account is held",
            "maxLength" : 35
          },
          "beneficiaryInstituteCity" : {
            "type" : "string",
            "description" : "Indicates the City of financial institution where the beneficiary account is held",
            "maxLength" : 35
          },
          "beneficiaryInstituteZipCode" : {
            "type" : "string",
            "description" : "Indicates the Zip code of financial institution where the beneficiary account is held",
            "maxLength" : 15
          },
          "beneficiaryInstituteCountryCode" : {
            "type" : "string",
            "description" : "Indicates the two digit country code of financial institution where the beneficiary account is held",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}