{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the list of department or account officers defined in the system used for various purposes such as recording transactions allocated to an account officer or for customer relationship management i.e. an account officer can be assigned to different customers.",
    "version" : "v1.0.0",
    "title" : "Department Account Officer"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/accountOfficers" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Account Officers",
        "description" : "Retrieves the list of Account Officers available in the system",
        "operationId" : "getAccountOfficers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountOfficersResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountOfficersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/accountOfficers/{accountOfficerId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve details of account officer",
        "description" : "Retrieve the name, area, delivery point, department, department level, allowed or prohibited companies, telephone number and fax number details of Account officer",
        "operationId" : "getAccountOfficerDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountOfficerId",
          "in" : "path",
          "description" : "The identifier of the department head or specific account officer responsible for the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountOfficerDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountOfficerDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Create details of account officer",
        "description" : "Creates the name, area, delivery point, department, department level, allowed or prohibited companies, telephone number and fax number details of Account officer",
        "operationId" : "createAccountOfficerDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountOfficerId",
          "in" : "path",
          "description" : "The identifier of the department head or specific account officer responsible for the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AccountOfficerDetails"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountOfficerDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountOfficerDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update details of account officer",
        "description" : "Update the name, area, delivery point, department, department level, allowed or prohibited companies, telephone number and fax number details of Account officer",
        "operationId" : "updateAccountOfficerDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountOfficerId",
          "in" : "path",
          "description" : "The identifier of the department head or specific account officer responsible for the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AccountOfficerDetails"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountOfficerDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountOfficerDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/accountOfficers/{accountOfficerId}/alertSubscriptions" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve account officer's alert subscriptions",
        "description" : "Retrieves the details such as name, area, event subscribed and its associated alert request for the requested account officer",
        "operationId" : "getAccountOfficerAlertSubscription",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountOfficerId",
          "in" : "path",
          "description" : "The identifier of the department head or specific account officer responsible for the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountOfficerAlertSubscriptionResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountOfficerAlertSubscriptionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Create account officer's alert subscriptions",
        "description" : "Creates the details such as name, area, event subscribed and its associated alert request for the requested account officer",
        "operationId" : "createAccountOfficerAlertSubscription",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountOfficerId",
          "in" : "path",
          "description" : "The identifier of the department head or specific account officer responsible for the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AccountOfficerAlertSubscription"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountOfficerAlertSubscriptionResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountOfficerAlertSubscriptionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Updates account officer's alert subscriptions",
        "description" : "Updates the details such as name, area, event subscribed and its associated alert request for the requested account officer",
        "operationId" : "updateAccountOfficerAlertSubscription",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountOfficerId",
          "in" : "path",
          "description" : "The identifier of the department head or specific account officer responsible for the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AccountOfficerAlertSubscription"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountOfficerAlertSubscriptionResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountOfficerAlertSubscriptionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "AccountOfficersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountOfficersResponseBody"
        }
      },
      "description" : "AccountOfficersResponse"
    },
    "AccountOfficersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountOfficerId" : {
            "type" : "string",
            "description" : "The identifier of the department head or specific account officer responsible for the customer",
            "maxLength" : 4
          },
          "accountOfficerName" : {
            "type" : "string",
            "description" : "Name of the Account/Relationship Officer attached to the Customer",
            "maxLength" : 35
          },
          "accountOfficerArea" : {
            "type" : "string",
            "description" : "Indicates the Area of responsibility for the Account Officer",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "AccountOfficerDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountOfficerDetailsResponseBody"
        }
      },
      "description" : "AccountOfficerDetailsResponse"
    },
    "AccountOfficerDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "excludedCompanies" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "excludedCompany" : {
                "type" : "string",
                "description" : "Indicates the companies where Central Directory record is excluded to use",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "allowedCompanies" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "allowedCompany" : {
                "type" : "string",
                "description" : "Indicates the companies where Central Directory record is allowed to use",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "accountOfficerName" : {
          "type" : "string",
          "description" : "Name of the Account/Relationship Officer attached to the Customer",
          "minLength" : 0,
          "maxLength" : 23
        },
        "accountOfficerArea" : {
          "type" : "string",
          "description" : "Indicates the Area of responsibility for the Account Officer",
          "minLength" : 0,
          "maxLength" : 23
        },
        "addressLocation" : {
          "type" : "string",
          "description" : "Identifies the nature of the postal address, like primary, secondary or office address",
          "minLength" : 0,
          "maxLength" : 23
        },
        "departmentId" : {
          "type" : "number",
          "description" : "Department identifier.",
          "minimum" : 0,
          "maximum" : 23
        },
        "level" : {
          "type" : "string",
          "description" : "Captured for information purpose to render the placeholders in GUI",
          "minLength" : 0,
          "maxLength" : 23
        },
        "parent" : {
          "type" : "number",
          "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES",
          "minimum" : 0,
          "maximum" : 23
        },
        "isSecureMessage" : {
          "type" : "string",
          "description" : "If 'Yes', then the customer will receive a SECURE message.",
          "minLength" : 0,
          "maxLength" : 23
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "The phone number of the customer or prospect",
          "minLength" : 0,
          "maxLength" : 23
        },
        "faxId" : {
          "type" : "string",
          "description" : "The fax (facsimile) number of the customer",
          "minLength" : 0,
          "maxLength" : 23
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "AccountOfficerAlertSubscriptionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountOfficerAlertSubscriptionResponseBody"
        }
      },
      "description" : "AccountOfficerAlertSubscriptionResponse"
    },
    "AccountOfficerAlertSubscriptionResponseBody" : {
      "type" : "object",
      "properties" : {
        "alertsSubscribed" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "eventId" : {
                "type" : "string",
                "description" : "Event identifier",
                "minLength" : 0,
                "maxLength" : 23
              },
              "alertRequestId" : {
                "type" : "string",
                "description" : "The unique identifier of the alert request.",
                "minLength" : 0,
                "maxLength" : 23
              },
              "alertCondition" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "field" : {
                      "type" : "string",
                      "description" : "Input is the valid field name for the metrics evaluation of alerts",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "operand" : {
                      "type" : "string",
                      "description" : "This field along with fieldName and value, defines the conditions for the alert to be triggered.",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "value" : {
                      "type" : "string",
                      "description" : "The value of the field on which the Alert criteria is based",
                      "minLength" : 0,
                      "maxLength" : 23
                    }
                  }
                }
              }
            }
          }
        },
        "accountOfficerName" : {
          "type" : "string",
          "description" : "Name of the Account/Relationship Officer attached to the Customer",
          "minLength" : 0,
          "maxLength" : 23
        },
        "accountOfficerArea" : {
          "type" : "string",
          "description" : "Indicates the Area of responsibility for the Account Officer",
          "minLength" : 0,
          "maxLength" : 23
        },
        "deliveryPoint" : {
          "type" : "string",
          "description" : "Indicates the internal office location for delivery of reports. ",
          "minLength" : 0,
          "maxLength" : 23
        },
        "departmentId" : {
          "type" : "string",
          "description" : "Department identifier.",
          "minLength" : 0,
          "maxLength" : 23
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "AccountOfficerDetails" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountOfficerDetailsBody"
        }
      },
      "description" : "AccountOfficerDetails"
    },
    "AccountOfficerDetailsBody" : {
      "type" : "object",
      "properties" : {
        "excludedCompanies" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "excludedCompany" : {
                "type" : "string",
                "description" : "Indicates the companies where Central Directory record is excluded to use",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "allowedCompanies" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "allowedCompany" : {
                "type" : "string",
                "description" : "Indicates the companies where Central Directory record is allowed to use",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "accountOfficerName" : {
          "type" : "string",
          "description" : "Name of the Account/Relationship Officer attached to the Customer",
          "minLength" : 0,
          "maxLength" : 23
        },
        "accountOfficerArea" : {
          "type" : "string",
          "description" : "Indicates the Area of responsibility for the Account Officer",
          "minLength" : 0,
          "maxLength" : 23
        },
        "addressLocation" : {
          "type" : "string",
          "description" : "Identifies the nature of the postal address, like primary, secondary or office address",
          "minLength" : 0,
          "maxLength" : 23
        },
        "departmentId" : {
          "type" : "number",
          "description" : "Department identifier.",
          "minimum" : 0,
          "maximum" : 23
        },
        "level" : {
          "type" : "string",
          "description" : "Captured for information purpose to render the placeholders in GUI",
          "minLength" : 0,
          "maxLength" : 23
        },
        "parent" : {
          "type" : "number",
          "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES",
          "minimum" : 0,
          "maximum" : 23
        },
        "isSecureMessage" : {
          "type" : "string",
          "description" : "If 'Yes', then the customer will receive a SECURE message.",
          "minLength" : 0,
          "maxLength" : 23
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "The phone number of the customer or prospect",
          "minLength" : 0,
          "maxLength" : 23
        },
        "faxId" : {
          "type" : "string",
          "description" : "The fax (facsimile) number of the customer",
          "minLength" : 0,
          "maxLength" : 23
        }
      }
    },
    "AccountOfficerAlertSubscription" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountOfficerAlertSubscriptionBody"
        }
      },
      "description" : "AccountOfficerAlertSubscription"
    },
    "AccountOfficerAlertSubscriptionBody" : {
      "type" : "object",
      "properties" : {
        "alertsSubscribed" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "eventId" : {
                "type" : "string",
                "description" : "Event identifier",
                "minLength" : 0,
                "maxLength" : 23
              },
              "alertRequestId" : {
                "type" : "string",
                "description" : "The unique identifier of the alert request.",
                "minLength" : 0,
                "maxLength" : 23
              },
              "alertCondition" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "field" : {
                      "type" : "string",
                      "description" : "Input is the valid field name for the metrics evaluation of alerts",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "operand" : {
                      "type" : "string",
                      "description" : "This field along with fieldName and value, defines the conditions for the alert to be triggered.",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "value" : {
                      "type" : "string",
                      "description" : "The value of the field on which the Alert criteria is based",
                      "minLength" : 0,
                      "maxLength" : 23
                    }
                  }
                }
              }
            }
          }
        },
        "accountOfficerName" : {
          "type" : "string",
          "description" : "Name of the Account/Relationship Officer attached to the Customer",
          "minLength" : 0,
          "maxLength" : 23
        },
        "accountOfficerArea" : {
          "type" : "string",
          "description" : "Indicates the Area of responsibility for the Account Officer",
          "minLength" : 0,
          "maxLength" : 23
        },
        "deliveryPoint" : {
          "type" : "string",
          "description" : "Indicates the internal office location for delivery of reports. ",
          "minLength" : 0,
          "maxLength" : 23
        },
        "departmentId" : {
          "type" : "string",
          "description" : "Department identifier.",
          "minLength" : 0,
          "maxLength" : 23
        }
      }
    }
  }
}