{
  "swagger": "2.0",
  "info": {
    "description": "API retrieves the organization structure details defined in the system",
    "version": "v1.0.0",
    "title": "Organization Structure"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "tags": [],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/reference/organizationStructures/{organizationId}": {
      "get": {
        "tags": [],
        "summary": "Retrieve the Organization code details",
        "description": "Retrieve the name, immediate parent organization and hierarchy defined for the specified organization",
        "operationId": "getOrganizationHierarchy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Identifier of Organization Code ",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "header",
            "description": "Username and password to authenticate the API against core-banking.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "header",
            "description": "Identifies the device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "userRole",
            "in": "header",
            "description": "User who initiated the transaction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OrganizationHierarchyResponse",
            "schema": {
              "$ref": "#/definitions/OrganizationHierarchyResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [],
        "summary": "Create the Organization code details",
        "description": "Create the name, immediate parent organization and hierarchy defined for the specified organization",
        "operationId": "createOrganizationHierarchy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Identifier of Organization Code",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationHierarchy"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "header",
            "description": "Username and password to authenticate the API against core-banking.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "header",
            "description": "Identifies the device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "userRole",
            "in": "header",
            "description": "User who initiated the transaction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OrganizationHierarchyResponse",
            "schema": {
              "$ref": "#/definitions/OrganizationHierarchyResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [],
        "summary": "Update the Organization code details",
        "description": "Update the name, immediate parent organization and hierarchy defined for the specified organization",
        "operationId": "updateOrganizationHierarchy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Identifier of Organization Code",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationHierarchy"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "header",
            "description": "Username and password to authenticate the API against core-banking.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "header",
            "description": "Identifies the device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "userRole",
            "in": "header",
            "description": "User who initiated the transaction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OrganizationHierarchyResponse",
            "schema": {
              "$ref": "#/definitions/OrganizationHierarchyResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/organizationStructures/{organizationId}/childOrganizations": {
      "get": {
        "tags": [],
        "summary": "Retrieves the child organizations",
        "description": "Retrieves the list of all child organization reference associated with the specified organization",
        "operationId": "getChildOrganizations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Identifier of Organization Code",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "header",
            "description": "Username and password to authenticate the API against core-banking.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "header",
            "description": "Identifies the device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "userRole",
            "in": "header",
            "description": "User who initiated the transaction",
            "required": false,
            "type": "string"
          },
          {
            "name": "disablePagination",
            "in": "header",
            "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "ChildOrganizationsResponse",
            "schema": {
              "$ref": "#/definitions/ChildOrganizationsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/organizationStructures/branches/{branchId}": {
      "get": {
        "tags": [],
        "summary": "Retrieve the branch name",
        "description": "Retrieve the name of branch that can be used as branch enrichment by any application",
        "operationId": "getOrganizationBranchName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "description": "Unique and unambiguous identification of a branch of a financial institution.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "header",
            "description": "Username and password to authenticate the API against core-banking.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "header",
            "description": "Identifies the device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "userRole",
            "in": "header",
            "description": "User who initiated the transaction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OrganizationBranchNameResponse",
            "schema": {
              "$ref": "#/definitions/OrganizationBranchNameResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/organizationStructures/lineOfBusiness/{lineOfBusinessId}": {
      "get": {
        "tags": [],
        "summary": "Retrieves the line of business",
        "description": "Retrieves the line of business name defined for the specified organization.",
        "operationId": "getLineOfBusinessName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lineOfBusinessId",
            "in": "path",
            "description": "Identifier of the line of business provided by the branch",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "header",
            "description": "Username and password to authenticate the API against core-banking.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "header",
            "description": "Identifies the device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "userRole",
            "in": "header",
            "description": "User who initiated the transaction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "LineOfBusinessNameResponse",
            "schema": {
              "$ref": "#/definitions/LineOfBusinessNameResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    },
    "apiKey": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "uniqueIdentifier": {
          "type": "string",
          "description": "The unique identifier/Message Reference of the record created."
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "OrganizationHierarchyResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/OrganizationHierarchyResponseBody"
        }
      },
      "description": "OrganizationHierarchyResponse"
    },
    "OrganizationHierarchyResponseBody": {
      "type": "object",
      "properties": {
        "organizationNames": {
          "type": "array",
          "description": "Indicates the name of the organization",
          "items": {
            "type": "object",
            "properties": {
              "organizationName": {
                "type": "string",
                "description": "Indicates the name of the organization",
                "minLength": 0,
                "maxLength": 20
              }
            }
          }
        },
        "parent": {
          "type": "string",
          "description": "This Field is to determine whether the order is a parent order, Allowed value is YES",
          "minLength": 0,
          "maxLength": 20
        },
        "level": {
          "type": "number",
          "description": "Captured for information purpose to render the placeholders in GUI",
          "minimum": 0,
          "maximum": 20
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "uniqueIdentifier": {
          "type": "string",
          "description": "The unique identifier/Message Reference of the record created."
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override."
              },
              "description": {
                "type": "string",
                "description": "The actual override message."
              },
              "code": {
                "type": "string",
                "description": "The code related to override message."
              },
              "options": {
                "type": "array",
                "description": "The usable options for the override.",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string",
                "description": "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/ScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message "
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ChildOrganizationsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/ChildOrganizationsResponseBody"
        }
      },
      "description": "ChildOrganizationsResponse"
    },
    "ChildOrganizationsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "childOrganizationId": {
            "type": "string",
            "description": "Indicates the next level hierarchy of any organization id",
            "maxLength": 35
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override."
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message."
                  },
                  "code": {
                    "type": "string",
                    "description": "The code related to override message."
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "OrganizationHierarchy": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/OrganizationHierarchyBody"
        }
      },
      "description": "OrganizationHierarchy"
    },
    "OrganizationHierarchyBody": {
      "type": "object",
      "properties": {
        "organizationNames": {
          "type": "array",
          "description": "Indicates the name of the organization",
          "items": {
            "type": "object",
            "properties": {
              "organizationName": {
                "type": "string",
                "description": "Indicates the name of the organization",
                "minLength": 0,
                "maxLength": 20
              }
            }
          }
        },
        "parent": {
          "type": "string",
          "description": "This Field is to determine whether the order is a parent order, Allowed value is YES",
          "minLength": 0,
          "maxLength": 20
        },
        "level": {
          "type": "number",
          "description": "Captured for information purpose to render the placeholders in GUI",
          "minimum": 0,
          "maximum": 20
        }
      }
    },
    "OrganizationBranchNameResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/OrganizationBranchNameResponseBody"
        }
      },
      "description": "OrganizationBranchNameResponse"
    },
    "OrganizationBranchNameResponseBody": {
      "type": "object",
      "properties": {
        "branchNames": {
          "type": "array",
          "description": "Contains the description for the Organization Code defined at Branch Level.",
          "items": {
            "type": "object",
            "properties": {
              "branchName": {
                "type": "string",
                "description": "Contains the description for the Organization Code defined at Branch Level.",
                "minLength": 0,
                "maxLength": 50
              }
            }
          }
        }
      }
    },
    "LineOfBusinessNameResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/LineOfBusinessNameResponseBody"
        }
      },
      "description": "LineOfBusinessNameResponse"
    },
    "LineOfBusinessNameResponseBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "Contains the name used for display or enrichment purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "Contains the name used for display or enrichment purposes",
                "minLength": 0,
                "maxLength": 50
              }
            }
          }
        }
      }
    }
  }
}