{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the details of countries that are available in the system. Each country is identified by its ISO country code",
    "version" : "v1.0.0",
    "title" : "Countries"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/countries" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Country details",
        "description" : "Retrieves the list of country information that is used by the legal entity, either a list of countries or a specific country by ISO 3166-1 alpha-2 code.",
        "operationId" : "getCountries",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "countryId",
          "in" : "query",
          "description" : "ISO country code of the financial institution. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountriesResponse",
            "schema" : {
              "$ref" : "#/definitions/CountriesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/country/{countryCode}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves Country details",
        "description" : "API to retrieve country codes as per ISO Standards",
        "operationId" : "getCountryCodes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "path",
          "description" : "ISO 3166-1-alpha-2 or alpha-3 country code of financial institution",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryCodesResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryCodesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/countries/{countryId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the details of country",
        "description" : "Retrieve the details of country like country name, currency code, geographical block, business centre and reporting country.",
        "operationId" : "getCountryDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "countryId",
          "in" : "path",
          "description" : "ISO country code of the financial institution. ",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Create the details of country",
        "description" : "Create the details of country like country name, currency code, geographical block, business centre and reporting country.",
        "operationId" : "createCountryDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "countryId",
          "in" : "path",
          "description" : "ISO country code of the financial institution. ",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CountryDetails"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update the details of country",
        "description" : "Update the details of country like country name, currency code, geographical block, business centre and reporting country.",
        "operationId" : "updateCountryDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "countryId",
          "in" : "path",
          "description" : "ISO country code of the financial institution. ",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CountryDetails"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/countries/countryGroups/{groupId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the details of country group",
        "description" : "Retrieve the description and list of all countries involved in the group",
        "operationId" : "getCountryGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Unique ID of the group",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryGroupResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Create the details of country group",
        "description" : "Create the description and list of all countries involved in the group",
        "operationId" : "createCountryGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Unique ID of the group",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CountryGroup"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryGroupResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update the details of country group",
        "description" : "Update the description and list of all countries involved in the group",
        "operationId" : "updateCountryGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Unique ID of the group",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CountryGroup"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryGroupResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ ],
        "summary" : "Delete the details of country group",
        "description" : "Delete the description and list of all countries involved in the group",
        "operationId" : "deleteCountryGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "Unique ID of the group",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CountryGroupDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryGroupResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/countries/countryGroups" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the list of country groups",
        "description" : "Retrieves the list of all country group in the system with details such as description and countries involved in the group",
        "operationId" : "getCountryGroupList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "description" : "Unique ID of the group",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryGroupListResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryGroupListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/countries/regions/{regionId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the details of region",
        "description" : "Retrieve the details of region such as description, inflation index and inflation index applicable date",
        "operationId" : "getCountryRegion",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "regionId",
          "in" : "path",
          "description" : "Identifier of the region",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryRegionResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryRegionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Creates the details of region",
        "description" : "Creates the details of region such as description, inflation index and inflation index applicable date",
        "operationId" : "createCountryRegion",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "regionId",
          "in" : "path",
          "description" : "Identifier of the region",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CountryRegion"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryRegionResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryRegionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Update the details of region",
        "description" : "Update the details of region such as description, inflation index and inflation index applicable date",
        "operationId" : "updateCountryRegion",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "regionId",
          "in" : "path",
          "description" : "Identifier of the region",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CountryRegion"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CountryRegionResponse",
            "schema" : {
              "$ref" : "#/definitions/CountryRegionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CountriesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountriesResponseBody"
        }
      },
      "description" : "CountriesResponse"
    },
    "CountriesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. ",
            "maxLength" : 9
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "countryShortName" : {
            "type" : "string",
            "description" : "Short name of country details",
            "maxLength" : 15
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "CountryCodesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountryCodesResponseBody"
        }
      },
      "description" : "CountryCodesResponse"
    },
    "CountryCodesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. ",
            "maxLength" : 9
          },
          "iso3Code" : {
            "type" : "string",
            "description" : "ISO 3166-1-alpha-3 country code of financial institution",
            "maxLength" : 3
          },
          "numericCountryCode" : {
            "type" : "string",
            "description" : "ISO 3166-1-numeric- country code of financial institution",
            "maxLength" : 3
          }
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "CountryDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountryDetailsResponseBody"
        }
      },
      "description" : "CountryDetailsResponse"
    },
    "CountryDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "countryNames" : {
          "type" : "array",
          "description" : "This is the country name that the financial institution resides in.",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryName" : {
                "type" : "string",
                "description" : "This is the country name that the financial institution resides in.",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "localCurrencyIds" : {
          "type" : "array",
          "description" : "The ISO code (3 letters) for the institution's local currency.",
          "items" : {
            "type" : "object",
            "properties" : {
              "localCurrencyId" : {
                "type" : "string",
                "description" : "The ISO code (3 letters) for the institution's local currency.",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "capitalGainsIndexation" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "capitalGainsIndex" : {
                "type" : "string",
                "description" : "Indicates the inflation index associated with the country or currency",
                "minLength" : 0,
                "maxLength" : 23
              },
              "capitalGainsIndexDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates the date until which the inflation index is applicable for the country or currency"
              }
            }
          }
        },
        "countryShortNames" : {
          "type" : "array",
          "description" : "Short name of country details",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryShortName" : {
                "type" : "string",
                "description" : "Short name of country details",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "geographicalBlock" : {
          "type" : "string",
          "description" : "Identifier of Country's geographical block",
          "minLength" : 0,
          "maxLength" : 23
        },
        "riskLevel" : {
          "type" : "string",
          "description" : "Indicates the level of risk",
          "minLength" : 0,
          "maxLength" : 23
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "The phone number of the customer or prospect",
          "minLength" : 0,
          "maxLength" : 23
        },
        "countryCode" : {
          "type" : "string",
          "description" : "ISO 3166-1-alpha-2 or alpha-3 country code of financial institution",
          "minLength" : 0,
          "maxLength" : 23
        },
        "numericCountryCode" : {
          "type" : "number",
          "description" : "ISO 3166-1-numeric- country code of financial institution",
          "minimum" : 0,
          "maximum" : 23
        },
        "traceDays" : {
          "type" : "string",
          "description" : "Indicates the period of days after which the tracer messages are recycled and resent",
          "minLength" : 0,
          "maxLength" : 23
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "CountryGroupResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountryGroupResponseBody"
        }
      },
      "description" : "CountryGroupResponse"
    },
    "CountryGroupResponseBody" : {
      "type" : "object",
      "properties" : {
        "groupNames" : {
          "type" : "array",
          "description" : "The name that is displayed for the group",
          "items" : {
            "type" : "object",
            "properties" : {
              "groupName" : {
                "type" : "string",
                "description" : "The name that is displayed for the group",
                "minLength" : 0,
                "maxLength" : 16
              }
            }
          }
        },
        "countryIds" : {
          "type" : "array",
          "description" : "ISO country code of the financial institution. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryId" : {
                "type" : "string",
                "description" : "ISO country code of the financial institution. ",
                "minLength" : 0,
                "maxLength" : 16
              }
            }
          }
        }
      }
    },
    "CountryGroupListResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountryGroupListResponseBody"
        }
      },
      "description" : "CountryGroupListResponse"
    },
    "CountryGroupListResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "countryIds" : {
            "type" : "array",
            "description" : "ISO country code of the financial institution. ",
            "items" : {
              "type" : "object",
              "properties" : {
                "countryId" : {
                  "type" : "string",
                  "description" : "ISO country code of the financial institution. ",
                  "maxLength" : 2
                }
              }
            }
          },
          "groupId" : {
            "type" : "string",
            "description" : "Unique ID of the group",
            "maxLength" : 5
          },
          "groupName" : {
            "type" : "string",
            "description" : "The name that is displayed for the group",
            "maxLength" : 35
          }
        }
      }
    },
    "CountryRegionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountryRegionResponseBody"
        }
      },
      "description" : "CountryRegionResponse"
    },
    "CountryRegionResponseBody" : {
      "type" : "object",
      "properties" : {
        "regions" : {
          "type" : "array",
          "description" : "Name of the region used for display or enrichment",
          "items" : {
            "type" : "object",
            "properties" : {
              "region" : {
                "type" : "string",
                "description" : "Name of the region used for display or enrichment",
                "minLength" : 0,
                "maxLength" : 21
              }
            }
          }
        },
        "capitalGainsIndexation" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "capitalGainsIndexDate" : {
                "type" : "string",
                "description" : "Indicates the date until which the inflation index is applicable for the country or currency",
                "minLength" : 0,
                "maxLength" : 21
              },
              "capitalGainsIndex" : {
                "type" : "string",
                "description" : "Indicates the inflation index associated with the country or currency",
                "minLength" : 0,
                "maxLength" : 21
              }
            }
          }
        },
        "deliveryRegion" : {
          "type" : "string",
          "description" : "Indicates the 4 character financial centre to be used in Swift message TAG 22B",
          "minLength" : 0,
          "maxLength" : 21
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "CountryDetails" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountryDetailsBody"
        }
      },
      "description" : "CountryDetails"
    },
    "CountryDetailsBody" : {
      "type" : "object",
      "properties" : {
        "countryNames" : {
          "type" : "array",
          "description" : "This is the country name that the financial institution resides in.",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryName" : {
                "type" : "string",
                "description" : "This is the country name that the financial institution resides in.",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "localCurrencyIds" : {
          "type" : "array",
          "description" : "The ISO code (3 letters) for the institution's local currency.",
          "items" : {
            "type" : "object",
            "properties" : {
              "localCurrencyId" : {
                "type" : "string",
                "description" : "The ISO code (3 letters) for the institution's local currency.",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "capitalGainsIndexation" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "capitalGainsIndex" : {
                "type" : "string",
                "description" : "Indicates the inflation index associated with the country or currency",
                "minLength" : 0,
                "maxLength" : 23
              },
              "capitalGainsIndexDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates the date until which the inflation index is applicable for the country or currency"
              }
            }
          }
        },
        "countryShortNames" : {
          "type" : "array",
          "description" : "Short name of country details",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryShortName" : {
                "type" : "string",
                "description" : "Short name of country details",
                "minLength" : 0,
                "maxLength" : 23
              }
            }
          }
        },
        "geographicalBlock" : {
          "type" : "string",
          "description" : "Identifier of Country's geographical block",
          "minLength" : 0,
          "maxLength" : 23
        },
        "riskLevel" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 23
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "The phone number of the customer or prospect",
          "minLength" : 0,
          "maxLength" : 23
        },
        "countryCode" : {
          "type" : "string",
          "description" : "ISO Country code, IBAN number will be generated based on the structure of this country.",
          "minLength" : 0,
          "maxLength" : 23
        },
        "numericCountryCode" : {
          "type" : "number",
          "description" : "ISO 3166-1-numeric- country code of financial institution",
          "minimum" : 0,
          "maximum" : 23
        }
      }
    },
    "CountryGroup" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountryGroupBody"
        }
      },
      "description" : "CountryGroup"
    },
    "CountryGroupBody" : {
      "type" : "object",
      "properties" : {
        "groupNames" : {
          "type" : "array",
          "description" : "The name that is displayed for the group",
          "items" : {
            "type" : "object",
            "properties" : {
              "groupName" : {
                "type" : "string",
                "description" : "The name that is displayed for the group",
                "minLength" : 0,
                "maxLength" : 16
              }
            }
          }
        },
        "countryIds" : {
          "type" : "array",
          "description" : "ISO country code of the financial institution. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryId" : {
                "type" : "string",
                "description" : "ISO country code of the financial institution. ",
                "minLength" : 0,
                "maxLength" : 16
              }
            }
          }
        }
      }
    },
    "CountryGroupDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "CountryGroupDelete"
    },
    "CountryRegion" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CountryRegionBody"
        }
      },
      "description" : "CountryRegion"
    },
    "CountryRegionBody" : {
      "type" : "object",
      "properties" : {
        "regions" : {
          "type" : "array",
          "description" : "",
          "items" : {
            "type" : "object",
            "properties" : {
              "region" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 21
              }
            }
          }
        },
        "capitalGainsIndexation" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "capitalGainsIndexDate" : {
                "type" : "string",
                "description" : "Indicates the date until which the inflation index is applicable for the country or currency",
                "minLength" : 0,
                "maxLength" : 21
              },
              "capitalGainsIndex" : {
                "type" : "string",
                "description" : "Indicates the inflation index associated with the country or currency",
                "minLength" : 0,
                "maxLength" : 21
              }
            }
          }
        },
        "deliveryRegion" : {
          "type" : "string",
          "description" : "Indicates the 4 character financial centre to be used in Swift message TAG 22B",
          "minLength" : 0,
          "maxLength" : 21
        }
      }
    }
  }
}