{
  "swagger" : "2.0",
  "info" : {
    "description" : "APIs to retrieve the working day and holiday information that is used by the organization, either a list for all legal entities or for a specific legal entity.",
    "version" : "v1.0.0",
    "title" : "Organization Dates"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : ["https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/dates" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the list of dates",
        "description" : "Retrieve list of dates",
        "operationId" : "getDates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "today",
          "in" : "query",
          "description" : "Date of the current business day for all online activities in the selected Company. This field is updated automatically with the date from 'nextWorkingDay' during the Close of Business processing.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "lastWorkingDay",
          "in" : "query",
          "description" : "Contains the date of the last working day",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "nextWorkingDay",
          "in" : "query",
          "description" : "Date of the next business day which will be processed in this Company.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DatesResponse",
            "schema" : {
              "$ref" : "#/definitions/DatesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/dates/{companyId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the details of date for a specific company identifier",
        "description" : "Retrieves dates for specific legal entity",
        "operationId" : "getDatesByCompany",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "today",
          "in" : "query",
          "description" : "Date of the current business day for all online activities in the selected Company. This field is updated automatically with the date from 'nextWorkingDay' during the Close of Business processing.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "lastWorkingDay",
          "in" : "query",
          "description" : "Contains the date of the last working day",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "nextWorkingDay",
          "in" : "query",
          "description" : "Date of the next business day which will be processed in this Company.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "DatesByCompanyResponse",
            "schema" : {
              "$ref" : "#/definitions/DatesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/dates/holidays/{holidayId}" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the holiday information",
        "description" : "Retrieves the weekend days, holidays in a month for specific region and year",
        "operationId" : "getHoliday",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayId",
          "in" : "path",
          "description" : "Identifier of the holiday record.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "HolidayResponse",
            "schema" : {
              "$ref" : "#/definitions/HolidayResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ ],
        "summary" : "Creates the holiday information",
        "description" : "Creates the weekend days, holidays in a month for specific region and year",
        "operationId" : "createHoliday",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayId",
          "in" : "path",
          "description" : "Identifier of the holiday record.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Holiday"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "HolidayResponse",
            "schema" : {
              "$ref" : "#/definitions/HolidayResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Updates the holiday information",
        "description" : "Updates the weekend days, holidays in a month for specific region and year",
        "operationId" : "updateHoliday",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayId",
          "in" : "path",
          "description" : "Identifier of the holiday record.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Holiday"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "HolidayResponse",
            "schema" : {
              "$ref" : "#/definitions/HolidayResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "DatesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DatesResponseBody"
        }
      },
      "description" : "DatesResponse"
    },
    "DatesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 15
          },
          "currentWorkingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the current business day for all online activities in the selected Company. This field is updated automatically with the date from 'nextWorkingDay' during the Close of Business processing."
          },
          "lastWorkingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the last business day processed for this Company. This field will be set with the date from Today table by the batch (overnight) processing system."
          },
          "nextWorkingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the next business day which will be processed in this Company."
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "HolidayResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/HolidayResponseBody"
        }
      },
      "description" : "HolidayResponse"
    },
    "HolidayResponseBody" : {
      "type" : "object",
      "properties" : {
        "publicHolidays" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "month01Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for january month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month02Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for february month of calendar year",
                "minLength" : 0,
                "maxLength" : 16
              },
              "month03Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for march month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month04Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for april month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month05Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for may month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month06Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for june month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month07Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for july month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month08Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for august month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month09Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for september month of calendar year",
                "minLength" : 0,
                "maxLength" : 17
              },
              "month10Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for october month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month11Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for november month of calendar year",
                "minLength" : 0,
                "maxLength" : 16
              },
              "month12Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for december month of calendar year",
                "minLength" : 0,
                "maxLength" : 16
              }
            }
          }
        },
        "weekendDays" : {
          "type" : "array",
          "description" : "Indicates the weekend days for the branch using this holiday record",
          "items" : {
            "type" : "object",
            "properties" : {
              "weekendDay" : {
                "type" : "string",
                "description" : "Indicates the weekend days for the branch using this holiday record",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "workingDaysCalendar" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "month01" : {
                "type" : "string",
                "description" : "Indicates January month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month02" : {
                "type" : "string",
                "description" : "Indicates February month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month03" : {
                "type" : "string",
                "description" : "Indicates March month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month04" : {
                "type" : "string",
                "description" : "Indicates April month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month05" : {
                "type" : "string",
                "description" : "Indicates May month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month06" : {
                "type" : "string",
                "description" : "Indicates June month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month07" : {
                "type" : "string",
                "description" : "Indicates July month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month08" : {
                "type" : "string",
                "description" : "Indicates August month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month09" : {
                "type" : "string",
                "description" : "Indicates September month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month10" : {
                "type" : "string",
                "description" : "Indicates October month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month11" : {
                "type" : "string",
                "description" : "Indicates November month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month12" : {
                "type" : "string",
                "description" : "Indicates December month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "Holiday" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/HolidayBody"
        }
      },
      "description" : "Holiday"
    },
    "HolidayBody" : {
      "type" : "object",
      "properties" : {
        "publicHolidays" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "month01Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for january month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month02Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for february month of calendar year",
                "minLength" : 0,
                "maxLength" : 16
              },
              "month03Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for march month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month04Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for april month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month05Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for may month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month06Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for june month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month07Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for july month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month08Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for august month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month09Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for september month of calendar year",
                "minLength" : 0,
                "maxLength" : 17
              },
              "month10Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for october month of calendar year",
                "minLength" : 0,
                "maxLength" : 15
              },
              "month11Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for november month of calendar year",
                "minLength" : 0,
                "maxLength" : 16
              },
              "month12Holidays" : {
                "type" : "string",
                "description" : "Contains the holiday dates for december month of calendar year",
                "minLength" : 0,
                "maxLength" : 16
              }
            }
          }
        },
        "weekendDays" : {
          "type" : "array",
          "description" : "Indicates the weekend days for the branch using this holiday record",
          "items" : {
            "type" : "object",
            "properties" : {
              "weekendDay" : {
                "type" : "string",
                "description" : "Indicates the weekend days for the branch using this holiday record",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "workingDaysCalendar" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "month01" : {
                "type" : "string",
                "description" : "Indicates January month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month02" : {
                "type" : "string",
                "description" : "Indicates February month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month03" : {
                "type" : "string",
                "description" : "Indicates March month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month04" : {
                "type" : "string",
                "description" : "Indicates April month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month05" : {
                "type" : "string",
                "description" : "Indicates May month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month06" : {
                "type" : "string",
                "description" : "Indicates June month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month07" : {
                "type" : "string",
                "description" : "Indicates July month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month08" : {
                "type" : "string",
                "description" : "Indicates August month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month09" : {
                "type" : "string",
                "description" : "Indicates September month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month10" : {
                "type" : "string",
                "description" : "Indicates October month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month11" : {
                "type" : "string",
                "description" : "Indicates November month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              },
              "month12" : {
                "type" : "string",
                "description" : "Indicates December month's working days and holidays",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        }
      }
    }
  }
}