{
  "swagger" : "2.0",
  "info" : {
    "description" : "APIs to create and manage Request to Pay payments in order to create, view, update, block and decline the payment requests from both Biller and Payer systems",
    "version" : "v1.0.0",
    "title" : "Request to Pay Payment services"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ ],
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/paymentRequests/{requestId}/extensions" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Request the biller for an extension of the payment due date",
        "description" : "Enables the payer to request the biller for a new due date in the future for the biller's payment request",
        "operationId" : "updateDateExtension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DateExtension"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DateExtensionResponse",
            "schema" : {
              "$ref" : "#/definitions/DateExtensionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/declinedRequests" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Decline the payment request from biller",
        "description" : "Enables the payer to decline the biller's payment request when payer does not want make any payment towards that request",
        "operationId" : "updateDeclinePayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeclinePayment"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeclinePaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/DeclinePaymentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billerNotes" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update the messages sent to biller by payer",
        "description" : "Enables the payer to send messages to biller when the payer requires further information regarding a specific payment request",
        "operationId" : "updateNotesToRequestor",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/NotesToRequestor"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "NotesToRequestorResponse",
            "schema" : {
              "$ref" : "#/definitions/NotesToRequestorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/amountModifications" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update the requested amount in a payment request",
        "description" : "Enables the payer to modify the amount requested by biller, if modification is allowed by the respective scheme",
        "operationId" : "updatePaymentAmount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentAmount"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentAmountResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentAmountResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/blocks" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Decline the payment request and block the biller",
        "description" : "Enables the payer to decline the biller's payment request and block the biller when payer does not want make any payment towards that biller",
        "operationId" : "updateDeclineAndBlock",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeclineAndBlock"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeclineAndBlockResponse",
            "schema" : {
              "$ref" : "#/definitions/DeclineAndBlockResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/payerNotes" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update the messages sent to payer by biller",
        "description" : "Enables the biller to send messages to payer when the biller requires further information regarding a specific payment request",
        "operationId" : "updateNotesToPayer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/NotesToPayer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "NotesToPayerResponse",
            "schema" : {
              "$ref" : "#/definitions/NotesToPayerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/extensions/acceptances" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payment requests for which extension have been granted",
        "description" : "Retrieves the payers payments requests for which the due date extensions have been granted by the biller",
        "operationId" : "getPayerListWithExtensionGranted",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayerListWithExtensionGrantedResponse",
            "schema" : {
              "$ref" : "#/definitions/PayerListWithExtensionGrantedResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Approve the due date extension requested by the payer",
        "description" : "Enables the Biller to approve the new due date for the payment, requested by the payer",
        "operationId" : "updateGrantExtension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GrantExtension"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "GrantExtensionResponse",
            "schema" : {
              "$ref" : "#/definitions/GrantExtensionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/extensions/rejections" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the incoming payment requests for which the extension have been declined",
        "description" : "Retrieves the incoming payments requests for which extensions have been declined by the biller",
        "operationId" : "getPayersListWithExtensionDeclined",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayersListWithExtensionDeclinedResponse",
            "schema" : {
              "$ref" : "#/definitions/PayersListWithExtensionDeclinedResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Decline the due date extension requested by payer",
        "description" : "Enables the biller to decline the due date extension for the payment requested by the payer",
        "operationId" : "updateDeclineExtension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeclineExtension"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeclineExtensionResponse",
            "schema" : {
              "$ref" : "#/definitions/DeclineExtensionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billers/pendingExtensions" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the billers payment requests which are awaiting due date extension approval",
        "description" : "Retrieves the  payment requests with biller which are awaiting response for due date extension. These requests can either be declined or approved by the biller",
        "operationId" : "getRequestorsDateExtension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requestorReference",
          "in" : "query",
          "description" : "Contains the reference of the requestor",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "RequestorsDateExtensionResponse",
            "schema" : {
              "$ref" : "#/definitions/RequestorsDateExtensionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/errors" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the payment requests which are in error status",
        "description" : "Retrieves the payment requests which are in error status due to technical reasons such as payment processing failures.",
        "operationId" : "getOutwardErrors",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "OutwardErrorsResponse",
            "schema" : {
              "$ref" : "#/definitions/OutwardErrorsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billers/pendingAcknowledgements" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the billers payment requests which are pending to be acknowledged",
        "description" : "Retrieves the payment requests which are yet to be acknowledged by the biller. Generally, Partially paid or Paid are the two statuses with which the biller acknowledges the payer",
        "operationId" : "getApiPendingAck",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ApiPendingAckResponse",
            "schema" : {
              "$ref" : "#/definitions/ApiPendingAckResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Payment request initiation for EBA and UK Scheme",
        "description" : "Create payment requests for EBA and UK scheme from Biller application",
        "operationId" : "createPaymentRequests",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentRequests"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentRequestsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentRequestsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/partialPayments" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update partial payment by payer",
        "description" : "Enables the Payer to accept Biller's request but pays only a part of the outstanding amount. The original request sent by the biller remains open until the total amount is paid by the payer",
        "operationId" : "updatePartialPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PartialPayment"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PartialPaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/PartialPaymentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/payments" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update the payment with full amount requested by the biller",
        "description" : "Enables the payer to accept the biller's request and pay the outstanding amount",
        "operationId" : "updateFullPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FullPayment"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FullPaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/FullPaymentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/payers/status" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the list of payment requests that are pending, completed and askForExtension with payer",
        "description" : "Retrieves the list of payer payment requests which are in pending, completed and askForExtension status and requires action from payer",
        "operationId" : "getPayersStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayersStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/PayersStatusResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/ukPayments/billerRequests" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Payment request initiation for UK scheme from biller to payer system",
        "description" : "Creates payment request for UK scheme. This API can be linked to any published API which is in accordance to requesttopay.co.uk standards",
        "operationId" : "createPayUKPaymentRequests",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayUKPaymentRequests"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayUKPaymentRequestsResponse",
            "schema" : {
              "$ref" : "#/definitions/PayUKPaymentRequestsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/ukPayments" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Manages payment requests for UK scheme between biller and payer systems",
        "description" : " Update payment request onto the biller system from payer to support partial payment, full payment, due date extension request , decline and block the biller, decline the payment request and messages sent to the biller. Similarly, update payment request onto the payer system from biller to support approval of due date extension, rejection of due date extension, messages sent to the payer and acknowledgement to payer.This API can be linked to any published API which is in accordance to requesttopay.co.uk standards.",
        "operationId" : "amendPayUKPaymentForRepository",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayUKPaymentRequests"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayUKPaymentForRepositoryResponse",
            "schema" : {
              "$ref" : "#/definitions/PayUKPaymentRequestsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/payers" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the payer payment requests",
        "description" : "Retrieves the list of payer payment requests which are in Completed, Partially paid, Extension Granted, Declined, Extension Declined and Asked For Extension status",
        "operationId" : "getPayersList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requestorReference",
          "in" : "query",
          "description" : "Contains the reference of the requestor",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endToEndReference",
          "in" : "query",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayersListResponse",
            "schema" : {
              "$ref" : "#/definitions/PayersListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billers" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieves the list of biller payment requests",
        "description" : "Retrieves the list of biller payment requests which are in Completed, Rejected and Pending status",
        "operationId" : "getRequestorsOutwardRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endToEndReference",
          "in" : "query",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "RequestorsOutwardRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/RequestorsOutwardRequestResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billers/acknowledgements" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Update the full or partial acknowledgement in a payment request",
        "description" : "Enables the biller to send full acknowledgement to payer when payer paid full amount and send partial acknowledgement to payer when payer paid partial amount",
        "operationId" : "updateBillerAcknowledgements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BillerAcknowledgements"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BillerAcknowledgementsResponse",
            "schema" : {
              "$ref" : "#/definitions/BillerAcknowledgementsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Header",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "DateExtension" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DateExtensionBody"
        }
      },
      "description" : "DateExtension"
    },
    "DateExtensionBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalInformationToRequestor" : {
                "type" : "string",
                "description" : "Contains the additional information that is sent to requestor by the payer",
                "minLength" : 0,
                "maxLength" : 32
              }
            }
          }
        },
        "requestedExpiryDate" : {
          "type" : "string",
          "description" : "Contains the expiry date of the request to pay message",
          "minLength" : 0,
          "maxLength" : 24
        },
        "payerResponse" : {
          "type" : "string",
          "description" : "Contains the response provided by the payer for a request to pay message",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "DateExtensionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DateExtensionResponseBody"
        }
      },
      "description" : "DateExtensionResponse"
    },
    "DateExtensionResponseBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalInformationToRequestor" : {
                "type" : "string",
                "description" : "Contains the additional information that is sent to requestor by the payer",
                "minLength" : 0,
                "maxLength" : 32
              }
            }
          }
        },
        "requestedExpiryDate" : {
          "type" : "string",
          "description" : "Contains the expiry date of the request to pay message",
          "minLength" : 0,
          "maxLength" : 24
        },
        "payerResponse" : {
          "type" : "string",
          "description" : "Contains the response provided by the payer for a request to pay message",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "DeclinePayment" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DeclinePaymentBody"
        }
      },
      "description" : "DeclinePayment"
    },
    "DeclinePaymentBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfoToRequestor" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "rejectRemark" : {
                "type" : "string",
                "description" : "Contains the remarks given for rejection.",
                "minLength" : 0,
                "maxLength" : 18
              }
            }
          }
        },
        "payerResponse" : {
          "type" : "string",
          "description" : "Contains the response provided by the payer for a request to pay message",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "DeclinePaymentResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DeclinePaymentResponseBody"
        }
      },
      "description" : "DeclinePaymentResponse"
    },
    "DeclinePaymentResponseBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfoToRequestor" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "rejectRemark" : {
                "type" : "string",
                "description" : "Contains the remarks given for rejection.",
                "minLength" : 0,
                "maxLength" : 18
              }
            }
          }
        },
        "payerResponse" : {
          "type" : "string",
          "description" : "Contains the response provided by the payer for a request to pay message",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "NotesToRequestor" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/NotesToRequestorBody"
        }
      },
      "description" : "NotesToRequestor"
    },
    "NotesToRequestorBody" : {
      "type" : "object",
      "properties" : {
        "notesToRequestor" : {
          "type" : "array",
          "description" : "Contains any notes sent to the requestor by the payer",
          "items" : {
            "type" : "object",
            "properties" : {
              "messageToRequestor" : {
                "type" : "string",
                "description" : "Contains the message sent to the requestor by the payer",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "payerResponse" : {
          "type" : "string",
          "description" : "Contains the response provided by the payer for a request to pay message",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "NotesToRequestorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/NotesToRequestorResponseBody"
        }
      },
      "description" : "NotesToRequestorResponse"
    },
    "NotesToRequestorResponseBody" : {
      "type" : "object",
      "properties" : {
        "notesToRequestor" : {
          "type" : "array",
          "description" : "Contains any notes sent to the requestor by the payer",
          "items" : {
            "type" : "object",
            "properties" : {
              "messageToRequestor" : {
                "type" : "string",
                "description" : "Contains the message sent to the requestor by the payer",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "payerResponse" : {
          "type" : "string",
          "description" : "Contains the response provided by the payer for a request to pay message",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "PaymentAmount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentAmountBody"
        }
      },
      "description" : "PaymentAmount"
    },
    "PaymentAmountBody" : {
      "type" : "object",
      "properties" : {
        "debitAccount" : {
          "type" : "string",
          "description" : " Identifier of the debitAccounts.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "payerAccountIBAN" : {
          "type" : "string",
          "description" : "Contains international bank account number of the payer",
          "minLength" : 0,
          "maxLength" : 24
        },
        "amountModifiedByPayer" : {
          "type" : "string",
          "description" : "Indicates the amount modified by the payer in contrast to the instructed amount",
          "minLength" : 0,
          "maxLength" : 21
        }
      }
    },
    "PaymentAmountResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentAmountResponseBody"
        }
      },
      "description" : "PaymentAmountResponse"
    },
    "PaymentAmountResponseBody" : {
      "type" : "object",
      "properties" : {
        "debitAccount" : {
          "type" : "string",
          "description" : " Identifier of the debitAccounts.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "payerAccountIBAN" : {
          "type" : "string",
          "description" : "Contains international bank account number of the payer",
          "minLength" : 0,
          "maxLength" : 24
        },
        "amountModifiedByPayer" : {
          "type" : "string",
          "description" : "Indicates the amount modified by the payer in contrast to the instructed amount",
          "minLength" : 0,
          "maxLength" : 21
        }
      }
    },
    "DeclineAndBlock" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DeclineAndBlockBody"
        }
      },
      "description" : "DeclineAndBlock"
    },
    "DeclineAndBlockBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfoToRequestor" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "rejectRemark" : {
                "type" : "string",
                "description" : "Contains the remarks given for rejection.",
                "minLength" : 0,
                "maxLength" : 18
              }
            }
          }
        },
        "payerResponse" : {
          "type" : "string",
          "description" : "Contains the response provided by the payer for a request to pay message",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "DeclineAndBlockResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DeclineAndBlockResponseBody"
        }
      },
      "description" : "DeclineAndBlockResponse"
    },
    "DeclineAndBlockResponseBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfoToRequestor" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "rejectRemark" : {
                "type" : "string",
                "description" : "Contains the remarks given for rejection.",
                "minLength" : 0,
                "maxLength" : 18
              }
            }
          }
        },
        "payerResponse" : {
          "type" : "string",
          "description" : "Contains the response provided by the payer for a request to pay message",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "NotesToPayer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/NotesToPayerBody"
        }
      },
      "description" : "NotesToPayer"
    },
    "NotesToPayerBody" : {
      "type" : "object",
      "properties" : {
        "notesToPayer" : {
          "type" : "array",
          "description" : "Contains any notes sent to the payer by the requestor",
          "items" : {
            "type" : "object",
            "properties" : {
              "messageToPayer" : {
                "type" : "string",
                "description" : "Contains the messsage sent to the payer by the requestor",
                "minLength" : 0,
                "maxLength" : 14
              }
            }
          }
        },
        "payerName" : {
          "type" : "string",
          "description" : "Contains the name of the payer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 0,
          "maxLength" : 21
        },
        "requestorAccountIBAN" : {
          "type" : "string",
          "description" : "Contains international bank account number of the requestor",
          "minLength" : 0,
          "maxLength" : 20
        },
        "requestorName" : {
          "type" : "string",
          "description" : "Contains the name of the requestor",
          "minLength" : 0,
          "maxLength" : 14
        },
        "requestedExecutionDate" : {
          "type" : "string",
          "description" : "Indicates the date at which the payment needs to be executed as requested by the Requestor",
          "minLength" : 0,
          "maxLength" : 24
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "remittanceInformation" : {
          "type" : "string",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "minLength" : 0,
          "maxLength" : 22
        }
      }
    },
    "NotesToPayerResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/NotesToPayerResponseBody"
        }
      },
      "description" : "NotesToPayerResponse"
    },
    "NotesToPayerResponseBody" : {
      "type" : "object",
      "properties" : {
        "notesToPayer" : {
          "type" : "array",
          "description" : "Contains any notes sent to the payer by the requestor",
          "items" : {
            "type" : "object",
            "properties" : {
              "messageToPayer" : {
                "type" : "string",
                "description" : "Contains the messsage sent to the payer by the requestor",
                "minLength" : 0,
                "maxLength" : 14
              }
            }
          }
        },
        "payerName" : {
          "type" : "string",
          "description" : "Contains the name of the payer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "minLength" : 0,
          "maxLength" : 21
        },
        "requestorAccountIBAN" : {
          "type" : "string",
          "description" : "Contains international bank account number of the requestor",
          "minLength" : 0,
          "maxLength" : 20
        },
        "requestorName" : {
          "type" : "string",
          "description" : "Contains the name of the requestor",
          "minLength" : 0,
          "maxLength" : 14
        },
        "requestedExecutionDate" : {
          "type" : "string",
          "description" : "Indicates the date at which the payment needs to be executed as requested by the Requestor",
          "minLength" : 0,
          "maxLength" : 24
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "remittanceInformation" : {
          "type" : "string",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "minLength" : 0,
          "maxLength" : 22
        }
      }
    },
    "GrantExtension" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/GrantExtensionBody"
        }
      },
      "description" : "GrantExtension"
    },
    "GrantExtensionBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalInformationToPayer" : {
                "type" : "string",
                "description" : "Contains the additional information that is sent to the payer by the requestor",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        }
      }
    },
    "GrantExtensionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/GrantExtensionResponseBody"
        }
      },
      "description" : "GrantExtensionResponse"
    },
    "GrantExtensionResponseBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalInformationToPayer" : {
                "type" : "string",
                "description" : "Contains the additional information that is sent to the payer by the requestor",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        }
      }
    },
    "DeclineExtension" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DeclineExtensionBody"
        }
      },
      "description" : "DeclineExtension"
    },
    "DeclineExtensionBody" : {
      "type" : "object",
      "properties" : {
        "additionalInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalInformationToPayer" : {
                "type" : "string",
[...]
