{
  "swagger" : "2.0",
  "info" : {
    "description" : "Request To Pay (RTP) is a Temenos Payments Application that helps Temenos bank manage their request to pay functionality. It provides RTP functionality and information exchange between the actor (payer or payee) and the RTP clearing. This page lists the APIs offered by Temenos RTP Application to consume and manage R2P functionality by Payee and Payer, who are typically accessing the application from a bank based online channel.",
    "version" : "v1.1.1",
    "title" : "Request to Pay"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.1.1/",
  "tags" : [ ],
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/paymentRequests" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Initiate a RTP request ",
        "description" : "Create payment requests for EBA and UK scheme from Biller application",
        "operationId" : "createPaymentRequests",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentRequests"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentRequestsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentRequestsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/payers" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve RTP Requests (Payer side)",
        "description" : "Retrieves the list of RTP requests which are received by the Payer. The API retrieves RTPs in various states - Completed, Partially paid, Extension Granted, Declined, Extension Declined and Asked For Extension. This API is only to be used for Payer Side.",
        "operationId" : "getPayersList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requestorReference",
          "in" : "query",
          "description" : "Contains the reference of the requestor",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endToEndReference",
          "in" : "query",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayersListResponse",
            "schema" : {
              "$ref" : "#/definitions/PayersListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/payments" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Accept the RTP request with full amount",
        "description" : "Enables the Payer to accept RTP Request and pay the outstanding amount",
        "operationId" : "updateFullPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FullPayment"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FullPaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/FullPaymentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/partialPayments" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Accept the RTP request and pay partially",
        "description" : "Enables the Payer to accept RTP Request and pay partial amount. The original request sent by the biller remains open until the total amount is paid by the payer",
        "operationId" : "updatePartialPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PartialPayment"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PartialPaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/PartialPaymentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/declinedRequests" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Decline a RTP request from Payee",
        "description" : "Enables the payer to decline RTP request when payer does not wish to make any payment towards that request",
        "operationId" : "updateDeclinePayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeclinePayment"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeclinePaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/DeclinePaymentResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billerNotes" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Send notes/additional information to Payee",
        "description" : "Enables the payer to send messages to Payee when the Payer requires further information regarding a specific RTP request",
        "operationId" : "updateNotesToRequestor",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/NotesToRequestor"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "NotesToRequestorResponse",
            "schema" : {
              "$ref" : "#/definitions/NotesToRequestorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/amountModifications" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Modify the requested amount in the RTP request",
        "description" : "Enables the payer to modify the amount requested by Payee in the original RTP Request, if modification is allowed by the Payee and the corresponding RTP Scheme",
        "operationId" : "updatePaymentAmount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentAmount"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentAmountResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentAmountResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/blocks" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Decline the RTP request and block the Payee",
        "description" : "Enables the payer to decline the Payee's RTP request and block the Payee when Payer does not want to receive any further RTP requests in future from the specific Payee",
        "operationId" : "updateDeclineAndBlock",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeclineAndBlock"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeclineAndBlockResponse",
            "schema" : {
              "$ref" : "#/definitions/DeclineAndBlockResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/payerNotes" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Send notes / additional information to Payer",
        "description" : "Enables the Payee to send notes, additional information to Payer when the Payee requires further information regarding a specific RTP request",
        "operationId" : "updateNotesToPayer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/NotesToPayer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "NotesToPayerResponse",
            "schema" : {
              "$ref" : "#/definitions/NotesToPayerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/extensions" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Request extension of the RTP Expiry Date",
        "description" : "Enables the Payer to request the Payee for a new expiry date for the RTP Request received",
        "operationId" : "updateDateExtension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DateExtension"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DateExtensionResponse",
            "schema" : {
              "$ref" : "#/definitions/DateExtensionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billers/pendingExtensions" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Payee's RTP requests awaiting RTP Expiry date extension approval",
        "description" : "Retrieves the RTP requests with Payee which are awaiting response for RTP expiry date extension. These requests can either be declined or approved by the Payee",
        "operationId" : "getRequestorsDateExtension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requestorReference",
          "in" : "query",
          "description" : "Contains the reference of the requestor",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "RequestorsDateExtensionResponse",
            "schema" : {
              "$ref" : "#/definitions/RequestorsDateExtensionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billers" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve RTP Requests (Payee side)",
        "description" : "Retrieves the list of requests sent by the Payee. Details returned are Payer name, amount, status, expiry date, outstanding amount to pay and the notes exchanged so far with payer.",
        "operationId" : "getRequestorsOutwardRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endToEndReference",
          "in" : "query",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "RequestorsOutwardRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/RequestorsOutwardRequestResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/payers/status" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the list of RTP requests of payer",
        "description" : "Retrieves the list of RTP requests of payer that are pending (that requires action from payer), completed and asked for extension",
        "operationId" : "getPayersStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayersStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/PayersStatusResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/extensions/acceptances" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retreive RTP Requests for which extension is granted",
        "description" : "Retrieves the Payer RTP requests for which the expiry date extensions have been granted by the Payee",
        "operationId" : "getPayerListWithExtensionGranted",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayerListWithExtensionGrantedResponse",
            "schema" : {
              "$ref" : "#/definitions/PayerListWithExtensionGrantedResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Approve the expiry date extension requested by the payer",
        "description" : "Enables the Payee to approve the expiry date for the RTP request sought by the Payer",
        "operationId" : "updateGrantExtension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GrantExtension"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "GrantExtensionResponse",
            "schema" : {
              "$ref" : "#/definitions/GrantExtensionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/extensions/rejections" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retreive RTP requests for which the extension is declined",
        "description" : "Retrieves the Payer RTP requests for which the expiry date extensions have been declined by the Payee",
        "operationId" : "getPayersListWithExtensionDeclined",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayersListWithExtensionDeclinedResponse",
            "schema" : {
              "$ref" : "#/definitions/PayersListWithExtensionDeclinedResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ ],
        "summary" : "Decline the expiry date extension requested by payer",
        "description" : "Enables the Payee to decline the expiry date for the RTP request sought by the Payer",
        "operationId" : "updateDeclineExtension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeclineExtension"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeclineExtensionResponse",
            "schema" : {
              "$ref" : "#/definitions/DeclineExtensionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billers/pendingAcknowledgements" : {
      "get" : {
        "tags" : [ ],
        "summary" : "RTP Requests sent which are pending to be acknowledged by Payee as payment received",
        "description" : "Retrieves the RTP requests which are yet to be acknowledged by the Payee for a payment that has come in due to a result of RTP Request being accepted by Payer. Generally, Partially paid or Paid are the two statuses in which Payee can send an acknowledgement message corresponding to a payment received",
        "operationId" : "getApiPendingAck",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ApiPendingAckResponse",
            "schema" : {
              "$ref" : "#/definitions/ApiPendingAckResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/billers/acknowledgements" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Enables the Payee to send full acknowledgement to payer when payer has paid full amount and to send partial acknowledgement to payer when payer has paid partial amount",
        "description" : "Acknowledge RTP requests waiting for payment confirmation by Payee",
        "operationId" : "updateBillerAcknowledgements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BillerAcknowledgements"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "BillerAcknowledgementsResponse",
            "schema" : {
              "$ref" : "#/definitions/BillerAcknowledgementsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/errors" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Retrieve the RTP requests in error status",
        "description" : "Retrieves the RTP requests which are in error status due to technical reasons. Such requests must be checked for the reason for error manually and a new RTP Request must be created/initiated by Payee to send the request again to Payer",
        "operationId" : "getOutwardErrors",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "description" : "Contains the current state of the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "OutwardErrorsResponse",
            "schema" : {
              "$ref" : "#/definitions/OutwardErrorsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/ukPayments/billerRequests" : {
      "post" : {
        "tags" : [ ],
        "summary" : "UK RTP scheme request initiation (RSP - RSP)",
        "description" : "Creates an RTP Request at the RSP. The API is for RSP-RSP communication for Biller RSP to place RTP request with Payer RSP.  This is a provider API which can be linked to any published API in accordance to requesttopay.co.uk standards.",
        "operationId" : "createPayUKPaymentRequests",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayUKPaymentRequests"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayUKPaymentRequestsResponse",
            "schema" : {
              "$ref" : "#/definitions/PayUKPaymentRequestsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentRequests/{requestId}/ukPayments" : {
      "put" : {
        "tags" : [ ],
        "summary" : "UK RTP scheme message exchanges between Biller and Payer (RSP - RSP)",
        "description" : "API to exchange RTP messages between Biller RSP and Payer RSP.   The API can be used for exchanging various follow up messages for an RTP Request (subsequent to RTP initiation) such as Acceptance of the request in full or partial, Denial of a request, exchange of notes, Expiry date extension management, Payment acknowledgements.  This is a provider API which can be linked to any published API in accordance to requesttopay.co.uk standards.",
        "operationId" : "amendPayUKPaymentForRepository",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The guarantees issuance id initiated by internet banking",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayUKPaymentRequests"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayUKPaymentForRepositoryResponse",
            "schema" : {
              "$ref" : "#/definitions/PayUKPaymentRequestsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PaymentRequests" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentRequestsBody"
        }
      },
      "description" : "PaymentRequests"
    },
    "PaymentRequestsBody" : {
      "type" : "object",
      "required" : [ "amount", "currency", "payerName", "paymentMethod", "requestedExecutionDate" ],
      "properties" : {
        "chargeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeType" : {
                "type" : "string",
                "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
                "minLength" : 0,
                "maxLength" : 30
              },
              "chargeName" : {
                "type" : "string",
                "description" : "The description of the charge to be taken for payment",
                "minLength" : 0,
                "maxLength" : 30
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "minLength" : 0,
                "maxLength" : 30
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem",
                "minLength" : 0,
                "maxLength" : 30
              },
              "chargeAccountCurrencyAmount" : {
                "type" : "string",
                "description" : "Holds the charge to be applied for the corresponding charge type for the order in the currency of the charge account",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        },
        "portalInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "basketReference" : {
                "type" : "string",
                "description" : "Indicates the identifier of the basket to be displayed on the biller's portal and paid by the payer",
                "minLength" : 0,
                "maxLength" : 30
              },
              "requestorUrl" : {
                "type" : "string",
                "description" : "Contains the URL of the requestor which allows the payer to access the portal of the requestor",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        },
        "errorInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "errorDetail" : {
                "type" : "string",
                "description" : "Error details of the Bundle account",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        },
        "paymentMethod" : {
          "type" : "string",
          "description" : "Method chosen to make the payment",
          "minLength" : 1,
          "maxLength" : 30
        },
        "requestedExecutionDate" : {
          "type" : "string",
          "description" : "Indicates the date at which the payment needs to be executed as requested by the Requestor",
          "minLength" : 1,
          "maxLength" : 30
        },
        "payerName" : {
          "type" : "string",
          "description" : "Contains the name of the payer",
          "minLength" : 1,
          "maxLength" : 30
        },
        "payerStreetName" : {
          "type" : "string",
          "description" : "Contains the street name of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerBuildingNumber" : {
          "type" : "string",
          "description" : "Contains the building number of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerPostalCode" : {
          "type" : "string",
          "description" : "Contains the postal code of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerTownName" : {
          "type" : "string",
          "description" : "Contains the town name of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerCountry" : {
          "type" : "string",
          "description" : "Contains the country of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerDateOfBirth" : {
          "type" : "string",
          "description" : "Contains the date of birth of payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerCityOfBirth" : {
          "type" : "string",
          "description" : "Contains the city of birth of payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerCountryOfBirth" : {
          "type" : "string",
          "description" : "Contains the country of birth of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "debitAccount" : {
          "type" : "string",
          "description" : " Identifier of the debitAccounts.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerBankBic" : {
          "type" : "string",
          "description" : "Contains the bank Business Identfier Code (BIC) of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerBankSortCode" : {
          "type" : "string",
          "description" : "Contains the bank sort code of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "serviceAgreementCode" : {
          "type" : "string",
          "description" : "Contains a pre-agreed service code which has been agreed between the payer and the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "amount" : {
          "type" : "string",
          "description" : "This is the payment amount",
          "minLength" : 1,
          "maxLength" : 30
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "minLength" : 1,
          "maxLength" : 30
        },
        "chargeBearer" : {
          "type" : "string",
          "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorBankSortCode" : {
          "type" : "string",
          "description" : "Contains the bank sort code of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorBankBic" : {
          "type" : "string",
          "description" : "Contains the bank Business Identfier Code (BIC) of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorName" : {
          "type" : "string",
          "description" : "Contains the name of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorStreetName" : {
          "type" : "string",
          "description" : "Contains the street name of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorBuildingNumber" : {
          "type" : "string",
          "description" : "Contains the building number of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorPostalCode" : {
          "type" : "string",
          "description" : "Contains the postal code of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorTownName" : {
          "type" : "string",
          "description" : "Contains the town name of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorCountry" : {
          "type" : "string",
          "description" : "Contains the country of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorDateOfBirth" : {
          "type" : "string",
          "description" : "Contains the date of birth of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorCityOfBirth" : {
          "type" : "string",
          "description" : "Contains the city of birth of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorCountryOfBirth" : {
          "type" : "string",
          "description" : "Contains the country of birth of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "creditAccount" : {
          "type" : "string",
          "description" : "Identifier of the creditAccounts.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "remittanceReference" : {
          "type" : "string",
          "description" : "Contains the remittance reference of the requestor's bill",
          "minLength" : 0,
          "maxLength" : 30
        },
        "remittanceLocationMethod" : {
          "type" : "string",
          "description" : "Indicates the possible methods in which the remittance information can be sent",
          "minLength" : 0,
          "maxLength" : 30
        },
        "remittanceLocationDetails" : {
          "type" : "string",
          "description" : "Contains the actual value of the remittance method by which remittance information is sent",
          "minLength" : 0,
          "maxLength" : 30
        },
        "remittanceInformation" : {
          "type" : "string",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "expiryDate" : {
          "type" : "string",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
          "minLength" : 0,
          "maxLength" : 30
        },
        "amountModificationAllowed" : {
          "type" : "string",
          "description" : "Indicates if a payer is allowed to modify the amount or not",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerAccountIBAN" : {
          "type" : "string",
          "description" : "Contains international bank account number of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorAccountIBAN" : {
          "type" : "string",
          "description" : "Contains international bank account number of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestToPayScheme" : {
          "type" : "string",
          "description" : "Indicates the scheme in which request to pay message is sent or received",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorProxy" : {
          "type" : "string",
          "description" : "Contains the proxy identification of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerProxyType" : {
          "type" : "string",
          "description" : "Indicates type of proxy identification of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorProxyType" : {
          "type" : "string",
          "description" : "Indicates type of proxy identification of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerProxy" : {
          "type" : "string",
          "description" : "Contains the proxy identification of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "maximumInstallmentsAllowed" : {
          "type" : "string",
          "description" : "Indicates the maximum number of installments allowed as specified by the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "outstandingAmount" : {
          "type" : "string",
          "description" : "Contains the aggregate outstanding principal amount thereof after giving effect to any borrowings and prepayments or repayments of Committed Loans",
          "minLength" : 0,
          "maxLength" : 30
        },
        "chargeAccountId" : {
          "type" : "string",
          "description" : "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account",
          "minLength" : 0,
          "maxLength" : 30
        },
        "chargeAccountCurrencyId" : {
          "type" : "string",
          "description" : "When a charge account is specified, this field indicates the currency of the charge account",
          "minLength" : 0,
          "maxLength" : 30
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestToPayMessage" : {
          "type" : "string",
          "description" : "Indicates the possible message type as received by the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "billId" : {
          "type" : "string",
          "description" : "Indicates the bill reference or Id",
          "minLength" : 0,
          "maxLength" : 30
        },
        "billingPeriodFrom" : {
          "type" : "string",
          "description" : "Contains the start date of the request to pay service for which payment is requested by the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "billingPeriodTo" : {
          "type" : "string",
          "description" : "Contains the end date of the request to pay service for which payment is requested by the requestor.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "subject" : {
          "type" : "string",
          "description" : "The subject of the message to be sent or received.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorReferenceInformation" : {
          "type" : "string",
          "description" : "Contains a Building Society Roll Number, Credit Card Number, or Utility Customer Account Number, etc. that the requestor wishes to pass on to the payer to make payment",
          "minLength" : 0,
          "maxLength" : 30
        },
        "priority" : {
          "type" : "string",
          "description" : "Defines the Campaign priority",
          "minLength" : 0,
          "maxLength" : 30
        },
        "receivedDateTime" : {
          "type" : "string",
          "description" : "Indicates the date and time when the request to pay message is received for payer and requestor",
          "minLength" : 0,
          "maxLength" : 16
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PaymentRequestsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentRequestsResponseBody"
        }
      },
      "description" : "PaymentRequestsResponse"
    },
    "PaymentRequestsResponseBody" : {
      "type" : "object",
      "properties" : {
        "chargeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeType" : {
                "type" : "string",
                "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
                "minLength" : 0,
                "maxLength" : 30
              },
              "chargeName" : {
                "type" : "string",
                "description" : "The description of the charge to be taken for payment",
                "minLength" : 0,
                "maxLength" : 30
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "minLength" : 0,
                "maxLength" : 30
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem",
                "minLength" : 0,
                "maxLength" : 30
              },
              "chargeAccountCurrencyAmount" : {
                "type" : "string",
                "description" : "Holds the charge to be applied for the corresponding charge type for the order in the currency of the charge account",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        },
        "portalInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "basketReference" : {
                "type" : "string",
                "description" : "Indicates the identifier of the basket to be displayed on the biller's portal and paid by the payer",
                "minLength" : 0,
                "maxLength" : 30
              },
              "requestorUrl" : {
                "type" : "string",
                "description" : "Contains the URL of the requestor which allows the payer to access the portal of the requestor",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        },
        "errorInfo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "errorDetail" : {
                "type" : "string",
                "description" : "Error details of the Bundle account",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        },
        "paymentMethod" : {
          "type" : "string",
          "description" : "Method chosen to make the payment",
          "minLength" : 1,
          "maxLength" : 30
        },
        "requestedExecutionDate" : {
          "type" : "string",
          "description" : "Indicates the date at which the payment needs to be executed as requested by the Requestor",
          "minLength" : 1,
          "maxLength" : 30
        },
        "payerName" : {
          "type" : "string",
          "description" : "Contains the name of the payer",
          "minLength" : 1,
          "maxLength" : 30
        },
        "payerStreetName" : {
          "type" : "string",
          "description" : "Contains the street name of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerBuildingNumber" : {
          "type" : "string",
          "description" : "Contains the building number of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerPostalCode" : {
          "type" : "string",
          "description" : "Contains the postal code of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerTownName" : {
          "type" : "string",
          "description" : "Contains the town name of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerCountry" : {
          "type" : "string",
          "description" : "Contains the country of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerDateOfBirth" : {
          "type" : "string",
          "description" : "Contains the date of birth of payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerCityOfBirth" : {
          "type" : "string",
          "description" : "Contains the city of birth of payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerCountryOfBirth" : {
          "type" : "string",
          "description" : "Contains the country of birth of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "debitAccount" : {
          "type" : "string",
          "description" : " Identifier of the debitAccounts.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerBankBic" : {
          "type" : "string",
          "description" : "Contains the bank Business Identfier Code (BIC) of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "payerBankSortCode" : {
          "type" : "string",
          "description" : "Contains the bank sort code of the payer",
          "minLength" : 0,
          "maxLength" : 30
        },
        "serviceAgreementCode" : {
          "type" : "string",
          "description" : "Contains a pre-agreed service code which has been agreed between the payer and the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "amount" : {
          "type" : "string",
          "description" : "This is the payment amount",
          "minLength" : 1,
          "maxLength" : 30
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "minLength" : 1,
          "maxLength" : 30
        },
        "chargeBearer" : {
          "type" : "string",
          "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorBankSortCode" : {
          "type" : "string",
          "description" : "Contains the bank sort code of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorBankBic" : {
          "type" : "string",
          "description" : "Contains the bank Business Identfier Code (BIC) of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorName" : {
          "type" : "string",
          "description" : "Contains the name of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorStreetName" : {
          "type" : "string",
          "description" : "Contains the street name of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorBuildingNumber" : {
          "type" : "string",
          "description" : "Contains the building number of the requestor",
          "minLength" : 0,
          "maxLength" : 30
        },
        "requestorPostalCode" : {
[...]
